<!DOCTYPE html>
<html lang="en">
<div th:replace="admin/_admin_head ::head"></div>

<body>
    <div class="wrap admin">
        <div class="wrap index admin">
            <div th:replace="admin/part/_backstageHeader ::header"></div>
            <div class="header-space"></div>
            <div class="d-flex h-100">
                <div th:replace="admin/part/_backstageNav ::nav"></div>
                <div class="admin-nav-space"></div>
                <main class="main-session w-100 px-4">
                    <h1 class="h3 mt-5 mb-3 text-accent">新增用戶</h1>
                    <!-- breadcrumb -->
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><span class="text-accent-dark op-6">用戶管理</span></li>
                            <li class="breadcrumb-item"><a th:href="@{/admin/user/account-list}"
                                    class="text-accent">會員帳號管理</a></li>
                            <li class="breadcrumb-item active" aria-current="page">新增用戶</li>
                        </ol>
                    </nav>
                    <form id="dataForm" class="needs-validation mt-3 pt-2" novalidate method="POST">

                        <div class="row mx-0 bg-accent-dark op-8 text-light py-2 px-3">上傳照片</div>
                        <div class="border">
                            <figure class="head-photo user border bg-grey rounded-circle mx-auto my-4">
                                <img ref="headImg" src="" alt="" class="img-cover">
                            </figure>
                            <div class="form-inline mb-4">
                                <div class="input-group mx-auto">
                                    <div class="input-group-prepend" id="basic-addon1">
                                        <div class="input-group-text bg-white">選擇照片</div>
                                    </div>
                                    <input ref="fileInput" name="file" @change="previewImg" type="file"
                                        accept="image/*" class="form-control rounded-right">
                                    <div ref="confirmMsg" class="invalid-feedback text-right"></div>
                                </div>
                            </div>
                        </div>


                        <div class="row mx-0 bg-accent-dark op-8 text-light py-2 px-3">帳號及個人資訊</div>
                        <div class="border">
                            <div class="login-wrap my-4 mx-auto">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend" id="basic-addon1">
                                        <div class="input-group-text bg-grey">會員帳號</div>
                                    </div>
                                    <div class="form-control text-left bg-grey">-</div>
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text bg-white">帳號(E-mail)<span
                                                class="text-danger-s ml-1">*</span>
                                        </div>
                                    </div>
                                    <input type="email" name="account" required value="boistorche@gmail.com"
                                        class="check-input form-control rounded-right" placeholder="請輸入信箱">
                                    <div ref="confirmMsg" class="invalid-feedback text-right"></div>
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text bg-white">密碼<span
                                                class="text-danger-s ml-1">*</span>
                                        </div>
                                    </div>
                                    <input type="password" name="pwd" required value="a12345678"
                                        class="check-input form-control rounded-right" placeholder="請輸入密碼">
                                    <div ref="confirmMsg" class="invalid-feedback text-right"></div>
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text bg-white">公開姓名<span
                                                class="text-danger-s ml-1">*</span>
                                        </div>
                                    </div>
                                    <input type="text" name="publicName" required value="Sora"
                                        class="check-input form-control rounded-right" placeholder="請輸入暱稱">
                                    <div ref="confirmMsg" class="invalid-feedback text-right"></div>
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text bg-white">真實姓名<span
                                                class="text-danger-s ml-1">*</span>
                                        </div>
                                    </div>
                                    <input type="text" name="lastName" value="lee" required class="check-input form-control"
                                        placeholder="姓氏">
                                    <input type="text" name="firstName" required value="Anita"
                                        class="check-input form-control rounded-right" placeholder="名字">
                                    <div ref="confirmMsg" class="invalid-feedback text-right"></div>
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text bg-white">電話<span
                                                class="text-danger-s ml-1">*</span></div>
                                    </div>
                                    <input type="text" name="phone" required value="022345678"
                                        class="check-input form-control rounded-right" placeholder="請輸入電話號碼">
                                    <div ref="confirmMsg" class="invalid-feedback text-right"></div>
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text bg-white">手機<span
                                                class="text-danger-s ml-1">*</span></div>
                                    </div>
                                    <input type="text" name="cell" required value="0988786541"
                                        class="check-input form-control rounded-right" placeholder="請輸入手機號碼">
                                    <div ref="confirmMsg" class="invalid-feedback text-right"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row mx-0 bg-accent-dark op-8 text-light py-2 px-3">地址資訊</div>
                        <div class="border">
                            <div class="login-wrap my-4 mx-auto">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text bg-white">住家地址<span
                                                class="text-danger-s ml-1">*</span>
                                        </div>
                                    </div>
                                    <select name="county" id="" required class="form-control">
                                        <option value="">---</option>
                                        <option v-for="c in countyList" :value="c">{{c}}</option>
                                    </select>
                                    <div ref="confirmMsg" class="invalid-feedback text-right"></div>
                                </div>
                                <div class="input-group mb-3">
                                    <input type="text" name="address1" required value="永和區永和路二段"
                                        class="check-input form-control rounded-right" placeholder="請輸入地址(路名)">
                                    <input type="text" name="address2" required value="233號"
                                        class="check-input form-control rounded-right" placeholder="請輸入門牌資訊">                                        
                                </div>
                            </div>
                        </div>
                        <div class="text-center pt-3 mb-5">
                            <a th:href="@{/admin/user/account-list}"
                                class="btn btn-danger-s letter-spacing-s m-1">取消</a>
                            <button ref="submitBtn" @click="checkValid"
                                class=" btn btn-bg-accent letter-spacing-s m-1">新增用戶</button>
                        </div>
                    </form>
                </main>
            </div>
            <!-- success & error Msg -->
            <div th:replace="part/_popupMsg ::div"></div>

        </div>
        <script th:src="@{/js/common.js}"></script>
        <script th:inline="javascript">
            adminShowNavCurrent($('.user-account'));

            var dataForm = new Vue({
                el: '#dataForm',
                data: {
                    countyList: [],
                    headImgSrc: "",
                },
                created: function () {
                    this.getCounty();
                },
                mounted: function () {
                    formSetSubmitting();
                },
                methods: {
                    getCounty: function () {
                        axios.get('/fixedData/taiwan_county')
                            .then(response => {
                                this.countyList = [...response.data];
                            })
                            .catch(error => { // 請求失敗處理
                                console.log("get user info error:" + error);
                            });
                    },
                    previewImg: function (e) {
                        e.preventDefault();
                        let input = this.$refs.fileInput;
                        let headImg = this.$refs.headImg;

                        if (input && input.files[0]) {
                            let reader = new FileReader();
                            reader.onload = function (e) {
                                headImg.src = e.target.result
                                // this.headImgSrc = e.target.result;
                            }
                            reader.readAsDataURL(input.files[0]);
                        }
                    },
                    checkValid: function (e) {
                        e.preventDefault();
                        let btn = this.$refs.submitBtn;
                        let form = this.$el;
                        let inputs = form.querySelectorAll('.check-input');
                        if (!form.submitting) {
                            form.submitting = true;
                            btn.setAttribute("disabled", true);
                            form.classList.add('was-validated');
                            console.log(form.checkValidity());
                            if (form.checkValidity()) {
                                this.sendAjax();
                            } else {
                                for (var item of inputs) {
                                    item.nextElementSibling.innerText = item.validationMessage;
                                }
                                form.submitting = false;
                                btn.removeAttribute("disabled");
                            }
                        } else {
                            return false;
                        };
                    },
                    sendAjax: function () {
                        let form = this.$el;
                        let btn = this.$refs.submitBtn;
                        let fd = new FormData(form); //form data
                        
//                         for (var [key, value] of fd.entries()) { 
//                         	  console.log(key, value);
//                         	}
                        
                        if (fd.file!=null) {
                            formData.append("file", fd.file[0]);
                        }
                        
                        axios.post('/admin/member', fd, { //send ajax
                            headers: {
                                'Content-Type': 'multipart/form-data'
                            }
                        }) 
                            .then(function (response) { //success
                                if (response.data.code==201) {
                                    showSuccessMsg("新增成功");
                                    window.setTimeout(() => location.href = "/admin/user/account-list", 2000);
                                } else {
                                    showErrorMsg(response.data.errMsg);
                                    form.submitting = false;
                                    btn.removeAttribute("disabled");
                                }
                            })
                            .catch(function (error) { //error
//                                 console.error(error);
                                showErrorMsg('發生系統錯誤，未送出資料');
                                form.submitting = false;
                                btn.removeAttribute("disabled");
                            });
                    }
                }
            })

            $('.input-modal').on('hidden.bs.modal', function (e) {
                $('.input-modal').find('input').val("");
            });

        </script>

</body>

</html>