<!DOCTYPE html>
<html lang="en">
<div th:replace="admin/_admin_head ::head"></div>

<body>
    <div class="wrap admin">
        <div class="wrap index admin">
            <div th:replace="admin/part/_backstageHeader ::header"></div>
            <div class="header-space"></div>
            <div class="d-flex h-100">
                <div th:replace="admin/part/_backstageNav ::nav"></div>
                <div class="admin-nav-space"></div>
                <main class="main-session w-100 px-4">
                    <h1 class="h3 mt-5 mb-3 text-accent">會員帳號管理</h1>
                    <!-- breadcrumb -->
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><span class="text-accent-dark op-6">用戶管理</span></li>
                            <li class="breadcrumb-item active" aria-current="page">會員帳號管理</li>
                        </ol>
                    </nav>
                    <div id="data-wrap">
                        <!-- 查詢條件 -->
                        <div class="d-flex align-items-end justify-content-between">
                            <div class="form-inline mr-3">
                                <div class="form-group mb-0">
                                    <label for="feature" class="font-weight-bold text-dark-grey mr-2 mb-3">搜尋用戶</label>
                                    <div>
                                        <input @change="renewDataRow()" v-model="getDataParm.fuzzyFilter" name="fuzzyFilter"
                                            class="form-control search-input" placeholder="請輸入查詢字">
                                        <small class="d-block text-accent-dark mt-1">可輸入用戶姓名、帳號或會員編號查詢</small>
                                    </div>
                                </div>

                            </div>
                            <!-- 新增Btn -->
                            <a v-if="limit.edit" th:href="@{/admin/user/account/new}" id="newBtn"
                                class="btn-accent btn rounded no-underline d-inline-flex align-items-center px-3"><span
                                    class="mr-2"><i class="gg-math-plus"></i></span>新增用戶</a>
                        </div>
                        <!-- data-row -->
                        <table class="table text-center my-3 border">
                            <thead class="bg-accent text-light border-0">
                                <tr>
                                    <th scope="col" class="border-0">
<!--                                         <div @click="changeOrder" id="orderBtn" -->
<!--                                             class="pointer d-flex align-items-center">編號<span class="ml-2"><i -->
<!--                                                     class="gg-arrows-exchange-alt-v"></i></span> -->
<!--                                         </div> -->
          								 <div id="orderBtn"
                                            class="pointer d-flex align-items-center">編號
                                        </div>                                        
                                    </th>
                                    <th scope="col" class="border-0">帳號</th>
                                    <th scope="col" class="border-0">姓氏</th>
                                    <th scope="col" class="border-0">名字</th>
                                    <th scope="col" class="border-0">狀態</th>
                                    <th scope="col" class="border-0">最後登入日期</th>
                                    <th v-if="limit.edit" scope="col" class="border-0" width="80px"></th>
                                    <th v-if="limit.edit" scope="col" class="border-0" width="80px"></th>
                                    <th v-if="limit.delete" scope="col" class="border-0" width="80px"></th>
                                </tr>
                            </thead>
                            <tbody ref="listWrap" class="border-bg-color2 d-none">
                                <tr v-if="limit.read" v-for="(row,index) in showData">
                                    <td>{{index+1}}</td>
                                    <td>{{row.account}}</td>
                                    <td>{{row.lastName ?? ''}}</td>
                                    <td>{{row.firstName ?? ''}}</td>
                                    <td :class="{'text-danger':isStopped(row.status)}">{{row.status==1?'正常':'停權'}}</td>
                                    <td>{{row.loginTime ? sliceToDate(row.loginTime,'-') : ''}}</td>
                                    <td v-if="limit.edit">
                                        <a class="btn btn-accent" :href="'/admin/user/account/edit/'+row.memberID" :data-a.prop="row.account">編輯</a>
                                    </td>
                                    <td v-if="limit.edit">
                                        <button v-if="!isStopped(row.status)" @click="clickEditLimit" class="btn btn-outline-danger" :data-a.prop="row.account" :data-m.prop="row.memberID" :data-s.prop="row.status">停權</button>
                                        <button v-if="isStopped(row.status)" @click="clickEditLimit" class="btn btn-outline-success" :data-a.prop="row.account" :data-m.prop="row.memberID" :data-s.prop="row.status">重新通過</button>
                                    </td>
                                    <td v-if="limit.delete">
                                        <button @click="clickDelete" class="btn btn-danger" :data-a.prop="row.account" :data-m.prop="row.memberID">刪除</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- page nav -->
                        <div ref="pagination" v-bind:class="{ 'd-none': !showPages }"
                            class="pagination-wrap simple-pagination light-theme"></div>
                        <!-- empty msg -->
                        <div v-if="emptyData" class="empty-msg letter-spacing-s">{{emptyMsg}}</div>
                        <!-- edit user status popup -->
                        <div ref="editFeatureModal" class="modal fade  px-5 confirm-modal"
                            tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered " role="document">
                                <div class="modal-content pop-up">
                                    <div class="modal-body text-center p-4">
                                        <p class="mt-4 mb-2 font-weight-bold letter-spacing-s">確定變更此用戶狀態?</p>
                                                <p class="text-accent">{{manageInfo.account}}</p>
                                                <p :class="{'text-danger' : isStopped(manageInfo.status), 'text-success' : !isStopped(manageInfo.status)}" class="font-weight-bold">{{manageInfo.status==1?'通過':'停權'}}</p>
<!--                                         <input ref="reasonInput" v-model="manageInfo.reason" required class="form-control my-3" placeholder="請簡述原因(必填)"> -->
                                        <p class="small text-left text-secondary my-1">*被停權的用戶帳號將不能於前台網頁及App上登入並操作。</p>
                                        <p class="small text-left text-secondary my-1">**用戶可以另行聯絡客戶服務員，申請重新啟用帳號。</p>
                                    </div>
                                    <div class="modal-footer justify-content-center p-0 mb-3 border-0">
                                        <button type="button" class="btn btn-danger-s m-2 px-4 cancelBtn"
                                            data-dismiss="modal">取消</button>
                                        <button @click="checkStatusValid(manageInfo.memberID, manageInfo.status)" type="button"
                                            class="submitBtn btn btn-accent m-2 px-4">確定</button>
<!--                                         <button type="button" -->
<!--                                             class="submitBtn btn btn-accent m-2 px-4">確定</button>     -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- delete user popup -->
                        <div ref="deleteUserModal" class="modal fade  px-5 confirm-modal"
                            tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered " role="document">
                                <div class="modal-content pop-up">
                                    <div class="modal-body text-center p-4">
                                        <p class="mt-4 mb-2 font-weight-bold letter-spacing-s">確定要刪除用戶?</p>
                                                <p class="text-accent">{{manageInfo.account}}</p>
                                    </div>
                                    <div class="modal-footer justify-content-center p-0 mb-3 border-0">
                                        <button type="button" class="btn btn-danger-s m-2 px-4 cancelBtn"
                                            data-dismiss="modal">取消</button>
                                        <button @click="deleteByAdmin" type="button"
                                            class="submitBtn btn btn-accent m-2 px-4">確定</button>
                                    </div>
                                </div>
                            </div>
                        </div>                        
                        
                    </div>
                </main>
            </div>
            <!-- success & error Msg -->
            <div th:replace="part/_popupMsg ::div"></div>

        </div>
        <script th:src="@{/js/common.js}"></script>
        <script th:inline="javascript">
            adminShowNavCurrent($('.user-account'));

            var dataTable = new Vue({
                el: '#data-wrap',
                data: {
                    limit: {
                        read: checkLimit([], "1"),
                        edit: checkLimit([], "2"),
                        delete: checkLimit([], "3")
                    },
                    selList: ['All'], //查詢選單項目
                    dataList: [], //回傳資料
                    page: {
                        dataCount: 0,
                        current: 1
                    },
                    initSet: { // 初始查詢設定
                        begin: 1,
                        end: 20,
                        order: "DESC"
                    },
                    getDataParm:{
                    	fuzzyFilter: "",
//                         filter: "",
//                         date: "",
                    },
                    manageInfo: {
                    	memberID:null,
                        account: null,
                        status: null,
//                         reason:null
                    },
                    manageUrl: "",
                    emptyMsg: "查無符合條件之用戶"
                },
                computed: {
                    emptyData: function () {
                        return this.dataList.length == 0;
                    },
                    showPages: function () {
                        return this.page.dataCount > this.initSet.end
                    },
                    showData:function(){
                        let begin = (this.page.current-1)*this.initSet.end;
                        let end = (this.page.current)*this.initSet.end;
                        
                        return this.dataList.slice(begin,end);
                    }
                },
                created: function () { //call ajax
                    this.renewDataRow();
                },
                mounted: function () {
                    this.$refs.listWrap.classList.remove('d-none');
                    let pageWrap = this.$refs.pagination;
                    let self = this;
                    $(pageWrap).pagination({
                        items: 0,
                        itemsOnPage: this.initSet.end,
                        cssStyle: 'light-theme',
                        hrefTextPrefix: "#",
                        onPageClick: function (pageNumber) {
                            self.page.current = pageNumber;
                            self.getDataList();
                        }
                    });
                },
                methods: {
                    getDataList: function () { //get admin account list data
                        return axios.get('/admin/member', {params:this.getDataParm});
                    },
                    dataListCallBack: function (res) {
//                     	console.log(res);
                        if(this.initSet.order=="DESC"){
                            this.dataList = [...res.data.data.memberList].reverse();
                        }else{
                            this.dataList = [...res.data.data.memberList]
                        }
                        this.page.dataCount = this.dataList.length;
                        let pageWrap = this.$refs.pagination;
                        $(pageWrap).pagination('drawPage', 1);
                        $(pageWrap).pagination('updateItems', this.page.dataCount);
                    },
                    renewDataRow: function () { //renew admin account list data
                        this.initSet.begin = 1;
                        this.page.current=1;
                        this.getDataList().then((res) => {
                            this.dataListCallBack(res);
                        }).catch(error => {
//                             console.error(error);
                        });
                    },
                    computeSn(i) {
                        return getItemNum(i, this.initSet.order, this.initSet.end, this.page.current, this.page.dataCount);
                    },
                    isStopped: function (status) {
                        return status == 2
                    },
                    changeOrder: function () {
                        this.initSet.order = (this.initSet.order == "DESC") ? "ASC" : "DESC";
                        this.dataList.reverse();
                    },
                    clickEditLimit: function (event) { //變更權限點選
                    	this.manageInfo.memberID = event.target.dataM;
                        this.manageInfo.account = event.target.dataA;
                        this.manageInfo.status = this.isStopped(event.target.dataS) ? 1 : 2 ;
//                         this.manageUrl = "changeStatusURL";
                        let modal = this.$refs.editFeatureModal;
                        $(modal).modal('show');
                    },
                    clickDelete: function (event) { //刪除管理者點選
                        this.manageInfo.account = event.target.dataA;
                        this.manageUrl = "/admin/member/" + event.target.dataM; 
//                         showConfirmMsg("確定要刪除用戶<br><span class='my-2 text-accent'>" + event.target.dataA + "</span>");
                        let modal = this.$refs.deleteUserModal;
                        $(modal).modal('show');
                    },
                    checkStatusValid:function(memberID, StatusCode){
//                         let input = this.$refs.reasonInput;
//                         if(input.checkValidity()){
//                             input.classList.add('is-valid');
//                             input.classList.remove('is-invalid');
							this.manageInfo.status = StatusCode;
							this.manageUrl = "/admin/member/status/" + memberID;
                            this.changeMemberStatus();
//                         }else{
//                             input.classList.add('is-invalid');
//                             input.classList.remove('is-valid');
//                         }
                    },
                    changeMemberStatus: function () {  //send manage ajax      
                        axios.put(this.manageUrl, this.manageInfo) //send ajax
                            .then(function (response) { //success
                                let res = response.data;
//                                 console.log(res);
                                if (res.code==204) {
                                    showSuccessMsg("變更成功");
                                    window.setTimeout(() => location.reload(), 2000);
                                } else {
                                    showErrorMsg(res.errMsg);
                                }
                            })
                            .catch(function (error) { //error
//                                 console.log(error);
                                showErrorMsg('發生系統錯誤，未送出資料');
                            });
                        $('.confirm-modal').modal('hide');
                    },  
                    deleteByAdmin: function () {  //send manage ajax                      
                        axios.delete(this.manageUrl, this.manageInfo) //send ajax
                            .then(function (response) { //success
                                let res = response.data;
//                                 console.log(res);
                                if (res.code==204) {
                                    showSuccessMsg("刪除成功");
                                    window.setTimeout(() => location.reload(), 2000);
                                } else {
                                    showErrorMsg(res.errMsg);
                                }
                            })
                            .catch(function (error) { //error
//                                 console.log(error);
                                showErrorMsg('發生系統錯誤，未送出資料');
                            });
                        $('.confirm-modal').modal('hide');
                    },
                    manageAdmin: function () {  //send manage ajax                      
                        axios.post(this.manageUrl, this.manageInfo) //send ajax
                            .then(function (response) { //success
                                let res = response.data;
//                                 console.log(res);
                                if (res.success) {
                                    showSuccessMsg(res.msg);
                                    window.setTimeout(() => location.reload(), 2000);
                                } else {
                                    showErrorMsg(res.msg);
                                }
                            })
                            .catch(function (error) { //error
//                                 console.log(error);
                                showErrorMsg('發生系統錯誤，未送出資料');
                            });
                        $('.confirm-modal').modal('hide');
                    },
                    resetManage: function () {
                        setNull(this.manageInfo);
                        this.manageUrl = null;
                    }
                }
            });

            $('.confirm-modal').on('hidden.bs.modal', function (e) {
                dataTable.resetManage();
            });

            $('#confirmBtn').click(function () {
                dataTable.manageAdmin();
            })


        </script>

</body>

</html>