<!DOCTYPE html>
<html lang="en">
<div th:replace="admin/_admin_head ::head"></div>

<body>
    <div class="wrap admin">
        <div class="wrap index admin">
            <div th:replace="admin/part/_backstageHeader ::header"></div>
            <div class="header-space"></div>
            <div class="d-flex h-100">
                <div th:replace="admin/part/_backstageNav ::nav"></div>
                <div class="admin-nav-space"></div>
                <main class="main-session w-100 px-4">
                    <h1 class="h3 mt-5 mb-3 text-accent">編輯用戶</h1>
                    <!-- breadcrumb -->
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                             <li class="breadcrumb-item"><span class="text-accent-dark op-6">用戶管理</span></li>
                            <li class="breadcrumb-item"><a th:href="@{/admin/user/account-list}"
                                    class="text-accent">會員帳號管理</a></li>
<!--                             <li class="breadcrumb-item active" aria-current="page">變更照片</li> -->
                        </ol>
                    </nav>
                    <form id="dataForm" class="needs-validation mt-3 pt-2" novalidate method="POST">

                        <div class="row mx-0 bg-accent-dark op-8 text-light py-2 px-3">上傳照片</div>
                        <div class="border mb-3">
                     		<figure class="head-photo user pointer border bg-grey rounded-circle mx-auto my-4">
                                <img ref="headImg" :src="headImgSrc" alt="" class="img-cover">
                            </figure>         
  
  						    <div class="form-inline mb-4">
								<div class="input-group mx-auto">
		                             <div class="input-group-prepend" id="basic-addon1">
		                                 <div class="input-group-text bg-white">變更照片</div>
		                             </div>
		                             <input ref="fileInput" name="file" @change="previewImg" type="file"
		                                 accept="image/*" class="form-control rounded-right"> 							
								</div>  						  
						    </div>
<!--                             <figure @click="showUploadModal" title="點擊變更照片" class="head-photo user pointer border bg-grey rounded-circle mx-auto my-4"> -->
<!--                                 <img ref="headImg" :src="headImgSrc" alt="" class="img-cover"> -->
<!--                             </figure> -->
<!--                             <div class="text-center mb-4"> -->
<!--                                 <button @click="showUploadModal" class="btn btn-accent">變更照片</button> -->
<!--                             </div> -->
                            <!-- upload img popup -->
                            <div ref="uploadModal" class="modal fade bd-example-modal-sm px-5 input-modal" tabindex="-1"
                                role="dialog" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
                                    <div class="modal-content pop-up">
                                        <div class="modal-body text-center p-4">
                                            <p class="my-3 font-weight-bold letter-spacing-s">上傳圖片</p>
                                            <input ref="fileInput" type="file" accept="image/*" name="file"
                                                class="form-control">
                                        </div>
                                        <p ref="uploadError" class="text-danger text-center small"></p>
                                        <div class="modal-footer justify-content-center p-0 mb-3 border-0">
                                            <button type="button" class="btn btn-danger-s m-2 px-4 cancelBtn"
                                                data-dismiss="modal">取消</button>
<!--                                             <button @click="uploadImg" type="button" -->
<!--                                                 class="submitBtn btn btn-accent m-2 px-4">確定</button> -->
                                            <button type="button" @click="previewImg"
                                                class="submitBtn btn btn-accent m-2 px-4">確定</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row mx-0 bg-accent-dark op-8 text-light py-2 px-3">帳號及個人資訊</div>
                        <div class="border">
                            <div class="login-wrap my-4 mx-auto">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend" id="basic-addon1">
                                        <div class="input-group-text bg-grey">會員編號</div>
                                    </div>
                                    <div class="form-control text-left bg-grey">{{userInfo.memberID}}</div>
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text bg-white">帳號(E-mail)<span
                                                class="text-danger-s ml-1">*</span>
                                        </div>
                                    </div>
                                    <input type="email" name="email" required :value="userInfo.account"
                                        class="check-input form-control rounded-right" placeholder="請輸入信箱">
                                    <div ref="confirmMsg" class="invalid-feedback text-right"></div>
                                </div>
                                
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text bg-white">公開姓名<span
                                                class="text-danger-s ml-1">*</span>
                                        </div>
                                    </div>
                                    <input type="text" name="publicName" required :value="userInfo.publicName"
                                        class="check-input form-control rounded-right" placeholder="請輸入暱稱">
                                    <div ref="confirmMsg" class="invalid-feedback text-right"></div>
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text bg-white">真實姓名<span
                                                class="text-danger-s ml-1">*</span>
                                        </div>
                                    </div>
                                    <input type="text" name="lastName" required :value="userInfo.lastName" class="check-input form-control"
                                        placeholder="姓氏">
                                    <input type="text" name="firstName" required :value="userInfo.firstName"
                                        class="check-input form-control rounded-right" placeholder="名字">
                                    <div ref="confirmMsg" class="invalid-feedback text-right"></div>
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text bg-white">電話<span
                                                class="text-danger-s ml-1">*</span></div>
                                    </div>
                                    <input type="text" name="phone" required :value="userInfo.phone"
                                        class="check-input form-control rounded-right" placeholder="請輸入電話號碼">
                                    <div ref="confirmMsg" class="invalid-feedback text-right"></div>
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text bg-white">手機<span
                                                class="text-danger-s ml-1">*</span></div>
                                    </div>
                                    <input type="text" name="cell" required :value="userInfo.cell"
                                        class="check-input form-control rounded-right" placeholder="請輸入手機號碼">
                                    <div ref="confirmMsg" class="invalid-feedback text-right"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row mx-0 bg-accent-dark op-8 text-light py-2 px-3">地址資訊</div>
                        <div class="border mb-5">
                            <div class="login-wrap my-4 mx-auto">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text bg-white">住家地址<span
                                                class="text-danger-s ml-1">*</span>
                                        </div>
                                    </div>
                                    <select name="county" v-model="userInfo.county" required class="form-control">
                                        <option value="" disabled>---</option>
                                        <option v-for="c in countyList" :value="c" >{{c}}</option>
                                    </select>
                                    
                                    <div ref="confirmMsg" class="invalid-feedback text-right"></div>
                                </div>
                                <div class="input-group mb-3">
                                    <input type="text" name="address1" required :value="userInfo.address1"
                                        class="check-input form-control rounded-right" placeholder="請輸入地址路名">
                                    <input type="text" name="address2" required :value="userInfo.address2"
                                        class="check-input form-control rounded-right" placeholder="請輸入門牌資訊">                                    
                                </div>                                
                            </div>
                            <div class="text-center pt-3 pb-4">
                                <a th:href="@{/admin/user/account-list}" class="btn btn-danger-s letter-spacing-s m-1">取消</a>
                                <button ref="submitBtn" @click="checkValid"
                                    class=" btn btn-bg-accent letter-spacing-s m-1">確認編輯</button>
                            </div>
                        </div>
                        
                    </form>
                </main>
            </div>
            <!-- success & error Msg -->
            <div th:replace="part/_popupMsg ::div"></div>

        </div>
        <script th:src="@{/js/common.js}"></script>
        <script th:inline="javascript">
            adminShowNavCurrent($('.user-account'));

            var dataForm = new Vue({
                el: '#dataForm',
                data: {
                    countyList: [],
                    headImgSrc: "",
                    userInfo:{}
                },
                created: function () {
                    this.getCounty();
                    this.getInfo();
                },
                mounted: function () {
                    formSetSubmitting();
                },
                methods: {
                    getCounty:function(){
                        axios.get('/fixedData/taiwan_county')
                        .then(response=>{
                            this.countyList = [...response.data];
                        })
                        .catch(error=> { // 請求失敗處理
                                console.log("get user info error:" + error);
                            });
                    },
                    getInfo: function () {
                        // get account info
                        let self = this;
                        axios
                            .get('/admin/member/' + [[${mID}]])
                            .then(response => {
//                                 console.log(response.data.data);
                                if(response.data.code==200){
                                    self.headImgSrc = response.data.data.img ?? '';
                                    self.userInfo =response.data.data;
                                }else{
                                    console.log("get user info error:" + response.data.errMsg);
                                }
                            })
                            .catch(function (error) { // 請求失敗處理
                                console.log("get user info error:" + error);
                            });
                    },
                    showUploadModal: function (e) {
                        e.preventDefault();
                        let modal = this.$refs.uploadModal;
                        let input = this.$refs.fileInput;
                        let errorMsg = this.$refs.uploadError;

                        errorMsg.innerText = "";
                        input.classList.remove('is-valid');
                        input.classList.remove('is-inValid');
                        $(modal).modal('show');
                    },
                    previewImg: function (e) {
                        e.preventDefault();
                        let input = this.$refs.fileInput;
                        let headImg = this.$refs.headImg;
                        let modal = this.$refs.uploadModal;
                        
                        if (input && input.files[0]) {
                            let reader = new FileReader();
                            reader.onload = function (e) {
                                headImg.src = e.target.result
                                // this.headImgSrc = e.target.result;
                            }
                            reader.readAsDataURL(input.files[0]);
                        }
                        
                        $(modal).modal('hide');
                    },
//                     uploadImg: function (e) {
//                         let input = this.$refs.fileInput;
//                         let btn = e.target;
//                         let modal = this.$refs.uploadModal;
//                         let errorMsg = this.$refs.uploadError;

//                         errorMsg.innerText = "";
//                         input.classList.remove('is-valid');
//                         input.classList.remove('is-inValid');
//                         btn.setAttribute("disabled", true);

//                         if (input.file.length>0) {
//                             input.classList.add('is-valid');
//                             input.classList.remove('is-invalid');
//                             // TODO:send upload ajax and get new img url>>update this.headImgSrc
//                             let formData = new FormData();
//                             formData.append("file", input.file[0]);
//                             formData.append('memberID', [[${mID}]]);
//                             axios.put('/admin/member/'+ [[${mID}]], formData, {
//                                 headers: {
//                                     'Content-Type': 'multipart/form-data'
//                                 }
//                             }).then(function (response) { //success
//                                 let res = response.data;
//                                 console.log(res);
//                                 if (res.code==204) {
//                                     btn.removeAttribute("disabled");
//                                     $(modal).modal('hide');
//                                     showSuccessMsg("變更成功");
//                                     this.headImgSrc = res.img;
//                                     errorMsg.innerText = "";
//                                 } else {
//                                     errorMsg.innerText = res.msg;
//                                     btn.removeAttribute("disabled");
//                                 }
//                             }).catch(function (error) { //error
//                                 console.error(error);
//                                 errorMsg.innerText = '發生系統錯誤，未送出資料';
//                                 btn.removeAttribute("disabled");
//                             })

//                         } else {
//                             input.classList.remove('is-valid');
//                             input.classList.add('is-invalid');
//                             btn.removeAttribute("disabled");
//                         }
//                     },
                    checkValid: function (e) {
                        e.preventDefault();
                        let btn = this.$refs.submitBtn;
                        let form = this.$el;
                        let inputs = form.querySelectorAll('.check-input');
                        if (!form.submitting) {
                            form.submitting = true;
                            btn.setAttribute("disabled", true);
                            form.classList.add('was-validated');
//                             console.log(form.reportValidity());

                            if (form.checkValidity()) {
                                this.sendAjax();
                            } else {
                                for (var item of inputs) {
                                    item.nextElementSibling.innerText = item.validationMessage;
                                }
                                form.submitting = false;
                                btn.removeAttribute("disabled");
                            }
                        } else {
                            return false;
                        };
                    },
                    sendAjax: function () {
                        let form = this.$el;
                        let btn = this.$refs.submitBtn;
                        let fd = new FormData(form); //form data
                        fd.append('memberID', [[${mID}]]);
                        
                        if (fd.file!=null) {
                            // TODO:send upload ajax and get new img url>>update this.headImgSrc
                            fd.append("file", fd.file[0]);
                        } 

//                      for (var [key, value] of fd.entries()) { 
//                   	  console.log(key, value);
//                   	}
                        
                        axios.put('/admin/member/' + [[${mID}]], fd,{ //send ajax
                            headers: {
                                'Content-Type': 'multipart/form-data'
                            }
                        }) //send ajax
                            .then(function (response) { //success
                                let res = response.data;
//                                 console.log(res);
                                if (res.code==204) {
                                    showSuccessMsg("變更成功");
                                    window.setTimeout(() => location.href = "/admin/user/account-list", 2000);
                                } else {
                                    showErrorMsg(res.errMsg);
                                    form.submitting = false;
                                    btn.removeAttribute("disabled");
                                }
                            })
                            .catch(function (error) { //error
//                                 console.error(error);
                                showErrorMsg('發生系統錯誤，未送出資料');
                                form.submitting = false;
                                btn.removeAttribute("disabled");
                            });
                    }
                }
            })

            $('.input-modal').on('hidden.bs.modal', function (e) {
                $('.input-modal').find('input').val("");
            });

        </script>

</body>

</html>