<!DOCTYPE html>
<html lang="en">
<div th:replace="admin/_admin_head ::head"></div>

<body>
    <div class="wrap admin">
        <div class="wrap index admin">
            <div th:replace="admin/part/_backstageHeader ::header"></div>
            <div class="header-space"></div>
            <div class="d-flex h-100">
                <div th:replace="admin/part/_backstageNav ::nav"></div>
                <div class="admin-nav-space"></div>
                <main id="data-wrap" class="main-session w-100 px-4">
                    <h1 class="h3 mt-5 mb-3 text-accent">{{cateLevel[cateLevel.length-1]??''}}分類下的所有活動</h1>
                    <!-- breadcrumb -->
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><span class="text-accent-dark op-6">分類管理</span></li>
                            <li class="breadcrumb-item"><a th:href="@{/admin/cate/event/cate-list}"
                                    class="text-accent">活動分類</a></li>
                            <li v-if="cateLevel.length>1" class="breadcrumb-item"><span
                                    class="text-accent-dark op-6">{{ cateLevel[0]}}大分類</span></li>
                            <li class="breadcrumb-item active" aria-current="page">
                                {{cateLevel[cateLevel.length-1]??''}}分類下的所有活動</li>
                        </ol>
                    </nav>
                    <div>
                        <!-- 查詢條件 -->
                        <div class="row mx-0 bg-accent-dark text-light py-2 px-3">搜尋條件</div>
                        <div class="border p-3 d-flex">
                            <div>
                                <div class="form-inline mr-3 mb-2">
                                    <div class="form-group">
                                        <label class="font-weight-bold text-dark-grey mr-2">活動名稱</label>
                                        <input v-model="getDataParm.fuzzyFilter" type="text"
                                            class="form-control search-input" placeholder="請輸入查詢字">
                                    </div>
                                </div>
                                <div class="form-inline mr-3 mb-1">
                                    <div class="form-group">
                                        <label class="font-weight-bold text-dark-grey mr-2">活動時間</label>
                                        <div class="input-group">
                                            <input id="startDate" ref="startTime" type="text"
                                                class="form-control search-input dateP" placeholder="yyyy-mm-dd">
                                                <div class="input-group-append">
                                                    <span class="input-group-text">-</span>
                                                </div>
                                            <input id="stopDate" ref="endTime" type="text"
                                                class="form-control search-input dateP" placeholder="yyyy-mm-dd">
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="mt-auto ml-2">
                                <button @click="goSearch" class=" btn btn-accent letter-spacing-s m-1">搜尋</button>
                                <button @click="resetSearch" class="btn btn-danger-s letter-spacing-s m-1">重設</button>
                            </div>
                        </div>
                        <!-- data-row -->
                        <table class="table text-center my-3 border">
                            <thead class="bg-accent text-light border-0">
                                <tr>
                                    <th scope="col" class="border-0">
                                        <div @click="changeOrder" id="orderBtn"
                                            class="pointer d-flex align-items-center">編號<span class="ml-2"><i
                                                    class="gg-arrows-exchange-alt-v"></i></span>
                                        </div>
                                    </th>
                                    <th scope="col" class="border-0">舉辦人帳號</th>
                                    <th scope="col" class="border-0">活動名稱</th>
                                    <th scope="col" class="border-0">開始時間</th>
                                    <th scope="col" class="border-0">結束時間</th>
                                    <th scope="col" class="border-0">狀態</th>
                                    <th scope="col" class="border-0" width="80px"></th>
                                </tr>
                            </thead>
                            <tbody ref="listWrap" class="border-bg-color2 d-none">
                                <tr v-if="limit.read" v-for="(row,index) in showData">
                                    <td>{{row.eventID}}</td>
                                    <td>{{row.host ?? '後台新增'}}</td>
                                    <td class="text-left">{{row.name}}</td>
                                    <td>{{row.startTime ? sliceToMin(row.startTime,'-'): '-'}}</td>
                                    <td>{{row.endTime ? sliceToMin(row.endTime,'-'): '-'}}</td>
                                    <td>{{row.status}}</td>
                                    <td>
                                        <a class="btn btn-accent"
                                            :href="'/admin/cate/event/event-info/'+row.eventID">查看詳情</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- page nav -->
                        <div ref="pagination" v-bind:class="{ 'd-none': !showPages }"
                            class="pagination-wrap simple-pagination light-theme"></div>
                        <!-- empty msg -->
                        <div v-if="emptyData" class="empty-msg letter-spacing-s">{{emptyMsg}}</div>
                    </div>
                </main>
            </div>
            <!-- success & error Msg -->
            <div th:replace="part/_popupMsg ::div"></div>

        </div>
        <script th:src="@{/js/common.js}"></script>
        <script th:inline="javascript">
            adminShowNavCurrent($('.cate-event'));

            var dataTable = new Vue({
                el: '#data-wrap',
                data: {
                    limit: {
                        read: checkLimit([], "1"),
                        edit: checkLimit([], "2"),
                        delete: checkLimit([], "3")
                    },
                    dataList: [], //回傳資料
                    page: {
                        dataCount: 0,
                        current: 1
                    },
                    initSet: { // 初始查詢設定
                        begin: 1,
                        end: 20,
                        order: "DESC"
                    },
                    getDataParm: {
                        search: "",
                        fuzzyFilter: "",
                        startTime: "",
                        endTime: ""
                    },
                    emptyMsg: "查無符合條件之活動",
                    cateLevel: [] //[0]大分類,[1]中分類,[2]小分類
                },
                computed: {
                    getType: function () {
                        if (type != undefined) {
                            return type;
                        }
                        return '';
                    },
                    emptyData: function () {
                        return this.dataList.length == 0;
                    },
                    showPages: function () {
                        return this.page.dataCount > this.initSet.end
                    },
                    showData: function () {
                        let begin = (this.page.current - 1) * this.initSet.end;
                        let end = (this.page.current) * this.initSet.end;

                        return this.dataList.slice(begin, end);
                    }
                },
                created: function () { //call ajax
                    this.renewDataRow();
                },
                mounted: function () {
                    this.$refs.listWrap.classList.remove('d-none');
                    let pageWrap = this.$refs.pagination;
                    let dateInputs = this.$el.querySelectorAll('.dateP');

                    let self = this;
                    $(pageWrap).pagination({
                        items: 0,
                        itemsOnPage: this.initSet.end,
                        cssStyle: 'light-theme',
                        hrefTextPrefix: "#",
                        onPageClick: function (pageNumber) {
                            self.page.current = pageNumber;
                            self.getDataList();
                        }
                    });
                    $(dateInputs).datepicker({
                        format: "yyyy-mm-dd",
                        language: 'zh-TW',
                        todayHighlight: true,
                    });
                },
                methods: {
                    getDataList: function () { //get admin account list data
                        return axios.get("/admin/category/event/main/eventlist/"+ [[${cID}]] , {params:this.getDataParm});
                    },
                    dataListCallBack: function (res) {
                    	if(res.data.code==200){
                        	this.dataList = [...res.data.data.eventList];
                        	this.cateLevel = [res.data.data.mainTypeName];
                        	console.log(res);                    	
//                             if (this.initSet.order == "DESC") {
//                                 this.dataList = [...res.data.data.eventList].reverse();
//                             } else {
//                                 this.dataList = [...res.data.data.eventList]
//                             }
                            this.page.dataCount = this.dataList.length;
                            let pageWrap = this.$refs.pagination;
                            $(pageWrap).pagination('drawPage', 1);
                            $(pageWrap).pagination('updateItems', this.page.dataCount);                    		
                    	}else{
                    		this.dataList = [];
                    	}
                    },
                    renewDataRow: function () { //renew admin account list data
                    	this.initSet.begin = 1;
                        this.page.current = 1;
                        this.getDataList().then((res) => {
                            this.dataListCallBack(res);
                        }).catch(error => {
                            console.error(error);
                        });
                    },
                    goSearch:function(){
                    	if(this.$refs.startTime.value.trim().length>0){
                    		this.getDataParm.startTime = this.$refs.startTime.value + " 00:00:00";	
                    	}
                    	
                    	if(this.$refs.endTime.value.trim().length>0){
                    		this.getDataParm.endTime = this.$refs.endTime.value + " 23:59:59";	
                    	}
                        
                        this.renewDataRow();
                    },
                    resetSearch: function () {
                        $(this.$refs.startTime).val("").datepicker("update");
                        $(this.$refs.endTime).val("").datepicker("update");

                        this.getDataParm.startTime = "";
                        this.getDataParm.endTime = "";
                        this.getDataParm.search = "";
                        this.getDataParm.fuzzyFilter = "";
                        this.renewDataRow();
                    },
                    computeSn(i) {
                        return getItemNum(i, this.initSet.order, this.initSet.end, this.page.current, this.page.dataCount);
                    },
                    changeOrder: function () {
                        this.initSet.order = (this.initSet.order == "DESC") ? "ASC" : "DESC";
                        this.dataList.reverse();
                    }
                }
            });

            $("#startDate").change(function () {
                let pushDate = $(this).val();
                $('#stopDate').datepicker('setStartDate', pushDate);
            });

            $("#stopDate").change(function () {
                let endDate = $(this).val();
                $('#startDate').datepicker('setEndDate', endDate);
            });
        </script>


</body>

</html>