<!DOCTYPE html>
<html lang="en">
<div th:replace="admin/_admin_head ::head"></div>

<body>
    <div class="wrap admin">
        <div class="wrap index admin">
            <div th:replace="admin/part/_backstageHeader ::header"></div>
            <div class="header-space"></div>
            <div class="d-flex h-100">
                <div th:replace="admin/part/_backstageNav ::nav"></div>
                <div class="admin-nav-space"></div>
                <main id="data-wrap" class="main-session w-100 px-4">
                    <h1 class="h3 mt-5 mb-3 text-accent">{{eventInfo.name}}</h1>
                    <!-- breadcrumb -->
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><span class="text-accent-dark op-6">分類管理</span></li>
                            <li class="breadcrumb-item"><a th:href="@{/admin/cate/event/cate-list}"
                                    class="text-accent">活動分類</a></li>
                            <li class="breadcrumb-item"><a :href="'/admin/cate/event/event-list/'+eventInfo.mainID"
                                    class="text-accent">{{eventInfo.mainTypeName}}大分類</a></li>
                            <li class="breadcrumb-item"><a :href="'/admin/cate/event/s/event-list/'+eventInfo.typeID"
                                    class="text-accent">{{eventInfo.typeName}}小分類</a></li>
                            <li class="breadcrumb-item active" aria-current="page">活動詳情</li>
                        </ol>
                    </nav>
                    <!-- 活動資訊(共用) -->
                    <div th:replace="/admin/event/part/_eventDetail ::div"></div>
                    <div class="text-center my-4">
                        <button @click="backPage" class=" btn btn-accent letter-spacing-s m-1">返回上一頁</button>
                    </div>
                </main>
            </div>
            <!-- success & error Msg -->
            <div th:replace="part/_popupMsg ::div"></div>

        </div>
        <script th:src="@{/js/common.js}"></script>
        <script th:inline="javascript">
            adminShowNavCurrent($('.cate-event'));

            var dataTable = new Vue({
                el: '#data-wrap',
                data: {
                    limit: {
                        read: checkLimit([], "1"),
                        edit: checkLimit([], "2"),
                        delete: checkLimit([], "3")
                    },
                    eventInfo: {},
                    eventImgList:[],
                    eventRecommendList:[],
                    eventTagList:[]
                },
                computed: {
                },
                created: function () { //call ajax
                    this.getInfo();
                },
                mounted: function () {

                },
                methods: {
                    getInfo: function () {
                        // get account info
                        let self = this;
                        axios
                            .get('/admin/event/' + [[${ eID }]] )
                            .then(response => {
                                let res = response.data;
                                if (res.code==200) {
                                    this.eventInfo = res.data.eventInfo;
                                    this.eventImgList = res.data.eventImgList;
                                    this.eventRecommendList = res.data.eventRecommendList;
                                    this.eventTagList = res.data.eventTagList;
                                } else {
                                    console.log("get user info error:" + res.errMsg);
                                }
                            })
                            .catch(function (error) { // 請求失敗處理
                                console.log("get user info error:" + error);
                            });
                    },
                    backPage:function(e){
                        e.preventDefault();
                        window.history.back();
                    }
                }
            });

        </script>


</body>

</html>