<!DOCTYPE html>
<html lang="en">
<div th:replace="admin/_admin_head ::head"></div>

<body>
    <div class="wrap admin">
        <div class="wrap index admin">
            <div th:replace="admin/part/_backstageHeader ::header"></div>
            <div class="header-space"></div>
            <div class="d-flex h-100">
                <div th:replace="admin/part/_backstageNav ::nav"></div>
                <div class="admin-nav-space"></div>
                <main id="data-wrap" class="main-session w-100 px-4">
                    <h1 class="h3 mt-5 mb-3 text-accent">活動申請詳細資訊</h1>
                    <!-- breadcrumb -->
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><span class="text-accent-dark op-6">內容管理</span></li>
                            <li class="breadcrumb-item"><a th:href="@{/admin/content/event-list}"
                                    class="text-accent-dark">活動列表</a></li>
                            <li class="breadcrumb-item"><a th:href="@{/admin/content/event-list/check-list}"
                                    class="text-accent-dark">活動申請審核</a></li>
                            <li class="breadcrumb-item active" aria-current="page">活動申請詳細資訊</li>
                        </ol>
                    </nav>
                    <!-- 審核 -->
                    <div class="row mx-0 bg-accent-dark text-light py-2 px-3 op-8">是否通過審核</div>
                    <div class="border p-3 d-flex align-items-start justify-content-center mb-3">
                        <button @click="passCheck" class="btn btn-bg-accent m-1 px-4">通過</button>
                        <button @click="rejectCheck" class="btn btn-danger m-1">拒絕上架</button>
                        <div class="h-100 m-1 w-50">
                            <textarea ref="reasonInput" cols="30" rows="3"
                                class="form-control no-resize" placeholder="請填寫拒絕上架原因"></textarea>
                            <div ref="confirmMsg" class="text-danger small text-right"></div>
                        </div>
                    </div>
                    <!-- 活動資訊(共用) -->
                    <div th:replace="/admin/event/part/_eventDetail ::div"></div>
                </main>
            </div>
            <!-- success & error Msg -->
            <div th:replace="part/_popupMsg ::div"></div>

        </div>
        <script th:src="@{/js/common.js}"></script>
        <script th:inline="javascript">
            adminShowNavCurrent($('.content-event'));

            var dataTable = new Vue({
                el: '#data-wrap',
                data: {
                    limit: {
                        read: checkLimit([], "1"),
                        edit: checkLimit([], "2"),
                        delete: checkLimit([], "3")
                    },
                    eventInfo: {},
                    eventTagList: [],
                    eventImgList: [],
                    eventRecommendList:[]
                },
                computed: {
                },
                created: function () { //call ajax
                    this.getInfo();
                },
                mounted: function () {

                },
                methods: {
                    getInfo: function () {
                        // get account info
                        let self = this;
                        axios
                            .get('/web/event/info/'+ [[${eID}]])
                            .then(response => {
                                let res = response.data
                                console.log(res);
                                if (res.code==200) {
                                    this.eventInfo = res.data.eventInfo;
                                    this.eventTagList = res.data.eventTagList;
                                    this.eventImgList = res.data.eventImgList;
                                    this.eventRecommendList = res.data.eventRecommendList;
                                } else {
                                    console.log("get user info error:" + res.errMsg);
                                }
                            })
                            .catch(function (error) { // 請求失敗處理
                                console.log("get user info error:" + error);
                            });
                    },
                    backPage: function (e) {
                        e.preventDefault();
                        window.history.back();
                    },
                    rejectCheck: function () {
                        let input = this.$refs.reasonInput;

                        if (input.value) {
                            input.classList.remove('is-invalid');
                            input.nextElementSibling.innerText = "";
                            console.log("reject");
                            // TODO:reject
	                        let fd = new FormData();
	                        fd.append('isPass', false);
	                        fd.append('refuseReason', input.value);
                            axios.put("/admin/event/review/" + [[${eID}]], fd) //send ajax
                            .then(function (response) { //success
                                let res = response.data;
                                if (res.code==204) {
                                    showSuccessMsg("已拒絕成功");
                                    window.setTimeout(() => location.href="/admin/content/event-list/check-list", 2000);
                                } else {
                                    showErrorMsg(res.errMsg);
                                }
                            })
                            .catch(function (error) { //error
                                console.log(error);
                                showErrorMsg('發生系統錯誤，未送出資料');
                            });
                            
                            
                        } else {
                            input.classList.add('is-invalid');
                            input.nextElementSibling.innerText = "請填寫拒絕上架之原因";
                        }
                    },
                    passCheck: function () {
                        let input = this.$refs.reasonInput;
                        input.classList.remove('is-invalid');
                        console.log('pass');
                        // TODO:pass
                        let fd = new FormData();
                        fd.append('isPass', true);
                        axios.put("/admin/event/review/" + [[${eID}]], fd) //send ajax
                        .then(function (response) { //success
                            let res = response.data;
                            if (res.code==204) {
                                showSuccessMsg("已發布成功");
                                window.setTimeout(() => location.href="/admin/content/event-list/check-list", 2000);
                            } else {
                                showErrorMsg(res.errMsg);
                            }
                        })
                        .catch(function (error) { //error
                            console.log(error);
                            showErrorMsg('發生系統錯誤，未送出資料');
                        });
                        
                    }
                }
            });

        </script>


</body>

</html>