<!DOCTYPE html>
<html lang="en">
<div th:replace="admin/_admin_head ::head"></div>

<body>
    <div class="wrap admin">
        <div class="wrap index admin">
            <div th:replace="admin/part/_backstageHeader ::header"></div>
            <div class="header-space"></div>
            <div class="d-flex h-100">
                <div th:replace="admin/part/_backstageNav ::nav"></div>
                <div class="admin-nav-space"></div>
                <main class="main-session w-100 px-4">
                    <h1 class="h3 mt-5 mb-3 text-accent">活動管理</h1>
                    <!-- breadcrumb -->
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><span class="text-accent-dark op-6">內容管理</span></li>
                            <li class="breadcrumb-item active" aria-current="page">活動管理</li>
                        </ol>
                    </nav>
                    <div id="data-wrap">
                        <div class="d-flex mb-3">
                            <a v-if="limit.edit" th:href="@{/admin/content/event-list/check-list}" id="newBtn"
                                class="btn-bg-accent btn rounded no-underline d-inline-flex align-items-center px-3">待審核活動<span
                                    class="badge badge-danger ml-2">{{notReviewCount}}</span></a>
                            <div class="ml-auto">
                                <a href="https://atenorestorage.s3-ap-northeast-1.amazonaws.com/Templates/Event/EventBatchIncrease.xlsx" class="text-accent mr-3 fz-ms">批次上架檔案範本下載</a>

                                <button v-if="limit.edit" @click="showUploadModal"
                                    class="btn-accent btn rounded no-underline d-inline-flex align-items-center ml-auto px-3"><span
                                        class="mr-3"><i class="gg-play-list-add"></i></span>批次新增</button>
                                <a v-if="batchUpdateFileUrl!='#'" :href="batchUpdateFileUrl" class="text-accent mr-3 fz-ms">批次更新檔案下載(請於24小時內下載)</a>                        
                                <button v-if="batchUpdateFileUrl!='#'" @click="batchUpdateUploadModal"
                                    class="btn-accent btn rounded no-underline d-inline-flex align-items-center ml-auto px-3"><span
                                        class="mr-3"><i class="gg-play-list-add"></i></span>批次更新</button>								                                        
                                <!-- 新增Btn -->
                                <a v-if="limit.edit" th:href="@{/admin/content/event-list/new}" id="newBtn"
                                    class="btn-accent btn rounded no-underline d-inline-flex align-items-center ml-auto px-3"><span
                                        class="mr-2"><i class="gg-math-plus"></i></span>新增活動</a>
                            </div>
                        </div>
<!--                         <div class="d-flex mb-3"> -->
<!--                         	<div class="ml-auto"> -->

<!--                         	</div> -->
<!--                         </div> -->
                        <!-- upload file popup -->
                        <div ref="uploadModal" class="modal fade bd-example-modal-sm px-5 input-modal" tabindex="-1"
                            role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
                                <div class="modal-content pop-up">
                                    <div class="modal-body text-center p-4">
                                        <p class="my-3 font-weight-bold letter-spacing-s">選擇批次新增Excel檔案</p>
                                        <input ref="fileInput" type="file"  accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" class="form-control">
                                    </div>
                                    <p ref="uploadError" class="text-danger text-center small"></p>
                                    <div class="modal-footer justify-content-center p-0 mb-3 border-0">
                                        <button type="button" class="btn btn-danger-s m-2 px-4 cancelBtn"
                                            data-dismiss="modal">取消</button>
                                        <button @click="uploadFile" type="button"
                                            class="submitBtn btn btn-accent m-2 px-4">確定</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- batch update upload file popup -->
                        <div ref="batchUpdateUploadModal" class="modal fade bd-example-modal-sm px-5 input-modal" tabindex="-1"
                            role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
                                <div class="modal-content pop-up">
                                    <div class="modal-body text-center p-4">
                                        <p class="my-3 font-weight-bold letter-spacing-s">選擇批次更新Excel檔案</p>
                                        <input ref="fileInputUpdate" type="file"  accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" class="form-control">
                                    </div>
                                    <p ref="uploadErrorUpdate" class="text-danger text-center small"></p>
                                    <div class="modal-footer justify-content-center p-0 mb-3 border-0">
                                        <button type="button" class="btn btn-danger-s m-2 px-4 cancelBtn"
                                            data-dismiss="modal">取消</button>
                                        <button @click="batchUpdateUploadFile" type="button"
                                            class="submitBtn btn btn-accent m-2 px-4">確定</button>
                                    </div>
                                </div>
                            </div>
                        </div>                        
                        <!-- 查詢條件 -->
                        <div class="row mx-0 bg-accent-dark text-light py-2 px-3">搜尋條件</div>
                        <div class="border p-3 d-flex">
                            <div>
                                <div class="form-inline mr-3 mb-2">
                                    <div class="form-group">
                                        <label class="font-weight-bold text-dark-grey mr-2">活動名稱</label>
                                        <input v-model="getDataParm.fuzzyFilter" type="text"
                                            class="form-control search-input" placeholder="請輸入查詢字">
                                    </div>
                                </div>
                                <div class="form-inline mr-3 mb-1">
                                    <div class="form-group">
                                        <label class="font-weight-bold text-dark-grey mr-2">活動時間</label>
                                        <div class="input-group">
                                            <input id="startDate" ref="startTime" type="text"
                                                class="form-control search-input dateP" placeholder="yyyy-mm-dd">
                                            <div class="input-group-append">
                                                <span class="input-group-text">-</span>
                                            </div>
                                            <input id="stopDate" ref="endTime" type="text"
                                                class="form-control search-input dateP" placeholder="yyyy-mm-dd">
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="mt-auto ml-2">
                                <button @click="goSearch" class=" btn btn-accent letter-spacing-s m-1">搜尋</button>
                                <button @click="resetSearch" class="btn btn-danger-s letter-spacing-s m-1">重設</button>
                            </div>
                        </div>
                        <!-- data-row -->
                        <table class="table text-center my-3 border">
                            <thead class="bg-accent text-light border-0">
                                <tr>
                                    <th scope="col" class="border-0">
                                        <div @click="changeOrder" id="orderBtn"
                                            class="pointer d-flex align-items-center">編號<span class="ml-2"><i
                                                    class="gg-arrows-exchange-alt-v"></i></span>
                                        </div>
                                    </th>
                                    <th scope="col" class="border-0">舉辦人帳號</th>
                                    <th scope="col" class="border-0">活動名稱</th>
                                    <th scope="col" class="border-0">開始時間</th>
                                    <th scope="col" class="border-0">結束時間</th>
                                    <th scope="col" class="border-0">狀態</th>
                                    <th scope="col" class="border-0" width="80px"></th>
                                    <th scope="col" class="border-0" width="80px"></th>
                                </tr>
                            </thead>
                            <tbody ref="listWrap" class="border-bg-color2 d-none">
                                <tr v-if="limit.read" v-for="(row,index) in showData">
                                    <td>{{row.eventID}}</td>
                                    <td>{{row.host ?? '後台新增'}}</td>
                                    <td class="text-left">{{row.name}}</td>
                                    <td>{{row.startTime ? sliceToMin(row.startTime,'-'): '-'}}</td>
                                    <td>{{row.endTime ? sliceToMin(row.endTime,'-'): '-'}}</td>
                                    <td>{{row.status}}</td>
                                    <td v-if="limit.edit">
                                        <a class="btn btn-accent"
                                            :href="'/admin/content/event-list/edit/'+row.eventID">編輯</a>
                                    </td>
                                    <td v-if="limit.edit">
                                        <button @click="clickDelete" class="btn btn-danger" :data-a.prop="row.eventID"
                                            :data-t.prop="row.name">刪除</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <!-- page nav -->
                        <div ref="pagination" v-bind:class="{ 'd-none': !showPages }"
                            class="pagination-wrap simple-pagination light-theme"></div>
                        <!-- empty msg -->
                        <div v-if="emptyData" class="empty-msg letter-spacing-s">{{emptyMsg}}</div>
                    </div>
                </main>
            </div>
            <!-- success & error Msg -->
            <div th:replace="part/_popupMsg ::div"></div>

        </div>
        <script th:src="@{/js/common.js}"></script>
        <script th:src="@{/js/loadingoverlay.min.js}"></script>
        <script th:inline="javascript">
            adminShowNavCurrent($('.content-event'));

            var dataTable = new Vue({
                el: '#data-wrap',
                data: {
                    limit: {
                        read: checkLimit([], "1"),
                        edit: checkLimit([], "2"),
                        delete: checkLimit([], "3")
                    },
                    selList: [], //查詢選單項目
                    dataList: [], //回傳資料
                    page: {
                        dataCount: 0,
                        current: 1
                    },
                    initSet: { // 初始查詢設定
                        begin: 1,
                        end: 20,
                        order: "DESC"
                    },
                    getDataParm: {
                        fuzzyFilter: "",
//                         filter: "All",
                        startTime: "",
                        endTime: ""
                    },
                    manageInfo: {
                        account: null,
                    },
                    manageUrl: "",
                    emptyMsg: "查無符合條件之活動",
                    batchUpdateFileUrl:"#",
                    notReviewCount:0
                },
                computed: {
                    emptyData: function () {
                        return this.dataList.length == 0;
                    },
                    showPages: function () {
                        return this.page.dataCount > this.initSet.end
                    },
                    showData: function () {
                        let begin = (this.page.current - 1) * this.initSet.end;
                        let end = (this.page.current) * this.initSet.end;

                        return this.dataList.slice(begin, end);
                    }
                },
                created: function () { //call ajax
                    this.getTypes();
                	this.getNotReviewCount();
                	this.getBatchUpdateFileUrl();
                    this.renewDataRow();
                    if(localStorage.getItem("batchUpdateFileUrl")!=null){
                        validateLocalStoreItem("batchUpdateFileUrl", function(){
    						location.reload();                    	
                        });                    	
                    }
                },
                mounted: function () {
                    this.$refs.listWrap.classList.remove('d-none');
                    let pageWrap = this.$refs.pagination;
                    let dateInputs = this.$el.querySelectorAll('.dateP');

                    let self = this;
                    $(pageWrap).pagination({
                        items: 0,
                        itemsOnPage: this.initSet.end,
                        cssStyle: 'light-theme',
                        hrefTextPrefix: "#",
                        onPageClick: function (pageNumber) {
                            self.page.current = pageNumber;
                            self.getDataList();
                        }
                    });
                    $(dateInputs).datepicker({
                        format: "yyyy-mm-dd",
                        language: 'zh-TW',
                        todayHighlight: true,
                    });
                },
                methods: {
                	getBatchUpdateFileUrl:function(){
                    	if(localStorage.getItem("batchUpdateFileUrl")===null){
                    		this.batchUpdateFileUrl = "#";
                    	}else{
                    		this.batchUpdateFileUrl = JSON.parse(localStorage.getItem("batchUpdateFileUrl")).value;
                    	}
                    },
                    getNotReviewCount:function(){
                        axios.get('/admin/event/notreview/count')
                        .then(response => {
                        	if(response.data.code==200){
                        		this.notReviewCount = response.data.data.notReviewCount; 
                        	}
                        })
                        .catch(error => { // 請求失敗處理
                            console.log("get type info error:" + error);
                        });                    	
                    },
                    getTypes: function () {
                        axios.get('/fixedData/type_category')
                            .then(response => {
                                this.selList = [...response.data];
                            })
                            .catch(error => { // 請求失敗處理
                                console.log("get type info error:" + error);
                            });
                    },
                    getDataList: function () { //get admin account list data
                        return axios.get('/admin/event', {params:this.getDataParm});
                    },
                    dataListCallBack: function (res) {
                    	if(res.data.code==200){
                        	this.dataList = [...res.data.data.eventList];
//                          if (this.initSet.order == "DESC") {
//                              this.dataList = [...res.data.data].reverse();
//                          } else {
//                              this.dataList = [...res.data.data]
//                          }
                         this.page.dataCount = this.dataList.length;
                         let pageWrap = this.$refs.pagination;
                         $(pageWrap).pagination('drawPage', 1);
                         $(pageWrap).pagination('updateItems', this.page.dataCount);                    		
                    	}else{
                    		this.dataList = [];
                    	}
                    },
                    renewDataRow: function () { //renew list data
                        this.initSet.begin = 1;
                        this.page.current=1;
                        this.getDataList().then((res) => {
                            this.dataListCallBack(res);
                        }).catch(error => {
                            console.error(error);
                        });
                    },
                    goSearch: function () {
                    	if(this.$refs.startTime.value){
                    		 this.getDataParm.startTime = this.$refs.startTime.value + " 00:00:00";	
                    	}
                    	
                    	if(this.$refs.endTime.value){
                    		this.getDataParm.endTime = this.$refs.endTime.value + " 23:59:59";	
                    	}
                        this.renewDataRow();
                    },
                    resetSearch: function () {
                        $(this.$refs.startTime).val("").datepicker("update");
                        $(this.$refs.endTime).val("").datepicker("update");

                        this.getDataParm.startTime = "";
                        this.getDataParm.endTime = "";
                        this.getDataParm.fuzzyFilter = "";
//                         this.getDataParm.filter = "All";
                        this.renewDataRow();
                    },
                    computeSn(i) {
                        return getItemNum(i, this.initSet.order, this.initSet.end, this.page.current, this.page.dataCount);
                    },
                    isNotOver: function (status) {
                        return status == "排程中";
                    },
                    changeOrder: function () {
                        this.initSet.order = (this.initSet.order == "DESC") ? "ASC" : "DESC";
                        this.dataList.reverse();
                    },
                    clickDelete: function () { //刪除管理者點選
                        this.manageInfo.eventID = event.target.dataA;
                        this.manageUrl = "/admin/event/" + this.manageInfo.eventID;
                        showConfirmMsg("確定要刪除此活動?<p class='mt-3 mb-0 text-accent'>" + event.target.dataT + "</p>");
                    },
                    showUploadModal: function (e) {
                        e.preventDefault();
                        let modal = this.$refs.uploadModal;
                        let input = this.$refs.fileInput;
                        let errorMsg = this.$refs.uploadError;

                        errorMsg.innerText = "";
                        input.classList.remove('is-valid');
                        input.classList.remove('is-inValid');
                        $(modal).modal('show');
                    },
                    batchUpdateUploadModal: function (e) {
                        e.preventDefault();
                        let modal = this.$refs.batchUpdateUploadModal;
                        let input = this.$refs.fileInputUpdate;
                        let errorMsg = this.$refs.uploadErrorUpdate;

                        errorMsg.innerText = "";
                        input.classList.remove('is-valid');
                        input.classList.remove('is-inValid');
                        $(modal).modal('show');
                    },
                    uploadFile: function (e) {
                        e.preventDefault();
//                         console.log('uploadFile');
						$('body').LoadingOverlay('show');
                        let input = this.$refs.fileInput;
                        let btn = e.target;
                        let modal = this.$refs.uploadModal;
                        let errorMsg = this.$refs.uploadError;

                        errorMsg.innerText = "";
                        input.classList.remove('is-valid');
                        input.classList.remove('is-inValid');
                        btn.setAttribute("disabled", true);

                        if (input.files.length>0) {
                            input.classList.add('is-valid');
                            input.classList.remove('is-invalid');

                            let formData = new FormData();
                            formData.append("file", input.files[0]);
                            axios.post('/admin/event/batch/create', formData, {
                                headers: {
                                    'Content-Type': 'multipart/form-data'
                                }
                            }).then(function (response) { //success
                                let res = response.data;
//                                 console.log(res);
                                if (res.code==201) {
                                    btn.removeAttribute("disabled");
                                    $(modal).modal('hide');
                                    $('body').LoadingOverlay('hide');
                                    showSuccessMsg("批次新增成功");
                                    //TODO:renew data list
                                    if(localStorage.getItem("batchUpdateFileUrl")!=null){
                                    	localStorage.removeItem("batchUpdateFileUrl");
                                    }
                                    setLocalStoreItem("batchUpdateFileUrl", res.data.batchUpdateUrl, 86400000);
                                    window.setTimeout(() => location.reload(), 2000);
                                } else {
                                    errorMsg.innerText = res.errMsg;
                                    btn.removeAttribute("disabled");
                                    $('body').LoadingOverlay('hide');
                                }
                            }).catch(function (error) { //error
                                console.error(error);
                                errorMsg.innerText = '發生系統錯誤，未送出資料';
                                btn.removeAttribute("disabled");
                                $('body').LoadingOverlay('hide');
                            })

                        } else {
                            input.classList.remove('is-valid');
                            input.classList.add('is-invalid');
                            btn.removeAttribute("disabled");
                            $('body').LoadingOverlay('hide');
                        }
                    },
                    batchUpdateUploadFile: function (e) {
                        e.preventDefault();
//                         console.log('uploadFile');
						$('body').LoadingOverlay('show');
                        let input = this.$refs.fileInputUpdate;
                        let btn = e.target;
                        let modal = this.$refs.batchUpdateUploadModal;
                        let errorMsg = this.$refs.uploadErrorUpdate;

                        errorMsg.innerText = "";
                        input.classList.remove('is-valid');
                        input.classList.remove('is-inValid');
                        btn.setAttribute("disabled", true);

                        if (input.files.length>0) {
                            input.classList.add('is-valid');
                            input.classList.remove('is-invalid');

                            let formData = new FormData();
                            formData.append("file", input.files[0]);
                            axios.post('/admin/event/batch/update', formData, {
                                headers: {
                                    'Content-Type': 'multipart/form-data'
                                }
                            }).then(function (response) { //success
                                let res = response.data;
                                if (res.code==201) {
                                    btn.removeAttribute("disabled");
                                    $(modal).modal('hide');
                                    $('body').LoadingOverlay('hide');
                                    showSuccessMsg("批次更新成功");
                                    //TODO:renew data list
                                    if(localStorage.getItem("batchUpdateFileUrl")!=null){
                                    	localStorage.removeItem("batchUpdateFileUrl");
                                    }
                                    window.setTimeout(() => location.reload(), 2000);
                                } else {
                                    errorMsg.innerText = res.errMsg;
                                    btn.removeAttribute("disabled");
                                    $('body').LoadingOverlay('hide');
                                }
                            }).catch(function (error) { //error
                                console.error(error);
                                errorMsg.innerText = '發生系統錯誤，未送出資料';
                                btn.removeAttribute("disabled");
                                $('body').LoadingOverlay('hide');
                            })

                        } else {
                            input.classList.remove('is-valid');
                            input.classList.add('is-invalid');
                            btn.removeAttribute("disabled");
                            $('body').LoadingOverlay('hide');
                        }
                    },                    
                    checkStatusValid: function () {
                        let input = this.$refs.reasonInput;
                        if (input.checkValidity()) {
                            input.classList.add('is-valid');
                            input.classList.remove('is-invalid');
                            this.manageAdmin();
                        } else {
                            input.classList.add('is-invalid');
                            input.classList.remove('is-valid');
                        }
                    },
                    manageAdmin: function () {  //send manage ajax                      
                        axios.delete(this.manageUrl) //send ajax
                            .then(function (response) { //success
                                let res = response.data;
                                if (res.code==204) {
                                    showSuccessMsg("刪除成功");
                                    window.setTimeout(() => location.reload(), 2000);
                                } else {
                                    showErrorMsg(res.errMsg);
                                }
                            })
                            .catch(function (error) { //error
                                console.log(error);
                                showErrorMsg('發生系統錯誤，未送出資料');
                            });
                        $('.confirm-modal').modal('hide');
                    },
                    resetManage: function () {
                        setNull(this.manageInfo);
                        this.manageUrl = null;
                    }

                }
            });

            $('.confirm-modal').on('hidden.bs.modal', function (e) {
                dataTable.resetManage();
            });

            $('#confirmBtn').click(function () {
                dataTable.manageAdmin();
            })

            $("#startDate").change(function () {
                let pushDate = $(this).val();
                $('#stopDate').datepicker('setStartDate', pushDate);
            });

            $("#stopDate").change(function () {
                let endDate = $(this).val();
                $('#startDate').datepicker('setEndDate', endDate);
            });

        </script>

</body>

</html>