<!DOCTYPE html>
<html lang="en">
<div th:replace="admin/_admin_head ::head"></div>

<body>
    <div class="wrap admin">
        <div class="wrap index admin">
            <div th:replace="admin/part/_backstageHeader ::header"></div>
            <div class="header-space"></div>
            <div class="d-flex h-100">
                <div th:replace="admin/part/_backstageNav ::nav"></div>
                <div class="admin-nav-space"></div>
                <main class="main-session w-100 px-4">
                    <h1 class="h3 mt-5 mb-3 text-accent">活動管理</h1>
                    <!-- breadcrumb -->
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><span class="text-accent-dark op-6">內容管理</span></li>
                            <li class="breadcrumb-item"><a th:href="@{/admin/content/event-list}" class="text-accent-dark">活動列表</a></li>
                            <li class="breadcrumb-item active" aria-current="page">活動申請審核</li>
                        </ol>
                    </nav>
                    <div id="data-wrap">
                        
                        <!-- 查詢條件 -->
                        <div class="row mx-0 bg-accent-dark text-light py-2 px-3">搜尋條件</div>
                        <div class="border p-3 d-flex">
                            <div>
                                <div class="form-inline mr-3 mb-2">
                                    <div class="form-group">
                                        <label class="font-weight-bold text-dark-grey mr-2">活動名稱</label>
                                        <input v-model="getDataParm.fuzzyFilter" type="text"
                                            class="form-control search-input" placeholder="請輸入查詢字">
                                    </div>
                                </div>
                                <div class="form-inline mr-3 mb-1">
                                    <div class="form-group">
                                        <label class="font-weight-bold text-dark-grey mr-2">活動時間</label>
                                        <div class="input-group">
                                            <input id="startDate" ref="startTime" type="text"
                                                class="form-control search-input dateP" placeholder="yyyy-mm-dd">
                                            <div class="input-group-append">
                                                <span class="input-group-text">-</span>
                                            </div>
                                            <input id="stopDate" ref="endTime" type="text"
                                                class="form-control search-input dateP" placeholder="yyyy-mm-dd">
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="mt-auto ml-2">
                                <button @click="goSearch" class=" btn btn-accent letter-spacing-s m-1">搜尋</button>
                                <button @click="resetSearch" class="btn btn-danger-s letter-spacing-s m-1">重設</button>
                            </div>
                        </div>
                        <!-- data-row -->
                        <table class="table text-center my-3 border">
                            <thead class="bg-accent text-light border-0">
                                <tr>
                                    <th scope="col" class="border-0">
                                        <div @click="changeOrder" id="orderBtn"
                                            class="pointer d-flex align-items-center">編號<span class="ml-2"><i
                                                    class="gg-arrows-exchange-alt-v"></i></span>
                                        </div>
                                    </th>
                                    <th scope="col" class="border-0">申請人帳號</th>
                                    <th scope="col" class="border-0">活動名稱</th>
                                    <th scope="col" class="border-0">開始時間</th>
                                    <th scope="col" class="border-0">結束時間</th>
                                    <th scope="col" class="border-0">狀態</th>
                                    <th scope="col" class="border-0" width="80px"></th>
                                </tr>
                            </thead>
                            <tbody ref="listWrap" class="border-bg-color2 d-none">
                                <tr v-if="limit.read" v-for="(row,index) in showData">
                                    <td>{{row.eventID}}</td>
                                    <td>{{row.host ?? '後台新增'}}</td>
                                    <td class="text-left">{{row.name}}</td>
                                    <td>{{row.startTime ? sliceToMin(row.startTime,'-'): '-'}}</td>
                                    <td>{{row.endTime ? sliceToMin(row.endTime,'-'): '-'}}</td>
                                    <td>{{row.apply}}</td>
                                    <td v-if="limit.edit">
                                        <a class="btn btn-accent"
                                            :href="'/admin/content/event-list/check-event/'+row.eventID">查看</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <!-- page nav -->
                        <div ref="pagination" v-bind:class="{ 'd-none': !showPages }"
                            class="pagination-wrap simple-pagination light-theme"></div>
                        <!-- empty msg -->
                        <div v-if="emptyData" class="empty-msg letter-spacing-s">{{emptyMsg}}</div>
                    </div>
                </main>
            </div>
            <!-- success & error Msg -->
            <div th:replace="part/_popupMsg ::div"></div>

        </div>
        <script th:src="@{/js/common.js}"></script>
        <script th:inline="javascript">
            adminShowNavCurrent($('.content-event'));

            var dataTable = new Vue({
                el: '#data-wrap',
                data: {
                    limit: {
                        read: checkLimit([], "1"),
                        edit: checkLimit([], "2"),
                        delete: checkLimit([], "3")
                    },
                    selList: [], //查詢選單項目
                    dataList: [], //回傳資料
                    page: {
                        dataCount: 0,
                        current: 1
                    },
                    initSet: { // 初始查詢設定
                        begin: 1,
                        end: 20,
                        order: "DESC"
                    },
                    getDataParm: {
                        fuzzyFilter: "",
//                         filter: "All",
                        startTime: "",
                        endTime: ""
                    },
                    manageInfo: {
                        account: null,
                    },
                    manageUrl: "",
                    emptyMsg: "查無符合條件之活動"
                },
                computed: {
                    emptyData: function () {
                        return this.dataList.length == 0;
                    },
                    showPages: function () {
                        return this.page.dataCount > this.initSet.end
                    },
                    showData: function () {
                        let begin = (this.page.current - 1) * this.initSet.end;
                        let end = (this.page.current) * this.initSet.end;

                        return this.dataList.slice(begin, end);
                    }
                },
                created: function () { //call ajax
                    this.getTypes();
                    this.renewDataRow();
                },
                mounted: function () {
                    this.$refs.listWrap.classList.remove('d-none');
                    let pageWrap = this.$refs.pagination;
                    let dateInputs = this.$el.querySelectorAll('.dateP');

                    let self = this;
                    $(pageWrap).pagination({
                        items: 0,
                        itemsOnPage: this.initSet.end,
                        cssStyle: 'light-theme',
                        hrefTextPrefix: "#",
                        onPageClick: function (pageNumber) {
                            self.page.current = pageNumber;
                            self.getDataList();
                        }
                    });
                    $(dateInputs).datepicker({
                        format: "yyyy-mm-dd",
                        language: 'zh-TW',
                        todayHighlight: true,
                    });
                },
                methods: {
                    getTypes: function () {
                        axios.get('/fixedData/type_category')
                            .then(response => {
                                this.selList = [...response.data];
                            })
                            .catch(error => { // 請求失敗處理
                                console.log("get type info error:" + error);
                            });
                    },
                    getDataList: function () { //get admin account list data
                        return axios.get('/admin/event/review', {params:this.getDataParm});
                    },
                    dataListCallBack: function (res) {
                    	if(res.data.code==200){
                        	this.dataList = [...res.data.data.eventList];
//                          if (this.initSet.order == "DESC") {
//                              this.dataList = [...res.data.data].reverse();
//                          } else {
//                              this.dataList = [...res.data.data]
//                          }
                         this.page.dataCount = this.dataList.length;
                         let pageWrap = this.$refs.pagination;
                         $(pageWrap).pagination('drawPage', 1);
                         $(pageWrap).pagination('updateItems', this.page.dataCount);                    		
                    	}else{
                    		this.dataList = [];
                    	}
                    },
                    renewDataRow: function () { //renew list data
                        this.initSet.begin = 1;
                        this.page.current=1;
                        this.getDataList().then((res) => {
                            this.dataListCallBack(res);
                        }).catch(error => {
                            console.error(error);
                        });
                    },
                    goSearch: function () {
                    	if(this.$refs.startTime.value){
                    		 this.getDataParm.startTime = this.$refs.startTime.value + " 00:00:00";	
                    	}
                    	
                    	if(this.$refs.endTime.value){
                    		this.getDataParm.endTime = this.$refs.endTime.value + " 23:59:59";	
                    	}
                        this.renewDataRow();
                    },
                    resetSearch: function () {
                        $(this.$refs.startTime).val("").datepicker("update");
                        $(this.$refs.endTime).val("").datepicker("update");

                        this.getDataParm.startTime = "";
                        this.getDataParm.endTime = "";
                        this.getDataParm.fuzzyFilter = "";
//                         this.getDataParm.filter = "All";
                        this.renewDataRow();
                    },
                    computeSn(i) {
                        return getItemNum(i, this.initSet.order, this.initSet.end, this.page.current, this.page.dataCount);
                    },
                    isNotOver: function (status) {
                        return status == "排程中";
                    },
                    changeOrder: function () {
                        this.initSet.order = (this.initSet.order == "DESC") ? "ASC" : "DESC";
                        this.dataList.reverse();
                    },
                    clickDelete: function () { //刪除管理者點選
                        this.manageInfo.account = event.target.dataA;
                        this.manageUrl = "deleteURL";
                        showConfirmMsg("確定要刪除此活動?<p class='mt-3 mb-0 text-accent'>" + event.target.dataT + "</p>");
                    },
                    checkStatusValid: function () {
                        let input = this.$refs.reasonInput;
                        if (input.checkValidity()) {
                            input.classList.add('is-valid');
                            input.classList.remove('is-invalid');
                            this.manageAdmin();
                        } else {
                            input.classList.add('is-invalid');
                            input.classList.remove('is-valid');
                        }
                    },
                    manageAdmin: function () {  //send manage ajax                      
                        axios.post(this.manageUrl, this.manageInfo) //send ajax
                            .then(function (response) { //success
                                let res = response.data;
                                if (res.success) {
                                    showSuccessMsg(res.msg);
                                    window.setTimeout(() => location.reload(), 2000);
                                } else {
                                    showErrorMsg(res.msg);
                                }
                            })
                            .catch(function (error) { //error
                                console.log(error);
                                showErrorMsg('發生系統錯誤，未送出資料');
                            });
                        $('.confirm-modal').modal('hide');
                    },
                    resetManage: function () {
                        setNull(this.manageInfo);
                        this.manageUrl = null;
                    }

                }
            });

            $('.confirm-modal').on('hidden.bs.modal', function (e) {
                dataTable.resetManage();
            });

            $('#confirmBtn').click(function () {
                dataTable.manageAdmin();
            })

            $("#startDate").change(function () {
                let pushDate = $(this).val();
                $('#stopDate').datepicker('setStartDate', pushDate);
            });

            $("#stopDate").change(function () {
                let endDate = $(this).val();
                $('#startDate').datepicker('setEndDate', endDate);
            });

        </script>

</body>

</html>