<!DOCTYPE html>
<html lang="en">
<div th:replace="admin/_admin_head ::head"></div>

<body>
    <div class="wrap admin">
        <div class="wrap index admin">
            <div th:replace="admin/part/_backstageHeader ::header"></div>
            <div class="header-space"></div>
            <div class="d-flex h-100">
                <div th:replace="admin/part/_backstageNav ::nav"></div>
                <div class="admin-nav-space"></div>
                <main class="main-session w-100 px-4">
                    <h1 class="h3 mt-5 mb-3 text-accent">編輯活動</h1>
                    <!-- breadcrumb -->
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><span class="text-accent-dark op-6">內容管理</span></li>
                            <li class="breadcrumb-item"><a th:href="@{/admin/content/event-list}"
                                    class="text-accent">活動列表</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">編輯活動</li>
                        </ol>
                    </nav>
                    <form id="dataForm" class="needs-validation mt-3 pt-2" novalidate method="POST">

                        <div class="row mx-0 bg-accent-dark op-8 text-light py-2 px-3">活動資訊</div>
                        <div class="border">
                            <div class="login-wrap my-4 mx-auto">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text bg-grey">活動編號</div>
                                    </div>
                                    <div class="form-control text-left bg-grey">{{eventInfo.eventID}}</div>
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text bg-white">活動名稱<span
                                                class="text-danger-s ml-1">*</span>
                                        </div>
                                    </div>
                                    <input type="text" name="name" required v-model="eventInfo.name"
                                        class="check-input form-control rounded-right" placeholder="請輸入活動名稱">
                                    <div ref="confirmMsg" class="invalid-feedback text-right"></div>
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text bg-white">活動分類<span
                                                class="text-danger-s ml-1">*</span>
                                        </div>
                                    </div>
                                    <select name="mainID" id="" v-model="cate.main" required
                                        class="form-control check-input">
                                        <option value="" disabled>--請選擇大分類--</option>
                                        <option v-for="c in cateList" :value="c.mainID">{{c.name}}</option>
                                    </select>
                                    <select name="typeID" id="" v-model="cate.sub" required
                                        class="form-control rounded-right check-input">
                                        <option value="" disabled>--請選擇小分類--</option>
                                        <option v-for="c in subCateList" :value="c.typeID">{{c.name}}</option>
                                    </select>
                                    <div ref="confirmMsg" class="invalid-feedback text-right"></div>
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text"
                                            :class="{'bg-white' :startDateEditable, 'bg-grey': !startDateEditable}">
                                            開始時間<span class="text-danger-s ml-1">*</span>
                                        </div>
                                    </div>
                                    <input type="text" ref="startDate" id="startDate" name="startTime" required
                                        :disabled="!startDateEditable"
                                        :class="{'bg-white' :startDateEditable, 'bg-grey': !startDateEditable}"
                                        class="check-input form-control dateP rounded-right"
                                        :value="eventInfo.startTime" placeholder="yyyy-mm-dd HH:mm:ss">
                                    <div ref="confirmMsg" class="invalid-feedback text-right"></div>
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text"
                                            :class="{'bg-white' :stopDateEditable, 'bg-grey': !stopDateEditable}">
                                            結束時間<span class="text-danger-s ml-1">*</span>
                                        </div>
                                    </div>
                                    <input type="text" ref="stopDate" id="stopDate" name="endTime" required
                                        :disabled="!stopDateEditable"
                                        :class="{'bg-white' :stopDateEditable, 'bg-grey': !stopDateEditable}"
                                        class="check-input form-control dateP rounded-right"
                                        :value="eventInfo.endTime" placeholder="yyyy-mm-dd HH:mm:ss">
                                    <div ref="confirmMsg" class="invalid-feedback text-right"></div>
                                </div>
                                
                                
                                   
                                
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text bg-white">活動區域
                                        </div>
                                    </div>
                                    <select name="county" id="" required v-model="eventInfo.county"
                                        class=" form-control check-input">
                                        <option value="">-縣市-</option>
                                        <option v-for="c in countyList" :value="c">{{c}}</option>
                                    </select>                                    
<!--                                     <input type="text" name="" v-model="eventInfo.area" -->
<!--                                         class="check-input form-control rounded-right" placeholder="請輸入活動區域"> -->
<!--                                     <div ref="confirmMsg" class="invalid-feedback text-right"></div> -->
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text bg-white">活動場地<span
                                                class="text-danger-s ml-1">*</span>
                                        </div>
                                    </div>
                                    <input type="text" name="place" required v-model="eventInfo.place"
                                        class="check-input form-control rounded-right" placeholder="請輸入活動場地">
                                    <div ref="confirmMsg" class="invalid-feedback text-right"></div>
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text bg-white">活動地址<span
                                                class="text-danger-s ml-1">*</span>
                                        </div>
                                    </div>
                                    <input type="text" name="address" class="form-control rounded-right" v-model="eventInfo.address"
                                        placeholder="請輸入地址(排除縣市)">
                                    <div ref="confirmMsg" class="invalid-feedback text-right"></div>
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text bg-white">主辦單位</div>
                                    </div>
                                    <input type="text" name="host" class="check-input form-control rounded-right"
                                        placeholder="請輸入主辦單位名稱" v-model="eventInfo.host">
                                    <div ref="confirmMsg" class="invalid-feedback text-right"></div>
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text bg-white">開放狀態<span
                                                class="text-danger-s ml-1">*</span>
                                        </div>
                                    </div>
                                    <select name="visibilitySN" id="" required class="form-control check-input"
                                        v-model="eventInfo.visibilitySN">
                                        <option value="">--請選擇開放狀態--</option>
                                        <option v-for="c in statusList" :value="c.id">{{c.name}}</option>
                                    </select>
                                    <div ref="confirmMsg" class="invalid-feedback text-right"></div>
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text bg-white">參加費用</div>
                                    </div>
                                    <input type="number" name="fee" min="0" class="check-input form-control rounded-right"
                                        placeholder="請輸入參加費用" v-model="eventInfo.fee">
                                    <div ref="confirmMsg" class="invalid-feedback text-right"></div>
                                </div>
                                <div class="input-group mb-1">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text bg-white">報名網址</div>
                                    </div>
                                    <input type="url" name="signupUrl" v-model="eventLink.apply"
                                        class="check-input form-control rounded-right" placeholder="https://">
                                    <div ref="confirmMsg" class="invalid-feedback text-right"></div>
                                </div>
                                <p class="text-right text-accent"><a :href="eventLink.apply"
                                        :title="eventLink.apply" target="_blank">查看連結</a></p>
                                <div class="input-group mb-1">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text bg-white">直播網址</div>
                                    </div>
                                    <input type="url" name="liveUrl" v-model="eventLink.live"
                                        class="check-input form-control rounded-right" placeholder="https://">
                                    <div ref="confirmMsg" class="invalid-feedback text-right"></div>
                                </div>
                                <p class="text-right text-accent"><a :href="eventLink.live"
                                        :title="eventLink.live" target="_blank">查看連結</a></p>
                                <div class="input-group mb-1">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text bg-white">活動簡介</div>
                                    </div>
                                    <textarea name="intro" id="" cols="30" rows="10" v-model="eventInfo.intro"
                                        class="form-control no-resize rounded-right" placeholder="請輸入活動簡介"></textarea>
                                    <div ref="confirmMsg" class="invalid-feedback text-right"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row mx-0 bg-accent-dark op-8 text-light py-2 px-3">相關達人與Tag</div>
                        <div class="border">
                            <div class="login-wrap my-4 mx-auto">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text bg-white">相關達人</div>
                                    </div>
                                    <input type="text" ref="masterInput" class="form-control" placeholder="請輸入達人ID">
                                    <div class="input-group-append">
                                        <button class="input-group-text btn btn-accent" @click="addMaster">加入</button>
                                    </div>
                                </div>
                                <div class="tag-wrap d-flex flex-wrap">
                                    <master-item v-for="m in masters" v-bind:master="m"
                                        @send-delete-master="deleteMaster"></master-item>
                                </div>
                            </div>
                            <div class="login-wrap my-4 mx-auto">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text bg-white">關鍵字</div>
                                    </div>
                                    <input type="text" ref="tagInput" class="form-control" placeholder="請輸入關鍵字">
                                    <div class="input-group-append">
                                        <button class="input-group-text btn btn-accent" @click="addTag">加入</button>
                                    </div>
                                </div>
                                <div class="tag-wrap d-flex flex-wrap">
                                    <tag-item v-for="t in tags" v-bind:tag="t" @send-delete-tag="deleteTag"></tag-item>
                                </div>
                            </div>
                        </div>
                        
                        <div class="text-center pt-3 mb-5">
                            <a th:href="@{/admin/content/event-list}"
                                class="btn btn-danger-s letter-spacing-s m-1">取消</a>
                            <button ref="submitBtn" @click="checkValid"
                                class=" btn btn-bg-accent letter-spacing-s m-1">確認編輯</button>
                        </div>
                        <div class="row mx-0 bg-accent-dark op-8 text-light py-2 px-3">活動照片</div>
                        <div class="border p-3">
<!--                             <div class="d-flex flex-wrap"> -->
<!--                                 <div v-for="i in 10" class="mx-auto text-center"> -->
<!--                                     <figure class="square-photo border bg-grey mx-auto my-4 position-relative"> -->
<!--                                         <img :id="'img'+i" :src="imgUrl[i-1]" alt="" class="img-cover img-preview-wrap"> -->
<!--                                         <figcaption v-if="i==1" class="position-absolute bg-dark w-100 op-6 text-white small main-cap letter-spacing-s text-center">主圖片</figcaption> -->
<!--                                     </figure> -->
<!--                                     <button v-if="imgUrl[i-1]" @click="editImg" class="btn btn-accent m-1">變更</button> -->
<!--                                     <button v-if="imgUrl[i-1] && (i !==1)" @click="deleteImg" class="btn btn-outline-danger m-1">刪除</button> -->
<!--                                     <button v-if="!imgUrl[i-1]" @click="addImg" class="btn btn-accent m-1">新增</button> -->
<!--                                 </div> -->
<!--                             </div> -->
                            <div class="d-flex flex-wrap">
                                <div v-for="img in imgUrl" class="mx-auto text-center">
                                    <figure class="square-photo border bg-grey mx-auto my-4 position-relative">
                                        <img :id="img.imageID"  :src="img.img" alt="" class="img-cover img-preview-wrap">
                                        <figcaption v-if="img.isMain==true" class="position-absolute bg-dark w-100 op-6 text-white small main-cap letter-spacing-s text-center">主圖片</figcaption>
                                    </figure>
                                    <button v-if="img.isMain!=true" @click="showSetMainModal(img.imageID)" type="button" class="btn btn-accent m-1">設定</button>
                                    <button v-if="img.isMain!=true" :data-id="img.imageID" type="button" @click="deleteImg(img.imageID)" class="btn btn-outline-danger m-1">刪除</button>
                                </div>
                            </div>
                            <button @click="addImg" class="d-block my-4 mx-auto btn btn-accent m-1">新增一張圖片</button>
                            
                            <!-- upload img popup -->
                            <div ref="uploadModal" class="modal fade bd-example-modal-sm px-5 input-modal" tabindex="-1"
                                role="dialog" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
                                    <div class="modal-content pop-up">
                                        <div class="modal-body text-center p-4">
                                            <p class="my-3 font-weight-bold letter-spacing-s">請選擇圖片</p>
                                            <input ref="fileInput" type="file" accept="image/*"
                                                class="form-control">
                                        </div>
                                        <p ref="uploadError" class="text-danger text-center small"></p>
                                        <div class="modal-footer justify-content-center p-0 mb-3 border-0">
                                            <button type="button" class="btn btn-danger-s m-2 px-4 cancelBtn"
                                                data-dismiss="modal">取消</button>
                                            <button @click="uploadImg" type="button"
                                                class="submitBtn btn btn-accent m-2 px-4">確定</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- img set main popup -->
                            <div ref="setMainModal" class="modal fade bd-example-modal-sm px-5 input-modal" tabindex="-1"
                                role="dialog" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
                                    <div class="modal-content pop-up">
                                        <div class="modal-body text-center p-4">
                                            <p class="my-3 font-weight-bold letter-spacing-s">確認設定為主要圖片？</p>
                                        </div>
                                        <div class="modal-footer justify-content-center p-0 mb-3 border-0">
                                            <button type="button" class="btn btn-danger-s m-2 px-4 cancelBtn"
                                                data-dismiss="modal">取消</button>
                                            <button @click="setMain(setMainImageID)" type="button"
                                                class="submitBtn btn btn-accent m-2 px-4">確定</button>
                                        </div>
                                    </div>
                                </div>
                            </div>                            
                            
                        </div>
                    </form>
                </main>
            </div>
            <!-- success & error Msg -->
            <div th:replace="part/_popupMsg ::div"></div>

        </div>
        <script th:src="@{/js/common.js}"></script>
        <script th:src="@{/js/lib/bootstrap-datetimepicker.min.js}"></script>
        <script th:src="@{/js/loadingoverlay.min.js}"></script>
        <script th:inline="javascript">
            adminShowNavCurrent($('.content-event'));

            Vue.component('tag-item', {
                props: ['tag'],
                template: `<div class="keyword-tag position-relative">
                        {{tag.tag}}
                        <button @click="delTag" :tag.prop="tag" class="delete-tag-btn no-focus bg-danger border-0 rounded-circle text-white p-0 font-weight-bold">-</button>
                    </div>`,
                methods: {
                    delTag: function (e) {
                        e.preventDefault();
                        let btn = e.target
                        this.$emit("send-delete-tag", e.target.tag);
                    }
                }
            })

            Vue.component('master-item', {
                props: ['master'],
                template: `<div class="keyword-tag position-relative">
                        {{master.masterID}}:{{master.masterName}}
                        <button @click="delMaster" :tag.prop="master.masterID" class="delete-tag-btn no-focus bg-danger border-0 rounded-circle text-white p-0 font-weight-bold">-</button>
                    </div>`,
                methods: {
                    delMaster: function (e) {
                        e.preventDefault();
                        let btn = e.target
                        this.$emit("send-delete-master", e.target.tag);
                    }
                }
            })

            var dataForm = new Vue({
                el: '#dataForm',
                component: {},
                data: {
                    selList: [], //查詢選單項目
                    countyList: [],
                    cateList: [],
                    statusList: [
                    	{id:0, name:"開放 a.「歡迎參加」:不限資格、不限費用"},
                    	{id:1, name:"開放 b.「非請勿入」:限制資格、不限費用"},
                    	{id:2, name:"開放 c.「需先繳費」:不限資格、限制費用"},
                    	{id:3, name:"開放 d.「需先報名」:限制資格、限制費用"},
                    	{id:4, name:"不開放"}
  					 ],
                    tags: [],
                    masters: [],
                    imgUrl: [],
                    cate: {
                        main: "",
                        sub: ""
                    },
                    eventInfo: {},
                    eventLink: {
                        live: "",
                        apply: ""
                    },
                    setMainImageID: null
                },
                computed: {
                	subCateList:function(){
                        	let mainCate = this.cateList.find(el=>el.mainID == this.cate.main);
	                        if(mainCate){
	//                             console.log(mainCate);
	                           return mainCate.minorTypeList;
	                        }
                        	return [];
                    	
                	},
                    startDateEditable: function () {
                        if (this.eventInfo.startTime) {
                            return this.checkOverToday(this.eventInfo.startTime);
                        }
                        return true;
                    },
                    stopDateEditable: function () {
                        if (this.eventInfo.endTime) {
                            return this.checkOverToday(this.eventInfo.endTime);
                        }
                        return true;
                    }
                },
                created: function () {
                	this.getEventCategoryList();
                    // TODO:get statusList
                    this.getCounty();
                	this.getInfo();
                },
                mounted: function () {
                    formSetSubmitting();
                    let dateInputs = this.$el.querySelectorAll('.dateP');
                    const today = new Date();
                    $(dateInputs).datetimepicker({
                        format: "yyyy-mm-dd hh:ii:ss",
                        language: 'zh-TW',
                        startTime: today,
                        todayHighlight: true,
                    });
                },
                methods: {
                    getCounty: function () {
                        axios.get('/fixedData/taiwan_county')
                            .then(response => {
                                this.countyList = [...response.data];
                            })
                            .catch(error => { // 請求失敗處理
                                console.log("get user info error:" + error);
                            });
                    },
                    getEventCategoryList:function(){
                        axios.get('/web/event/type')
                        .then(response => {
                        	if(response.data.code==200){
                        		this.cateList = [...response.data.data];	
                        	}
                        })
                        .catch(error => { // 請求失敗處理
                            console.log("get user info error:" + error);
                        });                    	
                    },
                    getInfo: function () {
                        // get ad info
                        let self = this;
                        axios
                            .get('/admin/event/' + [[${ eID }]])
                            .then(response => {
                                let res = response.data;
//                                 console.log(res);
                                if (res.code==200) {
                                    self.eventInfo = res.data.eventInfo;
                                    self.cate.main = res.data.eventInfo.mainID;
                                    self.cate.sub = res.data.eventInfo.typeID;
                                    self.tags = res.data.eventTagList;
                                    self.imgUrl = res.data.eventImgList;
//                                     console.log(self.imgUrl);
                                    self.eventLink.apply = res.data.eventInfo.signupUrl;
                                    self.eventLink.live = res.data.eventInfo.liveUrl;
                                    self.masters = [...res.data.eventRecommendList];
                                    self.mastersR = [...res.data.eventRecommendList];
                                    // set datepicker val
                                    let startD = new Date(res.data.startTime);
                                    let endD = new Date(res.data.endTime);
                                    $(this.$refs.startDate).datepicker('setDate', startD);
                                    $(this.$refs.stopDate).datepicker('setDate', endD);
                                } else {
                                    console.log("get ad info error:" + res.errMsg);
                                }
                            })
                            .catch(function (error) { // 請求失敗處理
                                console.log("get ad info error:" + error);
                            });
                    },
                    previewImg: function (e) {
                        e.preventDefault();
                        let input = this.$refs.fileInput;
                        $('.img-preview-wrap').attr('src', '');

                        if (input && input.files) {
                            let filesAmt = input.files.length;
                            if (filesAmt > 10) {
                                filesAmt = 10;
                                // showErrorMsg("照片上傳以10張為限");
                                input.setCustomValidity("照片上傳以10張為限");
                                input.nextElementSibling.innerText = input.validationMessage;
                                input.classList.add('is-invalid');
                                input.classList.remove('is-valid');
                            } else {
                                input.setCustomValidity("");
                                input.nextElementSibling.innerText = input.validationMessage;
                                input.classList.remove('is-invalid');
                                input.classList.add('is-valid');
                            }
                            for (i = 0; i < filesAmt; i++) {
                                let img = document.getElementById('img' + (i + 1));
                                var reader = new FileReader();
                                reader.onload = function (e) {
                                    img.src = e.target.result
                                    // this.headImgSrc = e.target.result;
                                }
                                reader.readAsDataURL(input.files[i]);

                            }

                        }
                    },
                    checkOverToday: function (date) {
                        const today = new Date();
                        let checkDate = new Date(date);
                        return checkDate >= today;
                    },
                    deleteImg: function(imageID){
                    	$('body').LoadingOverlay('show');
//                     	console.log(imageID);
                        axios.delete('/admin/event/image/item/' + imageID)
                        .then(function (response) { //success
                            let res = response.data;
//                             console.log(res);
                            if (res.code==204) {
                            	$('body').LoadingOverlay('hide');
                                showSuccessMsg("刪除成功");
                                errorMsg.innerText = "";
                                window.setTimeout(() => location.reload(), 2000);
                            } else {
                            	$('body').LoadingOverlay('hide');
                                errorMsg.innerText = res.errMsg;
                            }
                        }).catch(function (error) { //error
                            console.error(error);
                            $('body').LoadingOverlay('hide');
                            errorMsg.innerText = '發生系統錯誤，未送出資料';
                        })                    	
                    },
                    addImg:function(e){
                    	e.preventDefault();
                    	errorMsg.innerText = "";
                    	if(this.imgUrl.length>=10){
                    		showErrorMsg('活動圖片最多10張');
                    	}else{
                            this.showUploadModal();                    		
                    	}
                    },
                    showSetMainModal: function(imageID){
                    	let modal = this.$refs.setMainModal;
                    	this.setMainImageID = imageID;
                        errorMsg.innerText = "";
                        $(modal).modal('show');
                    },
                    setMain: function(imageID){
//                         e.preventDefault();
					    let modal = this.$refs.setMainModal;
//                         console.log(imageID);
                        axios.put('/admin/event/image/setMain/'+ imageID).then(function (response) { //success
                            let res = response.data;
//                             console.log(res);
                            if (res.code==204) {
                                $(modal).modal('hide');
                                $('body').LoadingOverlay('hide');
                                showSuccessMsg("設定圖片成功");
                                window.setTimeout(() => location.reload(), 2000);
//                                 this.headImgSrc = res.imgUrl;
                                errorMsg.innerText = "";
                                
                            } else {
                            	$('body').LoadingOverlay('hide');
                                errorMsg.innerText = res.errMsg;
                            }
                        }).catch(function (error) { //error
                        	$('body').LoadingOverlay('hide');
                            console.error(error);
                            errorMsg.innerText = '發生系統錯誤，未送出資料';
                        })                        
                    },
                    showUploadModal: function () {
                        
                        let modal = this.$refs.uploadModal;
                        let input = this.$refs.fileInput;
                        let errorMsg = this.$refs.uploadError;

                        errorMsg.innerText = "";
                        input.classList.remove('is-valid');
                        input.classList.remove('is-inValid');
                        $(modal).modal('show');
                    },
                    uploadImg: function (e) {
                    	$('body').LoadingOverlay('show');
                        let input = this.$refs.fileInput;
                        let btn = e.target;
                        let modal = this.$refs.uploadModal;
                        let errorMsg = this.$refs.uploadError;

                        errorMsg.innerText = "";
                        input.classList.remove('is-valid');
                        input.classList.remove('is-inValid');
                        btn.setAttribute("disabled", true);

                        if (input.files.length>0) {
                            input.classList.add('is-valid');
                            input.classList.remove('is-invalid');
                            // TODO:send upload ajax and get new img url>>update this.headImgSrc
                            let formData = new FormData();
                            formData.append("file", input.files[0]);
                            axios.put('/admin/event/image/item/' + [[${eID}]] , formData, {
                                headers: {
                                    'Content-Type': 'multipart/form-data'
                                }
                            }).then(function (response) { //success
                                let res = response.data;
//                                 console.log(res);
                                if (res.code==201) {
                                    btn.removeAttribute("disabled");
                                    $(modal).modal('hide');
                                    $('body').LoadingOverlay('hide');
                                    showSuccessMsg("圖片新增成功");
                                    window.setTimeout(() => location.reload(), 2000);
//                                     this.headImgSrc = res.imgUrl;
                                    errorMsg.innerText = "";
                                    
                                } else {
                                	$('body').LoadingOverlay('hide');
                                    errorMsg.innerText = res.errMsg;
                                    btn.removeAttribute("disabled");
                                }
                            }).catch(function (error) { //error
                            	$('body').LoadingOverlay('hide');
                                console.error(error);
                                errorMsg.innerText = '發生系統錯誤，未送出資料';
                                btn.removeAttribute("disabled");
                            })

                        } else {
                        	$('body').LoadingOverlay('hide');
                            input.classList.remove('is-valid');
                            input.classList.add('is-invalid');
                            btn.removeAttribute("disabled");
                        }
                    },
                    addTag: function (e) {
                        e.preventDefault();
                        let tagArr = this.tags;
                        let input = this.$refs.tagInput
                        let newTag = input.value;
                        if (newTag) {
                        	let check = true;
                        	tagArr.forEach(function(v){ //檢查重複
                        		if(v.tag.indexOf(newTag)>=0){
                        			showErrorMsg('請勿重複輸入同樣的tag');
                        			check = false;
                        			return null;
                        		}	
                        	});
                        	if(check){
                            	tagArr.push({tag:newTag});
                                input.value = "";                        		
                        	}
                        }
                    },
                    deleteTag: function (tagName) {
                        const index = this.tags.indexOf(tagName);
                        if (index > -1) {
                            this.tags.splice(index, 1);
                        }
                    },
                    addMaster: function (e) {
                        e.preventDefault();
                        let input = this.$refs.masterInput;
                        this.addMasterFunc(this.masters, input);
                    },
                    addMasterR: function (e) {
                        e.preventDefault();
                        let input = this.$refs.masterRInput;
                        this.addMasterFunc(this.mastersR, input);
                    },
                    addMasterFunc: function (masterArr,input) {
                        
                        let newTag = {};
                        newTag.masterID = input.value;

                        if (newTag.masterID) {
                            if (masterArr.findIndex(el => el.id === newTag.masterID) === -1) { //檢查重複
                                // TODO: call ajax and get master name
		                        axios.get('/web/master/' + newTag.masterID)
		                        .then(response => {
// 		                        	console.log(response);
		                        	if(response.data.code==200){
		                                newTag.masterName = response.data.data.master.publicName; //set master name
		                                masterArr.push(newTag);
// 		                                console.log(masterArr);
		                                input.value = "";
		                        	}
		                        	
		                        	if(response.data.code==404){
		                        		showErrorMsg('達人編號不存在，請再次確認');
		                        		input.value = "";
		                        	}
		                        })
		                        .catch(error => { // 請求失敗處理
		                            console.log("get user info error:" + error);
		                        });                                 
                                

                            } else {
                                showErrorMsg('請勿重複輸入同樣的達人編號');
                                input.value = "";
                            }
                        }
                    },
                    deleteMaster: function (tagID) {
                        this.deleteMasterFunc(tagID, this.masters);
                    },
                    deleteMasterR: function (tagID) {
                        this.deleteMasterFunc(tagID, this.mastersR);
                    },
                    deleteMasterFunc: function (id, arr) {
                        const index = arr.findIndex(el => el.masterID == id);
                        if (index > -1) {
                            arr.splice(index, 1);
                        }
                    },
                    checkValid: function (e) {
                        e.preventDefault();
                        let btn = this.$refs.submitBtn;
                        let form = this.$el;
                        let inputs = form.querySelectorAll('.check-input');
                        if (!form.submitting) {
                            form.submitting = true;
                            btn.setAttribute("disabled", true);
                            form.classList.add('was-validated');
//                             console.log(form.checkValidity());
                            if (form.checkValidity()) {
                                this.sendAjax();
                            } else {
                                for (var item of inputs) {
                                    item.nextElementSibling.innerText = item.validationMessage;
                                }
                                form.submitting = false;
                                btn.removeAttribute("disabled");
                            }
                        } else {
                            return false;
                        };
                    },
                    sendAjax: function () {
                    	$('body').LoadingOverlay('show');
                        let form = this.$el;
                        let btn = this.$refs.submitBtn;
                        let fd = new FormData(form); //form data
                        
                        let tagList =[];
                        [...this.tags].forEach(tag => {
                        	tagList.push(tag.tag);
                        })
                        
                        fd.append('tagList', tagList);
                        
                        let masterIDList = [];
                        [...this.masters].forEach(master => {
                        	masterIDList.push(master.masterID);
                        });
                        
                        fd.append('masterIDList', masterIDList);
//                         fd.append('mastersR', JSON.stringify(this.mastersR));

//                         for (var [key, value] of fd.entries()) { 
//                         	  console.log(key, value);
//                         	}

                        axios.put('/admin/event/' + [[${eID}]], fd, { //send ajax
                            headers: {
                                'Content-Type': 'multipart/form-data'
                            }
                        })
                            .then(function (response) { //success
                            	$('body').LoadingOverlay('hide');
//                                 console.log(response);
                                if (response.data.code==204) {
                                    showSuccessMsg("更新成功");
                                    window.setTimeout(() => location.href = "/admin/content/event-list", 2000);
                                } else {
                                    showErrorMsg(response.data.errMsg);
                                    form.submitting = false;
                                    btn.removeAttribute("disabled");
                                }
                            })
                            .catch(function (error) { //error
                            	$('body').LoadingOverlay('hide');
                                console.error(error);
                                showErrorMsg('發生系統錯誤，未送出資料');
                                form.submitting = false;
                                btn.removeAttribute("disabled");
                            });
                    }
                }
            })

            $('.input-modal').on('hidden.bs.modal', function (e) {
                $('.input-modal').find('input').val("");
            });

            $("#startDate").change(function () {
                let pushDate = $(this).val();
                $('#stopDate').datepicker('setStartDate', pushDate);
            });

            $("#stopDate").change(function () {
                let endDate = $(this).val();
                $('#startDate').datepicker('setEndDate', endDate);
            });

        </script>

</body>

</html>
