<!DOCTYPE html>
<html lang="en">
<div th:replace="admin/_admin_head ::head"></div>

<body>
    <div class="wrap admin">
        <div class="wrap index admin">
            <div th:replace="admin/part/_backstageHeader ::header"></div>
            <div class="header-space"></div>
            <div class="d-flex h-100">
                <div th:replace="admin/part/_backstageNav ::nav"></div>
                <div class="admin-nav-space"></div>
                <main class="main-session w-100 px-4">
                    <h1 class="h3 mt-5 mb-3 text-accent">新增活動</h1>
                    <!-- breadcrumb -->
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><span class="text-accent-dark op-6">內容管理</span></li>
                            <li class="breadcrumb-item"><a th:href="@{/admin/content/event-list}"
                                    class="text-accent">活動列表</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">新增活動</li>
                        </ol>
                    </nav>
                    <form id="dataForm" class="needs-validation mt-3 pt-2" novalidate method="POST">

                        <div class="row mx-0 bg-accent-dark op-8 text-light py-2 px-3">活動資訊</div>
                        <div class="border">
                            <div class="login-wrap my-4 mx-auto">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text bg-grey">活動編號</div>
                                    </div>
                                    <div class="form-control text-left bg-grey">-</div>
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text bg-white">活動名稱<span
                                                class="text-danger-s ml-1">*</span>
                                        </div>
                                    </div>
                                    <input type="text" name="name" required 
                                        class="check-input form-control rounded-right" placeholder="請輸入活動名稱">
                                    <div ref="confirmMsg" class="invalid-feedback text-right"></div>
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text bg-white">活動分類<span
                                                class="text-danger-s ml-1">*</span>
                                        </div>
                                    </div>
                                    <select name="mainID" id="" v-model="cate.main" required class="form-control check-input">
                                        <option value="" disabled>--請選擇大分類--</option>
                                        <option v-for="c in cateList" :value="c.mainID">{{c.name}}</option>
                                    </select>
                                    <select name="typeID" id="" v-model="cate.sub" required
                                        class="form-control rounded-right check-input">
                                        <option value="" disabled>--請選擇小分類--</option>
                                        <option v-for="c in subCateList" :value="c.typeID">{{c.name}}</option>
                                    </select>
                                    <div ref="confirmMsg" class="invalid-feedback text-right"></div>
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text bg-white">開始時間<span
                                                class="text-danger-s ml-1">*</span>
                                        </div>
                                    </div>
                                    <input type="text" ref="startTime" id="startTime" name="startTime" required value=""
                                        class="check-input form-control dateP rounded-right" placeholder="yyyy-MM-dd HH:mm:ss">
                                    <div ref="confirmMsg" class="invalid-feedback text-right"></div>
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text bg-white">結束時間<span
                                                class="text-danger-s ml-1">*</span>
                                        </div>
                                    </div>
                                    <input type="text" ref="stopDate" id="stopDate" name="endTime" required value=""
                                        class="check-input form-control dateP rounded-right" placeholder="yyyy-MM-dd HH:mm:ss">
                                    <div ref="confirmMsg" class="invalid-feedback text-right"></div>
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text bg-white">活動區域<span
                                                class="text-danger-s ml-1">*</span>
                                        </div>
                                    </div>
                                    <select name="county" id="" required
                                        class=" form-control check-input">
                                        <option value="">-縣市-</option>
                                        <option v-for="c in countyList" :value="c">{{c}}</option>
                                    </select>                                    
<!--                                     <input type="text" name="title" -->
<!--                                         class="check-input form-control rounded-right" placeholder="請輸入活動區域"> -->
<!--                                     <div ref="confirmMsg" class="invalid-feedback text-right"></div> -->
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text bg-white">活動場地<span
                                                class="text-danger-s ml-1">*</span>
                                        </div>
                                    </div>
                                    <input type="text" name="place" required 
                                        class="check-input form-control rounded-right" placeholder="請輸入活動場地名稱">
                                    <div ref="confirmMsg" class="invalid-feedback text-right"></div>
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text bg-white">活動地址<span
                                                class="text-danger-s ml-1">*</span>
                                        </div>
                                    </div>
                                    <input type="text" name="address" class="form-control rounded-right" required="required" placeholder="請輸入地址(排除縣市)">
                                    <div ref="confirmMsg" class="invalid-feedback text-right"></div>
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text bg-white">主辦單位</div>
                                    </div>
                                    <input type="text" name="host" class="check-input form-control rounded-right" 
                                        placeholder="請輸入主辦單位名稱">
                                    <div ref="confirmMsg" class="invalid-feedback text-right"></div>
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text bg-white">開放狀態<span
                                                class="text-danger-s ml-1">*</span>
                                        </div>
                                    </div>
                                    <select name="visibilitySN" id="" required class="form-control check-input">
                                        <option value="">--請選擇開放狀態--</option>
                                        <option v-for="c in statusList" :value="c.id">{{c.name}}</option>
                                    </select>
                                    <div ref="confirmMsg" class="invalid-feedback text-right"></div>
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text bg-white">參加費用</div>
                                    </div>
                                    <input type="number" name="fee" min="0" class="check-input form-control rounded-right"
                                        placeholder="請輸入參加費用">
                                    <div ref="confirmMsg" class="invalid-feedback text-right"></div>
                                </div>
                                <div class="input-group mb-1">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text bg-white">報名網址</div>
                                    </div>
                                    <input type="url" name="signupUrl" v-model="eventLink.apply" 
                                        class="check-input form-control rounded-right" placeholder="https://">
                                    <div ref="confirmMsg" class="invalid-feedback text-right"></div>
                                </div>
                                <p class="text-right text-accent"><a :href="eventLink.apply"
                                        :title="eventLink.apply" target="_blank">查看連結</a></p>
                                <div class="input-group mb-1">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text bg-white">直播網址</div>
                                    </div>
                                    <input type="url" name="liveUrl" v-model="eventLink.live" 
                                        class="check-input form-control rounded-right" placeholder="https://">
                                    <div ref="confirmMsg" class="invalid-feedback text-right"></div>
                                </div>
                                <p class="text-right text-accent"><a :href="eventLink.live"
                                        :title="eventLink.live" target="_blank">查看連結</a></p>
                                <div class="input-group mb-1">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text bg-white">活動簡介</div>
                                    </div>
                                    <textarea name="intro" id="" cols="30" rows="10" 
                                        class="form-control no-resize rounded-right" placeholder="請輸入活動簡介"></textarea>
                                    <div ref="confirmMsg" class="invalid-feedback text-right"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row mx-0 bg-accent-dark op-8 text-light py-2 px-3">相關達人與Tag</div>
                        <div class="border">
                            <div class="login-wrap my-4 mx-auto">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text bg-white">相關達人</div>
                                    </div>
                                    <input type="text" ref="masterInput" class="form-control" placeholder="請輸入達人ID">
                                    <div class="input-group-append">
                                        <button class="input-group-text btn btn-accent" @click="addMaster">加入</button>
                                    </div>
                                </div>
                                <div class="tag-wrap d-flex flex-wrap">
                                    <master-item v-for="m in masters" v-bind:master="m"
                                        @send-delete-master="deleteMaster"></master-item>
                                </div>
                            </div>
                            <div class="login-wrap my-4 mx-auto">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text bg-white">關鍵字</div>
                                    </div>
                                    <input type="text" ref="tagInput" class="form-control" placeholder="請輸入關鍵字">
                                    <div class="input-group-append">
                                        <button class="input-group-text btn btn-accent" @click="addTag">加入</button>
                                    </div>
                                </div>
                                <div class="tag-wrap d-flex flex-wrap">
                                    <tag-item v-for="t in tags" v-bind:tag="t" @send-delete-tag="deleteTag"></tag-item>
                                </div>
                            </div>
                        </div>
                        <div class="row mx-0 bg-accent-dark op-8 text-light py-2 px-3">上傳照片</div>
                        <div class="border">
                            <div class="d-flex flex-wrap">
                                <figure v-for="i in 10" class="square-photo border bg-grey mx-auto my-4 position-relative">
                                    <img :id="'img'+i" src="" alt="" class="img-cover img-preview-wrap">
                                    <figcaption v-if="i==1" class="position-absolute bg-dark w-100 op-6 text-white small main-cap letter-spacing-s text-center">主圖片</figcaption>
                                </figure>
                            </div>
                            <div class="form-inline mb-4">
                                <div class="input-group mx-auto">
                                    <div class="input-group-prepend" id="basic-addon1">
                                        <div class="input-group-text bg-white">選擇照片<span
                                                class="text-danger-s ml-1">*</span></div>
                                    </div>
                                    <input ref="fileInput" required multiple @change="previewImg" type="file"
                                        accept="image/*" class="form-control rounded-right check-input">
                                    <div ref="confirmMsg" class="invalid-feedback text-right"></div>
                                </div>
                            </div>
                        </div>
                        <div class="text-center pt-3 mb-5">
                            <a th:href="@{/admin/content/event-list}"
                                class="btn btn-danger-s letter-spacing-s m-1">取消</a>
                            <button ref="submitBtn" @click="checkValid"
                                class=" btn btn-bg-accent letter-spacing-s m-1">新增活動</button>
                        </div>
                    </form>
                </main>
            </div>
            <!-- success & error Msg -->
            <div th:replace="part/_popupMsg ::div"></div>

        </div>
        <script th:src="@{/js/common.js}"></script>
        <script th:src="@{/js/lib/bootstrap-datetimepicker.min.js}"></script>
        <script th:src="@{/js/loadingoverlay.min.js}"></script>
        <script th:inline="javascript">
            adminShowNavCurrent($('.content-event'));

            Vue.component('tag-item', {
                props: ['tag'],
                template: `<div class="keyword-tag position-relative">
                        {{tag}}
                        <button @click="delTag" :tag.prop="tag" class="delete-tag-btn no-focus bg-danger border-0 rounded-circle text-white p-0 font-weight-bold">-</button>
                    </div>`,
                methods: {
                    delTag: function (e) {
                        e.preventDefault();
                        let btn = e.target
                        this.$emit("send-delete-tag", e.target.tag);
                    }
                }
            })

            Vue.component('master-item', {
                props: ['master'],
                template: `<div class="keyword-tag position-relative">
                        {{master.id}}:{{master.name}}
                        <button @click="delMaster" :tag.prop="master.id" class="delete-tag-btn no-focus bg-danger border-0 rounded-circle text-white p-0 font-weight-bold">-</button>
                    </div>`,
                methods: {
                    delMaster: function (e) {
                        e.preventDefault();
                        let btn = e.target
                        this.$emit("send-delete-master", e.target.tag);
                    }
                }
            })

            var dataForm = new Vue({
                el: '#dataForm',
                component: {},
                data: {
                    selList: [], //查詢選單項目
                    countyList: [],
                    cateList: [],
                    statusList: [
                    	{id:0, name:"開放 a.「歡迎參加」:不限資格、不限費用"},
                    	{id:1, name:"開放 b.「非請勿入」:限制資格、不限費用"},
                    	{id:2, name:"開放 c.「需先繳費」:不限資格、限制費用"},
                    	{id:3, name:"開放 d.「需先報名」:限制資格、限制費用"},
                    	{id:4, name:"不開放"}
  					 ],
                    tags: [],
                    masters: [],
                    cate:{
                        main:"",
                        sub:""
                    },
                    eventLink: {
                        live: "",
                        apply: ""
                    }
                },
                computed:{
                    subCateList:function(){
                        let mainCate = this.cateList.find(el=>el.mainID == this.cate.main);
                        if(mainCate){
//                             console.log(mainCate);
                            return mainCate.minorTypeList;
                        }
                        return [];
                    }
                },
                created: function () {
                    this.getEventCategoryList();
                    // TODO:get statusList
                    this.getCounty();
                },
                mounted: function () {
                    formSetSubmitting();
                    let dateInputs = this.$el.querySelectorAll('.dateP');
                    const today = new Date();
                    $(dateInputs).datetimepicker({
                        format: "yyyy-mm-dd hh:ii:ss",
                        language: 'zh-TW',
                        startTime: today,
                        todayHighlight: true,
                    });
                },
                methods: {
                    getCounty: function () {
                        axios.get('/fixedData/taiwan_county')
                            .then(response => {
                                this.countyList = [...response.data];
                            })
                            .catch(error => { // 請求失敗處理
                                console.log("get user info error:" + error);
                            });
                    },
                    getEventCategoryList:function(){
                        axios.get('/web/event/type')
                        .then(response => {
                        	if(response.data.code==200){
                        		this.cateList = [...response.data.data];	
                        	}
                        })
                        .catch(error => { // 請求失敗處理
                            console.log("get user info error:" + error);
                        });                    	
                    },
                    previewImg: function (e) {
                        e.preventDefault();
                        let input = this.$refs.fileInput;
                        $('.img-preview-wrap').attr('src', '');

                        if (input && input.files) {
                            let filesAmt = input.files.length;
                            if (filesAmt > 10) {
                                filesAmt = 10;
                                // showErrorMsg("照片上傳以10張為限");
                                input.setCustomValidity("照片上傳以10張為限");
                                input.nextElementSibling.innerText = input.validationMessage;
                                input.classList.add('is-invalid');
                                input.classList.remove('is-valid');
                            } else {
                                input.setCustomValidity("");
                                input.nextElementSibling.innerText = input.validationMessage;
                                input.classList.remove('is-invalid');
                                input.classList.add('is-valid');
                            }
                            for (i = 0; i < filesAmt; i++) {
                                let img = document.getElementById('img' + (i + 1));
                                var reader = new FileReader();
                                reader.onload = function (e) {
                                    img.src = e.target.result
                                    // this.headImgSrc = e.target.result;
                                }
                                reader.readAsDataURL(input.files[i]);
                            }
                        }
                    },
                    addTag: function (e) {
                        e.preventDefault();
                        let tagArr = this.tags;
                        let input = this.$refs.tagInput
                        let newTag = input.value;
                        if (newTag) {
                            if (tagArr.indexOf(newTag) < 0) { //檢查重複
                                tagArr.push(newTag);
                                input.value = "";
                            } else {
                                showErrorMsg('請勿重複輸入同樣的tag');
                            }

                        }
                    },
                    deleteTag: function (tagName) {
                        const index = this.tags.indexOf(tagName);
                        if (index > -1) {
                            this.tags.splice(index, 1);
                        }
                    },
                    addMaster:function(e){
                        e.preventDefault();
                        let input = this.$refs.masterInput;
                        this.addMasterFunc(this.masters, input);
                    },
                    addMasterR:function(e){
                        e.preventDefault();
                        let input = this.$refs.masterRInput;
                        this.addMasterFunc(this.mastersR, input);
                    },
                    addMasterFunc: function (masterArr,input) {
                        
                        let newTag = {};
                        newTag.id = input.value;

                        if (newTag.id) {
                            if (masterArr.findIndex(el => el.id === newTag.id) === -1) { //檢查重複
                                // TODO: call ajax and get master name
		                        axios.get('/web/master/' + newTag.id)
		                        .then(response => {
		                        	if(response.data.code==200){
		                                newTag.name = response.data.data.master.publicName; //set master name
		                                masterArr.push(newTag);
		                                input.value = "";
		                        	}
		                        	
		                        	if(response.data.code==404){
		                        		showErrorMsg('達人編號不存在，請再次確認');
		                        		input.value = "";
		                        	}
		                        })
		                        .catch(error => { // 請求失敗處理
		                            console.log("get user info error:" + error);
		                        });                                 
                                

                            } else {
                                showErrorMsg('請勿重複輸入同樣的達人編號');
                                input.value = "";
                            }
                        }
                    },
                    deleteMaster: function (tagID) {
                        this.deleteMasterFunc(tagID,this.masters);
                    },
                    deleteMasterFunc:function(id,arr){
                        const index = arr.findIndex(el => el.id == id);
                        if (index > -1) {
                            arr.splice(index, 1);
                        }
                    },
                    checkValid: function (e) {
                        e.preventDefault();
                        let btn = this.$refs.submitBtn;
                        let form = this.$el;
                        let inputs = form.querySelectorAll('.check-input');
                        if (!form.submitting) {
                            form.submitting = true;
                            btn.setAttribute("disabled", true);
                            form.classList.add('was-validated');
//                             console.log(form.checkValidity());
                            if (form.checkValidity()) {
                                this.sendAjax();
                            } else {
                                for (var item of inputs) {
                                    item.nextElementSibling.innerText = item.validationMessage;
                                }
                                form.submitting = false;
                                btn.removeAttribute("disabled");
                            }
                        } else {
                            return false;
                        };
                    },
                    sendAjax: function () {
                    	$('body').LoadingOverlay('show');
                        let form = this.$el;
                        let btn = this.$refs.submitBtn;
                        let fd = new FormData(form); //form data
                        let imgFiles = this.$refs.fileInput.files;
                        [...imgFiles].forEach(file => {
                            fd.append("files", file)
                        });
                        fd.append('tagList', this.tags);
                        let masterIDList = [];
                        [...this.masters].forEach(master => {
                        	masterIDList.push(master.id);
                        });
                        
                        fd.append('masterIDList', masterIDList);
//                         for (var [key, value] of fd.entries()) { 
//                         	  console.log(key, value);
//                         	}
                        axios.post('/admin/event', fd, { //send ajax
                            headers: {
                                'Content-Type': 'multipart/form-data'
                            }
                        })
                            .then(function (response) { //success
//                                 console.log(response);
                                if (response.data.code==201) {
                                	$('body').LoadingOverlay('hide');
                                    showSuccessMsg("新增成功");
                                    window.setTimeout(() => location.href = "/admin/content/event-list", 2000);
                                } else {
                                	$('body').LoadingOverlay('hide');
                                    showErrorMsg(response.data.errMsg);
                                    form.submitting = false;
                                    btn.removeAttribute("disabled");
                                }
                            })
                            .catch(function (error) { //error
                            	$('body').LoadingOverlay('hide');
                                console.error(error);
                                showErrorMsg('發生系統錯誤，未送出資料');
                                form.submitting = false;
                                btn.removeAttribute("disabled");
                            });
                    }
                }
            })

            $('.input-modal').on('hidden.bs.modal', function (e) {
                $('.input-modal').find('input').val("");
            });

            $("#startDate").change(function () {
                let pushDate = $(this).val();
                $('#stopDate').datepicker('setStartDate', pushDate);
            });

            $("#stopDate").change(function () {
                let endDate = $(this).val();
                $('#startDate').datepicker('setEndDate', endDate);
            });

        </script>

</body>

</html>
