<!DOCTYPE html>
<html lang="en">
<div th:replace="frount/_frount_head.html ::head"></div>


<body>
    <div id="godList"
         class="wrap list god-list">
        <div th:replace="frount/part/_frountHeader ::header"></div>
        <!-- breadcrumb -->
        <div class="container">
            <div class="row">
                <!-- <div class="col-1 col-lg-12">
                    <div class="backButton backButton-hover">
                        <a class="no-underline"
                           href="#">
                            <i class="fas fa-chevron-left"></i>
                            <span>回地圖</span>
                        </a>
                    </div>
                </div> -->
                <div class="col-11 col-lg-6 offset-lg-3">
                    <div class="row">
                        <nav class="w-auto"
                             aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a class="text-center no-underline"
                                       href="/index">首頁</a></li>
                                <li class="breadcrumb-item active"
                                    aria-current="page">
                                    <a class="text-center no-underline"
                                       href="#">封神榜</a></li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-lg p-0">
            <div class="row mb-5">
                <!-- 搜尋 -->
                <div class="col-12 col-lg-3">
                    <div class="bg-accent lg-rounded-10px py-4">
                        <div class="container">
                            <span class="text-left text-white pb-2 text-sl d-block">篩選</span>
                            <div class="d-flex flex-lg-column flex-md-row flex-column">
                                <select v-model="mainID"
                                        v-on:change="getMiddleTypeList"
                                        class="form-control my-2">
                                    <option value="">請選擇大分類</option>
                                    <option v-for="mainType in mainTypeList"
                                            v-bind:value="mainType.mainID">{{mainType.name}}</option>
                                </select>
                                <select v-model="midID"
                                        v-on:change="getMinorTypeList"
                                        v-bind:disabled="mainID==''"
                                        class="form-control my-2">
                                    <option value="">請選擇中分類</option>
                                    <option v-for="middleType in middleTypeList"
                                            v-bind:value="middleType.midID">{{middleType.name}}</option>
                                </select>
                                <select v-model="typeID"
                                        v-bind:disabled="midID==''"
                                        class="form-control my-2">
                                    <option value="">請選擇小分類</option>
                                    <option v-for="minorType in minorTypeList"
                                            v-bind:value="minorType.typeID">{{minorType.name}}</option>
                                </select>
                            </div>
                            <button v-on:click="getLegendList()"
                                    type="button"
                                    class="btn-accent bg-accent mt-3 w-100">
                                <i class="fas fa-map-marker-alt"></i>搜尋</button>
                        </div>
                    </div>
                </div>
                <!-- 卡片 -->
                <div class="col-lg-9 bg-grey-light rounded-10px pb-5">
                    <div class="row">
                        <div class="col-12">
                            <h4 class="text-accent font-weight-bold border-accent-left-4 ml-4 my-4 pl-2">封神榜</h4>
                        </div>
                        <!-- empty msg -->
                        <div v-if="emptyData"
                             class="empty-msg letter-spacing-s mx-5">{{emptyMsg}}</div>
                    </div>
                    <div class="row justify-content-between px-5">
                        <a v-for="legend in legendList"
                           class="col-12 col-md-5 god-card px-4 mb-3 no-underline"
                           v-bind:href="'/master/master-detail/'+legend.masterID">
                            <div class="row px-2 border-grey-bottom py-4">
                                <div class="col-4 col-3 position-ralative p-0">
                                    <div class="master-pic-wrap">
                                        <img class="master-pic master-pic-border-grey p-1 w-100"
                                             v-bind:src="legend.img ? legend.img : '/image/nopic.gif'" @error="imageLoadError"
                                             alt="封神">
                                    </div>
                                </div>
                                <div class="col-8 pt-5 pt-md-4">
                                    <h5 class="mb-1">{{legend.publicName}}</h5>
                                    <span class="d-block text-danger-dark-s" v-if="legend.death">封神於 {{legend.death}}</span>
                                </div>
                            </div>
                            <div class="row px-2 py-4">
                                <span v-for="tag in legend.tagList"
                                      class="accent-tag text-ms">#{{tag.tag}}</span>
                            </div>
                        </a>
                    </div>
                </div>

                <div ref="pagination"
                     class="pagination-wrap simple-pagination light-theme"></div>
            </div>
        </div>

    </div>
    <div th:replace="frount/part/_frountFooter ::footer"></div>
    <div th:replace="frount/part/_allowGeoPosition.html ::div"></div>
    <div th:replace="frount/part/_popupNotice ::div"></div>
    <div th:replace="part/_popupMsg ::div"></div>
    </div>
    <script th:src="@{/js/common.js}"></script>
    <script th:src="@{/js/frount/_frountCommon.js}"></script>
    <script th:src="@{/js/frount/_allowGeoPosition.js}"></script>
    <script th:inline="javascript">
        var godList = new Vue({
            mixins: [allowGeoPosition],
            el: "#godList",
            data: {
                mainTypeList: [],
                middleTypeList: [],
                minorTypeList: [],
                mainID: "",
                midID: "",
                typeID: "",
                legendList: [],
                showData: 'master',
                emptyMsg: '查無符合條件資料'
            },
            methods: {
                imageLoadError (e) {
                    e.target.src = '/image/nopic.gif';
                },            	
                clearType: function () {
                    this.mainTypeList = [];
                    this.middleTypeList = [];
                    this.minorTypeList = [];
                    this.mainID = "";
                    this.midID = "";
                    this.typeID = "";
                },
                // 取得大分類
                getTypeList: function () {
                    let vm = this,
                        showData = this.showData;
                    this.clearType();
                    axios
                        .get('/web/' + showData + '/type')
                        .then(response => {
                            let res = response.data;
                            //                             console.log(res);
                            if (res.code == 200) {
                                vm.mainTypeList = res.data;
                            } else {
                                console.log("get user info error:" + res.errMsg);
                            }
                        })
                        .catch(function (error) { // 請求失敗處理
                            console.log("get user info error:" + error);
                        });
                },
                clearMiddleType: function () {
                    this.middleTypeList = [];
                    this.minorTypeList = [];
                    this.midID = "";
                    this.typeID = "";
                },
                // 取得中分類
                getMiddleTypeList: function () {
                    var vm = this,
                        returnObj = {};
                    this.clearMiddleType();
                    vm.middleTypeList = vm.mainTypeList.find(function (item) {
                        return item.mainID == vm.mainID;
                    }).middleTypeList
                },
                clearMinorTypeType: function () {
                    this.minorTypeList = [];
                    this.typeID = "";
                },
                // 取得小分類
                getMinorTypeList: function () {
                    var vm = this;
                    this.clearMinorTypeType();
                    // 有大中小分類
                    vm.minorTypeList = vm.middleTypeList.find(function (item) {
                        return item.midID == vm.midID;
                    }).minorTypeList
                },
                getLegendListInit: function () {
                    let vm = this;
                    axios
                        .get('/web/master/legend')
                        .then(response => {
                            let res = response.data;
                            console.log(res);
                            if (res.code == 200) {
                                vm.legendList = res.data;
                            } else {
                                console.log("get user info error:" + res.errMsg);
                            }
                        })
                        .catch(function (error) { // 請求失敗處理
                            console.log("get user info error:" + error);
                        });
                },
                getLegendList: function () {
                    let vm = this,
//                         sendData =
//                             "mainID=" + vm.mainID +
//                             "&midID=" + vm.midID +
//                             "&typeID=" + vm.typeID;
                    sendData = {
                    		mainID : vm.mainID,
                    		midID : vm.midID,
                    		typeID : vm.typID
                    		};
                    
                    console.log(sendData);
                    
                    axios
                        .get('/web/master/legend' , {params : sendData})
                        .then(response => {
                            let res = response.data;
                            console.log(res);
                            if (res.code == 200) {
                                vm.legendList = res.data;
                            } else if (res.code == 404) {
                                vm.legendList = [];
                            }
                            else {
                                console.log("get user info error:" + res.errMsg);
                            }
                        })
                        .catch(function (error) { // 請求失敗處理
                            console.log("get user info error:" + error);
                        });
                }
            },
            created: function () {
                this.getLegendListInit();
            },
            mounted: function () {
                this.getTypeList();
            },
            computed: {
                emptyData: function () {
                    return this.legendList.length == 0;
                }
            }
        })
    </script>

</body>

</html>