<!DOCTYPE html>
<html lang="en">
<div th:replace="frount/_frount_head.html ::head"></div>


<body>
    <div id="heroList"
         class="wrap list hero-list">
        <div th:replace="frount/part/_frountHeader ::header"></div>
        <!-- breadcrumb -->
        <div class="container">
            <div class="row">
                <!-- <div class="col-1 col-lg-12">
               <div class="backButton backButton-hover">
                   <a class="no-underline"
                      href="#">
                       <i class="fas fa-chevron-left"></i>
                       <span>回地圖</span>
                   </a>
               </div>
           </div> -->
                <div class="col-11 col-lg-6 offset-lg-3">
                    <div class="row">
                        <nav class="w-auto"
                             aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a class="text-center no-underline"
                                       href="/index">首頁</a></li>
                                <li class="breadcrumb-item active"
                                    aria-current="page">
                                    <a class="text-center no-underline"
                                       href="#">群英會</a></li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-lg p-0">
            <div class="row mb-5">
                <!-- 搜尋 -->
                <div class="col-12 col-lg-3">
                    <div class="bg-accent lg-rounded-10px py-4">
                        <div class="container">
                            <span class="text-left text-white pb-2 text-sl d-block">篩選</span>
                            <div class="d-flex flex-lg-column flex-md-row flex-column">
                                <select v-model="selectedCountry"
                                        class="form-control my-2">
                                    <option value=""
                                            disabled>請選擇地區</option>
                                    <option v-for="country in countryList"
                                            v-bind:value="country">{{country}}</option>
                                </select>
                                <select v-model="mainID"
                                        v-on:change="getMiddleTypeList"
                                        class="form-control my-2">
                                    <option value=""
                                            disabled>請選擇大分類</option>
                                    <option v-for="mainType in mainTypeList"
                                            v-bind:value="mainType.mainID">{{mainType.name}}</option>
                                </select>
                                <select v-model="midID"
                                        v-on:change="getMinorTypeList"
                                        v-bind:disabled="mainID==''"
                                        class="form-control my-2">
                                    <option value=""
                                            disabled>請選擇中分類</option>
                                    <option v-for="middleType in middleTypeList"
                                            v-bind:value="middleType.midID">{{middleType.name}}</option>
                                </select>
                                <select v-model="typeID"
                                        v-bind:disabled="midID==''"
                                        class="form-control my-2">
                                    <option value=""
                                            disabled>請選擇小分類</option>
                                    <option v-for="minorType in minorTypeList"
                                            v-bind:value="minorType.typeID">{{minorType.name}}</option>
                                </select>
                            </div>
                            <button v-on:click="getHeroList()"
                                    type="button"
                                    class="btn-accent bg-accent mt-3 w-100">
                                <i class="fas fa-map-marker-alt"></i>搜尋</button>
                        </div>
                    </div>
                </div>
                <!-- 卡片 -->
                <div class="col-lg-9 bg-grey-light rounded-10px pb-5">
                    <div class="row">
                        <div class="col-12">
                            <h4 class="text-accent font-weight-bold border-accent-left-4 ml-4 my-4 pl-2">群英會</h4>
                        </div>
                        <div v-if="emptyData"
                             class="empty-msg letter-spacing-s mx-5">{{emptyMsg}}</div>
                    </div>
                    <a v-for="hero in heroList"
                       v-bind:href="'/master/master-detail/'+ hero.masterID"
                       class="row no-underline master-list-item mx-0 mb-4 bg-white">
                        <div class="col-lg-2 col-md-2 col-3 px-0">
                            <div class="master-pic-wrap">
                                <img class="master-pic master-pic-border-grey p-1 w-100"
                                     v-bind:src="hero.img ? hero.img:'/image/nopic.gif'" @error="imageLoadError"
                                     alt="達人"></div>
                        </div>
                        <div class="col-lg-10 col-md-10 col-9">
                            <h4 class="text-accent">{{hero.publicName}}</h4>
                            <p class="d-none d-md-block">{{hero.intro}}</p>
                            <span v-for="tag in hero.tagList"
                                  class="accent-tag">#{{tag.tag}}</span>
                        </div>
                        <div class="col-12">
                            <p class="d-block d-md-none mt-4 w-100 list-information-text-2-line-height">{{hero.intro}}</p>
                            <span
                                  class="float-right text-right text-grey underline text-small d-inline-block mt-2">了解更多</span>
                        </div>
                    </a>
                </div>

                <div ref="pagination"
                     class="pagination-wrap simple-pagination light-theme"></div>
            </div>
        </div>

    </div>
    <script th:src="@{/js/common.js}"></script>
    <script th:src="@{/js/frount/_frountCommon.js}"></script>
    <script th:src="@{/js/frount/_allowGeoPosition.js}"></script>
    <script th:inline="javascript">
        var heroList = new Vue({
            mixins: [allowGeoPosition],
            el: "#heroList",
            data: {
                heroList: [],
                countryList: [],
                selectedCountry: "",
                mainTypeList: [],
                middleTypeList: [],
                minorTypeList: [],
                mainID: "",
                mainName: "",
                midID: "",
                midName: "",
                typeID: "",
                typeName: "",
                queryParam: {},
                emptyMsg: '查無符合條件資料'
            },
            methods: {
                imageLoadError (e) {
                    e.target.src = '/image/nopic.gif';
                },            	
                redirectPage: function () {
                    let queryString;
                    this.queryParam = {
                        showData: "master",
                        selectedCountry: this.selectedCountry,
                        mainID: this.mainID,
                        midID: this.midID,
                        typeID: this.typeID,
                        lat: this.position.lat,
                        lng: this.position.lng
                    }
                    queryString = convertObjectToQueryString(this.queryParam);
                    window.location.href = "/master/master-list?" + queryString;
                },
                clearData: function (clearTo) {
                    // minor
                    this.minorTypeList = [];
                    this.minorID = "";

                    if (clearTo == "main") {
                        this.mainTypeList = [];
                        this.mainID = "";
                        this.middleTypeList = [];
                        this.midID = "";
                    } else if (clearTo == "middle") {
                        this.middleTypeList = [];
                        this.midID = "";
                    }
                },
                // 取得大分類
                getMainTypeList: function () {
                    let vm = this;
                    //                     this.clearData("main");
                    axios
                        .get('/web/master/type')
                        .then(response => {
                            let res = response.data;
                            //                             console.log(res);
                            if (res.code == 200) {
                                vm.mainTypeList = res.data;
                            } else {
                                console.log("get user info error:" + res.errMsg);
                            }
                        })
                        .catch(function (error) { // 請求失敗處理
                            console.log("get user info error:" + error);
                        });
                },
                // 取得中分類
                getMiddleTypeList: function () {
                    var vm = this;
                    //                     this.clearData("middle");
                    console.log(vm.mainTypeList);
                    vm.middleTypeList = vm.mainTypeList.find(function (item) {
                        return item.mainID == vm.mainID;
                    }).middleTypeList
                    vm.midID = "";
                    vm.typeID = "";
                },
                // 取得小分類
                getMinorTypeList: function () {
                    var vm = this;
                    //                     this.clearData("minor");
                    // 有大中小分類
                    vm.minorTypeList = vm.middleTypeList.find(function (item) {
                        return item.midID == vm.midID;
                    }).minorTypeList;
                    vm.typeID = "";
                },
                getOnloadedTypeList: function (mainID, midID) {
                    let vm = this;
                    axios
                        .get('/web/master/type')
                        .then(response => {
                            let res = response.data;
                            if (res.code == 200) {
                                vm.mainTypeList = res.data;
                                vm.middleTypeList = vm.mainTypeList.find(function (item) {
                                    return item.mainID == vm.mainID;
                                }).middleTypeList;
                                vm.minorTypeList = vm.middleTypeList.find(function (item) {
                                    return item.midID == vm.midID;
                                }).minorTypeList;
                                vm.mainName = vm.mainTypeList.find(function (item) {
                                    return item.mainID == vm.mainID
                                }).name;
                                vm.midName = vm.middleTypeList.find(function (item) {
                                    return item.midID == vm.midID;
                                }).name;
                                vm.typeName = vm.minorTypeList.find(function (item) {
                                    return item.typeID == vm.typeID;
                                }).name;
                            } else {
                                console.log("get user info error:" + res.errMsg);
                            }
                        })
                        .catch(function (error) { // 請求失敗處理
                            console.log("get user info error:" + error);
                        });
                    console.log(vm.mainTypeList);

                },
                getCountryList: function () {
                    let vm = this;
                    axios
                        .get('/web/county')
                        .then(response => {
                            let res = response.data;
                            //                             console.log(res);
                            if (res.code == 200) {
                                vm.countryList = res.data;
                            } else {
                                console.log("get user info error:" + res.errMsg);
                            }
                        })
                        .catch(function (error) { // 請求失敗處理
                            console.log("get user info error:" + error);
                        });
                },
                getHeroList: function () {
                    var vm = this;

                    this.getPosition(function () {
                        var sendData =
                            "lat=" + vm.position.lat +
                            "&lng=" + vm.position.lng;
                        if (vm.selectedCountry != '') {
                            sendData += "&county=" + vm.selectedCountry;
                        }
                        if (vm.mainID != '') {
                            sendData += "&mainID=" + vm.mainID;
                        }
                        if (vm.midID != '') {
                            sendData += "&midID=" + vm.midID;
                        }
                        if (vm.typeID != '') {
                            sendData += "&typeID=" + vm.typeID;
                        }
                        
                        axios
                            .get('/web/master/elite?' + sendData)
                            .then(response => {
                                let res = response.data;
//                                 console.log(res);
                                if (res.code == 200) {
                                    vm.heroList = res.data;
                                } else {
                                	vm.heroList = [];
                                    console.log("get user info error:" + res.errMsg);
                                }
                            })
                            .catch(function (error) { // 請求失敗處理
                                console.log("get user info error:" + error);
                            });
                    })
                }
            },
            computed: {
                emptyData: function () {
                    return this.heroList.length == 0;
                }
            },
            mounted: function () {
                this.getMainTypeList()
                this.getCountryList();
                this.getOnloadedTypeList(this.mainID, this.midID);
                this.getHeroList();

            }
        })
    </script>

</body>

</html>