<!DOCTYPE html>
<html lang="en">
<div th:replace="frount/_frount_head.html ::head"></div>

<body>
    <div v-cloak
         v-if="hasLoaded"
         id="masterDetail"
         class="wrap master-detail ">
        <div th:replace="frount/part/_frountHeader ::header"></div>
        <!-- breadcrumb -->
        <div class="container px-0">
    	    <div class="col-12 col-lg-6 px-0">
	            <div class="row">
	                <nav aria-label="breadcrumb" class="w-auto">
	                    <ol class="breadcrumb">
	                        <li class="breadcrumb-item">
	                            <a class="text-center no-underline"
	                               href="/index">首頁</a></li>
	                        <li class="breadcrumb-item">
	                            <a class="text-center no-underline"
	                               href="/master/master-list">達人</a></li>
	                        <li class="breadcrumb-item d-none d-md-block">
	                            <a class="text-center no-underline"
	                               v-bind:href="'/master/master-list?mainID=' + masterDetail.mainID">{{masterDetail.mainTypeName}}</a></li>
	                        <li class="breadcrumb-item d-none d-md-block">
	                            <a class="text-center no-underline"
	                               v-bind:href="'/master/master-list?midID=' + masterDetail.middleID">{{masterDetail.middleTypeName}}</a></li>
	                        <li class="breadcrumb-item active d-block"
	                            aria-current="page">
	                            <a class="text-center no-underline"
	                               v-bind:href="'/master/master-list?typeID=' + masterDetail.typeID">{{masterDetail.typeName}}</a></li>	                                	                                
	                    </ol>
	                </nav>	            	
	            </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <!-- 大網左側 -->
                <div class="d-block col-md-5 col-lg-4 p-md-2">
                    <div class="master-pic-wrap">
                        <img class="master-pic master-pic-border-grey p-1 w-100"
                             v-bind:src="masterDetail.img ??'/image/nopic.gif'"
                             alt="達人">
                    </div>
                    <div class="container-fluid d-none d-lg-block">
                        <div class="row">
                            <div class="col-md-12 col-lg-2 p-0 my-2">
                                <span class="information-title">專&emsp;&emsp;長：</span>
                            </div>
                            <div class="col-md-12 p-0">
                                <span v-for="tag in tagList"
                                      class="master-hashtag text-ms">#{{tag.tag}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 大網右側 -->
                <div class="col-12 col-md-7 col-lg-7 p-2 pl-md-5 pr-0">
                    <h3>{{masterDetail.publicName}}
                        <span v-if="masterDetail.alive"
                              class="d-inline-block status-tag bg-danger-red ml-3 px-2 py-1 vertical-middle">群英會</span>
                        <span v-if="!masterDetail.alive"
                              class="d-inline-block status-tag bg-grey-dark ml-3 px-2 py-1 vertical-middle">封神</span>
                    </h3>
                    <div class="mb-2">
                        <span class="blue-tag text-accent pr-3"><img class="mr-1 d-inline"
                                 src="/image/eye.png"
                                 alt="點閱次數">點閱次數: {{masterDetail.click ?? 0}}</span>
                        <span class="blue-tag text-accent"><img class="mr-1 d-inline"
                                 src="/image/bookmark-white.png"
                                 alt="收藏人數">收藏人數: {{masterDetail.follow ?? 0}}</span>
                    </div>
                    <ul class="master-information p-0">
                        <li v-if="masterDetail.alive==true">
                            <span class="information-title">聯絡電話：</span>
                            <span class="information-text">{{masterDetail.phone?? '-'}}</span>
                        </li>
                        <li v-if="masterDetail.alive==true">
                            <span class="information-title">地&emsp;&emsp;址：</span>
                            <span class="information-text">{{masterDetail.county}}{{masterDetail.address}}</span>
                        </li>
                        <li v-if="masterDetail.alive==true">
                            <span class="information-title">電子郵件：</span>
                            <span class="information-text">{{masterDetail.mail ?? '-'}}</span>
                        </li>
                        <li v-if="masterDetail.alive==true">
                            <span class="information-title">相關網站：</span>
                            <a v-bind:href="masterDetail.website"
                               type="_blank"
                               rel="noreferrer"
                               class="text-accent">{{masterDetail.website?? '-'}}</a>
                        </li>
                        <li v-if="masterDetail.alive==true">
                            <span class="information-title">Line&emsp;ID：</span>
                            <span class="information-text">{{masterDetail.lineID?? '-'}}</span>
                        </li>
                        <li v-if="masterDetail.alive==true">
                            <span class="information-title">Facebook：</span>
                            <a v-bind:href="masterDetail.facebook"
                               type="_blank"
                               rel="noreferrer"
                               class="text-accent">{{masterDetail.facebook?? '-'}}</a>
                        </li>
                        <li v-if="masterDetail.alive==true">
                            <span class="information-title">工作單位：</span>
                            <span class="information-text">{{masterDetail.company?? '-'}}</span>
                        </li>
                        <li>
                            <span class="information-title">簡介：</span>
                            <span class="information-text">{{masterDetail.intro?? '-'}}</span>
                        </li>
                        <li v-if="masterDetail.alive!=true">
                            <span class="information-title">封神事蹟：</span>
                            <span class="information-text">{{masterDetail.legend?? '-'}}</span>
                        </li>
                        <li>
                            <span class="information-title">推&nbsp;薦&nbsp;人：</span>
                            <span class="information-text">
                                <span v-for="rec in recommendList"
                                      class="d-inline-block">{{rec ? rec.name :'-'}}</span>
                            </span>
                        </li>
                        <li>
                            <div 
                                 class="container-fluid d-md-block d-lg-none d-none">
                                <div class="row">
                                    <div class="col-2 p-0 my-2">
                                        <span class="information-title">專&emsp;&emsp;長：</span>
                                    </div>
                                    <div class="col-10 p-0 pl-md-4 p-lg-0 m-0">
                                        <span v-for="tag in tagList"
                                              class="master-hashtag text-ms">#{{tag.tag}}</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <a class="add-to-favorite-button col-12 col-md-10 col-lg-8 no-underline mb-3 offset-md-1 offset-lg-2"
                       href="#" @click="followMaster" v-if="masterDetail.isFollowed==false">
                        <img class="mr-1 d-inline"
                             src="/image/bookmark-accent-hollow.png"
                             alt="加入收藏"
                             width="15px">加入收藏</a>
                    <a class="add-to-favorite-button col-12 col-md-10 col-lg-8 no-underline mb-3 offset-md-1 offset-lg-2"
                       href="#" @click="disFollowMaster" v-if="masterDetail.isFollowed==true">
                        <img class="mr-1 d-inline"
                             src="/image/bookmark-accent-hollow.png"
                             alt="取消收藏"
                             width="15px">取消收藏</a>                             
                </div>

            </div>
        </div>
        <!-- 小網專長、簡介 -->
        <div class="container mb-5">
            <div class="row master-block px-2 d-block d-sm-none">
                <div class="master-title"></div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-2 p-0 my-2">
                            <span class="information-title">專&emsp;&emsp;長：</span>
                        </div>
                        <div class="col-10 p-0">
                            <span v-for="tag in tagList"
                                  class="master-hashtag text-ms">#{{tag.tag}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row master-block px-2">
                <span class="information-title">簡&emsp;&emsp;介</span>
                <div class="d-none d-md-block master-title"></div>
                <p v-html="masterDetail.intro"
                   class="detail-article show space-preline"></p>
                <div class="detail-article-readmore d-none">
                </div>
            </div>
        </div>
        <div th:replace="frount/part/_frountFooter ::footer"></div>
        <div th:replace="frount/part/_allowGeoPosition.html ::div"></div>
        <div th:replace="frount/part/_popupNotice ::div"></div>
        <div th:replace="part/_popupMsg ::div"></div>
    </div>
    <script th:src="@{/js/common.js}"></script>
    <script th:src="@{/js/frount/_allowGeoPosition.js}"></script>
    <script th:src="@{/js/loadingoverlay.min.js}"></script>
    <script th:inline="javascript">
        var masterDetail = new Vue({
            mixins: [allowGeoPosition],
            el: "#masterDetail",
            data: {
                hasLoaded: true,
                masterID: location.pathname.replace("/master/master-detail/", ""),
                masterDetail: {},
                recommendList: [],
                tagList: []
            },
            methods: {
                getMasterDetail: function () {
                	$('body').LoadingOverlay('show');
                	let memberID = null;
                	if(JSON.parse(localStorage.getItem("memberID"))!=null){
                		memberID = JSON.parse(localStorage.getItem("memberID")).value;	
                	}
                	
                    let vm = this;
                    axios
                        .get('/web/master/' + [[${ mID }]], {params:{'memberID': memberID}})
                        .then(response => {
                            let res = response.data;
                            if (res.code == 200) {
//                                 console.log(res);
                                vm.masterDetail = res.data.master;
                                vm.recommendList = res.data.recommendList;
                                vm.tagList = res.data.tagList;
                                vm.hasLoaded = true;
                                Vue.nextTick(function () {
                                    $.getScript("/js/frount/_frountCommon.js",
                                        $(".detail-article").each(function () {
                                            if ($(this).height() > 240) {
                                                $(this).removeClass("show");
                                                $(".detail-article-readmore").removeClass("d-none").addClass("show");
                                            };
                                        })
                                    );
                                })
                            } else {
                                console.log("get user info error:" + res.errMsg);
                            }
                            $('body').LoadingOverlay('hide');
                        })
                        .catch(function (error) { // 請求失敗處理
                            console.log("get user info error:" + error);
                        });
                },
                followMaster: function(){
                	$('body').LoadingOverlay('show');
                	let memberID = null;
                	if(JSON.parse(localStorage.getItem("memberID"))!=null){
                		memberID = JSON.parse(localStorage.getItem("memberID")).value;	
                	}else{
                		$('body').LoadingOverlay('hide');
                    	showSuccessTopPopup("請先登入！");
                    	window.setTimeout(() => location.href='/index', 1500);
                    	return null;
                	}
                    let vm = this;
                    let fd = new FormData();
                    fd.append('memberID', memberID);
                    fd.append('masterID', [[${mID}]]);
                    axios
                        .post('/web/master/follow', fd)
                        .then(response => {
                        	$('body').LoadingOverlay('hide');
                            let res = response.data;
//                             console.log(res);
                            if (res.code == 204) {
//                                 console.log(res);
                            	showSuccessTopPopup("已成功收藏！");
                            	window.setTimeout(() => location.reload(), 1500);
                            } else {
                                console.log("get user info error:" + res.errMsg);
                            }
                        })
                        .catch(function (error) { // 請求失敗處理
                        	$('body').LoadingOverlay('hide');
                            console.log("get user info error:" + error);
                        });                	
                },
                disFollowMaster: function(){
                	$('body').LoadingOverlay('show');
			        let memberID = JSON.parse(localStorage.getItem("memberID")).value;
                    let vm = this;
                    let param = {
                   		'memberID': memberID,
                   		'masterID': [[${mID}]]
                    }
                    axios
                        .delete('/web/master/follow', {params: param})
                        .then(response => {
                        	$('body').LoadingOverlay('hide');
                            let res = response.data;
                            console.log(res);
                            if (res.code == 204) {
//                                 console.log(res);
                            	showSuccessTopPopup("已取消收藏！");
                            	window.setTimeout(() => location.reload(), 1500);
                            } else {
                                console.log("get user info error:" + res.errMsg);
                            }
                        })
                        .catch(function (error) { // 請求失敗處理
                        	$('body').LoadingOverlay('hide');
                            console.log("get user info error:" + error);
                        });                	
                }
            },
            mounted: function () {
                this.getMasterDetail();
                $.getScript("/js/frount/_frountCommon.js");
            }
        })
    </script>

</body>

</html>