<!DOCTYPE html>
<html lang="en">
<div th:replace="frount/_frount_head.html ::head"></div>


<body>
    <div id="masterList"
         class="wrap list master-list">
        <div th:replace="frount/part/_frountHeader ::header"></div>
        <!-- breadcrumb -->
        <div class="container">
            <div class="row">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a class="text-center no-underline"
                               href="/index">首頁</a></li>
                        <li class="breadcrumb-item">
                            <a class="text-center no-underline"
                               href="#">達人</a></li>
                        <li v-if="mainID!=''"
                            class="breadcrumb-item active"
                            aria-current="page">
                            <a class="text-center no-underline"
                               href="#">{{mainName}}<span v-if="midName!=''"> / {{midName}}</span></a></li>
                    </ol>
                </nav>
            </div>
        </div>
        <!-- 搜尋 -->
        <div class="container-lg bg-accent lg-rounded-10px py-2 text-right">
            <div class="row">
                <div class="container d-flex flex-lg-row flex-column">
                    <select v-model="selectedCountry"
                            class="form-control my-2">
                        <option value=""
                                disabled>請選擇地區</option>
                        <option v-for="country in countryList"
                                v-bind:value="country">{{country}}</option>
                    </select>
                    <select v-model="mainID"
                            v-on:change="getMiddleTypeList"
                            class="form-control my-2">
                        <option value=""
                                disabled>請選擇大分類</option>
                        <option v-for="mainType in mainTypeList"
                                v-bind:value="mainType.mainID">{{mainType.name}}</option>
                    </select>
                    <select v-model="midID"
                            v-on:change="getMinorTypeList"
                            v-bind:disabled="mainID==''"
                            class="form-control my-2">
                        <option value=""
                                disabled>請選擇中分類</option>
                        <option v-for="middleType in middleTypeList"
                                v-bind:value="middleType.midID">{{middleType.name}}</option>
                    </select>
                    <select v-model="typeID"
                            v-bind:disabled="midID==''"
                            class="form-control my-2">
                        <option value=""
                                disabled>請選擇小分類</option>
                        <option v-for="minorType in minorTypeList"
                                v-bind:value="minorType.typeID">{{minorType.name}}</option>
                    </select>
                </div>
            </div>
            <div class="container p-0">
                <a v-on:click="redirectPage"
                   class="text-white underline mt-2 d-inline-block"
                   href="#">搜尋</a>
            </div>
        </div>
        <div class="container">
            <h4 class="text-accent font-weight-bold border-accent-left-4 pl-2 my-4">{{midName}}</h4>
        </div>

        <div class="container">
            <a v-for="master in masterList"
               v-bind:href="'/master/master-detail/'+ master.masterID"
               class="row no-underline master-list-item mb-4">
                <div class="col-lg-2 col-3">
                    <div class="master-pic-wrap">
                        <img class="master-pic master-pic-border-grey p-1 w-100"
                             v-bind:src="master.img ? master.img:'/image/nopic.gif'"
                             alt="達人">
                    </div>
                </div>
                <div class="col-lg-10 col-9">
                    <h4 class="text-accent">{{master.publicName}}</h4>
                    <p class="d-none d-md-block">{{master.intro}}</p>
                    <span v-for="tag in master.tagList"
                          class="accent-tag">#{{tag.tag}}</span>
                </div>
                <div class="col-12">
                    <p class="d-block d-md-none mt-4 w-100 list-information-text-2-line-height">{{master.intro}}</p>
                    <span class="float-right text-right text-grey underline text-small d-inline-block mt-2">了解更多</span>
                </div>
            </a>
            <!-- empty msg -->
            <div v-if="emptyData"
                 class="empty-msg letter-spacing-s mx-5">{{emptyMsg}}</div>
            <div ref="pagination"
                 class="pagination-wrap simple-pagination light-theme"></div>

        </div>
        <div th:replace="frount/part/_frountFooter ::footer"></div>
        <div th:replace="frount/part/_allowGeoPosition.html ::div"></div>
        <div th:replace="frount/part/_popupNotice ::div"></div>
        <div th:replace="part/_popupMsg ::div"></div>
    </div>
    <script th:src="@{/js/common.js}"></script>
    <script th:src="@{/js/frount/_frountCommon.js}"></script>
    <script th:src="@{/js/frount/_allowGeoPosition.js}"></script>
    <script th:inline="javascript">
        var masterList = new Vue({
            mixins: [allowGeoPosition],
            el: "#masterList",
            data: {
                masterList: [],
                countryList: [],
                selectedCountry: "",
                mainTypeList: [],
                middleTypeList: [],
                minorTypeList: [],
                mainID: "",
                mainName: "",
                midID: "",
                midName: "",
                typeID: "",
                typeName: "",
                queryParam: {},
                emptyMsg: '查無符合條件資料'
            },
            methods: {
                redirectPage: function () {
                    let queryString;
                    this.queryParam = {
                        showData: "master",
                        selectedCountry: this.selectedCountry,
                        mainID: this.mainID,
                        midID: this.midID,
                        typeID: this.typeID,
                        lat: this.position.lat,
                        lng: this.position.lng
                    }
                    queryString = convertObjectToQueryString(this.queryParam);
                    window.location.href = "/master/master-list?" + queryString;
                },
                clearData: function (clearTo) {
                    // minor
                    this.minorTypeList = [];
                    this.minorID = "";

                    if (clearTo == "main") {
                        this.mainTypeList = [];
                        this.mainID = "";
                        this.middleTypeList = [];
                        this.midID = "";
                    } else if (clearTo == "middle") {
                        this.middleTypeList = [];
                        this.midID = "";
                    }
                },
                // 取得大分類
                getMainTypeList: function () {
                    let vm = this;
                    //                     this.clearData("main");
                    axios
                        .get('/web/master/type')
                        .then(response => {
                            let res = response.data;
                            //                             console.log(res);
                            if (res.code == 200) {
                                vm.mainTypeList = res.data;
                            } else {
                                console.log("get user info error:" + res.errMsg);
                            }
                        })
                        .catch(function (error) { // 請求失敗處理
                            console.log("get user info error:" + error);
                        });
                },
                // 取得中分類
                getMiddleTypeList: function () {
                    var vm = this;
                    //                     this.clearData("middle");
                    console.log(vm.mainTypeList);
                    vm.middleTypeList = vm.mainTypeList.find(function (item) {
                        return item.mainID == vm.mainID;
                    }).middleTypeList
                    vm.midID = "";
                    vm.typeID = "";
                },
                // 取得小分類
                getMinorTypeList: function () {
                    var vm = this;
                    //                     this.clearData("minor");
                    // 有大中小分類
                    vm.minorTypeList = vm.middleTypeList.find(function (item) {
                        return item.midID == vm.midID;
                    }).minorTypeList;
                    vm.typeID = "";
                },
                getOnloadedTypeList: function (mainID, midID) {
                    let vm = this;
                    axios
                        .get('/web/master/type')
                        .then(response => {
                            let res = response.data;
                            if (res.code == 200) {
                                vm.mainTypeList = res.data;
                                vm.middleTypeList = vm.mainTypeList.find(function (item) {
                                    return item.mainID == vm.mainID;
                                }).middleTypeList;
                                vm.minorTypeList = vm.middleTypeList.find(function (item) {
                                    return item.midID == vm.midID;
                                }).minorTypeList;
                                vm.mainName = vm.mainTypeList.find(function (item) {
                                    return item.mainID == vm.mainID
                                }).name;
                                vm.midName = vm.middleTypeList.find(function (item) {
                                    return item.midID == vm.midID;
                                }).name;
                                vm.typeName = vm.minorTypeList.find(function (item) {
                                    return item.typeID == vm.typeID;
                                }).name;
                            } else {
                                console.log("get user info error:" + res.errMsg);
                            }
                        })
                        .catch(function (error) { // 請求失敗處理
                            console.log("get user info error:" + error);
                        });
                    console.log(vm.mainTypeList);

                },
                getCountryList: function () {
                    let vm = this;
                    axios
                        .get('/web/county')
                        .then(response => {
                            let res = response.data;
                            //                             console.log(res);
                            if (res.code == 200) {
                                vm.countryList = res.data;
                            } else {
                                console.log("get user info error:" + res.errMsg);
                            }
                        })
                        .catch(function (error) { // 請求失敗處理
                            console.log("get user info error:" + error);
                        });
                },
                getMasterList: function () {
                    var vm = this;

                    this.getPosition(function () {
                        var sendData =
                            "lat=" + vm.position.lat +
                            "&lng=" + vm.position.lng;
                        if (vm.selectedCountry != '') {
                            sendData += "&county=" + vm.selectedCountry;
                        }
                        if (vm.mainID != '') {
                            sendData += "&mainID=" + vm.mainID;
                        }
                        if (vm.midID != '') {
                            sendData += "&midID=" + vm.midID;
                        }
                        if (vm.typeID != '') {
                            sendData += "&typeID=" + vm.typeID;
                        }

                        axios
                            .get('/web/master/list?' + sendData)
                            .then(response => {
                                let res = response.data;
                                console.log(res);
                                if (res.code == 200) {
                                    vm.masterList = res.data;
                                } else {
                                    console.log("get user info error:" + res.errMsg);
                                }
                            })
                            .catch(function (error) { // 請求失敗處理
                                console.log("get user info error:" + error);
                            });
                    })
                }
            },
            computed: {
                emptyData: function () {
                    return this.masterList.length == 0;
                }
            },
            mounted: function () {
                this.getMainTypeList()
                this.getCountryList();
                console.log(this.mainTypeList);
                //                 var searchData = getStorageItem("searchData");
                var searchData = convertQueryStringToObject();
                console.log(searchData);
                if (searchData && searchData.showData == 'master') {
                    //                     console.log(searchData)
                    //                     setStorageItem("searchData", {});
                    this.selectedCountry = searchData.selectedCountry || "";
                    this.mainID = searchData.mainID || "";
                    this.midID = searchData.midID || "";
                    this.typeID = searchData.typeID || "";
                    this.position.lat = searchData.lat || "";
                    this.position.lng = searchData.lng || "";
                    this.getOnloadedTypeList(this.mainID, this.midID);
                    this.getMasterList();
                }
            }
        })
    </script>

</body>

</html>