<!DOCTYPE html>
<html lang="en">
<div th:replace="frount/_frount_head.html ::head"></div>

<body>
    <div id="popularList"
         class="wrap popular-list">
        <div th:replace="frount/part/_frountHeader ::header"></div>
        <!-- breadcrumb -->
        <div class="container">
            <div class="row">
                <!-- <div class="col-1 col-lg-12">
                    <div class="backButton backButton-hover">
                        <a class="no-underline"
                           href="#">
                            <i class="fas fa-chevron-left"></i>
                            <span>回地圖</span>
                        </a>
                    </div>
                </div> -->
                <div class="col-12 col-lg-6">
                    <div class="row">
                        <nav class="w-auto"
                             aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a class="text-center no-underline"
                                       href="/index">首頁</a></li>
                                <li class="breadcrumb-item">
                                    <a class="text-center no-underline"
                                       href="#">紅人榜</a></li>
                                <li class="breadcrumb-item active"
                                    aria-current="page">
                                    <a class="text-center no-underline"
                                       href="#">{{seletedSearchPrefer}}</a></li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <nav>
                <div class="nav nav-tabs pt-3"
                     id="nav-tab"
                     role="tablist">
                    <a v-on:click="setSearchPrefer(0)"
                       id="favorite-tab"
                       href="#nav-favorite"
                       class="nav-item nav-link ml-3 px-5 active"
                       data-toggle="tab"
                       role="tab"
                       aria-selected="true">
                        <img src="/image/bookmark-accent.png"
                             alt=""
                             width="15px"> 收藏排行</a>
                    <a v-on:click="setSearchPrefer(1)"
                       id="click-tab"
                       href="#nav-click"
                       class="nav-item nav-link mr-3 px-5"
                       data-toggle="tab"
                       role="tab"
                       aria-selected="false">
                        <img src="/image/eye-grey.png"
                             alt=""
                             width="15px"> 點閱排行</a>
                </div>
            </nav>

            <div class="tab-content"
                 id="nav-tabContent">
                <div class="container text-dark-grey border-grey-bottom mt-4">
                    <div class="row">
                        <div class="col-6 pr-0 text-left">排名</div>
                        <div class="col-6 text-right">{{seletedSearchPrefer}}人數</div>
                    </div>
                </div>
                <div class="tab-pane fade container show active"
                     id="nav-favorite"
                     role="tabpanel">
                    <a v-for="(master,mIndex) in masterList"
                       v-bind:href="'/master/master-detail/'+master.masterID"
                       class="row popular-list-item no-underline py-4">
                        <div class="col-12 d-md-none d-block text-right">{{master.follow}}人</div>
                        <div class="col-1 position-ralative">
                            <div v-bind:class="'popular-list-bg-'+(mIndex+1)"
                                 class="popular-list-bg popular-list-bg-1">
                                <span class="d-block popular-list-number">{{mIndex+1}}</span>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-3 col-5 position-ralative">
                            <div class="master-pic-wrap">
                                <img class="master-pic master-pic-border-grey p-1 w-100"
                                     v-bind:src="master.img ? master.img : '/image/nopic.gif'"
                                     alt="達人">
                            </div>
                        </div>
                        <div class="col-lg-7 col-md-6 col-5 px-0 position-ralative">
                            <div class="position-relative vertical-align-center">
                                <h4 class="text-accent d-md-block d-none">{{master.publicName}}</h4>
                                <h5 class="text-accent d-block d-md-none">{{master.publicName}}</h5>
                                <div class="d-md-block d-none">
                                    <span v-for="tag in master.tagList"
                                          class="accent-tag">#{{tag.tag}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 text-right d-none d-md-block">{{master.follow}}人</div>
                        <div class="col-12 mt-3">
                            <div class="d-md-none d-block">
                                <span v-for="tag in master.tagList"
                                      class="accent-tag">#{{tag.tag}}</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="tab-pane fade container"
                     id="nav-click"
                     role="tabpanel">
                    <a v-for="(master,mIndex) in masterList"
                       v-bind:href="'/master/master-detail/'+master.masterID"
                       class="row popular-list-item no-underline py-4">
                        <div class="col-12 d-md-none d-block text-right">{{master.click}}人</div>
                        <div class="col-1 position-ralative">
                            <div v-bind:class="'popular-list-bg-'+(mIndex+1)"
                                 class="popular-list-bg">
                                <span class="d-block popular-list-number">{{mIndex+1}}</span>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-3 col-5 position-ralative">
                            <div class="master-pic-wrap">
                                <img class="master-pic master-pic-border-grey p-1 w-100"
                                     v-bind:src="master.img ? master.img : '/image/nopic.gif'"
                                     alt="達人">
                            </div>
                        </div>
                        <div class="col-lg-7 col-md-6 col-5 px-0 position-ralative">
                            <div class="position-relative vertical-align-center">
                                <h4 class="text-accent d-md-block d-none">{{master.publicName}}</h4>
                                <h5 class="text-accent d-block d-md-none">{{master.publicName}}</h5>
                                <div class="d-md-block d-none">
                                    <span v-for="tag in master.tagList"
                                          class="accent-tag">#{{tag.tag}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 text-right d-none d-md-block">{{master.click}}人</div>
                        <div class="col-12 mt-3">
                            <div class="d-md-none d-block">
                                <span v-for="tag in master.tagList"
                                      class="accent-tag">#{{tag.tag}}</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div th:replace="frount/part/_frountFooter ::footer"></div>
        <div th:replace="frount/part/_allowGeoPosition.html ::div"></div>
        <div th:replace="frount/part/_popupNotice ::div"></div>
        <div th:replace="part/_popupMsg ::div"></div>
    </div>
    <script th:src="@{/js/common.js}"></script>
    <script th:src="@{/js/frount/_frountCommon.js}"></script>
    <script th:src="@{/js/frount/_allowGeoPosition.js}"></script>
    <script th:src="@{/js/frount/_frountCommon.js}"></script>
    <script th:inline="javascript">
        var popularList = new Vue({
            mixins: [allowGeoPosition],
            el: "#popularList",
            data: {
                searchPreferList: [],
                searchPrefer: {},
                masterList: [],
                seletedSearchPreferSN: 0,
                seletedSearchPrefer: '收藏排行'
            },
            computed: {
                searchPreferShortName: function () {
                    if (this.searchPrefer.searchPreferName) {
                        return this.searchPrefer.searchPreferName.replace("排行", "")
                    } else {
                        return ""
                    }
                }
            },
            methods: {
                getMasterList: function () {
                    if (String(this.searchOrderSN) != "") {
                        var vm = this;

                        this.getPosition(function () {
                            sendData =
                                "searchPreferSN=" + vm.seletedSearchPreferSN + "&lat=" + vm.position.lat +
                                "&lng=" + vm.position.lng;
                            axios
                                .get('/web/master/hit/list?' + sendData)
                                .then(response => {
                                    let res = response.data;
//                                     console.log(res);
                                    if (res.code == 200) {
                                        vm.masterList = res.data;
                                    } else {
                                        console.log("get user info error:" + res.errMsg);
                                    }
                                })
                                .catch(function (error) { // 請求失敗處理
                                    console.log("get user info error:" + error);
                                });
                        })
                    } else {
                        showErrorMsg("請選擇排序喜好");
                    }
                },
                //                 setSearchPrefer: function (itemName) {
                //                     this.searchPrefer = this.searchPreferList.find(function (item) {
                //                     	console.log(item.searchPreferName);
                //                         return item.searchPreferName == itemName
                //                     });
                //                 },
                setSearchPrefer: function (itemSN) {
                    this.seletedSearchPreferSN = itemSN;
                    this.seletedSearchPrefer = this.searchPreferList[itemSN].searchPreferName;
                    this.getMasterList();
                },
                getSearchPrefer: function () {
                    let vm = this;
                    axios
                        .get('/web/master/hit/search/prefer')
                        .then(response => {
                            let res = response.data;
//                             console.log(res);
                            if (res.code == 200) {
                                vm.searchPreferList = res.data;
                            } else {
                                console.log("get user info error:" + res.errMsg);
                            }
                        })
                        .catch(function (error) { // 請求失敗處理
                            console.log("get user info error:" + error);
                        });
                }
            },
            mounted: function () {
                this.getMasterList();
                this.getSearchPrefer();
            }
        })
        $(document).ready(function () {
            $(".nav-link").on("shown.bs.tab", function () {
                var newSrc = $(this).children("img").attr("src").replace("-grey", "-accent");
                $(this).children("img").attr("src", newSrc);
            })
            $(".nav-link").on("hidden.bs.tab", function () {
                var newSrc = $(this).children("img").attr("src").replace("-accent", "-grey");
                $(this).children("img").attr("src", newSrc);
            })
        })
    </script>

</body>

</html>