<div>
    <div class="row mx-0 bg-accent-dark op-8 text-light py-2 px-3">活動資訊</div>
    <div class="border">
        <div class="container p-5 mx-auto">
            <div class="input-group mb-2">
                <div class="input-group-prepend" >
                    <div class="input-group-text bg-trans border-0 text-accent">活動編號</div>
                </div>
                <div class="form-control text-left bg-trans border-0">{{eventInfo.eventID}}</div>
            </div>
            <div class="d-flex mb-2">
                <div class="input-group-prepend" >
                    <div class="input-group-text bg-trans border-0 text-accent">活動名稱</div>
                </div>
                <div class="form-control h-100 text-left bg-trans border-0">{{eventInfo.name}}</div>
            </div>
            <div class="d-flex mb-2">
                <div class="input-group-prepend" >
                    <div class="input-group-text bg-trans border-0 text-accent">活動分類</div>
                </div>
                <div class="form-control h-100 text-left bg-trans border-0">{{eventInfo.mainTypeName}} - {{eventInfo.typeName}}</div>
            </div>
            <div class="input-group mb-2">
                <div class="input-group-prepend" >
                    <div class="input-group-text bg-trans border-0 text-accent">開始時間</div>
                </div>
                <div class="form-control text-left bg-trans border-0">{{eventInfo.startTime? sliceToMin(eventInfo.startTime,'-'):''}}</div>
            </div>
            <div class="input-group mb-2">
                <div class="input-group-prepend" >
                    <div class="input-group-text bg-trans border-0 text-accent">結束時間</div>
                </div>
                <div class="form-control text-left bg-trans border-0">{{eventInfo.endTime? sliceToMin(eventInfo.endTime,'-'):''}}</div>
            </div>
            <div class="input-group mb-2">
                <div class="input-group-prepend" >
                    <div class="input-group-text bg-trans border-0 text-accent">活動區域</div>
                </div>
                <div class="form-control text-left bg-trans border-0">{{eventInfo.county}}</div>
            </div>
            <div class="input-group mb-2">
                <div class="input-group-prepend" >
                    <div class="input-group-text bg-trans border-0 text-accent">活動場所</div>
                </div>
                <div class="form-control text-left bg-trans border-0">{{eventInfo.place}}</div>
            </div>
            <div class="input-group mb-2">
                <div class="input-group-prepend" >
                    <div class="input-group-text bg-trans border-0 text-accent">活動地址</div>
                </div>
                <div class="form-control text-left bg-trans border-0">{{eventInfo.county+eventInfo.address}}</div>
            </div>
            <div class="input-group mb-2">
                <div class="input-group-prepend" >
                    <div class="input-group-text bg-trans border-0 text-accent">相關單位</div>
                </div>
                <div class="form-control text-left bg-trans border-0">{{eventInfo.host}}</div>
            </div>
            <div class="input-group mb-2">
                <div class="input-group-prepend" >
                    <div class="input-group-text bg-trans border-0 text-accent">參加費用</div>
                </div>
                <div class="form-control text-left bg-trans border-0">{{numberWithCommas(eventInfo.fee)}}元</div>
            </div>
            <div class="input-group mb-2">
                <div class="input-group-prepend" >
                    <div class="input-group-text bg-trans border-0 text-accent">活動簡介</div>
                </div>
                <div class="form-control h-100 text-left bg-trans border-0">{{eventInfo.intro}}</div>
            </div>
        </div>
            
        
    </div>
    <div class="row mx-0 bg-accent-dark op-8 text-light py-2 px-3">活動推薦與Tag</div>
    <div class="border">
        <div class="container p-5 mx-auto">
            <div class="mb-4">
                <p class="text-accent mb-1">相關達人</p>
                <div class="tag-wrap d-flex flex-wrap" >
                    <div class="keyword-tag" v-for="rm in eventRecommendList">{{rm.masterID}}:{{rm.masterName}}</div>
                </div>
            </div>
            <div class="">
                <p class="text-accent mb-1 ">關鍵字</p>
                <div class="tag-wrap d-flex flex-wrap" >
                    <div class="keyword-tag" v-for="t in eventTagList">{{t.tag}}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mx-0 bg-accent-dark op-8 text-light py-2 px-3">活動圖片</div>
    <div class="border">
        <div class="container p-5 mx-auto">
            <div class="d-flex flex-wrap">
                <figure class="square-photo m-2 position-relative" v-for="img in eventImgList">
                    <img :src="img.img" alt="" class="img-cover">
                    <figcaption v-if="img.isMain==true" class="position-absolute bg-dark w-100 op-6 text-white small main-cap letter-spacing-s text-center">主圖片</figcaption>
                </figure>
            </div>
        </div>
    </div>
</div>