<div>
	<h1 class="mt-4">Event：活動模組測試頁</h1>
	<h3 class="mt-4">*新增活動所需資料</h3>
	<form th:action="@{/admin/event/info/set}" method="get">
		<button type="submit" class="d-block">取得必要資訊</button>
	</form>

	<h3 class="mt-4">*新增活動</h3>
	<form th:action="@{/admin/event/info/set}" method="post" enctype="multipart/form-data">
		<h5>活動名稱</h5>
		<input type="text" name="name" value="北榮健檢活動"/>
		<h5>活動大分類</h5>
		<input type="text" name="mainID" value="1"/>
		<h5>活動小分類編號</h5>
		<input type="text" name="typeID" value="1"/>
		<h5>開始時間</h5>
		<input type="text" name="startTime" value="2020-05-15 10:00:00"/>
		<h5>結束時間</h5>
		<input type="text" name="endTime" value="2020-05-20 10:00:00"/>
		<h5>活動所在縣市</h5>
		<input type="text" name="county" value="新北市"/>
		<h5>活動地址(排除縣市)</h5>
		<input type="text" name="address" value="板橋區縣民大道2段5巷11弄587號9樓"/>
		<h5>活動場地</h5>
		<input type="text" name="place" value="市民廣場"/>
		<h5>活動相關單位</h5>
		<input type="text" name="host" value="新北市政府"/>
		<h5>活動開放狀態</h5>
		<select name="visibility">
			<option value="開放 a.「歡迎參加」:不限資格、不限費用">"開放 a.「歡迎參加」:不限資格、不限費用</option>
			<option value="開放 b.「非請勿入」:限制資格、不限費用">開放 b.「非請勿入」:限制資格、不限費用</option>
			<option value="開放 c.「需先繳費」:不限資格、限制費用">開放 c.「需先繳費」:不限資格、限制費用</option>
			<option value="開放 d.「需先報名」:限制資格、限制費用">開放 d.「需先報名」:限制資格、限制費用</option>
			<option value="不開放">不開放</option>
		</select>
		<h5>活動參加費用</h5>
		<input type="text" name="fee" value="200"/>	
		<h5>活動報名連結</h5>
		<input type="text" name="signupUrl" value="https://tw.yahoo.com"/>	
		<h5>活動直播連結</h5>
		<input type="text" name="liveUrl" value="https://tw.yahoo.com"/>
		<h5>活動簡介</h5>
		<input type="text" name="intro" value="活動簡介"/>
		
		<h5>活動Tag</h5>
		<input type="text" name="tagList" value="tag1"/>				
		<h5>活動Tag</h5>
		<input type="text" name="tagList" value="tag2"/>
		<h5>活動Tag</h5>
		<input type="text" name="tagList" value="tag3"/>		

		<h5>活動相關達人</h5>
		<input type="text" name="masterIDList" value="M000000001"/>	
		<h5>活動相關達人</h5>
		<input type="text" name="masterIDList" value="M000000002"/>
		
		<h5>活動圖片1</h5>
		<input type="file" name="files"/>			
		<h5>活動圖片2</h5>
		<input type="file" name="files"/>		
		<h5>活動圖片3</h5>
		<input type="file" name="files"/>		
			
		<button type="submit" class="d-block">新增活動</button>
	</form>
	
	<h3 class="mt-4">*新增活動</h3>
	<form th:action="@{/admin/event/info/import}" method="post" enctype="multipart/form-data">
	    <h5>選擇批次新增檔案</h5>
	    <input type="file" th:name="file">
		<input th:type="submit" class="d-block" value="Import" />
	</form>

	<hr/>

	<script th:inline="javascript">
	

	
	</script>

</div>