<div>
	<h1 class="mt-4">Member：會員模組測試頁</h1>
	<h3 class="mt-4">*會員：基本資料</h3>
	<form>
		<input type="text" name="email3" id="email3" value="M000000001"/>
		<button type="button" onclick="location.href='/member/info/' + $('#email3').val()">輸入會員帳號(Email)</button>	
	</form>
	
<!-- 	<h3 class="mt-4">*用戶個人頁 (討論區) (5.0)</h3> -->
<!-- 	<form> -->
<!-- 		<h5>會員編號</h5> -->
<!-- 		<input type="text" name="memberID" id="memberID"/> -->
<!-- 		<button type="button" onclick="location.href='/member/post/' + $('#memberID').val()">取得會員貼文清單</button>	 -->
<!-- 	</form> -->
	
<!-- 	<h3 class="mt-4">*其他 載入個人頁面資訊 (5.2)</h3> -->
<!-- 	<form th:action="@{/member/myPage}" method="post"> -->
<!-- 		<h5>使用者會員編號</h5> -->
<!-- 		<input type="text" name="memberID" value="M000000001"/> -->
<!-- 		<input type="submit" value="查詢"/>			 -->
<!-- 	</form> -->
	
<!-- 	<h3 class="mt-4">*會員相簿清單(5.0.3)</h3> -->
<!-- 	<h5>輸入會員編號</h5> -->
<!-- 	<input type="text" name="albumEvent" id="albumEvent" value="M000000001"/> -->
<!-- 	<button type="button" onclick="location.href='/member/album/' + $('#albumEvent').val()">活動相簿清單</button> -->
	
<!-- 	<h3 class="mt-4">*會員：創立新相簿準備資訊(5.0.3新增相簿Modal)</h3> -->
<!-- 	<input type="submit" onclick="setNewMemberAlbumPage()" value="進入創立會員個人相簿頁面" />	 -->
	
<!-- 	<h3 class="mt-4">*會員：創立新相簿功能(5.0.3新增相簿按鈕)</h3> -->
<!-- 	<form id="newClub" th:object="${bean}"></form> -->
	
<!-- 	<h3 class="mt-4">*會員：刪除單一相簿</h3> -->
<!-- 	<form> -->
<!-- 		<input type="text" name="albumID" class="memberID" value="M000000001"/> -->
<!-- 		<input type="text" name="albumID" class="albumID d-block" value="" placeholder="輸入相簿編號"/> -->
<!-- 		<button type="button" onclick="deleteMemberSingleAlbum(this)">刪除會員相簿</button>	 -->
<!-- 	</form>	 -->
	
<!-- 	<h3 class="mt-4">*會員：刪除多個相簿</h3> -->
<!-- 	<form> -->
<!-- 		<input type="text" name="albumID" class="memberID" value="M000000001"/> -->
<!-- 		<input type="text" name="albumIDList" class="albumIDList d-block" value="" placeholder="輸入相簿編號"/> -->
<!-- 		<button type="button" onclick="addDeleteAlbumIDInput(this)">+</button>	 -->
<!-- 		<button type="button" class="d-block" onclick="deleteMemberAlbums(this)">刪除會員相簿</button>	 -->
<!-- 	</form>	 -->

<!-- 	<h3 class="mt-4">*會員相簿：上傳多張相片(5.0.3延伸無Wireframe)</h3> -->
<!-- 	<form> -->
<!-- 		<input type="text" name="memberID" class="memberID" value="M000000001"/> -->
<!-- 		<input type="number" name="albumID" class="albumID" value="16"/> -->
<!-- 		<input type="file" name="files" id="files" multiple/> -->
<!-- 		<br/> -->
<!-- 		<input type="button" onclick="setNewPhotoToMember(this)" value="上傳照片"/> -->
<!-- 	</form> -->
	
<!-- 	<h3 class="mt-4">*會員相簿：單一相簿的所有相片(5.0.3.2)</h3> -->
<!-- 	<form> -->
<!-- 		<h5>會員編號</h5> -->
<!-- 		<input type="text" name="memberID" class="memberID" value="M000000001"/> -->
<!-- 		<h5>相簿編號</h5> -->
<!-- 		<input type="number" name="albumID" class="albumID" value="16"/> -->
		
<!-- 		<input type="button"  value="取得會員相簿所有相片" onclick="getPhotoByMemberAndAlbum(this)" style="display:block"/>			 -->
<!-- 	</form>	 -->

<!-- 	<h3 class="mt-4"><span style="color:red; font-weight:bold;">&#8593;執行先</span>*會員相簿：所有相片列表與多張刪除功能( 點擊"選取"連結)</h3> -->
<!-- 	<form id="eventAlbumPhotos" th:action="@{/member/album/photo/delete}" method="post"> -->
<!-- 		<input type="submit" value="刪除選取照片" style="display:block"/> -->
<!-- 	</form> -->
	
<!-- 	<h3 class="mt-4"><span style="color:red; font-weight:bold;">&#8593;執行"點擊看相片詳細頁"先</span>*會員相簿：單一相片詳細資訊與單一相片功能(5.0.3.3)</h3> -->
<!-- 	<form id="eventAlbumSingle"> -->
<!-- 	</form> -->
<!-- 	<hr/> -->
	
<!-- 	<h3 class="mt-4">*會員：上傳多個影音檔案(5.0.3.1延伸無Wireframe)</h3> -->
<!-- 	<form> -->
<!-- 		<input type="text" name="memberID" class="memberID" value="M000000001"/> -->
<!-- 		<input type="file" name="files" id="videofiles" multiple/> -->
<!-- 		<br/> -->
<!-- 		<input type="button" onclick="setNewVideoToMember(this)" value="上傳影音檔案"/> -->
<!-- 	</form>	 -->
	
<!-- 	<h3 class="mt-4">*會員：所有影音(5.0.3.1)</h3> -->
<!-- 	<form> -->
<!-- 		<h5>會員編號</h5> -->
<!-- 		<input type="text" name="memberID" class="memberID" value="M000000001"/> -->
<!-- 		<input type="button"  value="取得會員所有影音" onclick="getVideoByMember(this)" style="display:block"/>			 -->
<!-- 	</form>	 -->
	
<!-- 	<h3 class="mt-4"><span style="color:red; font-weight:bold;">&#8593;執行先</span>*會員：所有影音與多檔案刪除功能( 點擊"選取"連結)</h3> -->
<!-- 	<form id="memberVideos" th:action="@{/member/video/delete}" method="post"> -->
<!-- 		<input type="submit" value="刪除選取影音檔" style="display:block"/> -->
<!-- 	</form> -->
<!-- 	<hr/> -->

	<h3 class="mt-4">*會員：新增會員(後台)</h3>
	<form id="infoSetPage">
		<h5>會員頭像選擇</h5>
		<input id="memberHead" name="file" class="d-block" type="file"/>
		<h5>會員註冊帳號</h5>
		<input type="text" name="account" value="reinbachrddev@gmail.com"/>
		<h5>會員密碼</h5>
		<input type="password" name="pwd" value="a12345678"/>
		<h5>會員公開姓名</h5>
		<input type="text" name="publicName" value="Sora醬"/>
		<h5>會員姓氏</h5>
		<input type="text" name="lastName" value="Lee"/>
		<h5>會員名字</h5>
		<input type="text" name="firstName" value="Anita"/>
		<h5>會員電話</h5>
		<input type="text" name="phone" value="0229887455"/>
		<h5>會員手機</h5>
		<input type="text" name="cell" value="0911225787"/>
		<h5>會員縣市</h5>
		<input type="text" name="county" value="新北市"/>
		<h5>會員地址</h5>
		<input type="text" name="address" value="板橋區縣民大道2段5巷11弄587號9樓"/>	
		<button type="button" class="d-block" onclick="insertMemberData(this)">新增會員資料</button>
	</form>
	
	<h3 class="mt-4">*會員：帳號列表</h3>
	<form>
		<h5>輸入篩選條件</h5>
		<input class="d-block filter" name="filter" value="" placeholder="輸入查詢字串"/>
		<button type="button" class="d-block filter" onclick="getMemberWithFilter(this)">會員列表</button>
	</form>
	
	<h3 class="mt-4">*會員：顯示會員編輯</h3>
	<form>
		<input type="text" name="memberID" class="memberID" value="M000000001"/>
		<button type="button" class="d-block my-3" onclick="getMemberInfoEditPage(this)">取得會員資料與編輯頁面所需資料</button>
	</form>
	<h3 class="mt-4">*會員：會員編輯資料頁面與更新資料功能(不含頭像)</h3>
	<form id="infoEditPage">
		<button type="button" onclick="updateMemberData(this)">更新會員資料</button>
	</form>	
	<h3 class="mt-4">*會員：會員頭像資料頁面與更新資料功能</h3>
	<form id="headImgEditPage">
		<button type="button" onclick="updateMemberHeadData(this)">更新會員頭像</button>
	</form>	
	
	<hr/>

	<script th:inline="javascript">
	
		// 更新會員頭像功能
		function updateMemberHeadData(e){
			$("body").LoadingOverlay("show");
			let url = '/admin/member/info/head/edit/' 
				+ $(e).parent('form').find('.memberID').val();
			
			let form = document.getElementById('headImgEditPage');
			//			console.log(form);
					let formData = new FormData(form);
			//			console.log(formData.get('nickname'));
					let file = $('#memberFiles').prop('file');
					formData.append('file', file);
			//			for(var pair of formData.entries()) {
			//				   console.log(pair[0]+ ', '+ pair[1]); 
			//			}
			//			console.log(formData);
					
			$.ajax({
				url:url,
				method:'post',
				mimeType: 'multipart/form-data',
				processData:false,
	       		cache: false,
	       		contentType: false,
	            timeout: 600000,
				data: formData,
				dataType:'json',
				success:function(result){
					$("body").LoadingOverlay("hide");
					console.log(result);
				},
				error:function(result){
					$("body").LoadingOverlay("hide");
					console.log(result);
				}
			})			
		}
	
		// 更新會員資料功能(不含頭像)
		function updateMemberData(e){
			$("body").LoadingOverlay("show");
			let url = '/admin/member/info/data/edit/' 
				+ $(e).parent('form').find('.memberID').val();
			
			$.ajax({
				url:url,
				method:'post',
				data:$(e).parent('form').serialize(),
				dataType:'json',
				success:function(result){
					$("body").LoadingOverlay("hide");
					console.log(result);
				},
				error:function(result){
					$("body").LoadingOverlay("hide");
					console.log(result);
				}
			})

		}
	
		// 生成頭像選擇輸入
		function setMemberHeadInput(e){
			$(e).before(`<input id="memberFiles" name="file" class="d-block" type="file"/>`);
		}
	
		// 取得會員資料與編輯頁面所需資料
		function getMemberInfoEditPage(e){
			let url = '/admin/member/info/edit/' 
				+ $(e).parent('form').find('.memberID').val();
			
			$.ajax({
				url:url,
				method:'get',
				data:null,
				dataType:'json',
				success:function(result){
					console.log(result);
					
					let memberData = result.response.data[1].memberInfo; 
					
					let regionList = `<option value="null">請選擇</option>`;
					result.response.data[0].regionList.forEach(function(list, i){
						let option = `<option value="${list}">${list}</option>`;
						if(list==memberData.county){
							option = `<option selected value="${list}">${list}</option>`
						}
						regionList = regionList + option;
					}); 
					
					let headImg = `
						<h6>大頭照</h6>
						<input class="d-none memberID" type="text" name="memberID" value="${memberData.memberID} "/>
						<img src="${memberData.img}" class="img-fluid d-block"/>
						<button type="button" class="d-block" onclick="setMemberHeadInput(this)">我要變更頭像</button>
					`;
					
					let html = `
						<h4>會員資料編輯頁</h4>
						<hr/>
						<input class="d-none memberID" type="text" name="memberID" value="${memberData.memberID} "/>
						<h6>帳號：Email</h6>
						<input class="d-block" type="text" th:field="*{account}" name="account" value="${memberData.account == null ? '' : memberData.account}"/>						
						<h6>*公開名稱</h6>
						<input class="d-block" type="text" th:field="*{publicName}" name="publicName" value="${memberData.publicName == null ? null : memberData.publicName} "/>
						<h6>*姓氏</h6>
						<input class="d-block" type="text" th:field="*{lastName}" name="lastName" value="${memberData.lastName  == null ? '' :  memberData.lastName}"/>
						<h6>*名字</h6>
						<input class="d-block" type="text" th:field="*{firstName}" name="firstName" value="${memberData.firstName  == null ? '' :  memberData.firstName}"/>						
						<h6>*電話</h6>
						<input class="d-block" type="text" th:field="*{phone}" name="phone" value="${memberData.phone == null ? '' : memberData.phone}"/>
						<h6>*手機</h6>
						<input class="d-block" type="text" th:field="*{cell}" name="cell" value="${memberData.cell == null ? '' : memberData.cell}"/>						
						<h6>*縣市(地區)</h6>
		                <select class="d-block" name="county" th:field="*{county}" name="county">
	                		${regionList}
	       				</select>
						<h6>地址</h6>
						<input class="d-block" type="text" th:field="*{address}" name="address" value="${memberData.address == null ? '' : memberData.address}"/>
						
					`;
					
					$('#infoEditPage button[type="button"]').before(html);
					$('#headImgEditPage button[type="button"]').before(headImg);
				},
				error:function(result){
					console.log(result);
				}
			})
		}	
	
		// 後台取得會員列表(篩選器)
		function getMemberWithFilter(e){
			$("body").LoadingOverlay("show");
			let url;
			console.log($(e).parent('form').find('.filter').val());
			if($(e).parent('form').find('.filter').val().length==0){
				url = '/admin/member/list';
			}else{
				url = '/admin/member/list/' 
					+ $(e).parent('form').find('.filter').val();
			}

			$.ajax({
				url:url,
				method:'get',
				data: null,
				dataType:'json',
				success:function(result){
					$("body").LoadingOverlay("hide");
					console.log(result);
				},
				error:function(result){
					$("body").LoadingOverlay("hide");
					console.log(result);
				}
			})
			
		}
	
		// 後台新增會員
		function insertMemberData(e){
			$("body").LoadingOverlay("show");
			let url = '/admin/member/info';

			let form = document.getElementById('infoSetPage');
// 			console.log(form);
			let formData = new FormData(form);
// 			console.log(formData.get('nickname'));
			let file = $('#memberHead').prop('file');
			formData.append('file', file);
// 			for(var pair of formData.entries()) {
// 				   console.log(pair[0]+ ', '+ pair[1]); 
// 			}
// 			console.log(formData);
			
			$.ajax({
				url:url,
				method:'post',
				mimeType: 'multipart/form-data',
				processData:false,
	       		cache: false,
	       		contentType: false,
	            timeout: 600000,
				data: formData,
				dataType:'json',
				success:function(result){
					$("body").LoadingOverlay("hide");
					console.log(result);
				},
				error:function(result){
					$("body").LoadingOverlay("hide");
					console.log(result);
				}
			})			
		}

		// 刪除多個相簿
		function deleteMemberAlbums(e){
			
			$("body").LoadingOverlay("show");
			let url = '/member/album/delete/' + $(e).parent('form').find('.memberID').val() ;
			
			let obj = $(e).parent('form').find('.albumIDList').serialize();
			
			$.ajax({
				url:url,
				method:'post',
				data: obj,
				dataType:'json',
				success:function(result){
					$("body").LoadingOverlay("hide");
					console.log(result);
				},
				error:function(result){
					$("body").LoadingOverlay("hide");
					console.log(result);
				}
			})			
			
		}
	
		// 增加刪除相簿編號欄位
		function addDeleteAlbumIDInput(e){
			let html =  `<input type="text" name="albumIDList" class="albumIDList d-block"  placeholder="輸入相簿編號" />`;
			$(html).insertBefore($(e));
		}
	
		// 刪除單一相簿
		function deleteMemberSingleAlbum(e){
			
			$("body").LoadingOverlay("show");
			let url = '/member/album/delete/' + $(e).parent('form').find('.memberID').val() 
			 + '/' + $(e).parent('form').find('.albumID').val(); 
			$.ajax({
				url:url,
				method:'post',
				data:null,
				dataType:'json',
				success:function(result){
					$("body").LoadingOverlay("hide");
					console.log(result);
				},
				error:function(result){
					$("body").LoadingOverlay("hide");
					console.log(result);
				}
			})			
			
		}
	
		// 刪除單一影音檔案
		function deleteMemberSingleVideo(e, videoID){
			console.log('here');
			$("body").LoadingOverlay("show");
			let url = '/member/video/delete/' + videoID; 
			$.ajax({
				url:url,
				method:'post',
				data:null,
				dataType:'json',
				success:function(result){
					$("body").LoadingOverlay("hide");
					console.log(result);
				},
				error:function(result){
					$("body").LoadingOverlay("hide");
					console.log(result);
				}
			})
		}
	
		// 取得會員單一相簿內所有影音
		function getVideoByMember(e){
			let url = '/member/video/' 
				+ $(e).parent('form').find('.memberID').val();
			
			$.ajax({
				url:url,
				method:'get',
				data:null,
				dataType:'json',
				success:function(result){
					console.log(result);
					let videoList = result.response.data[0].videoList;
					
					let html = `
						<h4>會員所有影片列表</h4>
						<hr/>
					`;
					let img = ``;
					videoList.forEach(function(list, i){
						img = img + `
						<h6 class="photoID">影音編號：${list.videoID}</h6>			
						<h6>影音名稱：${list.name == null ? '影音尚未命名': list.name}</h6>
						<h6>建立時間：${list.insertTime}</h6>	
						<video src='${list.url}' width='20%' height='auto' controls preload='metadata'></video>
						<label style='display:inline-block'>選取方框以刪除影音</label>
						<input type='checkbox' name='videoIDList' value='${list.videoID}'style='display:inline-block;'/>
						
						<button type='button' onclick='deleteMemberSingleVideo(this, ${list.videoID})'>刪除這個影音檔案</button>
						`;			
					})
					
					html = html + img;
					
					$('#memberVideos input[type="submit"]').before(html);
				},
				error:function(result){
					console.log(result);
				}
			})
		}	
	
	
		// 新增會員影音檔案
		function setNewVideoToMember(e){
			$("body").LoadingOverlay("show");
			let url = '/member/video/' 
				+ $(e).parent('form').find('.memberID').val();
	
			let formData = new FormData();
			let files = $('#videofiles').prop('files');
			
			for(let	i = 0; i < files.length; i++){
				formData.append('files', files[i]);		
			}
			
			$.ajax({
				url:url,
				method:'post',
				mimeType: 'multipart/form-data',
				processData:false,
	       		cache: false,
	       		contentType: false,
	            timeout: 600000,
				data: formData,
				dataType:'json',
				success:function(result){
					$("body").LoadingOverlay("hide");
					console.log(result);
				},
				error:function(result){
					$("body").LoadingOverlay("hide");
					console.log(result);
				}
			})
		}	
	
	
		// 刪除單一張照片
		function deleteMemberAlbumSinglePhoto(e, photoID){
			$("body").LoadingOverlay("show");
			let url = '/member/album/photo/delete/' + photoID; 
			$.ajax({
				url:url,
				method:'post',
				data:null,
				dataType:'json',
				success:function(result){
					$("body").LoadingOverlay("hide");
					console.log(result);
				},
				error:function(result){
					$("body").LoadingOverlay("hide");
					console.log(result);
				}
			})
		}
	
		// 查看單一相片詳細頁
		function getMemberAlbumSinglePhoto(e, photoID){
			let url = '/member/album/photo/' + photoID; 
			
			$.ajax({
				url:url,
				method:'get',
				data: null,
				dataType:'json',
				success:function(result){
					console.log(result);
					let photoInfo = result.response.data[0].photoInfo;
					let html =`
						<h5>相片編號：${photoInfo.photoID}</h5>
						<h5>相簿編號：${photoInfo.albumID}</h5>
						<h5>AWS金鑰：${photoInfo.objectKey}</h5>
						<h5>建立時間：${photoInfo.insertTime}</h5>
						<img src='${photoInfo.url}' style='width:20%;display:block;'/>
						<input type="button" onclick="deleteMemberAlbumSinglePhoto(this, ${photoInfo.photoID})" value="刪除單張照片" style="display:block"/>
					`;
					$('#eventAlbumSingle').append(html);
				},
				error:function(result){
					console.log(result);
				}
			})
		}	
	
	
		// 取得會員單一相簿內所有相片
		function getPhotoByMemberAndAlbum(e){
			
			let url = '/member/album/' 
				+ $(e).parent('form').find('.memberID').val() + "/"
				+ $(e).parent('form').find('.albumID').val();
			
			$.ajax({
				url:url,
				method:'get',
				data:null,
				dataType:'json',
				success:function(result){
					console.log(result);
					let albumInfo = result.response.data[0].albumInfo;
					let photoList = result.response.data[1].photoList;
					
					let html = `
						<h4>相簿編號：${albumInfo.albumID}</h4>
						<h4>相簿名稱：${albumInfo.name == null? '相簿尚未命名。': albumInfo.name }</h4>
						<h4>相簿簡介：${albumInfo.intro}</h4>
						<h4>建立時間：${albumInfo.insertTime}</h4>
						<hr/>
					`;
					let img = ``;
					photoList.forEach(function(list, i){
						img = img + `
						<h6 class="photoID">相片編號：${list.photoID}</h6>			
						<h6>相片名稱：${list.name == null ? '照片尚未命名': list.name}</h6>			
						<img src='${list.url}' width='15%' height="auto" />
						<label style='display:inline-block'>選取方框以刪除照片</label>
						<input type='checkbox' name='photoIDList' value='${list.photoID}'style='display:inline-block;'/>
						<input type='button' onclick='getMemberAlbumSinglePhoto(this, ${list.photoID})' value='點擊看相片詳細頁' style='display:block;' class='mb-4'/>
						`;			
					})
					
					html = html + img;
					
					$('#eventAlbumPhotos input[type="submit"]').before(html);
				},
				error:function(result){
					console.log(result);
				}
			})
		}
	
		// 將相片新增到活動的相簿內
		function setNewPhotoToMember(e){
			$("body").LoadingOverlay("show");
			let url = '/member/album/' 
				+ $(e).parent('form').find('.memberID').val() + "/"
				+ $(e).parent('form').find('.albumID').val();
	
			let formData = new FormData();
			let files = $('#files').prop('files');
			
			for(let	i = 0; i < files.length; i++){
				formData.append('files', files[i]);		
			}
			// 確認files已經裝進formData的"files"中
	//			console.log(formData.getAll("files"));
			
			$.ajax({
				url:url,
				method:'post',
				mimeType: 'multipart/form-data',
				processData:false,
	       		cache: false,
	       		contentType: false,
	            timeout: 600000,
				data: formData,
				dataType:'json',
				success:function(result){
					$("body").LoadingOverlay("hide");
					console.log(result);
				},
				error:function(result){
					$("body").LoadingOverlay("hide");
					console.log(result);
				}
			})
		}
	
		// 會員新增相簿功能	
		function setNewMemberAlbum(e){
			let url = '/member/album/' + $(e).parent('form').find('.memberID').val();
			
			$.ajax({
				url:url,
				method:'post',
				data:$(e).parent('form').serialize(),
				dataType:'json',
				success:function(result){
					console.log(result);
				},
				error:function(result){
					console.log(result);
				}
			})
		}			
		
		// 會員新增相簿取得Form
		function setNewMemberAlbumPage(){
	   	 $('#newClub').html('');
	        $.ajax({
	            url: '/member/album/prework/setting',
	            method: 'get',
	            data: null,
	            dataType: 'json',
	            success: function (result) {
	            	console.log(result.response.data);
	            	let familartyList = ``;
	            	result.response.data[0].familartyList.forEach(function(list, i){
	            		console.log(list);
	            		familartyList = familartyList + `<option value="${list.sn}">${list.name}</option>`;
	               	})
	               	let minLevelByClass = ``;
	            	result.response.data[1].minLevelByClass.forEach(function(list, i){
	            		minLevelByClass = minLevelByClass + `<option value="${list.level}">${list.className}</option>`;
	               	})	 
	               	let visibilityList = ``;
	            	result.response.data[2].visibilityList.forEach(function(list, i){
	            		visibilityList = visibilityList + `<option value="${list}">${list}</option>`;
	               	})	 	            	
	
	                let allInput = `
	
					會員帳號或會員編號
	                <input type="text" name="memberID" th:filed="*{establisher}" class="memberID d-block" value="M000000001"/>
	               	相簿名稱
	             	<input type="text" name="name" th:filed="*{name}" class="d-block" value="我們最愛ZARD"/>
	               	相簿簡介
	                <input type="text" name="intro" th:filed="*{intro}" class="d-block" value="超愛ZARD"/>
	           		可見度
	                <select class="d-block" name="visibility" th:filed="*{visibleList}">
	                	${visibilityList}
	       			</select>
                   	 熟悉度
	               	<select class="d-block" name="familiarSN" th:field="*{categoryID}">
	               		${familartyList}
	               	</select>
	               	品級
	                <select class="d-block" name="minLevel" th:filed="*{minLevelByClass}">
	                	${minLevelByClass}
	           		</select>
	            	<br/>
	       			<input class="d-block mt-2" type="button" onclick="setNewMemberAlbum(this)" value="新增相簿"/>
	                `;
	                
	                $('#newClub').append(allInput);
	                
	            },
	            error: function (result) {
	            	console.log("失敗");
	            }
	        });			
		}
		
		// 名片編輯
		function updateCard(e){
       	 $('#editCard').html('');
		 console.log($(e).parent('form').find('.memberID888').serialize());
	        $.ajax({
	            url: '/member/card',
	            method: 'post',
	            data: $(e).parent('form').find('.memberID888').serialize(),
	            dataType: 'json',
	            success: function (result) {
	            	console.log(result.response.data);
	            	let info = result.response.data[0].cardInfo;
	            	
                    let allInput = `
                    	
    				我的名片編號
                    <input type="text" name="cardID" class="d-block" value="${info.cardID}" />
                    
					是否顯示聯絡電話
                   	<input type="text" name="telSet" class="d-block" value="${info.telSet}" />
    				是否顯示地址
               		<input type="text" name="addressSet" class="d-block" value="${info.addressSet}" />
        			是否顯示LINE ID
           			<input type="text" name="lineIDSet" class="d-block" value="${info.lineIDSet}" />
        			是否顯示公司行號
       				<input type="text" name="companySet" class="d-block" value="${info.companySet}" />
        			是否顯示E-mail
   					<input type="text" name="emailSet" class="d-block" value="${info.emailSet}" />
   					
					對方的名片編號
					<input type="text" name="friendCardID" class="d-block" />
                   	
	            	<br/>
	       			<input class="d-block mt-2" type="submit" value="發送邀請"/>
                    `;
                    
                    $('#editCard').append(allInput); 
                    
	            },
	            error: function (result) {
	            	console.log("失敗");
	            }
	        });			
		}

	
	</script>

</div>