<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- admin head -->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- X-UA-Compatible設置IE兼容模式 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!--RWD-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0, shrink-to-fit=no" />
    <meta name="author" content="" />
    <meta name="copyright" content="" />
    <meta name="description" content=""/>
	<meta name="keywords" content=""/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    
	<!-- Title Bar -->
    <!-- <link rel="shortcut icon" type="image/png" th:href="@{/image/logo.png}" /> -->
    <title th:text="${pageTitle != null ? pageTitle + ' | Atenore API測試' : 'Atenore API測試'}"></title>
        
    <!-- involve bootstrap and fontawesome -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" 
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous" />
    
    <!-- involve jquery, popper, bootstrap -->
    <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" 
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script th:src="@{/js/loadingoverlay.min.js}"></script>
</head>
<body class="pl-5 pb-5">
	
	<!-- 驗證模組測試頁 -->
<!-- 	<div th:replace="RestAPI/Validation ::div"></div> -->
	<!-- 首頁與搜尋模組測試頁 -->
<!-- 	<div th:replace="RestAPI/Index ::div"></div> -->
	<!-- 會員模組測試頁 -->
<!-- 	<div th:replace="RestAPI/Member ::div"></div> -->
	<!-- 訊息模組 -->
	
	<!-- 社團模組測試頁 -->
	
	<!-- 活動模組測試頁 -->
	<div th:replace="RestAPI/Event ::div"></div>

</body>
</html>