<div>
    <!-- 成功 -->
    <div id="successPopUp" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered " role="document">
            <div class="modal-content pop-up">
                <div class="modal-body text-center p-4 ">
                    <div id="successMsg" class="py-3 letter-spacing-s font-weight-bold"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- 錯誤 -->
    <div id="errorPopUp" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content pop-up">
                <div class="modal-body text-center p-4 ">
                    <div id="errorMsg" class=" py-3 letter-spacing-s text-danger-s font-weight-bold"></div>
                    <button data-dismiss="modal" class="btn btn-danger-s m-2 px-4">確定</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 確認 -->
    <!-- 彈出式確認視窗 -->
    <div id="confirmPopUp" class="modal fade bd-example-modal-sm px-5 confirm-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
            <div class="modal-content pop-up">
                <div class="modal-body text-center p-4">
                    <p id="confirmInfo" class="mt-4 mb-2 font-weight-bold letter-spacing-s"></p>
                </div>
                <div class="modal-footer justify-content-center p-0 mb-3 border-0">
                        <button type="button" id="cancelBtn"
                            class="btn btn-danger-s m-2 px-4 cancelBtn"
                            data-dismiss="modal">取消</button>
                        <button type="button" id="confirmBtn"
                            class="submitBtn btn btn-accent m-2 px-4">確定</button>
                </div>
            </div>
        </div>
    </div>
    <script th:inline="javascript">
        // msg
        const nowUrl = new URL(location.href);
        let msg = nowUrl.searchParams.get('msg');
        let modalMsg = [[${ msg }]];

        window.onload = function () {
            if (msg != null || modalMsg != null) {
                if (msg != null) {
                    $('#errorMsg').text(msg);
                }
                if (modalMsg != null) {
                    $('#errorMsg').text(modalMsg);
                }
                $('#errorPopUp').modal('show');
            }
        };
    </script>
</div>