<div class="geolocation-alert-wrap col-12 z-index-2">
    <div id="geolocation-alert"
         class="geolocation-alert mx-auto z-index-2"
         style="display: none;">
        <span v-on:click="toggleGeoAlert"
              class="block-geolocation-alert float-right font-weight-bold pointer p-2 mr-2 text-ms">
            <i class="fas fa-times"></i>
        </span>
        <span class="d-block m-3">是否允許Atenore地圖存取你的位置資訊？</span>
        <div class="text-right m-3">
            <a v-on:click="disallowGeoAlert"
               href="#"
               class="block-geolocation-alert text-accent mr-2">封鎖</a>
            <a v-on:click="allowGetPosition"
               href="#"
               class="allow-geolocation-alert text-accent">允許</a>
        </div>
    </div>
</div>