<head>
	<meta name="google-signin-client_id" content="209830856725-4ovqei2om3o4rqt65oul278ppml16c58.apps.googleusercontent.com">
</head>
<header class="header-box-shadow">
	<div id="header">
    <div class="d-flex container py-4 px-0 px-md-4">
        <div class="col-xs-6 col-5 col-md-4 col-lg-3 p-0">
            <a href="/index"><img id="header-logo"
                     class="btn mr-auto w-100 position-relative"
                     src="/image/img-nav-logo.png"
                     alt="logo"></a>
        </div>
        <ul class="nav justify-content-end ml-auto">
            <li class="nav-item dropdown">
                <button v-if="loginMemberID==null" onclick="location.href='/login'"
                        id="header-login"
                        class="btn btn-dark">登入/註冊</button>
                <button v-if="loginMemberID!=null" onclick="logout()"
                        class="btn btn-dark" type="button">登出</button>                        
                <img id="menu-toggle"
                     class="btn dropdown-toggle"
                     data-toggle="dropdown"
                     role="button"
                     aria-haspopup="true"
                     aria-expanded="false"
                     th:src="@{/image/icon-nav-menu.png}"
                     alt="hamburger">
                <div class="dropdown-menu mt-2 px-2 rounded-10px box-shadow">
                    <a class="dropdown-item px-4" v-if="loginMemberID!=null"
                       :href="'/member/member-information/' + loginMemberID">個人資訊</a>
                    <a class="dropdown-item px-4" v-if="loginMemberID!=null"
                       :href="'/member/member-favorites/' + loginMemberID">收藏清單</a>
                    <a class="dropdown-item px-4" v-if="loginMemberID!=null"
                       :href="'/member/member-apply/' + loginMemberID">已申請項目</a>                       
                    <a class="dropdown-item px-4"
                       href="/activity/new-activity-list">最新活動</a>
                    <a class="dropdown-item px-4"
                       href="/activity/hot-activity-list">熱門活動</a>
                    <a class="dropdown-item px-4"
                       href="/place/hot-place-list">熱門場所</a>
                    <a class="dropdown-item px-4"
                       href="/master/popular-list">紅人榜</a>
                    <a class="dropdown-item px-4"
                       href="/master/hero-list">群英會</a>
                    <a class="dropdown-item px-4"
                       href="/master/god-list">封神榜</a>
					<div class="dropdown-divider"></div>                        
                    <a class="dropdown-item px-4"
                       href="/contact">聯絡我們</a>
                </div>
            </li>
        </ul>
    </div>
    <div class="d-block d-md-none nav-mobile bg-white position-absolute py-4 side-collapse">
        <ul class="nav flex-column">
            <li class="dropdown-item px-4"
                href="/activity/new-activity-list">
                <a class="nav-link">最新活動</a>
            </li>
            <li class="dropdown-item px-4"
                href="/activity/hot-activity-list">
                <a class="nav-link">熱門活動</a>
            </li>
            <li class="dropdown-item px-4"
                href="/place/hot-place-list">
                <a class="nav-link">熱門場所</a>
            </li>
            <li class="dropdown-item px-4"
                href="/master/popular-list">
                <a class="nav-link">紅人榜</a>
            </li>
            <li class="dropdown-item px-4"
                href="/master/master-list">
                <a class="nav-link">群英會</a>
            </li>
            <li class="dropdown-item px-4"
                href="/master/god-list">
                <a class="nav-link">封神榜</a>
            </li>
            <div class="dropdown-divider"></div>
            <li class="dropdown-item px-4"
                href="/contact">
                <a class="nav-link">聯絡我們</a>
            </li>
        </ul>
    </div>
    <div class="fade modal-backdrop d-block d-md-none"></div>
    </div>
   	<script async defer crossorigin="anonymous" src="https://connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v9.0&appId=412758796402714&autoLogAppEvents=1" nonce="Ik6hkGHJ"></script> 
	<script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
    <script th:inline="javascript">
    	
    
		function onSuccess(googleUser) {
	    	console.log('Logged in as: ' +  googleUser.getBasicProfile().getName());
	    	signInSSO(googleUser.getAuthResponse().id_token, 'google');
	    	setLocalStoreItem('google_token', googleUser.getAuthResponse().id_token, 86400000);
	  	}
	 	function onFailure(error) {
	        showErrorMsg(err);
	        window.setTimeout(() => location.reload(), 1000);
	  	}
	  	function renderButton() {
	    	gapi.signin2.render('my-signin2', {
	          'scope': 'profile email',
	          'width': 240,
	          'height': 40,
	          'border-radius':'28px',
	          'longtitle': true,
	          'theme': 'light',
	          'onsuccess': onSuccess,
	          'onfailure': onFailure
	     	});
	     }    
    
	  	function statusChangeCallback(res) {  // Called with the results from FB.getLoginStatus().
		    if (res.status === 'connected') {   // Logged into your webpage and Facebook.
// 		    	console.log('你已經登入囉')
		    } else {                                 // Not logged into your webpage or we are unable to tell.
// 				console.log('fb not logged in');
		    }
 		 }    
    
	  	 window.fbAsyncInit = function() {
		    FB.init({
		      appId      : '412758796402714',
		      cookie     : true,                     // Enable cookies to allow the server to access the session.
		      xfbml      : true,                     // Parse social plugins on this webpage.
		      version    : 'v9.0'           		 // Use this Graph API version for this call.
		    });
	
		    FB.getLoginStatus(function(response) {   // Called after the JS SDK has been initialized.
		    	statusChangeCallback(response);        // Returns the login status.
		    });
	 	 }; 
	 	 
	      	function facebookOnLogin(){
			    FB.getLoginStatus(function(res) {   // Called after the JS SDK has been initialized.
				    FB.api('/me', function(response) {
						console.log('Successful login for: ' + response.name);
						signInSSO(res.authResponse.accessToken, 'facebook');
						setLocalStoreItem('facebbok_token', res.authResponse.accessToken, 86400000);
			    	});
			    });      		
	      	}

			function signInSSO(id_token, sso_type){
	        	let fd = new FormData();
	        	fd.append('id_token', id_token);
	        	fd.append('sso_type', sso_type);
	            axios
	            .post('/signIn/SSO', fd)
	            .then(response => {
	                let res = response.data;
	                if (res.code == 200) {
						// Set memberID to localStorage
	                    setLocalStoreItem('memberID', res.data.memberID, 86400000);
	                    $('body').LoadingOverlay('hide');
	                    showSuccessTopPopup("登入成功！");
	                    window.setTimeout(() => location.href = "/index", 2000);
	                } else {
	                	$('body').LoadingOverlay('hide');
	                    console.log("get user info error:" + res.errMsg);
	                    showErrorMsg(res.errMsg);
	                    window.setTimeout(() => location.reload(), 1000);
	                }
	            })
	            .catch(function (error) { // 請求失敗處理
	            	$('body').LoadingOverlay('hide');
	                console.log("get user info error:" + error);
	                showErrorMsg(error);
	            }); 			
			}
	 	 
	 	 
    	var loginStatus = new Vue({
    		el:"#header",
    		data: {
    			loginMemberID: null
    		},
    		computed: {
    			
    		}, 
    		created: function(){
    			this.loginMemberStatus();
    		},
    		methods: {
    			loginMemberStatus: function(){
    				let vm = this;
    				if(localStorage.getItem('memberID')!=null){
    					let memberObj = JSON.parse(localStorage.getItem('memberID'));
    					vm.loginMemberID = memberObj.value;
//     					console.log(vm.loginMemberID);
    				}
    				
    				let timer = setInterval(function () {
    				    if(localStorage.getItem("memberID")){
    				        let valueStr = localStorage.getItem("memberID");
    				        var valueObj = JSON.parse(valueStr);
//    				        console.log(new Date().getTime() - valueObj.time);
    				        if(new Date().getTime() - valueObj.time >= valueObj.expire){
    				            localStorage.removeItem("memberID")
    				        }
    				    }else{
    				        clearInterval(timer);
    				    }
    				},1000) 
    				
    			},
    			logoutMember: function(){
    				console.log('here');
    				localStorage.removeItem("memberID");  
    				location.replace('/index');
    			}
    		}
    	});
    	
        function signOut() {
            var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function () {
//                 auth2.disconnect();
            });

        }

        function onLoad() {
            gapi.load('auth2', function() {
                gapi.auth2.init();
            });
        }
    	
    	function logout(){
    		if(localStorage.getItem('facebbok_token')){
	   			FB.logout(function(response) {
	   			}); 
	   			localStorage.removeItem("facebbok_token"); 
    		}
    		localStorage.removeItem("google_token"); 
    		loginStatus.logoutMember();
    		signOut();
    	}
    </script>
    
</header>