<footer class="w-100 py-2 text-center bg-white">
    <img class="d-inline-block v-middle" src="/image/img-nav-logo.png" alt="" height="10px">
    <small class="d-block d-md-inline-block text-black-50 ml-auto mr-auto mr-md-2">Copyright © 2020 Atenore. 保留一切權利。</small>
</footer>