<!DOCTYPE html>
<html lang="en">
<div th:replace="admin/_admin_head ::head"></div>

<body>
    <div class="wrap admin">
        <div class="wrap index admin">
            <div th:replace="admin/part/_backstageHeader ::header"></div>
            <div class="header-space"></div>
            <div class="d-flex h-100">
                <div th:replace="admin/part/_backstageNav ::nav"></div>
                <div class="admin-nav-space"></div>
                <main class="main-session w-100 px-4">
                    <h1 class="h3 mt-5 mb-3 text-accent">新增管理者帳號</h1>
                    <!-- breadcrumb -->
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                             <li class="breadcrumb-item"><span class="text-accent-dark op-6">系統設置</span></li>
                            <li class="breadcrumb-item"><a th:href="@{/admin/admin/account-list}"
                                    class="text-accent">管理者帳號管理</a></li>
                            <li class="breadcrumb-item active" aria-current="page">新增管理者帳號</li>
                        </ol>
                    </nav>
                    <form id="dataForm" class="login-wrap mx-auto needs-validation mt-3 pt-2" novalidate method="POST">
                        <div class="input-group my-3">
                            <div class="input-group-prepend">
                                <div class="input-group-text bg-white">帳號<span class="text-danger-s ml-1">*</span></div>
                            </div>
                            <input v-model="account" type="text" name="account" maxlength="20" required
                                class="check-input form-control rounded-right" placeholder="請輸入管理者帳號(限20字元)">
                            <div ref="confirmMsg" class="invalid-feedback text-right"></div>
                        </div>
                        <div class="input-group my-3">
                            <div class="input-group-prepend">
                                <div class="input-group-text bg-white">密碼<span class="text-danger-s ml-1">*</span></div>
                            </div>
                            <input v-model="pwd" type="password" name="pwd" maxlength="20" required
                                class="check-input form-control rounded-right" placeholder="請輸入管理者密碼(限30字元)">
                            <div ref="confirmMsg" class="invalid-feedback text-right"></div>
                        </div>
                        <div class="input-group my-3">
                            <div class="input-group-prepend">
                                <div class="input-group-text bg-white">姓名<span class="text-danger-s ml-1">*</span></div>
                            </div>
                            <input v-model="name" type="text" name="name" required
                                class="check-input form-control rounded-right" placeholder="請輸入管理者姓名">
                            <div ref="confirmMsg" class="invalid-feedback text-right"></div>
                        </div>
                        <div class="input-group my-3">
                            <div class="input-group-prepend">
                                <div class="input-group-text bg-white">信箱<span class="text-danger-s ml-1">*</span></div>
                            </div>
                            <input v-model="mail" type="email" name="mail" required
                                class="check-input form-control rounded-right" placeholder="請輸入信箱">
                            <div ref="confirmMsg" class="invalid-feedback text-right"></div>
                        </div>
                        <div class="input-group my-3">
                            <div class="input-group-prepend">
                                <div class="input-group-text bg-white">身分別<span class="text-danger-s ml-1">*</span></div>
                            </div>
                            <select v-model="featureID" name="featureID" required class="check-input form-control rounded-right">
                                <option value="" selected disabled>--請選擇管理者身分別--</option>
                                <option is="feature-opt" v-for="opt in selList" v-bind:data="opt"></option>
                            </select>
                            <div ref="confirmMsg" class="invalid-feedback text-right"></div>
                        </div>
                        <div class="text-center pt-2">
                            <a th:href="@{/admin/admin/account-list}" class="btn btn-danger-s letter-spacing-s m-1">取消</a>
                            <button ref="submitBtn" @click="checkValid"
                                class=" btn btn-bg-accent letter-spacing-s m-1">新增管理者</button>
                        </div>
                    </form>
                </main>
            </div>
            <!-- success & error Msg -->
            <div th:replace="part/_popupMsg ::div"></div>

        </div>
        <script th:src="@{/js/common.js}"></script>
        <script th:inline="javascript">
            adminShowNavCurrent($('.admin-account'));
            new Vue({
                el: '#dataForm',
                data: {
                    account: '',
                    name: '',
                    pwd:'',
                    mail: '',
                    featureID:'',
                    selList: [],
                },
                created: function () {
                    this.getSelList();
                },
                mounted: function () {
                    formSetSubmitting();
                },
                methods: {
                    getSelList: function () { //get feature list data
                        axios.get('/admin/feature')
                            .then(res => {
                                if (res.data.code==200) {
                                    this.selList = [...res.data.data.featureList];
                                } else {
                                    console.log("admin-feature error:" + res.data.errMsg);
                                }
                            })
                            .catch(error => {
                                console.error(error);
                            });;
                    },
                    checkValid: function (e) {
                        e.preventDefault();
                        let btn = this.$refs.submitBtn;
                        let form = this.$el;
                        let inputs = form.querySelectorAll('.check-input');
                        if (!form.submitting) {
                            form.submitting = true;
                            btn.setAttribute("disabled", true);
                            form.classList.add('was-validated');
                            if (form.checkValidity()) {
                                this.sendAjax();
                            } else {
                                for (var item of inputs) {
                                    item.nextElementSibling.innerText = item.validationMessage;
                                }
                                form.submitting = false;
                                btn.removeAttribute("disabled");
                            }
                        } else {
                            return false;
                        };
                    },
                    sendAjax: function () {
                        let form = this.$el;
                        let btn = this.$refs.submitBtn;
                        let fd = new FormData(form); //form data
                        axios.post('/admin/manager', fd) //send ajax
                            .then(function (response) { //success
                                let res = response.data;
//                                 console.log(res);
                                if (res.code==201) {
                                    showSuccessMsg("新增成功");
                                    window.setTimeout(() => location.href="/admin/admin/account-list", 2000);
                                } else {
                                    showErrorMsg(res.errMsg);
                                    form.submitting = false;
                                    btn.removeAttribute("disabled");
                                }
                            })
                            .catch(function (error) { //error
//                                 console.log(error);
                                showErrorMsg('發生系統錯誤，未送出資料');
                                form.submitting = false;
                                btn.removeAttribute("disabled");
                            });
                    }
                }
            })

            Vue.component('feature-opt', {
                props: ['data'],
                template: `<option :value="data.featureID">{{data.name}}</option>`
            })

        </script>

</body>

</html>