<!DOCTYPE html>
<html lang="en">
<div th:replace="admin/_admin_head ::head"></div>

<body>
    <div class="wrap admin">
        <div class="wrap index admin">
            <div th:replace="admin/part/_backstageHeader ::header"></div>
            <div class="header-space"></div>
            <div class="d-flex h-100">
                <div th:replace="admin/part/_backstageNav ::nav"></div>
                <div class="admin-nav-space"></div>
                <main class="main-session w-100 px-4">
                    <h1 class="h3 mt-5 mb-3 text-accent">管理者身分別設定</h1>
                    <!-- breadcrumb -->
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                             <li class="breadcrumb-item"><span class="text-accent-dark op-6">系統設置</span></li>
                            <li class="breadcrumb-item active" aria-current="page">管理者身分別設定</li>
                        </ol>
                    </nav>
                    <div id="data-wrap">
                        <div class="text-right">
                            <!-- 新增Btn -->
                            <a v-if="limit.edit" th:href="@{/admin/admin/feature-list/new}" id="newBtn"
                                class="btn-accent btn rounded no-underline d-inline-flex align-items-center px-3"><span
                                    class="mr-2"><i class="gg-math-plus"></i></span>新增身分別</a>
                        </div>
                        <!-- data-row -->
                        <table class="table text-center my-3 border">
                            <thead class="bg-accent text-light border-0">
                                <tr>
                                    <th scope="col" class="border-0">
                                        <div @click="changeOrder" id="orderBtn"
                                            class="pointer d-flex align-items-center">編號<span class="ml-2"><i
                                                    class="gg-arrows-exchange-alt-v"></i></span>
                                        </div>
                                    </th>
                                    <th scope="col" class="border-0">身分別</th>
                                    <th scope="col" class="border-0">最後更新日期</th>
                                    <th v-if="limit.edit" scope="col" class="border-0" width="80px"></th>
                                    <th v-if="limit.delete" scope="col" class="border-0" width="80px"></th>
                                </tr>
                            </thead>
                            <tbody ref="listWrap" class="border-bg-color2 d-none">
                                <tr v-if="limit.read" v-for="(row, index) in showData">
                                    <td>{{computeSn(index)}}</td>
                                    <td>{{row.name}}</td>
                                    <td>{{row.updateTime ? sliceToDate(row.updateTime,'-') : ''}}</td>
                                    <td v-if="limit.edit"><a v-if="!isTopFeature(row.topFeature)"
                                            v-bind:href="'/admin/admin/feature-list/edit/'+row.featureID"
                                            class="btn btn-accent">編輯</a></td>
                                    <td v-if="limit.delete"><button v-if="!isTopFeature(row.topFeature)" @click="clickDelete(row.featureID)"
                                            class="btn btn-danger" :data-f.prop="row.featureID" :data-n.prop="row.name">刪除</button></td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- page nav -->
                        <div ref="pagination" v-bind:class="{ 'd-none': !showPages }"
                            class="pagination-wrap simple-pagination light-theme"></div>
                        <!-- empty msg -->
                        <div v-if="emptyData" class="empty-msg letter-spacing-s">{{emptyMsg}}</div>
                        <!-- edit admin feature popup -->
                        <div ref="editFeatureModal" class="modal fade bd-example-modal-sm px-5 confirm-modal"
                            tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
                                <div class="modal-content pop-up">
                                    <div class="modal-body text-center p-4">
                                        <p class="mt-4 mb-2 font-weight-bold letter-spacing-s">變更管理者<span
                                                class="text-accent">{{manageInfo.account}}</span>權限：</p>
                                        <select v-model="manageInfo.feature" class="form-control">
                                            <option is="feature-opt" v-for="opt in selList" v-bind:data="opt"></option>
                                        </select>

                                    </div>
                                    <div class="modal-footer justify-content-center p-0 mb-3 border-0">
                                        <button type="button" class="btn btn-danger-s m-2 px-4 cancelBtn"
                                            data-dismiss="modal">取消</button>
                                        <button @click="manageAdmin" type="button"
                                            class="submitBtn btn btn-accent m-2 px-4">確定</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
            <!-- success & error Msg -->
            <div th:replace="part/_popupMsg ::div"></div>

        </div>
        <script th:src="@{/js/common.js}"></script>
        <script th:inline="javascript">
            adminShowNavCurrent($('.admin-feature'));

            var dataTable = new Vue({
                el: '#data-wrap',
                data: {
                    limit: {
                        read: checkLimit([], "1"),
                        edit: checkLimit([], "2"),
                        delete:checkLimit([], "3")
                    },
                    selList: ['All'], //查詢選單項目
                    dataList: [], //回傳資料
                    page: {
                        dataCount: 0,
                        current: 1
                    },
                    initSet: { // 初始查詢設定
                        begin: 1,
                        end: 20,
                        order: "DESC"
                    },
                    getDataParm:{
                        search: "",
                        filter: "All",
                        date: "",
                    },
                    manageInfo: {
                        feature: null,
                    },
                    manageUrl: "",
                    emptyMsg: "查無符合條件之管理者身分別"
                },
                computed: {
                    emptyData: function () {
                        return this.dataList.length == 0;
                    },
                    showPages: function () {
                        return this.page.dataCount > this.initSet.end
                    },
                    showData:function(){
                        let begin = (this.page.current-1)*this.initSet.end;
                        let end = (this.page.current)*this.initSet.end;
                        
                        return this.dataList.slice(begin,end);
                    }
                },
                created: function () { //call ajax
                    this.renewDataRow();
                },
                mounted: function () {
                    this.$refs.listWrap.classList.remove('d-none');
                    let pageWrap = this.$refs.pagination;
                    let self = this;
                    $(pageWrap).pagination({
                        items: 0,
                        itemsOnPage: this.initSet.end,
                        cssStyle: 'light-theme',
                        hrefTextPrefix: "#",
                        onPageClick: function (pageNumber) {
                            self.page.current = pageNumber;
                            self.getDataList();
                        }
                    });
                },
                methods: {
                    getDataList: function () { //get admin account list data
                        this.initSet.begin = 1 + (this.page.current - 1) * this.initSet.end;
                        return axios.get('/admin/feature', this.initSet);
                    },
                    dataListCallBack: function (res) {
                        if(this.initSet.order=="DESC"){
                            this.dataList = [...res.data.data.featureList].reverse();
                        }else{
                            this.dataList = [...res.data.data.featureList]
                        }
                        this.page.dataCount = this.dataList.length;
                        let pageWrap = this.$refs.pagination;
                        $(pageWrap).pagination('drawPage', 1);
                        $(pageWrap).pagination('updateItems', this.page.dataCount);
                    },
                    renewDataRow: function () { //renew list data
                        this.initSet.begin = 1;
                        this.page.current=1;
                        this.getDataList().then((res) => {
                            this.dataListCallBack(res);
                        }).catch(error => {
                            console.error(error);
                        });
                    },
                    computeSn(i) {
                        return getItemNum(i,this.initSet.order,this.initSet.end,this.page.current, this.page.dataCount);
                    },
                    isTopFeature: function (topFeature) {
//                         return featureID == "102cfb43-abe2-4a6e-b311-05625702224a";
//                         return featureID == "bd70ad0d-a8d3-4b0f-9959-335243a8073b";
							return topFeature;
                    },
                    changeOrder: function () {
                        this.initSet.order = (this.initSet.order == "DESC") ? "ASC" : "DESC";
                        this.dataList.reverse();
                    },
                    clickDelete: function (featureID) { //刪除管理者點選
                        this.manageInfo.feature = event.target.dataF;
                        this.manageUrl = "/admin/feature/" + featureID;
                        showConfirmMsg("確定要刪除管理者身分別<br><span class='my-2 text-accent'>" + event.target.dataN + "</span>");
                    },
                    manageAdmin: function () {  //send manage ajax                      
                        axios.delete(this.manageUrl) //send ajax
                            .then(function (response) { //success
                                let res = response.data;
                                console.log(res);
                                if (res.code==204) {
                                    showSuccessMsg("刪除成功");
                                    window.setTimeout(() => location.reload, 2000);
                                } else {
                                    showErrorMsg(res.msg);
                                }
                            })
                            .catch(function (error) { //error
                                console.log(error);
                                showErrorMsg('發生系統錯誤，未送出資料');
                            });
                        $('.confirm-modal').modal('hide');
                    },
                    resetManage: function () {
                        setNull(this.manageInfo);
                        this.manageUrl = null;
                    }

                }
            });

            $('.confirm-modal').on('hidden.bs.modal', function (e) {
                dataTable.resetManage();
            });

            $('#confirmBtn').click(function () {
                dataTable.manageAdmin();
            })

            // Vue.component('feature-opt', {
            //     props: ['data'],
            //     template: `<option :value="data.id">{{data.name}}</option>`
            // })


        </script>

</body>

</html>