<!DOCTYPE html>
<html lang="en">
<div th:replace="admin/_admin_head ::head"></div>

<body>
    <div class="wrap admin">
        <div class="wrap index admin">
            <div th:replace="admin/part/_backstageHeader ::header"></div>
            <div class="header-space"></div>
            <div class="d-flex h-100">
                <div th:replace="admin/part/_backstageNav ::nav"></div>
                <div class="admin-nav-space"></div>
                <main class="main-session w-100 px-4">
                    <h1 class="h3 mt-5 mb-3 text-accent">新增管理者身分別</h1>
                    <!-- breadcrumb -->
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                             <li class="breadcrumb-item"><span class="text-accent-dark op-6">系統設置</span></li>
                            <li class="breadcrumb-item"><a th:href="@{/admin/admin/feature-list}"
                                    class="text-accent">管理者身分別設定</a></li>
                            <li class="breadcrumb-item active" aria-current="page">新增管理者身分別</li>
                        </ol>
                    </nav>
                    <form id="dataForm" class="needs-validation mt-3 pt-2" novalidate method="POST">
                        <div class="input-group mb-4 mx-auto login-wrap">
                            <div class="input-group-prepend">
                                <div class="input-group-text bg-white">管理者身分別<span class="text-danger-s ml-1">*</span>
                                </div>
                            </div>
                            <input type="text" name="name" required
                                class="check-input form-control rounded-right" placeholder="請輸入管理者身分別名稱">
                            <div ref="confirmMsg" class="invalid-feedback text-right"></div>
                        </div>
                        <!-- 權限表 -->
                        <div class="my-3">
                            <div class="row mx-0 bg-accent-dark op-8 text-light py-2 px-3">系統設置</div>
                            <div class="row mx-0 border border-top-0">
                                <div class="col-md-4 border-right py-2">管理者設定</div>
                                <set-limit v-bind:limits="limitList.admin"></set-limit>
                            </div>
                            <div class="row mx-0 border border-top-0">
                                <div class="col-md-4 border-right py-2">管理者身分別設定</div>
                                <set-limit v-bind:limits="limitList.feature"></set-limit>
                            </div>
                            <div class="row mx-0 bg-accent-dark op-8 text-light py-2 px-3">用戶管理</div>
                            <div class="row mx-0 border border-top-0">
                                <div class="col-md-4 border-right py-2">用戶帳號資訊</div>
                                <set-limit v-bind:limits="limitList.user"></set-limit>
                            </div>
                            <div class="row mx-0 bg-accent-dark op-8 text-light py-2 px-3">內容管理</div>
                            <div class="row mx-0 border border-top-0">
                                <div class="col-md-4 border-right py-2">活動管理</div>
                                <set-limit v-bind:limits="limitList.event"></set-limit>
                            </div>
                            <div class="row mx-0 border border-top-0">
                                <div class="col-md-4 border-right py-2">場地管理</div>
                                <set-limit v-bind:limits="limitList.place"></set-limit>
                            </div>
                            <div class="row mx-0 border border-top-0">
                                <div class="col-md-4 border-right py-2">達人管理</div>
                                <set-limit v-bind:limits="limitList.master"></set-limit>
                            </div>
                            <div class="row mx-0 bg-accent-dark op-8 text-light py-2 px-3">行銷管理</div>
                            <div class="row mx-0 border border-top-0">
                                <div class="col-md-4 border-right py-2">廣告管理</div>
                                <set-limit v-bind:limits="limitList.ad"></set-limit>
                            </div>
                        </div>
                        <div class="text-center pt-2 mb-5">
                            <a th:href="@{/admin/admin/feature-list}"
                                class="btn btn-danger-s letter-spacing-s m-1">取消</a>
                            <button ref="submitBtn" @click="checkValid"
                                class=" btn btn-bg-accent letter-spacing-s m-1">新增身分別</button>
                        </div>
                    </form>
                </main>
            </div>
            <!-- success & error Msg -->
            <div th:replace="part/_popupMsg ::div"></div>

        </div>
        <script th:src="@{/js/common.js}"></script>
        <script th:inline="javascript">
            adminShowNavCurrent($('.admin-feature'));

            Vue.component('set-limit', {
                props: ['limits'],
                template: `<div class="col-md-8 py-2 d-flex justify-content-around">
                                    <div class="form-check">
                                        <input ref="view" @change="viewChange()" type="checkbox" class="form-check-input limit-view" :id="limits.view"
                                            name="limitIDList" :value="limits.view">
                                        <label class="form-check-label" :for="limits.view">查閱</label>
                                    </div>
                                    <div class="form-check">
                                        <input ref="edit" @change="editChange()" type="checkbox" class="form-check-input limit-edit" :id="limits.edit"
                                            name="limitIDList" :value="limits.edit">
                                        <label class="form-check-label" :for="limits.edit">編輯</label>
                                    </div>
                                    <div class="form-check">
                                        <input ref="delete" @change="editChange()" type="checkbox" class="form-check-input limit-edit" :id="limits.delete"
                                            name="limitIDList" :value="limits.delete">
                                        <label class="form-check-label" :for="limits.delete">刪除</label>
                                    </div>
                                </div>`,
                methods:{
                    viewChange:function(){
                        if(!this.$refs.view.checked){
                            this.$refs.edit.checked=false;
                            this.$refs.delete.checked=false;
                        }
                    },
                    editChange:function(){
                        if(this.$refs.edit.checked || this.$refs.delete.checked){
                            this.$refs.view.checked=true;
                        }
                    }
                }
            })

            var dataForm = new Vue({
                el: '#dataForm',
                data: {
                    limitList: {
                        admin: {
                            view: "L0001",
                            edit: "L0002",
                            delete: "L0003",
                        },
                        feature: {
                            view: "L0004",
                            edit: "L0005",
                            delete: "L0006",
                        },
                        user: {
                            view: "L0007",
                            edit: "L0008",
                            delete: "L0009",
                        },
                        event: {
                            view: "L0010",
                            edit: "L0011",
                            delete: "L0012",
                        },
                        place: {
                            view: "L0013",
                            edit: "L0014",
                            delete: "L0015",
                        },
                        master: {
                            view: "L0016",
                            edit: "L0017",
                            delete: "L0018",
                        },
                        ad: {
                            view: "L0019",
                            edit: "L0020",
                            delete: "L0021",
                        }
                    },
                },
                created: function () {
                },
                mounted: function () {
                    formSetSubmitting();
                },
                methods: {
                    checkValid: function (e) {
                        e.preventDefault();
                        let btn = this.$refs.submitBtn;
                        let form = this.$el;
                        let inputs = form.querySelectorAll('.check-input');
                        if (!form.submitting) {
                            form.submitting = true;
                            btn.setAttribute("disabled", true);
                            form.classList.add('was-validated');
                            if (form.checkValidity()) {
                                this.sendAjax();
                            } else {
                                for (var item of inputs) {
                                    item.nextElementSibling.innerText = item.validationMessage;
                                }
                                form.submitting = false;
                                btn.removeAttribute("disabled");
                            }
                        } else {
                            return false;
                        };
                    },
                    sendAjax: function () {
                        let form = this.$el;
                        let btn = this.$refs.submitBtn;
                        let fd = new FormData(form); //form data
                        axios.post('/admin/feature', fd) //send ajax
                            .then(function (response) { //success
                                let res = response.data;
                                console.log(res);
                                if (res.code==201) {
                                    showSuccessMsg("新增成功");
                                    window.setTimeout(() => location.href = "/admin/admin/feature-list", 2000);
                                } else {
                                    showErrorMsg(res.errMsg);
                                    form.submitting = false;
                                    btn.removeAttribute("disabled");
                                }
                            })
                            .catch(function (error) { //error
                                console.log(error);
                                showErrorMsg('發生系統錯誤，未送出資料');
                                form.submitting = false;
                                btn.removeAttribute("disabled");
                            });
                    }
                }
            })

            

        </script>

</body>

</html>