<nav class="admin-nav border-right pl-4 pr-3 bg-white">
    <ul class="list-unstyled py-3 mb-0">
        <li class="list-item-main mb-3">
            <div class="title nav-title h5 font-weight-bold">系統設置</div>
            <ul class="pl-0">
                <li class="list-item-sub admin-account">
                    <a th:href="@{/admin/admin/account-list}">管理者帳號管理</a>
                </li>
                <li class="list-item-sub admin-feature">
                    <a th:href="@{/admin/admin/feature-list}">管理者身分別設定</a>
                </li>
            </ul>
        </li>
        <li class="list-item-main mb-3">
            <div class="title nav-title h5 font-weight-bold">用戶管理</div>
            <ul class="pl-0">
                <li class="list-item-sub user-account">
                    <a th:href="@{/admin/user/account-list}">會員帳號管理</a>
                </li>
            </ul>
        </li>
        <li class="list-item-main mb-3">
            <div class="title nav-title h5 font-weight-bold">分類管理</div>
            <ul class="pl-0">
                <li class="list-item-sub cate-event" >
                    <a th:href="@{/admin/cate/event/cate-list}">活動分類</a>
                </li>
                <li class="list-item-sub cate-place" >
                    <a th:href="@{/admin/cate/place/cate-list}">場所分類</a>
                </li>
                <li class="list-item-sub cate-master" >
                    <a th:href="@{/admin/cate/master/cate-list}">達人分類</a>
                </li>
            </ul>
        </li>
        <li class="list-item-main mb-3">
            <div class="title nav-title h5 font-weight-bold">內容管理</div>
            <ul class="pl-0">
                <li class="list-item-sub content-event" >
                    <a th:href="@{/admin/content/event-list}">活動列表</a>
                </li>
                <li class="list-item-sub content-place" >
                    <a th:href="@{/admin/content/place-list}">場所列表</a>
                </li>
                <li class="list-item-sub content-master" >
                    <a th:href="@{/admin/content/master-list}">達人列表</a>
                </li>
            </ul>
        </li>
        <li class="list-item-main">
            <div class="title nav-title h5 font-weight-bold">行銷管理</div>
            <ul class="pl-0">
                <li class="list-item-sub manage-ad" >
                    <a th:href="@{/admin/ad/ad-list}">廣告管理</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>