<header class="admin-header bg-accent-dark px-4 py-3 d-flex justify-content-between w-100">
    <div class="letter-spacing-s font-weight-bold h5 mb-0 d-flex align-items-center">
        <a class="text-white no-underline" th:href="@{/admin}">Atenore管理後台</a>
    </div>
    <div>
        <div class="dropdown">
            <button class="btn dropdownBtn dropdown-toggle bg-transparent text-light border-0 no-focus" type="button" id="dropdownMenu2" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <span class="h6 mr-3 mb-0 user-icon d-inline-block rounded-circle"><i class="gg-user"></i></span><span id="adminName" class="font-weight-bold"></span>
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu2">
            	<button  onclick="adminLogout()" class="dropdown-item text-center">登出</button>
<!--                 <a th:href="@{/admin/account/edit}"  class="dropdown-item text-center">個人資料</a> -->
<!--                 <a th:href="@{/admin/account/password}"  class="dropdown-item text-center">變更密碼</a> -->
<!--                 <div class="dropdown-divider"></div> -->
                
<!--                 <form method="POST" th:action="@{/admin/logout}"> -->
<!--                     <button type="submit" onclick="adminLogout()" class="dropdown-item text-center">登出</button> -->
<!--                 </form> -->
            </div>
        </div>
    </div>
    
    <script th:inline="javascript">
    	$(function(){
    		validateLocalStoreItem("session" ,function(){
    			location.replace("/admin/login");
    		});
        	$("#adminName").text(JSON.parse(localStorage.getItem("session") || "{}" ).value.name ? JSON.parse(localStorage.getItem("session") || "{}" ).value.name : '管理者');
            let session = JSON.parse(localStorage.getItem("session") || "{}" );
//             console.log(session);
    	})
    	
    	function adminLogout(){
    		localStorage.removeItem("session");
    		location.replace("/admin/login");
    	}
    </script>
    
</header>