<!DOCTYPE html>
<html lang="en">
<div th:replace="admin/_admin_head ::head"></div>

<body>
    <div class="wrap admin">
        <div class="wrap index admin">
            <div th:replace="admin/part/_backstageHeader ::header"></div>
            <div class="header-space"></div>
            <div class="d-flex h-100">
                <div th:replace="admin/part/_backstageNav ::nav"></div>
                <div class="admin-nav-space"></div>
                <main class="main-session w-100 px-4">
                    <h1 class="h3 mt-5 mb-3 text-accent">編輯廣告</h1>
                    <!-- breadcrumb -->
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                             <li class="breadcrumb-item"><span class="text-accent-dark op-6">行銷管理</span></li>
                            <li class="breadcrumb-item"><a th:href="@{/admin/ad/ad-list}" class="text-accent">廣告管理</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">編輯廣告</li>
                        </ol>
                    </nav>
                    <form id="dataForm" class="needs-validation mt-3 pt-2" novalidate method="POST">
                        <div class="row mx-0 bg-accent-dark op-8 text-light py-2 px-3">上傳圖片</div>
                        <div class="border mb-3">
                            <figure class="ad-photo border bg-grey mx-auto my-4">
                                <img ref="headImg" :src="adInfo.img" alt="" class="img-cover">
                            </figure>
  						    <div class="form-inline mb-4">
								<div class="input-group mx-auto">
		                             <div class="input-group-prepend" id="basic-addon1">
		                                 <div class="input-group-text bg-white">變更照片</div>
		                             </div>
		                             <input ref="fileInput" name="file" @change="previewImg" type="file"
		                                 accept="image/*" class="form-control rounded-right"> 							
								</div>  						  
						    </div>                              
                            
                            
                            
<!--                             <div class="text-center mb-4"> -->
<!--                                 <button @click="showUploadModal" class="btn btn-accent">變更圖片</button> -->
<!--                             </div> -->
<!--                             upload img popup -->
<!--                             <div ref="uploadModal" class="modal fade bd-example-modal-sm px-5 input-modal" tabindex="-1" -->
<!--                                 role="dialog" aria-hidden="true"> -->
<!--                                 <div class="modal-dialog modal-dialog-centered modal-sm" role="document"> -->
<!--                                     <div class="modal-content pop-up"> -->
<!--                                         <div class="modal-body text-center p-4"> -->
<!--                                             <p class="my-3 font-weight-bold letter-spacing-s">上傳圖片</p> -->
<!--                                             <input ref="fileInput" type="file" accept="image/*" -->
<!--                                                 class="form-control"> -->
<!--                                         </div> -->
<!--                                         <p ref="uploadError" class="text-danger text-center small"></p> -->
<!--                                         <div class="modal-footer justify-content-center p-0 mb-3 border-0"> -->
<!--                                             <button type="button" class="btn btn-danger-s m-2 px-4 cancelBtn" -->
<!--                                                 data-dismiss="modal">取消</button> -->
<!--                                             <button @click="uploadImg" type="button" -->
<!--                                                 class="submitBtn btn btn-accent m-2 px-4">確定</button> -->
<!--                                         </div> -->
<!--                                     </div> -->
<!--                                 </div> -->
<!--                             </div> -->
                            
                        </div>
                        <div class="row mx-0 bg-accent-dark op-8 text-light py-2 px-3">廣告資訊</div>
                        <div class="border">
                            <div class="login-wrap my-4 mx-auto">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text bg-grey">廣告編號</div>
                                    </div>
                                    <div class="form-control text-left bg-grey">[[${aID}]]</div>
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text bg-white">標題<span
                                                class="text-danger-s ml-1">*</span>
                                        </div>
                                    </div>
                                    <input type="text" name="title" required v-model="adInfo.title"
                                        class="check-input form-control rounded-right" placeholder="請輸入廣告標題">
                                    <div ref="confirmMsg" class="invalid-feedback text-right"></div>
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text bg-white">分類<span
                                                class="text-danger-s ml-1">*</span>
                                        </div>
                                    </div>
                                    <select name="type" v-model="adInfo.type" required class="form-control rounded-right check-input">
                                        <option value="">---</option>
                                        <option v-for="c in selList" :value="c">{{c}}</option>
                                    </select>
                                    <div ref="confirmMsg" class="invalid-feedback text-right"></div>
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text" :class="{'bg-white' :startDateEditable, 'bg-grey': !startDateEditable}">開始時間<span
                                                class="text-danger-s ml-1">*</span>
                                        </div>
                                    </div>
                                    <input type="text" name="startTime" required :disabled="!startDateEditable" :class="{'bg-white' :startDateEditable, 'bg-grey': !startDateEditable}"
                                        class="form-control rounded-right dateP" v-model="adInfo.startTime" placeholder="yyyy-mm-dd HH:mm:ss">
                                    <div ref="confirmMsg" class="invalid-feedback text-right"></div>
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text" :class="{'bg-white' :stopDateEditable, 'bg-grey': !stopDateEditable}">結束時間<span
                                                class="text-danger-s ml-1">*</span>
                                        </div>
                                    </div>
                                    <input type="text" name="endTime" required  :disabled="!stopDateEditable" :class="{'bg-white' :stopDateEditable, 'bg-grey': !stopDateEditable}"
                                        class="form-control rounded-right dateP" v-model="adInfo.endTime" placeholder="yyyy-mm-dd HH:mm:ss">
                                    <div ref="confirmMsg" class="invalid-feedback text-right"></div>
                                </div>
                                <div class="input-group mb-1">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text bg-white">連結網址<span
                                                class="text-danger-s ml-1">*</span></div>
                                    </div>
                                    <input type="url" name="link" required v-model="adInfo.link"
                                        class="check-input form-control rounded-right" placeholder="https://">
                                    <div ref="confirmMsg" class="invalid-feedback text-right"></div>
                                </div>
                                <p class="text-right text-accent"><a :href="adInfo.link" :title="adInfo.link" target="_blank">查看連結</a></p>
                            </div>
                            
                        </div>
                        <div class="row mx-0 bg-accent-dark op-8 text-light py-2 px-3">關鍵字</div>
                        <div class="border">
                            <div class="login-wrap my-4 mx-auto">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text bg-white">關鍵字</div>
                                    </div>
                                    <input type="text" ref="tagInput" class="form-control" placeholder="請輸入關鍵字">
                                    <div class="input-group-append">
                                        <button class="input-group-text btn btn-accent" type="button" @click="addTag">新增</button>
                                    </div>
                                </div>
                                <div class="tag-wrap d-flex flex-wrap">
                                    <tag-item v-for="t in tags" v-bind:tag="t" @send-delete-tag="deleteTag"></tag-item>
                                </div>
                            </div>
                        </div>
                        <div class="text-center pt-3 mb-5">
                            <a th:href="@{/admin/ad/ad-list}" class="btn btn-danger-s letter-spacing-s m-1">取消</a>
                            <button ref="submitBtn" @click="checkValid"
                                class=" btn btn-bg-accent letter-spacing-s m-1">確認編輯</button>
                        </div>
                        
                    </form>
                    
                </main>
            </div>
            <!-- success & error Msg -->
            <div th:replace="part/_popupMsg ::div"></div>

        </div>
        <script th:src="@{/js/common.js}"></script>
        <script th:src="@{/js/lib/bootstrap-datetimepicker.min.js}"></script>
        <script th:src="@{/js/loadingoverlay.min.js}"></script>        
        <script th:inline="javascript">
            adminShowNavCurrent($('.manage-ad'));

            Vue.component('tag-item', {
                props: ['tag'],
                template: `<div class="keyword-tag position-relative">
                        {{tag.tag}}
                        <button @click="delTag" :tag.prop="tag" class="delete-tag-btn no-focus bg-danger border-0 rounded-circle text-white p-0 font-weight-bold">-</button>
                    </div>`,
                methods: {
                    delTag: function (e) {
                        e.preventDefault();
                        let btn = e.target
                        this.$emit("send-delete-tag", e.target.tag);
                    }
                }
            })

            var dataForm = new Vue({
                el: '#dataForm',
                data: {
                    selList: [], //查詢選單項目
                    headImgSrc: "",
                    tags: [],
                    adInfo: {}
                },
                computed:{
                    startDateEditable:function(){
                        if(this.adInfo.startTime){
                            return this.checkOverToday(this.adInfo.startTime);
                        }
                        return true;
                    },
                    stopDateEditable:function(){
                        if(this.adInfo.endTime){
                            return this.checkOverToday(this.adInfo.endTime);
                        }
                        return true;
                    }
                },
                created: function () {
                    this.getTypes();
                },
                mounted: function () {
                    formSetSubmitting();
                    let dateInputs = this.$el.querySelectorAll('.dateP');
                    const today = new Date();
                    $(dateInputs).datetimepicker({
                        format: "yyyy-mm-dd hh:ii:ss",
                        language: 'zh-TW',
                        startTime: today,
                        todayHighlight: true,
                    });                  	
//                     formSetSubmitting();
//                     let dateInputs = this.$el.querySelectorAll('.dateP');
//                     const today = new Date();
//                     $(dateInputs).datepicker({
//                         format: "yyyy-mm-dd",
//                         language: 'zh-TW',
//                         startDate: today,
//                         todayHighlight: true,
//                     });
                    this.getInfo();
                },
                methods: {
                    getTypes: function () {
                        axios.get('/admin/adstypelist')
                            .then(response => {
                                this.selList = [...response.data.adsTypeList];
                            })
                            .catch(error => { // 請求失敗處理
                                console.log("get type info error:" + error);
                            });
                    },
                    getInfo: function () {
                        // get ad info
                        let self = this;
                        axios
                            .get('/admin/ads/' + [[${ aID }]])
                            .then(response => {
                                let res = response.data;
                                console.log(res);
                                if (res.code==200) {
                                    self.adInfo = res.data.ads;
                                    self.tags = res.data.adsTagList;
                                    
                                    // set datepicker val
//                                     let startD = new Date(res.data.startTime);
//                                     let endD = new Date(res.data.endTime);
//                                     $(this.$refs.startDate).datetimepicker('setDate',startD);
//                                     $(this.$refs.stopDate).datetimepicker('setDate',endD);
                                } else {
                                    console.log("get ad info error:" + res.errMsg);
                                }
                            })
                            .catch(function (error) { // 請求失敗處理
                                console.log("get ad info error:" + error);
                            });
                    },
                    previewImg: function (e) {
                        e.preventDefault();
                        let input = this.$refs.fileInput;
                        let headImg = this.$refs.headImg;
                        let modal = this.$refs.uploadModal;
                        
                        if (input && input.files[0]) {
                            let reader = new FileReader();
                            reader.onload = function (e) {
                                headImg.src = e.target.result
                                // this.headImgSrc = e.target.result;
                            }
                            reader.readAsDataURL(input.files[0]);
                        }
                        
                        $(modal).modal('hide');
                    },                    
                    checkOverToday:function(date){
                        const today = new Date();
                        let checkDate = new Date(date);
                        return checkDate>=today;
                    },
                    showUploadModal: function (e) {
                        e.preventDefault();
                        let modal = this.$refs.uploadModal;
                        let input = this.$refs.fileInput;
                        let errorMsg = this.$refs.uploadError;

                        errorMsg.innerText = "";
                        input.classList.remove('is-valid');
                        input.classList.remove('is-inValid');
                        $(modal).modal('show');
                    },
                    uploadImg: function (e) {
                        let input = this.$refs.fileInput;
                        let btn = e.target;
                        let modal = this.$refs.uploadModal;
                        let errorMsg = this.$refs.uploadError;

                        errorMsg.innerText = "";
                        input.classList.remove('is-valid');
                        input.classList.remove('is-inValid');
                        btn.setAttribute("disabled", true);

                        if (input.files.length>0) {
                            input.classList.add('is-valid');
                            input.classList.remove('is-invalid');
                            // TODO:send upload ajax and get new img url>>update this.headImgSrc
                            let formData = new FormData();
                            formData.append("image", input.files[0]);
                            formData.append('sn', [[${mID}]]);
                            axios.post('/', formData, {
                                headers: {
                                    'Content-Type': 'multipart/form-data'
                                }
                            }).then(function (response) { //success
                                let res = response.data;
                                console.log(res);
                                if (res.success) {
                                    btn.removeAttribute("disabled");
                                    $(modal).modal('hide');
                                    showSuccessMsg(res.msg);
                                    this.headImgSrc = res.imgUrl;
                                    errorMsg.innerText = "";
                                } else {
                                    errorMsg.innerText = res.msg;
                                    btn.removeAttribute("disabled");
                                }
                            }).catch(function (error) { //error
                                console.error(error);
                                errorMsg.innerText = '發生系統錯誤，未送出資料';
                                btn.removeAttribute("disabled");
                            })

                        } else {
                            input.classList.remove('is-valid');
                            input.classList.add('is-invalid');
                            btn.removeAttribute("disabled");
                        }
                    },
                    addTag: function (e) {
                        e.preventDefault();
                        let tagArr = this.tags;
                        let input = this.$refs.tagInput
                        let newTag = input.value;
                        if (newTag) {
                        	let check = true;
                        	tagArr.forEach(function(v){ //檢查重複
                        		if(v.tag.indexOf(newTag)>=0){
                        			showErrorMsg('請勿重複輸入同樣的tag');
                        			check = false;
                        			return null;
                        		}	
                        	});
                        	if(check){
                            	tagArr.push({tag:newTag});
                                input.value = "";                        		
                        	}
                        }
                    },
                    deleteTag: function (tagName) {
                        const index = this.tags.indexOf(tagName);
                        if (index > -1) {
                            this.tags.splice(index, 1);
                        }
                    },
                    checkValid: function (e) {
                        e.preventDefault();
                        let btn = this.$refs.submitBtn;
                        let form = this.$el;
                        let inputs = form.querySelectorAll('.check-input');
                        if (!form.submitting) {
                            form.submitting = true;
                            btn.setAttribute("disabled", true);
                            form.classList.add('was-validated');
                            console.log(form.checkValidity());
                            if (form.checkValidity()) {
                                this.sendAjax();
                            } else {
                                for (var item of inputs) {
                                    item.nextElementSibling.innerText = item.validationMessage;
                                }
                                form.submitting = false;
                                btn.removeAttribute("disabled");
                            }
                        } else {
                            return false;
                        };
                    },
                    sendAjax: function () {
                    	$('body').LoadingOverlay('show');
                        let form = this.$el;
                        let btn = this.$refs.submitBtn;
                        let fd = new FormData(form); //form data
                        if (fd.file!=null) {
                            // TODO:send upload ajax and get new img url>>update this.headImgSrc
                            fd.append("file", fd.file[0]);
                        }
//                         fd.append('tags', JSON.stringify(this.tags));
                        let tagList =[];
                        [...this.tags].forEach(tag => {
                        	tagList.push(tag.tag);
                        })
                        
                        fd.append('tagList', tagList);
                        
	                    for (var [key, value] of fd.entries()) { 
	                	  console.log(key, value);
	                	} 
	                    
                        axios.put('/admin/ads/' + [[${aID}]], fd, { //send ajax
                            headers: {
                                'Content-Type': 'multipart/form-data'
                            }
                        })
                        .then(function (response) { //success
                        	$('body').LoadingOverlay('hide');
                            console.log(response);
                            if (response.data.code==204) {
                                showSuccessMsg("更新成功");
                                window.setTimeout(() => location.href = "/admin/ad/ad-list", 2000);
                            } else {
                                showErrorMsg(response.data.errMsg);
                                form.submitting = false;
                                btn.removeAttribute("disabled");
                            }
                        })
                        .catch(function (error) { //error
                        	$('body').LoadingOverlay('hide');
                            console.error(error);
                            showErrorMsg('發生系統錯誤，未送出資料');
                            form.submitting = false;
                            btn.removeAttribute("disabled");
                        });
                    }
                }
            })

            $('.input-modal').on('hidden.bs.modal', function (e) {
                $('.input-modal').find('input').val("");
            });

//             $("#startDate").change(function () {
//                 let pushDate = $(this).val();
//                 $('#stopDate').datepicker('setStartDate', pushDate);
//             });

//             $("#stopDate").change(function () {
//                 let endDate = $(this).val();
//                 $('#startDate').datepicker('setEndDate', endDate);
//             });

        </script>

</body>

</html>