<!DOCTYPE html>
<html lang="en">
<div th:replace="admin/_admin_head ::head"></div>

<body>
    <div class="wrap admin">
        <div class="wrap index admin">
            <div th:replace="admin/part/_backstageHeader ::header"></div>
            <div class="header-space"></div>
            <div class="d-flex h-100">
                <div th:replace="admin/part/_backstageNav ::nav"></div>
                <div class="admin-nav-space"></div>
                <main class="main-session w-100 px-4">
                    <h1 class="h3 mt-5 mb-3 text-accent">廣告管理</h1>
                    <!-- breadcrumb -->
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                             <li class="breadcrumb-item"><span class="text-accent-dark op-6">行銷管理</span></li>
                            <li class="breadcrumb-item active" aria-current="page">廣告管理</li>
                        </ol>
                    </nav>
                    <div id="data-wrap">
                        <div class="d-flex mb-3">
                            <!-- 新增Btn -->
                            <a v-if="limit.edit" th:href="@{/admin/ad/ad-list/new}" id="newBtn"
                                class="btn-accent btn rounded no-underline d-inline-flex align-items-center ml-auto px-3"><span
                                    class="mr-2"><i class="gg-math-plus"></i></span>新增廣告</a>
                        </div>
                        <!-- 查詢條件 -->
                        <div class="row mx-0 bg-accent-dark text-light py-2 px-3">搜尋條件</div>
                        <div class="border p-3 d-flex">
                            <div>
                                <div class="form-inline mr-3 mb-2">
                                    <div class="form-group">
                                        <label class="font-weight-bold text-dark-grey mr-4">廣告類型</label>
                                        <select v-model="getDataParm.type" class="form-control search-input">
                                            <option value="">所有廣告</option>
                                            <option v-for="opt in selList" :value="opt">{{opt}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-inline mr-3 mb-2">
                                    <div class="form-group">
                                        <label class="font-weight-bold text-dark-grey mr-4">廣告開始時間</label>
                                        <input ref="startTime" type="text"
                                            class="form-control search-input dateP" placeholder="yyyy-mm-dd">
                                    </div>

                                </div>
                                <div class="form-inline mr-3 mb-1">
                                    <div class="form-group">
                                        <label class="font-weight-bold text-dark-grey mr-2">廣告關鍵字</label>
                                        <input v-model="getDataParm.fuzzyFilter" type="text" class="form-control search-input"
                                            placeholder="請輸入查詢字">
                                    </div>
                                </div>
                            </div>
                            <div class="mt-auto ml-2">
                                <button @click="goSearch" class=" btn btn-accent letter-spacing-s m-1">搜尋</button>
                                <button @click="resetSearch" class="btn btn-danger-s letter-spacing-s m-1">重設</button>
                            </div>
                        </div>


                        <!-- data-row -->
                        <table class="table text-center my-3 border">
                            <thead class="bg-accent text-light border-0">
                                <tr>
                                    <th scope="col" class="border-0">廣告編號</th>
                                    <th scope="col" class="border-0">標題</th>
                                    <th scope="col" class="border-0">廣告類型</th>
                                    <th scope="col" class="border-0">狀態</th>
                                    <th scope="col" class="border-0">開始時間</th>
                                    <th scope="col" class="border-0">下架時間</th>
                                    <th v-if="limit.edit" scope="col" class="border-0" width="80px"></th>
                                    <th v-if="limit.edit" scope="col" class="border-0" width="80px"></th>
                                </tr>
                            </thead>
                            <tbody ref="listWrap" class="border-bg-color2 d-none">
                                <tr v-if="limit.read" v-for="(row,index) in showData">
                                    <td>{{row.adsID}}</td>
                                    <td class="text-left">{{row.title}}</td>
                                    <td>{{row.type}}</td>
                                    <td>{{row.status}}</td>
                                    <td>{{row.startTime ? sliceToMin(row.startTime,'-') : ''}}</td>
                                    <td>{{row.endTime ? sliceToMin(row.endTime,'-') : ''}}</td>
                                    <td v-if="limit.edit">
                                        <a class="btn btn-accent" :href="'/admin/ad/ad-list/edit/'+row.adsID">編輯</a>
                                    </td>
                                    <td v-if="limit.edit">
                                        <button @click="clickDelete" v-if="isNotOver(row.status)" class="btn btn-danger"
                                            :data-a.prop="row.adsID" :data-t.prop="row.title">取消發佈</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- page nav -->
                        <div ref="pagination" v-bind:class="{ 'd-none': !showPages }"
                            class="pagination-wrap simple-pagination light-theme"></div>
                        <!-- empty msg -->
                        <div v-if="emptyData" class="empty-msg letter-spacing-s">{{emptyMsg}}</div>
                    </div>
                </main>
            </div>
            <!-- success & error Msg -->
            <div th:replace="part/_popupMsg ::div"></div>

        </div>
        <script th:src="@{/js/common.js}"></script>
        <script th:inline="javascript">
            adminShowNavCurrent($('.manage-ad'));

            var dataTable = new Vue({
                el: '#data-wrap',
                data: {
                    limit: {
                        read: checkLimit([], "1"),
                        edit: checkLimit([], "2"),
                        delete: checkLimit([], "3")
                    },
                    selList: [], //查詢選單項目
                    dataList: [], //回傳資料
                    page: {
                        dataCount: 0,
                        current: 1
                    },
                    initSet: { // 初始查詢設定
                        begin: 1,
                        end: 20,
                        order: "DESC"
                    },
                    getDataParm:{
                    	startTime: "",
                    	type: "",
                    	fuzzyFilter: "",
                    },
                    manageInfo: {
                        account: null,
                        status: null,
                    },
                    manageUrl: "",
                    emptyMsg: "查無符合條件之廣告"
                },
                computed: {
                    emptyData: function () {
                        return this.dataList.length == 0;
                    },
                    showPages: function () {
                        return this.page.dataCount > this.initSet.end
                    },
                    showData:function(){
                        let begin = (this.page.current-1)*this.initSet.end;
                        let end = (this.page.current)*this.initSet.end;
                        
                        return this.dataList.slice(begin,end);
                    }
                },
                created: function () { //call ajax
                    this.getTypes();
                    this.renewDataRow();
                },
                mounted: function () {
                    this.$refs.listWrap.classList.remove('d-none');
                    let pageWrap = this.$refs.pagination;
                    let dateInputs = this.$el.querySelectorAll('.dateP');

                    let self = this;
                    $(pageWrap).pagination({
                        items: 0,
                        itemsOnPage: this.initSet.end,
                        cssStyle: 'light-theme',
                        hrefTextPrefix: "#",
                        onPageClick: function (pageNumber) {
                            self.page.current = pageNumber;
                            self.getDataList();
                        }
                    });
                    $(dateInputs).datepicker({
                        format: "yyyy-mm-dd",
                        language: 'zh-TW',
                        todayHighlight: true,
                    });
                },
                methods: {
                    getTypes: function () {
                        axios.get('/admin/adstypelist')
                            .then(response => {
                                this.selList = [...response.data.adsTypeList];
                            })
                            .catch(error => { // 請求失敗處理
                                console.log("get type info error:" + error);
                            });
                    },
                    getDataList: function () { //get admin account list data
                        return axios.get('/admin/ads', {params:this.getDataParm});
                    },
                    dataListCallBack: function (response) {
                    	
                    	let res = response.data;
                    	if(res.code==200){
                    		this.dataList = [...res.data.adsList];
                            this.page.dataCount = this.dataList.length;
                            let pageWrap = this.$refs.pagination;
                            $(pageWrap).pagination('drawPage', 1);
                            $(pageWrap).pagination('updateItems', this.page.dataCount);
                    	}else{
                    		this.dataList = [];
                    	}
                    },
                    goSearch:function(){
                    	if(this.$refs.startTime.value){
                    		this.getDataParm.startTime = this.$refs.startTime.value + " 23:59:59";	
                   		}
                        this.renewDataRow();
                    },
                    renewDataRow: function () { //renew list data
                        this.initSet.begin = 1;
                        this.page.current=1;
                        this.getDataList().then((res) => {
                            this.dataListCallBack(res);
                        }).catch(error => {
                            console.error(error);
                        });
                    },
                    resetSearch: function () {
                        $(this.$refs.startTime).val("").datepicker("update");

                        this.getDataParm.fuzzyFilter = "";
                        this.getDataParm.startTime = "";
                        this.getDataParm.type = "";
                        this.renewDataRow();
                    },
                    computeSn(i) {
                        return getItemNum(i, this.initSet.order, this.initSet.end, this.page.current, this.page.dataCount);
                    },
                    isNotOver: function (status) {
                        return status == "排程中";
                    },
                    changeOrder: function () {
                        this.initSet.order = (this.initSet.order == "DESC") ? "ASC" : "DESC";
                        this.dataList.reverse();
                    },
                    clickDelete: function () { //刪除管理者點選
                        this.manageInfo.account = event.target.dataA;
                        this.manageUrl = "/admin/ads/" + event.target.dataA;
                        showConfirmMsg("確定要取消發佈此則廣告?<p class='mt-3 mb-0 text-accent'>" + event.target.dataT + "</p>");
                    },
                    checkStatusValid: function () {
                        let input = this.$refs.reasonInput;
                        if (input.checkValidity()) {
                            input.classList.add('is-valid');
                            input.classList.remove('is-invalid');
                            this.manageAdmin();
                        } else {
                            input.classList.add('is-invalid');
                            input.classList.remove('is-valid');
                        }
                    },
                    manageAdmin: function () {  //send manage ajax                      
                        axios.delete(this.manageUrl) //send ajax
                            .then(function (response) { //success
                                let res = response.data;
                                console.log(res);
                                if (res.code==204) {
                                    showSuccessMsg("刪除成功]");
                                    window.setTimeout(() => location.reload(), 2000);
                                } else {
                                    showErrorMsg(res.errMsg);
                                }
                            })
                            .catch(function (error) { //error
                                console.log(error);
                                showErrorMsg('發生系統錯誤，未送出資料');
                            });
                        $('.confirm-modal').modal('hide');
                    },
                    resetManage: function () {
                        setNull(this.manageInfo);
                        this.manageUrl = null;
                    }

                }
            });

            $('.confirm-modal').on('hidden.bs.modal', function (e) {
                dataTable.resetManage();
            });

            $('#confirmBtn').click(function () {
                dataTable.manageAdmin();
            })


        </script>

</body>

</html>