<!DOCTYPE html>
<html lang="en">
<div th:replace="admin/_admin_head ::head"></div>

<body>
    <div class="wrap admin">
        <div class="wrap index admin">
            <div th:replace="admin/part/_backstageHeader ::header"></div>
            <div class="header-space"></div>
            <div class="d-flex h-100">
                <div th:replace="admin/part/_backstageNav ::nav"></div>
                <div class="admin-nav-space"></div>
                <main class="main-session w-100 px-4">
                    <h1 class="h3 mt-5 mb-3 text-accent">新增廣告</h1>
                    <!-- breadcrumb -->
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                             <li class="breadcrumb-item"><span class="text-accent-dark op-6">行銷管理</span></li>
                            <li class="breadcrumb-item"><a th:href="@{/admin/ad/ad-list}" class="text-accent">廣告管理</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">新增廣告</li>
                        </ol>
                    </nav>
                    <form id="dataForm" class="needs-validation mt-3 pt-2" novalidate method="POST">

                        <div class="row mx-0 bg-accent-dark op-8 text-light py-2 px-3">廣告資訊</div>
                        <div class="border">
                            <div class="login-wrap my-4 mx-auto">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text bg-grey">廣告編號</div>
                                    </div>
                                    <div class="form-control text-left bg-grey">-</div>
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text bg-white">標題<span
                                                class="text-danger-s ml-1">*</span>
                                        </div>
                                    </div>
                                    <input type="text" name="title" required
                                        class="check-input form-control rounded-right" placeholder="請輸入廣告標題">
                                    <div ref="confirmMsg" class="invalid-feedback text-right"></div>
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text bg-white">分類<span
                                                class="text-danger-s ml-1">*</span>
                                        </div>
                                    </div>
                                    <select name="type" id="" required class="form-control rounded-right check-input">
                                        <option value="">---</option>
                                        <option v-for="c in selList" :value="c">{{c}}</option>
                                    </select>
                                    <div ref="confirmMsg" class="invalid-feedback text-right"></div>
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text bg-white">開始時間<span
                                                class="text-danger-s ml-1">*</span>
                                        </div>
                                    </div>
                                    <input type="text" ref="startDate" id="startDate" name="startTime" required
                                        class="check-input form-control dateP rounded-right" placeholder="yyyy-mm-dd HH:mm:ss">
                                    <div ref="confirmMsg" class="invalid-feedback text-right"></div>
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text bg-white">結束時間<span
                                                class="text-danger-s ml-1">*</span>
                                        </div>
                                    </div>
                                    <input type="text" ref="stopDate" id="stopDate" name="endTime" required
                                        class="check-input form-control dateP rounded-right" placeholder="yyyy-mm-dd HH:mm:ss">
                                    <div ref="confirmMsg" class="invalid-feedback text-right"></div>
                                </div>
                                <div class="input-group mb-1">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text bg-white">連結網址<span
                                                class="text-danger-s ml-1">*</span></div>
                                    </div>
                                    <input type="url" name="link" required v-model="adLink"
                                        class="check-input form-control rounded-right" placeholder="https://">
                                    <div ref="confirmMsg" class="invalid-feedback text-right"></div>
                                </div>
                                <p class="text-right text-accent"><a :href="adLink" :title="adLink">查看連結</a></p>
                            </div>
                        </div>
                        <div class="row mx-0 bg-accent-dark op-8 text-light py-2 px-3">上傳照片</div>
                        <div class="border">
                            <figure class="ad-photo border bg-grey mx-auto my-4">
                                <img ref="headImg" src="" alt="" class="img-cover">
                            </figure>
                            <div class="form-inline mb-4">
                                <div class="input-group mx-auto">
                                    <div class="input-group-prepend" id="basic-addon1">
                                        <div class="input-group-text bg-white">選擇照片<span
                                            class="text-danger-s ml-1">*</span></div>
                                    </div>
                                    <input ref="fileInput" required name="imgFile" @change="previewImg" type="file"
                                        accept="image/*" class="form-control rounded-right">
                                    <div ref="confirmMsg" class="invalid-feedback text-right"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row mx-0 bg-accent-dark op-8 text-light py-2 px-3">廣告關鍵字</div>
                        <div class="border">
                            <div class="login-wrap my-4 mx-auto">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text bg-white">關鍵字</div>
                                    </div>
                                    <input type="text" ref="tagInput" class="form-control"
                                        placeholder="請輸入關鍵字">
                                    <div class="input-group-append">
                                        <button class="input-group-text btn btn-accent" @click="addTag">新增</button>
                                    </div>
                                </div>
                                <div class="tag-wrap d-flex flex-wrap">
                                    <tag-item v-for="t in tags" v-bind:tag="t" @send-delete-tag="deleteTag"></tag-item>
                                </div>
                            </div>
                        </div>
                        <div class="text-center pt-3 mb-5">
                            <a th:href="@{/admin/ad/ad-list}"
                                class="btn btn-danger-s letter-spacing-s m-1">取消</a>
                            <button ref="submitBtn" @click="checkValid"
                                class=" btn btn-bg-accent letter-spacing-s m-1">新增廣告</button>
                        </div>
                    </form>
                </main>
            </div>
            <!-- success & error Msg -->
            <div th:replace="part/_popupMsg ::div"></div>

        </div>
        
        <script th:src="@{/js/common.js}"></script>
        <script th:src="@{/js/lib/bootstrap-datetimepicker.min.js}"></script>
        <script th:src="@{/js/loadingoverlay.min.js}"></script>        
        <script th:inline="javascript">
            adminShowNavCurrent($('.manage-ad'));

            Vue.component('tag-item', {
                props: ['tag'],
                template: `<div class="keyword-tag position-relative">
                        {{tag}}
                        <button @click="delTag" :tag.prop="tag" class="delete-tag-btn no-focus bg-danger border-0 rounded-circle text-white p-0 font-weight-bold">-</button>
                    </div>`,
                methods: {
                    delTag: function (e) {
                        e.preventDefault();
                        let btn = e.target
                        this.$emit("send-delete-tag", e.target.tag);
                    }
                }
            })

            var dataForm = new Vue({
                el: '#dataForm',
                data: {
                    selList: [], //查詢選單項目
                    countyList: [],
                    headImgSrc: "",
                    tags: [],
                    adLink:""
                },
                created: function () {
                    this.getTypes();
                },
                mounted: function () {
                    formSetSubmitting();
                    let dateInputs = this.$el.querySelectorAll('.dateP');
                    const today = new Date();
                    $(dateInputs).datetimepicker({
                        format: "yyyy-mm-dd hh:ii:ss",
                        language: 'zh-TW',
                        startTime: today,
                        todayHighlight: true,
                    });                	
                	
                	
//                     formSetSubmitting();
//                     let dateInputs = this.$el.querySelectorAll('.dateP');
//                     const today = new Date();
//                     $(dateInputs).datepicker({
//                         format: "yyyy-mm-dd",
//                         language: 'zh-TW',
//                         startDate:today,
//                         todayHighlight: true,
//                     });
                },
                methods: {
                    getTypes: function () {
                        axios.get('/admin/adstypelist')
                            .then(response => {
                                this.selList = [...response.data.adsTypeList];
                            })
                            .catch(error => { // 請求失敗處理
                                console.log("get type info error:" + error);
                            });
                    },
                    previewImg: function (e) {
                        e.preventDefault();
                        let input = this.$refs.fileInput;
                        let headImg = this.$refs.headImg;

                        if (input && input.files[0]) {
                            let reader = new FileReader();
                            reader.onload = function (e) {
                                headImg.src = e.target.result
                                // this.headImgSrc = e.target.result;
                            }
                            reader.readAsDataURL(input.files[0]);
                        }
                    },
                    addTag:function(e){
                        e.preventDefault();
                        let tagArr = this.tags;
                        let input = this.$refs.tagInput
                        let newTag = input.value;
                        if(newTag){
                            if(tagArr.indexOf(newTag)<0){ //檢查重複
                                this.tags.push(newTag);
                                input.value="";
                            }else{
                                showErrorMsg('請勿重複輸入同樣的tag');
                            }
                            
                        }
                    },
                    deleteTag: function (tagName) {
                        const index = this.tags.indexOf(tagName);
                        if (index > -1) {
                            this.tags.splice(index, 1);
                        }
                    },
                    checkValid: function (e) {
                        e.preventDefault();
                        let btn = this.$refs.submitBtn;
                        let form = this.$el;
                        let inputs = form.querySelectorAll('.check-input');
                        if (!form.submitting) {
                            form.submitting = true;
                            btn.setAttribute("disabled", true);
                            form.classList.add('was-validated');
                            console.log(form.checkValidity());
                            if (form.checkValidity()) {
                                this.sendAjax();
                            } else {
                                for (var item of inputs) {
                                    item.nextElementSibling.innerText = item.validationMessage;
                                }
                                form.submitting = false;
                                btn.removeAttribute("disabled");
                            }
                        } else {
                            return false;
                        };
                    },
                    sendAjax: function () {
                    	$('body').LoadingOverlay('show');
                        let form = this.$el;
                        let btn = this.$refs.submitBtn;
                        let fd = new FormData(form); //form data
                        let input = this.$refs.fileInput;
                        fd.append('adsTagList', this.tags);
                        fd.append("file", input.files[0]);

// 	                     for (var [key, value] of fd.entries()) { 
// 	                  	  console.log(key, value);
// 	                  	}
                        axios.post('/admin/ads', fd, { //send ajax
                            headers: {
                                'Content-Type': 'multipart/form-data'
                            }
                        })
                            .then(function (response) { //success
                                console.log(response);
                                $('body').LoadingOverlay('hide');
                                if (response.data.code==201) {
                                    showSuccessMsg("新增成功");
                                    window.setTimeout(() => location.href = "/admin/ad/ad-list", 2000);
                                } else {
                                    showErrorMsg(response.data.errMsg);
                                    form.submitting = false;
                                    btn.removeAttribute("disabled");
                                }
                            })
                            .catch(function (error) { //error
                            	$('body').LoadingOverlay('hide');
                                console.error(error);
                                showErrorMsg('發生系統錯誤，未送出資料');
                                form.submitting = false;
                                btn.removeAttribute("disabled");
                            });
                    }
                }
            })

            $('.input-modal').on('hidden.bs.modal', function (e) {
                $('.input-modal').find('input').val("");
            });

//             $("#startDate").change(function () {
//                 let pushDate = $(this).val();
//                 $('#stopDate').datepicker('setStartDate', pushDate);
//             });

//             $("#stopDate").change(function () {
//                 let endDate = $(this).val();
//                 $('#startDate').datepicker('setEndDate', endDate);
//             });

        </script>

</body>

</html>