<!-- admin head -->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- X-UA-Compatible設置IE兼容模式 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!--RWD-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0, shrink-to-fit=no" />
    <meta name="author" content="" />
    <meta name="copyright" content="" />
    <meta name="description" content=""/>
	<meta name="keywords" content=""/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    
	<!-- Title Bar -->
    <link rel="shortcut icon" type="image/png" th:href="@{/image/nav_logo.png}" />
    <title th:text="${pageTitle != null ? pageTitle + ' | Atenore管理後台' : 'Atenore管理後台'}"></title>
        
    <!-- involve bootstrap -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" 
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href='https://cdn.jsdelivr.net/npm/css.gg/icons/all.css' rel='stylesheet'>
    <link rel="stylesheet" th:href="@{/css/lib/simplePagination.css}">
    <link rel="stylesheet" th:href="@{/css/lib/bootstrap-datepicker3.css}">
    <link rel="stylesheet" th:href="@{/css/lib/bootstrap-datetimepicker.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link rel="stylesheet" th:href="@{/css/admin.css}" />

    
    <!-- involve jquery, vue, popper, bootstrap, list.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script th:src="@{/js/lib/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/js/lib/popper.min.js}"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" 
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script th:src="@{/js/lib/jquery.simplePagination.js}"></script>
    <!-- List.js v1.5.0 -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
    <script th:src="@{/js/lib/bootstrap-datepicker.js}"></script>
</head>