<!DOCTYPE html>
<html lang="en">
<div th:replace="admin/_admin_head ::head"></div>

<body>
    <div class="wrap admin">
        <div class="wrap index admin">
            <div th:replace="admin/part/_backstageHeader ::header"></div>
            <div class="header-space"></div>
            <div class="d-flex h-100">
                <div th:replace="admin/part/_backstageNav ::nav"></div>
                <div class="admin-nav-space"></div>
                <main class="main-session w-100 px-4 text-center">
                    <h1 class="h3 my-5 text-accent">變更管理者個人資料</h1>
                    <form id="dataForm" class="login-wrap mx-auto needs-validation" novalidate method="POST">
                        <div class="input-group my-3">
                            <div class="input-group-prepend">
                                <div class="input-group-text bg-white">舊密碼<span class="text-danger-s ml-1">*</span>
                                </div>
                            </div>
                            <input v-model="oldPw" type="password" name="oldPw" required
                                class="form-control rounded-right check-input" placeholder="請輸入密碼">
                            <div class="invalid-feedback text-right"></div>
                        </div>
                        <div class="input-group my-3">
                            <div class="input-group-prepend">
                                <div class="input-group-text bg-white">新密碼<span class="text-danger-s ml-1">*</span>
                                </div>
                            </div>
                            <input v-model="newPw" type="password" name="newPw" @change="checkPw" required
                                class="form-control rounded-right check-input" placeholder="請輸入新密碼">
                            <div class="invalid-feedback text-right"></div>
                        </div>
                        <div class="input-group my-3">
                            <div class="input-group-prepend">
                                <div class="input-group-text bg-white">確認新密碼<span class="text-danger-s ml-1">*</span>
                                </div>
                            </div>
                            <input ref="confirmPw" v-model="newPw2" type="password" @change="checkPw" required
                                class="form-control rounded-right check-input" placeholder="請再次輸入新密碼">
                            <div ref="confirmMsg" class="invalid-feedback text-right"></div>
                        </div>
                        <div class="text-center pt-2">
                            <a th:href="@{/admin}" class="btn btn-danger-s letter-spacing-s m-1">取消</a>
                            <button ref="submitBtn" @click="checkValid"
                                class=" btn btn-bg-accent letter-spacing-s m-1">變更密碼</button>
                        </div>
                    </form>
                </main>
            </div>
            <!-- success & error Msg -->
            <div th:replace="part/_popupMsg ::div"></div>

        </div>
        <script th:src="@{/js/common.js}"></script>
        <script th:inline="javascript">
            new Vue({
                el: '#dataForm',
                data: {
                    oldPw: '',
                    newPw: '',
                    newPw2: '',
                },
                mounted: function () {
                    formSetSubmitting();
                },
                methods: {
                    checkPw: function () {
                        let confirmInput = this.$refs.confirmPw;
                        let confirmMsg = this.$refs.confirmMsg;
                        if (this.newPw === this.newPw2) {
                            confirmInput.setCustomValidity("");
                            return true;
                        } else {
                            confirmInput.setCustomValidity("請確認兩次輸入密碼是否一致。");
                            confirmMsg.innerText = confirmInput.validationMessage;
                            return false;
                        }
                    },
                    checkValid: function (e) {
                        e.preventDefault();
                        let btn = this.$refs.submitBtn;
                        let confirmInput = this.$refs.confirmPw;
                        let form = this.$el;
                        let inputs = form.querySelectorAll('.check-input');
                        if (!form.submitting) {
                            form.submitting = true;
                            btn.setAttribute("disabled", true);
                            form.classList.add('was-validated');
                            if (form.checkValidity()) {
                                if (this.checkPw()) {
                                    this.sendAjax();
                                } else {
                                    form.submitting = false;
                                    btn.removeAttribute("disabled");
                                }
                            } else {
                                for (var item of inputs) {
                                    item.nextElementSibling.innerText = item.validationMessage;
                                }
                                form.submitting = false;
                                btn.removeAttribute("disabled");
                            }
                        } else {
                            return false;
                        };
                    },
                    sendAjax: function () {
                        let form = this.$el;
                        let btn = this.$refs.submitBtn;
                        let fd = new FormData(form); //form data
                        axios.post('/', fd) //send ajax
                            .then(function (response) { //success
                                let res = response.data;
                                console.log(res);
                                if (res.success) {
                                    showSuccessMsg(res.msg);
                                    window.setTimeout(() => location.reload, 2000);
                                } else {
                                    showErrorMsg(res.msg);
                                    form.submitting = false;
                                    btn.removeAttribute("disabled");
                                }
                            })
                            .catch(function (error) { //error
                                console.log(error);
                                showErrorMsg('發生系統錯誤，未送出資料');
                                form.submitting = false;
                                btn.removeAttribute("disabled");
                            });
                    }
                }
            })


        </script>

</body>

</html>