<!DOCTYPE html>
<html lang="en">
<div th:replace="admin/_admin_head ::head"></div>

<body>
    <div class="wrap admin">
        <div class="wrap index admin">
            <div th:replace="admin/part/_backstageHeader ::header"></div>
            <div class="header-space"></div>
            <div class="d-flex h-100">
                <div th:replace="admin/part/_backstageNav ::nav"></div>
                <div class="admin-nav-space"></div>
                <main class="main-session w-100 px-4 text-center">
                    <h1 class="h3 my-5 text-accent">變更管理者個人資料</h1>
                    <form id="dataForm" class="login-wrap mx-auto needs-validation" novalidate method="POST">
                        <div class="input-group pt-1 mb-3">
                            <div class="input-group-prepend" id="basic-addon1">
                                <div class="input-group-text bg-grey">帳號<span class="text-danger-s ml-1">*</span></div>
                            </div>
                            <div class="form-control text-left bg-grey">{{account}}</div>
                        </div>
                        <div class="input-group my-3">
                            <div class="input-group-prepend">
                                <div class="input-group-text bg-white">姓名<span class="text-danger-s ml-1">*</span></div>
                            </div>
                            <input v-model="name" type="text" name="name" required
                                class="check-input form-control rounded-right" placeholder="請輸入管理者姓名">
                            <div ref="confirmMsg" class="invalid-feedback text-right"></div>
                        </div>
                        <div class="input-group my-3">
                            <div class="input-group-prepend">
                                <div class="input-group-text bg-white">信箱<span class="text-danger-s ml-1">*</span></div>
                            </div>
                            <input v-model="email" type="email" name="email" required
                                class="check-input form-control rounded-right" placeholder="請輸入信箱">
                            <div ref="confirmMsg" class="invalid-feedback text-right"></div>
                        </div>
                        <div class="text-center pt-2">
                            <a th:href="@{/admin}" class="btn btn-danger-s letter-spacing-s m-1">取消</a>
                            <button ref="submitBtn" @click="checkValid"
                                class=" btn btn-bg-accent letter-spacing-s m-1">變更資料</button>
                        </div>
                    </form>
                </main>
            </div>
            <!-- success & error Msg -->
            <div th:replace="part/_popupMsg ::div"></div>

        </div>
        <script th:src="@{/js/common.js}"></script>
        <script th:inline="javascript">
            new Vue({
                el: '#dataForm',
                data: {
                    account: 'System',
                    name: '',
                    email: '',
                },
                created: function () {
                    this.getInfo();
                },
                mounted: function () {
                    formSetSubmitting();
                },
                methods: {
                    getInfo: function () {
                        // get account info
                        let self = this;
                        axios
                            .get('/testData/admin_data')
                            .then(response => {
                                // console.log(response.data.data);
                                if(response.data.success){
                                    self.account = response.data.data.account ?? '';
                                    self.name = response.data.data.name ?? '';
                                    self.email = response.data.data.email ?? '';
                                }else{
                                    console.log("get admin info error:" + response.data.message);
                                }
                            })
                            .catch(function (error) { // 請求失敗處理
                                console.log("get admin info error:" + error);
                            });
                    },
                    checkValid: function (e) {
                        e.preventDefault();
                        let btn = this.$refs.submitBtn;
                        let form = this.$el;
                        let inputs = form.querySelectorAll('.check-input');
                        if (!form.submitting) {
                            form.submitting = true;
                            btn.setAttribute("disabled", true);
                            form.classList.add('was-validated');
                            if (form.checkValidity()) {
                                this.sendAjax();
                            } else {
                                for (var item of inputs) {
                                    item.nextElementSibling.innerText = item.validationMessage;
                                }
                                form.submitting = false;
                                btn.removeAttribute("disabled");
                            }
                        } else {
                            return false;
                        };
                    },
                    sendAjax: function () {
                        let form = this.$el;
                        let btn = this.$refs.submitBtn;
                        let fd = new FormData(form); //form data
                        axios.post('/', fd) //send ajax
                            .then(function (response) { //success
                                let res = response.data;
                                console.log(res);
                                if (res.success) {
                                    showSuccessMsg(res.msg);
                                    window.setTimeout(() => location.reload, 2000);
                                } else {
                                    showErrorMsg(res.msg);
                                    form.submitting = false;
                                    btn.removeAttribute("disabled");
                                }
                            })
                            .catch(function (error) { //error
                                console.log(error);
                                showErrorMsg('發生系統錯誤，未送出資料');
                                form.submitting = false;
                                btn.removeAttribute("disabled");
                            });
                    }
                }
            })


        </script>

</body>

</html>