:root{
    --yellow-color: 248, 153, 3;
    --accent-color-light: 238, 238, 238, 0.6;
    --accent-color: 83, 123, 196;
    --accent-color-dark:77, 113, 179;
    --grey-color-light:249, 249, 249;
    --grey-color: 223, 226, 230;
    --grey-color-dark:116, 116, 116;
    --danger-color:217, 118, 115;
    --danger-color-dark:196, 109, 109;
    --danger-color-red:168, 3, 0;
    --basic-text-color: 45, 54, 61;
    /* --bg-linear-gradient:#85ebb7 8%, #174870 174%; */
    /* --bg-red-linear: #dfa5a5 8%, #8f0000 174%; */
    /* --btn-linear-gradient:rgba(238, 238, 238, 0.4) 17%, rgba(216, 216, 216, 0) 79% */
}

html{
    font-size: 16px;
    scroll-behavior: smooth;
}

body{
    font-family:Arial, Helvetica, 'PingFangTC', "微軟正黑體", sans-serif, FontAwesome;
    color: rgb(var(--basic-text-color));
}

@media screen and (max-width:576px){
    html{
        font-size: 14px;
    }
}

.wrap{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
}

footer{
    margin-top: auto;
}

.pointer{
    cursor: pointer;
}

.hide-over{
    overflow: hidden;
}

textarea.no-resize{
    resize: none;
}

/* h */
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
    line-height: 1.5;
}

/* a */
a.no-underline{
	text-decoration:none;
}

a.no-underline:hover{
	text-decoration:none;
}

a, a:hover{
    transition: all .3s;
    color: inherit;
}

a.text-accent:hover{
    color: rgb(var(--accent-color));
}

a.text-accent-dark:hover{
    color: rgb(var(--accent-color-dark));
}

a.text-grey:hover{
    color: rgb(var(--grey-color-dark));
}

a.underline, .underline{
    text-decoration: underline;
}

.hidden{
    opacity: 0;
    height: 0;
}

/* img */
.img-wrap{
    height: auto;
    overflow: hidden;
}

.img-cover{
    width: 100%;
    height:100%;
    object-fit: cover;
}

.img-contain{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* align */
.vertical-middle{
    vertical-align: middle;
}

.vertical-bottom{
    vertical-align: bottom;
}


/* style/color common setting */
/* .bg-gradient{
    background:linear-gradient(164deg, var(--bg-linear-gradient));
} */

.bg-accent-light{
    background: rgb(var(--accent-color-light));
}

.bg-accent{
    background: rgb(var(--accent-color));
}

.bg-accent-dark{
    background: rgb(var(--accent-color-dark));
}

.bg-white{
    background: #ffffff;
}

.wrap .bg-grey{
    background: rgba(var(--grey-color));
}

.bg-grey-dark{
    background: rgb(var(--grey-color-dark));
}

.bg-grey-light{
    background: rgb(var(--grey-color-light));
}

.bg-danger-s{
    background: rgba(var(--danger-color));
}

.bg-danger-red{
    background: rgb(var(--danger-color-red));
}

.bg-yellow{    
    background: rgb(var(--yellow-color));
}

.bg-trans{
    background: transparent;
}

.text-accent{
    color:rgb(var(--accent-color));
}

.text-accent-dark{
    color:rgb(var(--accent-color-dark));
}

.text-danger-s{
    color:rgb(var(--danger-color));
}

.text-danger-dark-s{
    color:rgb(var(--danger-color-dark));
}

.text-dark-grey{
    color: #888888;
}

.text-grey{
    color: #bbbbbb;
}

.text-sl{
    font-size: 1.1rem;
}

.text-ms{
    font-size:.9rem;
}

.text-small{
    font-size: .8rem;
}

.text-xs{
    font-size: .7rem;
}

.text-underline, a.text-underline, a.text-underline:not([href]):not([tabindex]){
    text-decoration: underline;
}

.text-breakAll{
    word-break: break-all;
}

.op-0{
    opacity: 0;
}

.op-6{
    opacity: .6;
}

.op-7{
    opacity: .7;
}

.op-8{
    opacity: .8;
}

.border-dashed{
    border-style: dashed;
}

.border-accent{
    border: 1px solid rgb(var(--accent-color));
}

.border-dark{
    border: 1px solid #343a40;
}

.border-grey-bottom{
    border-bottom: 1px solid rgb(var(--grey-color));
}

.border-accent-left-4{
    border-left: 4px solid rgb(var(--accent-color));
}

.border-accent-op-6{
    border-color: rgba(var(--accent-color),.6);
}

.rounded-10px{
    border-radius: 10px;
}

.rounded-125px{
    border-radius: 12.5px;
}

.rounded-28px{
    border-radius: 28px;
}

.no-shadow{
    box-shadow: none !important;
}

.box-shadow{
    box-shadow: 2px 2px 10px 0 #dfe2e6;
}

.box-shadow-dark{
    box-shadow: 0px 3px 6px #747474
}

/* position absolute center center */
.p-absolute-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.p-absolute-centerX{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

/* letter-spacing */
.letter-spacing-s{
    letter-spacing: .1rem;
    text-indent : .1rem ;
}

.title{
    letter-spacing: .2rem;
    text-indent : .2rem ;
}

.letter-spacing-l{
    letter-spacing: .5rem;
    text-indent : .5rem ;
}

/* hr */
.after-hr::after{
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background: #c5d5de;
    margin: 1.5rem 0;
    opacity: .5;
    pointer-events: none;
}

.after-hr.thin::after{
    height: 1px;
}

.after-hr.short::after{
    background: rgb(var(--accent-color));
    width: 65px;
    margin-left:auto;
    margin-right: auto;
}

/* 置中 */
.vertical-align-center{
    top: 50%;
    transform: translateY(-50%);
}

.horizontal-align-center{
    left: 50%;
    transform: translateX(-50%);
}

.all-align-center{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* pagination */
.pagination-wrap li:focus, .pagination-wrap a:focus{
    box-shadow: none;
}
