/* textarea */
.no-resize{
    resize: none;
}

/* btn */
.no-focus:focus{
    box-shadow: none;
    outline: 0;
    /* border: 1px solid transparent; */
}

input.no-focus:focus{
    border: 1px solid #cccccc;
}

.btn-accent{
    background:transparent;
    border: 1px solid rgb(var(--accent-color));
    color: rgb(var(--accent-color));
    transition: .3s;
}

.btn-accent:hover{
    border: 1px solid rgb(var(--accent-color));
    background: rgba(var(--accent-color));
    color:rgb(255,255,255);
}

.btn-accent:focus, .btn-bg-accent:focus, .btn-bg-accent-dark:focus{
    box-shadow:0 0 0 0.2rem rgba(var(--accent-color-dark), 0.25);
}

.btn-danger-s{
    background:transparent;
    border: 1px solid rgb(var(--danger-color));
    color: rgb(var(--danger-color));
    transition: .3s;
}

.btn-danger-s:hover{
    border: 1px solid rgb(var(--danger-color));
    background: rgba(var(--danger-color));
    color:rgb(255,255,255);
}

.btn-danger-s:focus{
    box-shadow:0 0 0 0.2rem rgba(var(--danger-color), 0.25);
}

.btn-bg-accent{
    border: 1px solid rgb(var(--accent-color));
    background: rgb(var(--accent-color));
    color:rgb(255,255,255);
    transition: .3s;
}

.btn-bg-accent:hover{
    border: 1px solid rgb(var(--accent-color-dark));
    background: rgb(var(--accent-color-dark));
    color:rgb(255,255,255);
}

.btn-bg-accent-dark{
    border: 1px solid rgb(var(--accent-color-dark));
    background: rgb(var(--accent-color-dark));
    color:rgb(255,255,255);
    transition: .3s;
}

.btn-bg-accent-dark:hover{
    border: 1px solid rgb(var(--accent-color));
    background: rgb(var(--accent-color));
    color:rgb(255,255,255);
}


.btn-bg-white{
    color: rgb(var(--accent-color));
    background:rgb(255,255,255);
    border:1px solid rgb(255,255,255) ;
    transition: .3s;
}

.btn-bg-white:hover{
    color: rgb(var(--accent-color-dark));
    background:rgb(255,255,255);
    border:1px solid  rgb(var(--accent-color-dark)) ;
}

.btn-white{
    color: rgb(255,255,255);
    border:1px solid rgb(255,255,255) ;
    background: transparent;
    transition: .3s;
}

.btn-white:hover{
    color: rgb(var(--accent-color-dark));
    background:rgb(255,255,255);
    border:1px solid  rgb(var(--accent-color-dark)) ;
}

.pill-btn{
    border-radius:1.5rem;
}

.input-group.pill-input{
    overflow: hidden;
    border-radius: 20px;
}

/* contactUs form/order form */
.contact-form input, .contact-form textarea, .contact-form select{
    border: 1px solid rgba(var(--accent-color-dark), .6);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.12);
}

.contact-form .form-control:focus{
    border-color: rgba(var(--accent-color-dark), 1);
    box-shadow:0 0 0 0.2rem rgba(var(--accent-color-dark), 0.25);
}

.contact-form .form-control::placeholder{
    color: rgba(var(--accent-color-dark), .8);
    opacity: 1;
}

.contact-form select.default{
    color: rgba(var(--accent-color-dark),.8);
}

.contact-form select option{
    color: rgba(var(--basic-text-color),.8);
}

.contact-form select option:disabled{
    color: rgba(var(--accent-color-dark),.5);
}

.contact-form .shadow-btn{
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.12);
}

/* loginForm */
.login-wrap .site-logo{
    width: 180px;
    height: 180px;
}

.login-wrap .content form{
    width: 100%;
    max-width: 400px;
}

.login-wrap .content form label{
    color: #ffffff;
    padding-left: 1rem;
    letter-spacing: 2px;
    margin-bottom: .25rem;
}

.login-wrap .content form .input-group{
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.05);
    height: 38px;
}

.login-wrap .content form .input-group .input-group-text, .login-wrap .content form .input-group input{
    background: #ffffff;
    border-left: none;
    border-right: none;
    color: #bbbbbb;
}

.login-wrap .content form .input-group .input-group-prepend .input-group-text{
    padding-left: 1rem;
}

.login-wrap .content form .input-group input{
    padding-left: 0;
    color: rgb(var(--basic-text-color));
    height: 38px;
}

.login-wrap .content form .input-group input::placeholder{
    color: #cccccc;
    opacity: 1;
    letter-spacing: 1px;
}

.login-wrap .content form .seePwdBtn:focus{
    background: #eeeeee;
    outline: 0;
}

.login-wrap .kaptcha-wrap{
    width: 100px;
    height: 40px;
    flex-shrink: 0;
}

/* invalid */
.form.check-valid input:invalid, .form.check-valid select:invalid, .form.check-valid textarea:invalid{
    border: 1px solid rgb(var(--danger-color));
}

.form.check-valid input:invalid:focus, .form.check-valid select:invalid:focus, .form.check-valid textarea:invalid:focus{
    box-shadow: 0 0 0 0.2rem rgba(var(--danger-color),.25);
}

/* 會員中心/族譜 */
/* data form */
.data-form input, .data-form select, .data-form textarea{
    background: rgba(223, 226, 230, 0.3);
    border:1px solid transparent;
}

.data-form input:focus, .data-form select:focus, .data-form textarea:focus{
    background: rgba(223, 226, 230, 0.3);
    border:1px solid rgba(151, 151, 151, 0.3);
    box-shadow: none;
}

.data-form .styled-holder::placeholder{
    color: rgba(var(--basic-text-color), .5);
    font-size: .9rem;
    opacity: 1;
}

/* data row */
.data-row{
    border-bottom: 1px dashed #dfe2e6;
}

.data-row .label{
    color: #888888;
    font-size: 1.1rem;
}

.data-row .value{
    font-size: 1.2rem;
}

.data-row small{
    line-height: 1;
}

/* 族譜協作名單 */
.data-form .d-flex .data-wrap{
    width: 100%;
    max-width: 800px;
    margin-right:1.5rem ;
}

.data-form .d-flex .button-wrap{
    width: 150px;
    flex-shrink: 0;
}

@media screen and (max-width:768px){
    .data-form .d-flex{
        flex-direction: column;
    }

    .data-form .d-flex .data-wrap{
        margin-right:0 ;
    }
}

/* checkbox */
.fake-checkBox::before{
    content: '';
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    border: 1px solid rgb(var(--accent-color));
    color: rgb(var(--accent-color));
    box-shadow: inset 1px 1px 4px 0 #dfe2e6, inset -1px -1px 4px 0 #dfe2e6;
    border-radius: 3px;
    font-size: 1.05rem;
    text-align: center;
    margin-right: .5rem;
}

.fake-checkBox.checked::before{
    font-family: "Font Awesome 5 Free";
    content:"\f00c";
    font-weight: 900;
}

/* checkbox switch */
.switch {
    position: relative;
    display: inline-block;
    width: 53px;
    height: 26px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: rgb(var(--accent-color));
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px rgb(var(--accent-color));
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }



/* 自訂圖片上傳框 */
input[type="file"].hide{
    position: absolute;
    width: 1px;
    margin: -1px;
    opacity: 0;
}

.family .fake-file-input{
    border-radius: 3rem;
}

.family .fake-file-input .fake-btn{
    background: #bbbbbb;
    color: #ffffff;
    border-radius: 3rem;
    flex-shrink: 0;
    width: 5rem;
    transition: .3s;
}

.family .fake-file-input .fake-btn:hover{
    background: #a9a9a9;
}

.admin .inline-sel-short{
    max-width: 6rem;
    flex: 0 0 20%;
}