
@media (max-width: 768px) {
    .container {
        width: 95%;        
        max-width: none;
    }
    .pic-slider-wrap{
        height: 50px;
    }
    footer small{
        position: relative;
    }
}

@media (min-width: 768px){
    .pic-slider-wrap{
        height: 50px;
    }
    footer small{
        position: absolute;
    }
}

@media (min-width: 992px){
    .pic-slider-wrap{
        height: 70px;
    }
    footer small{
        position: absolute;
    }
    .lg-rounded-10px{
        border-radius: 10px;
    }
}

@media (min-width: 1200px){
    .pic-slider-wrap{
        height: 75px;
    }
    footer small{
        position: absolute;
    }
    .lg-rounded-10px{
        border-radius: 10px;
    }
}

.z-index-5{
    z-index: 5;
}

.r-0{
    right: 0;
}

.resize-none{
    resize: none;
}

textarea.h-8rem{
    height: 8rem;
}

.pointer-events-none{
    pointer-events: none;
}

.button-dark, .button-light{
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    padding: 0.5rem 1.5rem;
    border:1px solid #343a40;
    transition: all .3s;
}

.button-dark:hover, .button-light:hover{
    opacity: 0.8;
}

.button-light{
    background-color: white;
}

.button-dark{
    color: white;
    background-color: #343a40;
}

input[type=radio]{
    margin-right: 5px;
}

.form-control:not(textarea){
    height: 50px !important;
    border-radius: 10px;
}

.form-control{
    border-radius: 10px;
}

.form-control:focus {
    border: solid 1px rgb(83, 123, 196);
    box-shadow: none;
}

.rounded-10px-left{
    border-radius: 10px 0 0 10px;
}

header{
    pointer-events: none;
    z-index: 99;
}

.header-box-shadow{
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(128, 128, 128, 0.5);
}

header button, header img, header ul, header .dropdown-menu {
    pointer-events: auto;
}

footer{
    z-index: 99;
}

.modal-dialog {
    width: 80%;
    max-width: 700px;
    margin: 5rem auto;
}

.modal-dialog-centered {
    min-height: calc(100% - 10rem);
}

.modal-content{
    border-radius: 10px;
    border: unset;
}

.modal-header{
    border: unset;
}

.modal-title{
    margin-left: auto;
    font-weight: 900;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.modal-backdrop:before{
    display: none;
}

.space-preline{
    white-space: pre-line;
}

.breadcrumb{
    background-color: initial;
    height: 40px;
    margin: 10px;
    padding: 0 1rem;
}

.breadcrumb-item{
    height: 25px;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    background-color: rgb(var(--basic-text-color));
    color: white;
    text-align: center;    
    margin: auto 30px auto auto;
    padding: 2px 10px;
    transition: all .3s;
}

.breadcrumb-item:hover{
    cursor: pointer;
    background-color: rgb(var(--accent-color));
}

.breadcrumb-item a ,.breadcrumb-item a:hover{
    color: white;
    text-decoration: none;
}

.breadcrumb-item+.breadcrumb-item::before{
	display: inline-block;
	position: absolute;
	margin-left: -30px;
    content: "\f054";
    color: rgb(var(--basic-text-color));
}

.breadcrumb-item.active{
    color: white;
    background-color: rgb(var(--accent-color));
    margin-right: 0;
}

.btn.bg-dark:disabled{
    background-color: #888888;
}

/* 小網slider */
.carousel-indicators li{
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

/* 大網圖片slider顯示 */
.big-pic{
    width: 100%;
    height: 300px;
}

.detail-bigpic-img{
    object-fit: contain;
    width: 100%;
    height: 300px;
}

.pic-slider-arrow-wrap{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
    position: absolute;
    z-index: 1;
    font-size: 6px;
    text-align: center;
}

.pic-slider-arrow-wrap-left{
    left: -8px;
}

.pic-slider-arrow-wrap-right{
    right: -8px;
}

.pic-slider-arrow-wrap .fas{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pic-slider-wrap{
    width: 100%;
    position: relative;
    overflow: hidden;
}

.pic-slider-img{
    height: 100%;
    width: 100%;
    position: relative;
}

.pic-slider-img.hover{
    padding: 0;
    border: solid 1px black;
}

.pic-slider:not(.show){
    left: 500px;
    right: -500px;
}

.member .pic-slider-img{
    height: 200px;
    position: relative;
    object-fit: contain;
}

.member .pic-slider-wrap{
    height: 200px;
}

.member .pic-slider-img.hover{
    border: none;
}

.member .pic-slider:not(.show){
    left: 100%;
    right: -100%;
}


/* detail-tag 今天以後 */
.status-tag{
    font-size: initial;
    border-radius: 2rem;
    line-height: 18px;
    color: white;
}

/* 點閱次數 收藏人數 */
.blue-tag img{
    border-radius: 50%;
    padding: 4px 0px;
    width: 20px;
    height: 20px;
    background: rgb(var(--accent-color));
    object-fit: contain;
}

/* 活動詳細資訊 */
.activity-information,
.place-information,
.master-information{
    list-style: none;
}

.information-title{
    display: inline-block;
    color: #888888;
    width: 5rem;
    padding: 10px 0;
}

.information-title2{
    color: #888888;
    width: 5rem;
    padding-left:0;
}

.information-text small{
    color: #888888;
    font-size: 12px;
}

.black-button{
    height: 25px;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    background-color: rgb(var(--basic-text-color));
    padding: 0px 20px;
}

/* 點我報名 加入收藏 */
a.add-to-favorite-button, a.click-apply-event-button{
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    height: 50px;
    border-radius: 28px;
    border: solid 3px rgb(var(--accent-color));
    color: rgb(var(--accent-color));
    background-color: #f6faff;    
}

a.add-to-favorite-button:hover, a.click-apply-event-button:hover{
    margin-top: 0;
    color: white;
    background-color: rgb(var(--accent-color));
}

/* 關鍵字 */
.activity-hashtag,
.place-hashtag,
.master-hashtag{
    display: inline-block;
    border-radius: 5px;
    color: rgb(var(--accent-color));
    border: solid 1px #eeeeee;
    padding: 5px 8px;
    margin: 5px 3px;
}

.activity-title,
.place-title,
.master-title{
    color: #888888;
    width: 100%;
    border-bottom: dashed 1px #bbbbbb;
    margin-bottom: 0.75rem;
}

/* 簡介 閱讀更多 */
.detail-article:not(.show){
    height: 15rem;
    overflow: hidden;
}

.detail-article-readmore{
    width: 100%;
    height: 5rem;
    margin-top: -5rem;
    position: sticky;
    background: linear-gradient(rgba(255, 255, 255, 0),rgba(255, 255, 255, 0.8) 10%, rgba(255, 255, 255,1) 50%,rgba(255, 255, 255,1) 100%);
    cursor: pointer;
}

.detail-article-readmore.show::after{
    content:"展開全文";
    color: #888888;
    text-decoration: underline;
    text-align: center;
    margin-top: 4rem;
    display: block;
    font-size: 0.9rem;    
}

/* 達人 */
.activity-master a{
    color: #888888;
    text-decoration: none;
    display: block;
    margin-bottom: 1rem;
}

.activity-master a:hover{
    color: #bbbbbb;
}

.activity-master-pic{
    width: 65px;
    height: 65px;
    border-radius: 50%;
}

.activity-block{
    margin: 1.75rem -15px;
}

/* 上方藍色通知 */
.popupNotice{
    width: 100%;
    padding: 1.75rem;
    background-color: rgb(var(--accent-color));
    opacity: .9;
    position: absolute;
    top: -100px;
    text-align: center;
    color: white;
    transition: all .3s;
    font-weight: 500;
    letter-spacing: 2px;
    z-index: 99;
}

.master-pic-wrap{
    padding-bottom: 100%;
    position: relative;
}

.master-pic{
    display: inline-block;
    border-radius: 50%;
    padding: 8px;
    background-color: white;
    min-height: 100%;
    min-width: 100%;
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
}

.master-pic-border-grey{
    border: solid 1px rgb(var(--grey-color-dark));
}

.master-pic-small{
    width: 70%;
}

/* 上一頁按鈕 */
.backButton{
    width: 40px;
    height: 40px;
    border-radius: 10px;
    border: solid 1px rgb(var(--grey-color-dark));    
    line-height: 40px;
    overflow: hidden;
    cursor: pointer;
    margin: 10px 0;
    transition: all .6s;
}

.backButton i{
    width: 40px;
    text-align: center;
}

.backButton-long{
    width: 120px;
}

.backButton-hover:hover{
    width: 120px;
}

/* list 搜尋 */
.list .btn-accent{
    width: 48%;
    height: 40px;
    border: solid 1px white;
    color: white;
    font-size: 14px;
    border-radius: 5px;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.list .btn-accent:hover,
.list .btn-accent:focus,
.list .btn-accent:active{
    border: solid 1px white;
    background-color: rgb(var(--accent-color-dark));
}

.list i{
    margin-right: 5px;
}

.list .search-input-wrap::before{
    position: absolute;
    display: inline-block;
    line-height: 50px;
    right: 10px;
    content: "\f002";
    color: rgb(var(--grey-color));
    pointer-events: none;
}

.list .search{
    background-color: rgb(var(--accent-color));
    color: white;
    border-radius: 10px;
}

.list .mobile-search{
    border-radius: 0;
}

.list .mobile-search-hr{
    position: sticky;
    width: 100%;
    height: 3px;
    margin: auto;
    background-color:rgb(255, 255, 255, 0.8);
}

/* list 標題 */
.list .list-title{
    height: 3rem;
}

.list .list-item{
    cursor: pointer;
}

.list .list-item-hr{
    width: 100%;
    border-bottom: solid 1px rgb(var(--grey-color));
}

.list .list-img-wrap{
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.list .list-img-wrap img{
    transition: all .5s;
}

.list .list-item:hover img{
    transform: scale(1.1);
    transform-origin: center;
}

.list .list-item-title{
    display: inline-block;
    border-radius: 10px;
    height: 36px;
    line-height: 36px;
    padding: 0 10px;
    margin-bottom: 5px;
    letter-spacing:0.1rem;
/*     font-weight: 900; */
}

.list .green-title{
    color: white;
    background-color: rgb(108, 167, 69, 0.8);
}

.list .yellow-title{
    background-color: rgb(254, 200, 89, 0.8);
}

.list .list-information-title{
    display: block;
    width: 100%;
    margin-bottom: 5px;
}

.list-information-text-3{
    display: inline-block;
    width: calc(100% - 3rem);
    vertical-align: top;
}

.list-information-text-2-line-height{
    display: -webkit-box;
    display: -moz-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}

/* master-list 陰影/hover */
.list .master-list-item{
    padding: 1.25rem;
    border-radius: 10px;
    box-shadow: 0 0 3px 0 rgba(119, 119, 119, 0.2);
    transition: all .3s;
}

.list .master-list-item:hover{
    box-shadow: 0 0 10px 2px rgba(83, 123, 196, 0.3);
}


/* master-list 收藏/點閱 */
.nav-tabs{
    border-bottom: 1px solid rgb(83, 123, 196, 0.5);
    background-color: rgb(249, 249, 249);
}

.nav-link{
    padding: 0.75rem 1rem;
    color: rgb(var(--grey-color-dark));
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active{
    border-color: rgb(83, 123, 196, 0.5) rgb(83, 123, 196, 0.5) #fff;
    border-radius: 10px 10px 0 0;
    color: rgb(var(--accent-color));
}

.nav-link:focus, .nav-tabs .nav-link:hover {
    border-radius: 10px 10px 0 0;
    color: rgb(var(--grey-color-dark));
}

@media (max-width: 768px) {
    .nav-tabs{
        border-bottom: none;
        display: flex;
        flex-direction: column;
    }

    .nav-tabs .nav-item.show .nav-link,
    .nav-tabs .nav-link.active{
        border-color: rgb(83, 123, 196, 0.5) rgb(83, 123, 196, 0.5) rgb(83, 123, 196, 0.5);
        border-radius: 0;
    }
}
.border-grey-bottom{
    border-bottom: 1px solid rgb(var(--grey-color));
}

/* popular-list 左方數字 */
.popular-list-bg{
    width: 150%;
    height: 15%;
    border-radius: 12px;
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
}

.popular-list-bg-1{
    background-color: rgb(244, 188, 0);
}

.popular-list-bg-2{
    background-color: rgb(172, 183, 215);
}

.popular-list-bg-3{
    background-color: rgb(209, 83, 54);
}

.popular-list-number{
    position: absolute;
    font-family: sans-serif;
    font-size: 25px;
    line-height: 24px;
    font-weight: 500;
    text-align: center;
    transform: translate(70%, -50%);
}

.popular-list-item{
    border-bottom: 1px solid rgb(var(--grey-color));
    transition: all .3s;
}

.popular-list-item:hover{
    border-bottom: 2px solid rgb(var(--accent-color));
    background-color: rgb(249, 249, 249);
}

/* accent-tag */
.accent-tag{
    background-color: rgb(var(--accent-color-light));
    color: rgb(var(--accent-color));
    border-radius: 12.5px;
    display: inline-block;
    padding: .25rem .5rem;
    margin: 0 .5rem .5rem 0;
}

.god-card {
    position: relative;
    border-radius: .5em;
    background: linear-gradient(-45deg, transparent 2em, white 0);
    filter: drop-shadow(0 0mm 1mm rgba(119, 119, 119, 0.2))
}

.god-card::before {
    content: '';
    position: absolute;
    bottom: -1px;
    right: -1px;
    width: 3em;
    height: 3em;
    background: linear-gradient(to left bottom, transparent 50%, rgb(216, 216, 216) 0,rgb(216, 216, 216)) 0 100% no-repeat;
    transform: rotate(90deg);
    border-bottom-left-radius: inherit;
}

.god-card::after {
    content: '\f061';
    position: absolute;
    color: white;
    bottom: 20px;
    right: 25px;
}

.god-card:hover::before {
    background: linear-gradient(to left bottom, transparent 50%, rgb(var(--accent-color)) 0,rgb(var(--accent-color))) 0 100% no-repeat;
  }

#map{
    width: 100%;
    height: calc(100% - 108px);
    top: 7%;
    left: 0;
    position: absolute;
}

.z-index-1{
    z-index: 1;
}

.z-index-2{
    z-index: 2;
}

.geolocation-alert-wrap{
    position: absolute;
    bottom: 0;
}

.geolocation-alert{
    position: absolute;
    width: 400px;
    bottom: 80px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    left: 50%;
    transform: translateX(-50%);
}

.map .mobile-scrollup-bar-wrap{
    position: fixed;
    width: 100%;
    padding: 1rem 0rem;
    background-color: #fff;
    z-index: 2;
}


.map .mobile-scrollup-bar{
    position: fixed;
    width: 20%;
    height: 4px;
    background-color:  rgb(var(--grey-color));
    margin: auto;
    border-radius: 20%;
}

.map .activity-list,
.map .place-list{
    overflow-y: auto;
    background-color: rgb(238, 238, 238);
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
    height: 90%;
    padding: 0 0 60px 0;
    margin-top: 0;
}

@media screen and (max-width: 767px) {
    .map .activity-list,
    .map .place-list{
        margin-top: 100%;
    }
}   

.map .activity-item,
.map .place-item{
    border-radius: 5px;
    margin: 1.75rem 1.25rem 1.25rem 1.25rem;
    padding: 0.5rem 0.25em;
    box-shadow: 0 0 6px rgba(119, 119, 119, 0.4);
    z-index: 0;
    cursor: pointer;
    transition: all .3s;
}

.map .activity-item:hover,
.map .place-item:hover{
    box-shadow: 0 0 10px rgba(119, 119, 119, 0.8);
}

.map .activity-item.new-activity::before,
.map .activity-item.hot-activity::before,
.map .place-item.new-place::before,
.map .place-item.hot-place::before{
    font-size: 0.7rem;
    border-radius: 0px 3px 3px 0px;
    color: white;
    position: absolute;
    z-index: 1;
    padding: 0.25rem 0.5rem;    
    margin-top: -0.3rem;
    transform: translateX(-20%);
}

.map .activity-item.new-activity::after,
.map .activity-item.hot-activity::after,
.map .place-item.new-place::after,
.map .place-item.hot-place::after{
    content: '';
    width: 12px;
    height: 12px;
    position: absolute;
    z-index: -1;
    transform: translate(-65%, 135%) rotate(45deg);
    transform-origin: left;
    margin-top: -0.3rem;
}

.map .activity-item.new-activity::before,
.map .place-item.new-place::before{
    content: '最新活動';
    background-color: rgb(var(--accent-color));
}

.map .activity-item.new-activity::after,
.map .place-item.new-place::after{
    background: linear-gradient(to left bottom, transparent 50%, rgb(var(--accent-color)) 0);
}

.map .activity-item.hot-activity::before,
.map .place-item.hot-place::before{
    content: '熱門活動';
    background-color: #d9534f;
}

.map .activity-item.hot-activity::after,
.map .place-item.hot-place::after{
    background: linear-gradient(to left bottom, transparent 50%, #d9534f 0);
}

.map .activity-item.adver::before,
.map .place-item.adver::before{
    content: 'AD';
    font-size: 0.7rem;
    border-radius: 3px 0px 0px 3px;
    color: white;
    background-color: #ee847d;
    position: absolute;
    right: 9px;
    z-index: 1;
    padding: 0.1rem 0.5rem;
    margin-top: -0.3rem;
    transform: translateX(-20%);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
}

.map .position-button-wrap{
    position: absolute;
    z-index: 1;
    bottom: 5%;
    right: 0;
}

.map .position-button{
    background-color: rgb(var(--accent-color));
    margin: 1rem;
    padding: 0.25rem 0.45rem;
    border-radius: 10%;
    cursor: pointer;
}

.map .position-button:first-child::before{
    opacity: 0;
    transition: all .3s;
    content: '搜尋附近';
    width: 80px;
    text-align: center;
    line-height: 1.75rem;
    height: 1.75rem;
    position: absolute;
    right: 100%;
    border-radius: 5px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
    background-color: rgb(255, 255, 255);
}

.map .position-button:first-child:hover::before{
    opacity: 1;
}

.member .member-little-nav{
    list-style: none;
}

.member .member-little-nav-item{
    cursor: pointer;
    text-decoration: none;
    user-select: none;
}

.member .member-little-nav-item span{
    position: relative;
    display: inline-block;
    width: 6rem;
}

.member .member-little-nav-item span::after{
    content: '';
    display: block;
    position: absolute;
    border-bottom: solid 1px black ;
    width: 6rem;
    margin-top: 0;
    left: 0;
    transition: all .3s;
    opacity: 0;
}

.member .member-little-nav-item.active span::after,
.member .member-little-nav-item:hover span::after{
    opacity: 1;
}

.member .edit-button,.member .delete-button{
    margin: 0.5rem;
    text-align: center;
    border-radius: 5px;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.member .edit-button{
    background-color: rgb(var(--accent-color));
}

#memApply .pic-slider-img ~ .delete-button{
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s;
}

#memApply .delete-button.show{
    opacity: 1;
}

.member .delete-button{
    background-color: #d9534f;
}

.member .place-item{
    margin: 0.5rem 0;
    border-radius: 10px;
    border:1px solid rgb(var(--grey-color));
    transition: all .3s;
}

.member .place-item:hover{
    border:1px solid rgb(var(--accent-color));
}

.member .tag{
    font-size: 0.9rem;
    border-radius: 12.5px;
    padding: 0.1rem 0.75rem;
    display: inline-block;
    vertical-align: middle;
}

.member .tag-expired{
    background: rgba(var(--grey-color));
    color: rgba(var(--danger-color-dark));
}

.member .tag-cancled{
    background: rgba(var(--grey-color));
}

.member .tag-reviewed{
    background-color: rgb(248, 153, 3);
    color: white;
}

.member .tag-published{
    background-color: rgb(108, 167, 69);
    color: white;
}

.member .tag-refused{
    background: rgb(217, 83, 79);
    color: white;
}

.member .tag-used{
    border: solid 1px rgb(217, 83, 79);
    color: rgb(217, 83, 79);
}

.member .tag-cover{
    border: solid 1px rgba(var(--grey-color-dark));
    color: rgba(var(--grey-color-dark));
}

.member .keyword-tag,
.member .master-tag-content{
    color: rgb(var(--accent-color));
    border: solid 1px rgb(var(--grey-color));
    border-radius: 5px;
    display: inline-block;
    padding: .25rem 1.25rem .25rem .75rem;
    margin: 0 .5rem .5rem 0;
    cursor: pointer;
    position: relative;
    vertical-align: middle;
}

/* 申請狀態 */
.member .editable .keyword-tag::after,
.member .editable .master-tag::after{
    content: "\f056";
    font-family: FontAwesome;
    color: rgb(217, 83, 79);
    font-size: 12px;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    cursor: pointer;
    padding: 0.75rem;
}

.member .master-tag{
    display: inline-block;
    /* padding-left: .5rem; */
    position: relative;
}

.member .master-tag .img-wrap{
    width: 32px;
    height: 32px;
    display: inline-block;
    vertical-align: middle;
}

.member .chosen{
    border-radius: 5px;
    background-color: rgba(28, 28, 28, 0.4);
}

.member .chosen::after{
    content: "\f00c";
    font-family: FontAwesome;
    color: rgb(217, 83, 79);
    font-size: 12px;
    position: absolute;
    bottom: 0;
    right: 3px;
}

.member .search-result-list-wrap{
    overflow-y: scroll;
    height: 12rem;
}

.member .search-newest-tab{
    font-weight: 600;
    padding: .25rem 1.5rem;
    margin: .25rem;
    cursor: pointer;
}

.member .search-newest-tab.active{
    border-bottom: solid 3px black;
}