

.admin .login-wrap{
    max-width: 520px;
}

/* admin header */
.admin .admin-header{
    z-index: 1000;
    height: 68px;
    position: fixed;
    top: 0;
}
.admin .header-space{
    height: 68px; /*header height*/
}

.admin main{
    padding-bottom: 2rem;
}

/* admin nav 目錄 */
.admin-nav{
    min-height: calc(100vh - 68px);
    width: 12.6rem;
    position: fixed;
    bottom: 0;
    left: 0;
    overflow: auto;
    z-index: 10;
}

.admin-nav-space{
    flex: 0 0 12.6rem;
}

.admin .admin-nav .list-item-main .title{
    border-radius: .5rem;
    height: 3rem;
    line-height: 3rem;
    color: rgb(var(--basic-text-color),1);
    background:rgba(var(--accent-color),0);
    transition: .2s;
}

.admin .admin-nav .list-item-sub{
    margin:.25rem 0;
    /* list-style: square; */
    list-style: none;
    font-weight: 600;
}

.admin .admin-nav .list-item-sub a{
    display: inline-block;
    border-radius: .25rem;
    /* margin-left: -1rem; */
    padding: .2rem 1rem;
    color: rgb(var(--basic-text-color),.6);
}


/* hover */
.admin .admin-nav .list-item-main:hover .title, .admin .admin-nav .list-item-main .title.active{
    /* background:rgba(var(--accent-color),.8); */
    /* color: #f8f9ff; */
    color:rgba(var(--accent-color),1);
}

.admin .admin-nav .list-item-main:hover .nav-icon{
    /* color: #f8f9ff; */
    color:rgba(var(--accent-color),1);
}

.admin .admin-nav .list-item-sub a:hover, .admin .admin-nav .list-item-sub.active a{
    text-decoration: none;
    color: #f8f9ff;
    background: rgb(var(--accent-color));
}

/* empty msg */
.empty-msg{
    display: block;
    text-align: center;
    box-shadow: 2px 2px 5px #cccccc;
    border-radius: 5px;
    padding:.8rem 1rem;
    color: #aaaaaa;
}

/* user account */
.user.head-photo{
    width: 180px;
    height: 180px;
    overflow: hidden;
    flex:0 0 180px;
}

.ad-photo{
    width: 200px;
    height: 200px;
    overflow: hidden;
}

.square-photo{
    width: 150px;
    height: 150px;
    overflow: hidden;
}

.square-photo .main-cap{
    bottom: 0;
}

.tag-wrap{
    margin-left: -.5rem;
    margin-right: -.5rem;
}

.keyword-tag{
    padding: .25rem 1rem;
    border: 1px solid rgb(var(--accent-color));
    border-radius: 5px;
    margin: .5rem;
}

.keyword-tag .delete-tag-btn{
    width: 20px;
    height: 20px;
    line-height: 20px;
    position: absolute;
    right: -8px;
    top: -8px;
    cursor: pointer;
}