/* header footer */
button.btn:focus,
button.btn:active {
    box-shadow: initial !important;    
}

header .dropdown-menu.show {
    min-width: 12rem;
    right: 0 !important;
    transform: translate3d(-25%, 41px, 0px) !important;
    border: 0;
    top: 0;
    display: block;
}

header .dropdown-menu a:active, .dropdown-item:active, .dropdown-item:focus, .dropdown-item:hover {
	background-color:  #eeeeee;;
	color: rgb(var(--basic-text-color));
}

.nav-mobile{
    height: 100%;
    width: 50%;
    z-index: 9999;
    top: 0;
    left: -50%;
    transition: all .5s;
}

.modal-backdrop{
	pointer-events: none;
}

.modal-backdrop::after{
    content: "";
    position: absolute;
    color: white;
    font-size: 20px;
    left: 54%;
    top: 2%;
    cursor: pointer;
}

footer{
    border-top: solid 1px rgba(0, 0, 0, 0.2);
}

footer small{
    right: 0;
}

@media screen and (max-width: 768px) {
    .dropdown-menu.show {
        display: none!important;
    }

    .nav-mobile-show{
        left: 0;
    }

    .side-collapse-background-black{
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: black;
    }
}

/* index */
.banner{
    background-image: url("/image/banner.png");
    background-size: cover;
}

.banner-nav-item img{
    width: 20px;
    height: 20px;
    position: absolute;
    margin-left: -1.5rem;
    transition: all .3s;
}

.banner-nav-pic-selected{
    opacity: 0;
}

.banner-nav-item:hover  .banner-nav-pic, .banner-nav-item.selected  .banner-nav-pic{
    opacity: 0;
}

.banner-nav-item:hover  .banner-nav-pic-selected, .banner-nav-item.selected  .banner-nav-pic-selected{
    opacity: 1;
}

a.banner-nav-item:hover, a.banner-nav-item:active,a.banner-nav-item.selected{
    color: rgb(var(--accent-color));
}

.index .search{
    top: 200px;
}

.index .search-wrap{
    position: relative;
    top: 50%;
    transform: translateY(-50%);    
}

.index .search-button{
    right: 0;
}

/* 常用地點 */
#pin-button {
    width: 35px;
    height: 35px;
    border-radius: 10px 0 0 10px;
    font-size: 1.2rem;
    right: 0;
    position: absolute;
    top: 25%;
}

#pin-button i{
    top: 40%;
    left: 15px;
    transform: translate(-50%, -50%);
}

.map #pin-button{
    top: 15px;
}

#usedPlace ul{
    list-style: none;
    margin-right: 20px;
}

#usedPlace i{
    transform: translateX(-100%);
}

#usedPlace a{
    color: initial;
    text-decoration: none;
}

#usedPlace li{
    padding: 20px 0 20px 25%;
    transition: all .3s;
    cursor: pointer;
}

#usedPlace li:hover{
    box-shadow: 0 0 8px 0 rgba(83, 123, 196, 0.3);
}

#usedPlace .usedPlaceTitle::before{
    display: inline-block;
    font-family: FontAwesome;
    content: "\f08d";
    position: absolute;
    color: rgb(var( --accent-color));
    margin-left: -40px;
}

#usedPlace .usedPlaceTitle{
    margin: 5px 0;
    display: block;
    font-weight: 900;
}

#usedPlace .usedPlaceAddress{
    display: inline-block;
    color: #747474;
}

.index-nav img{
    width: 100%;
}

.index-nav:after{
    content: '';
    width: 30px;
    height: 0px;
    position: absolute;
    bottom: -10px;
    left: 50%;    
    background-color: rgb(var(--accent-color));
    border-radius: 3px;
    transform: translate(-50%);
    height: 5px;
    transition: all .3s;
    opacity: 0;
}

.index-nav:hover:after{
    opacity: 1;
}

.login header{
    width: 100%;
    z-index: 10;
}

.login-bg{
    background-image: url("/image/login-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.login #register-block .nav-link{
    border-bottom: 1px solid rgb(var(--grey-color));
}

.login #register-block .nav-link.active{
    color: rgb(var(--accent-color));
    border-bottom: 2px solid rgb(var(--accent-color));
}

.login #register-block .nav-link .number{
    height: 20px;
    width: 20px;
    display: inline-block;
    border-radius: 50%;
    font-size: 12px;
    font-weight: 100;
    line-height: 20px;
    transition: all .3s;
    color: grey;
    margin-right: 5px;
}

.login #register-block .nav-link.active .number{
    color: white;    
    background-color: rgb(var(--accent-color));
}

.login .form-control{
    border-radius: 10px;
}

.login .type-button{
    margin: 0 -10px -10px 0;
}

.member .search-master-wrap{
    max-height: 10rem;
    overflow-y: scroll;
}
