<!-- Front head -->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- X-UA-Compatible設置IE兼容模式 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!--RWD-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0, shrink-to-fit=no" />
    <meta name="author" content="" />
    <meta name="copyright" content="" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
	<!-- Google SSO -->
	<meta name="google-signin-client_id" content="209830856725-4ovqei2om3o4rqt65oul278ppml16c58.apps.googleusercontent.com">
    <!-- Title Bar -->
    <link rel="shortcut icon" type="image/png" th:href="@{/image/nav_logo.png}" />
    <title th:text="${pageTitle != null ? pageTitle + ' | Atenore' : 'Atenore'}"></title>

    <!-- involve bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href='https://cdn.jsdelivr.net/npm/css.gg/icons/all.css' rel='stylesheet'>
    <link rel="stylesheet" th:href="@{/css/lib/simplePagination.css}">
    <link rel="stylesheet" th:href="@{/css/lib/bootstrap-datepicker3.css}">
    <link rel="stylesheet" th:href="@{/css/lib/bootstrap-datetimepicker.min.css}">
    <link rel="stylesheet" th:href="@{/css/_common.css}" />
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link rel="stylesheet" th:href="@{/css/_frountCommon.css}" />
    <link rel="stylesheet" th:href="@{/css/frount.css}" />

    <!-- involve jquery, vue, popper, bootstrap, list.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script th:src="@{/js/lib/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/js/lib/popper.min.js}"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/3cac1b8cf2.js" crossorigin="anonymous"></script>
	<!-- <script src="https://kit.fontawesome.com/ebf24e57e9.js" crossorigin="anonymous"></script> -->
    
    <!-- <script th:src="@{/js/lib/jquery.simplePagination.js}"></script> -->
    <!-- List.js v1.5.0 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
    <script th:src="@{/js/lib/bootstrap-datepicker.js}"></script>
    <script th:src="@{/js/frount/_frountHeader.js}"></script>
</head>