<!DOCTYPE html>
<html lang="en">
<div th:replace="frount/_frount_head.html ::head"></div>


<body>
    <div id="index"
         class="wrap index">
        <div th:replace="frount/part/_frountHeader ::header"></div>
        <!-- 位置資訊 -->
        <div th:replace="frount/part/_allowGeoPosition ::div"></div>
        <div class="container banner-nav mt-3 mb-2 pl-5">
            <a v-bind:class="{'selected': showData=='event'}"
               v-on:click="toggleShowData('event')"
               class="banner-nav-item border-right pr-4 pointer font-weight-bold ">
                <img class="banner-nav-pic"
                     src="/image/banner-activity.png"
                     alt="活動">
                <img class="banner-nav-pic-selected"
                     src="/image/banner-activity-selected.png"
                     alt="活動">活動</a>
            <a v-bind:class="{'selected': showData=='place'}"
               v-on:click="toggleShowData('place')"
               class="banner-nav-item border-right pl-5 pr-4 pointer font-weight-bold">
                <img class="banner-nav-pic"
                     src="/image/banner-place.png"
                     alt="場所">
                <img class="banner-nav-pic-selected"
                     src="/image/banner-place-selected.png"
                     alt="場所">場所</a>
            <a v-bind:class="{'selected': showData=='master'}"
               v-on:click="toggleShowData('master')"
               class="banner-nav-item pl-5 pointer font-weight-bold">
                <img class="banner-nav-pic"
                     src="/image/banner-master.png"
                     alt="達人">
                <img class="banner-nav-pic-selected"
                     src="/image/banner-master-selected.png"
                     alt="達人">達人</a>
        </div>
        <div class="banner w-100 p-5 position-relative text-center">
            <div class="search bg-accent rounded-10px p-4 container">
                <div v-if="showData=='event'"
                     class="form-inline d-flex text-white">
                    <label>
                        <input v-model="todayOnly"
                               value="true"
                               type="radio">今天發生</label>
                    <label class="pl-4">
                        <input v-model="todayOnly"
                               value="false"
                               type="radio">今天以後</label>
                </div>
                <div v-if="showData=='event'"
                     class="search-select d-md-flex">
                    <select v-model="selectedCountry"
                            class="form-control my-2">
                        <option value="">請選擇地區</option>
                        <option v-for="country in countryList"
                                v-bind:value="country">{{country}}</option>
                    </select>
                    <select v-model="mainID"
                            v-on:change="getMinorTypeList"
                            class="form-control my-2">
                        <option value="">請選擇大分類</option>
                        <option v-for="mainType in mainTypeList"
                                v-bind:value="mainType.mainID">{{mainType.name}}</option>
                    </select>
                    <select v-model="typeID"
                            v-bind:disabled="mainID==''"
                            class="form-control my-2">
                        <option value="">請選擇小分類</option>
                        <option v-for="minorType in minorTypeList"
                                v-bind:value="minorType.typeID">{{minorType.name}}</option>
                    </select>
                </div>
                <div v-if="showData=='place'"
                     class="search-select d-md-flex">
                    <select v-model="selectedCountry"
                            class="form-control my-2">
                        <option value="">請選擇地區</option>
                        <option v-for="country in countryList"
                                v-bind:value="country">{{country}}</option>
                    </select>
                    <select v-model="mainID"
                            v-on:change="getMinorTypeList"
                            class="form-control my-2">
                        <option value="">請選擇大分類</option>
                        <option v-for="mainType in mainTypeList"
                                v-bind:value="mainType.mainID">{{mainType.name}}</option>
                    </select>
                    <select v-model="typeID"
                            v-bind:disabled="mainID==''"
                            v-on:change="getCapacityList"
                            class="form-control my-2">
                        <option value="">請選擇小分類</option>
                        <option v-for="minorType in minorTypeList"
                                v-bind:value="minorType.typeID">{{minorType.name}}</option>
                    </select>
                    <select v-model="capacitySN"
                            v-if="mainID==29"
                            class="form-control my-2">
                        <option value="">請選擇容納人數</option>
                        <option v-for="capacity in capacityList"
                                v-bind:value="capacity.capacitySN">{{capacity.capacityName}}</option>
                    </select>
                </div>
                <div v-if="showData=='master'"
                     class="search-select d-md-flex">
                    <select v-model="selectedCountry"
                            class="form-control my-2">
                        <option value="">請選擇地區</option>
                        <option v-for="country in countryList"
                                v-bind:value="country">{{country}}</option>
                    </select>
                    <select v-model="mainID"
                            v-on:change="getMiddleTypeList"
                            class="form-control my-2">
                        <option value="">請選擇大分類</option>
                        <option v-for="mainType in mainTypeList"
                                v-bind:value="mainType.mainID">{{mainType.name}}</option>
                    </select>
                    <select v-model="midID"
                            v-on:change="getMinorTypeList"
                            v-bind:disabled="mainID==''"
                            class="form-control my-2">
                        <option value="">請選擇中分類</option>
                        <option v-for="middleType in middleTypeList"
                                v-bind:value="middleType.midID">{{middleType.name}}</option>
                    </select>
                    <select v-model="typeID"
                            v-bind:disabled="midID==''"
                            class="form-control my-2">
                        <option value="">請選擇小分類</option>
                        <option v-for="minorType in minorTypeList"
                                v-bind:value="minorType.typeID">{{minorType.name}}</option>
                    </select>
                </div>
                <div class="search-input-wrap position-relative">
                    <input v-model="keyword"
                           class="form-control my-2 w-100 search-input"
                           type="text"
                           placeholder="請輸入搜尋項目">
                    <button v-on:click="redirectPage()"
                            class="d-none d-md-block btn btn-bg-accent text-white position-absolute py-1 px-4 vertical-align-center search-button mx-2 rounded-10px"
                            type="button">
                        <i class="fas fa-search"></i>搜尋</button>
                </div>
            </div>
            <button v-on:click="redirectPage()" class="d-inline-block d-md-none btn btn-bg-accent text-white rounded-10px mt-4 px-4"
                    type="button">
                <i class="fas fa-search"></i>搜尋</button>
            <div id="pin-button" v-if="loginMemberID!=null"
                 class="btn-bg-accent pointer text-white"
                 data-toggle="modal"
                 data-target="#usedPlace">
                <i class="fas fa-thumbtack position-relative"></i></div>
        </div>
        <div class="container">
            <div class="text-sl font-weight-bold mt-5 mb-3">為你推薦</div>
            <div class="row text-center">
                <a href="/activity/new-activity-list"
                   class="col-6 col-md-4 col-lg no-underline d-inline-block pointer index-nav rounded-10px py-1 my-3">
                    <img src="/image/img-1.png"
                         alt="最新活動">
                    <span class="d-block mt-3">最新活動</span>
                </a>
                <a href="/activity/hot-activity-list"
                   class="col-6 col-md-4 col-lg no-underline d-inline-block pointer index-nav rounded-10px py-1 my-3">
                    <img src="/image/img-2.png"
                         alt="熱門活動">
                    <span class="d-block mt-3">熱門活動</span>
                </a>
                <a href="/place/hot-place-list"
                   class="col-6 col-md-4 col-lg no-underline d-inline-block pointer index-nav rounded-10px py-1 my-3">
                    <img src="/image/img-3.png"
                         alt="熱門場所">
                    <span class="d-block mt-3">熱門場所</span>
                </a>
                <a href="/master/popular-list"
                   class="col-6 col-md-4 col-lg no-underline d-inline-block pointer index-nav rounded-10px py-1 my-3">
                    <img src="/image/img-4.png"
                         alt="紅人榜">
                    <span class="d-block mt-3">紅人榜</span>
                </a>
                <a href="/master/hero-list"
                   class="col-6 col-md-4 col-lg no-underline d-inline-block pointer index-nav rounded-10px py-1 my-3">
                    <img src="/image/img-5.png"
                         alt="群英會">
                    <span class="d-block mt-3">群英會</span>
                </a>
                <a href="/master/god-list"
                   class="col-6 col-md-4 col-lg no-underline d-inline-block pointer index-nav rounded-10px py-1 my-3">
                    <img src="/image/img-6.png"
                         alt="封神榜">
                    <span class="d-block mt-3">封神榜</span>
                </a>
            </div>
        </div>
        <div class="modal fade"
             id="usedPlace"
             tabindex="-1"
             role="dialog"
             aria-labelledby="usedPlaceLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered"
                 role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"
                            id="usedPlaceLabel">選擇你的常用地點</h5>
                        <button type="button"
                                class="close"
                                data-dismiss="modal"
                                aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body p-0">
                    	<ul class="w-100 p-0">
                    		<li v-for="hotspot in hotspotList">
                    			<div @click="setHotspot(hotspot.lat, hotspot.lng)">
                    				<span class="usedPlaceTitle">{{hotspot.name}}</span>
                    				<span class="usedPlaceAddress">{{hotspot.county}}{{hotspot.address1}}{{hotspot.address2}}</span>
                    			</div>
                    		
                    		</li>
                    	</ul>
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="frount/part/_frountFooter ::footer"></div>
        <div th:replace="frount/part/_allowGeoPosition.html ::div"></div>
        <div th:replace="frount/part/_popupNotice ::div"></div>
        <div th:replace="part/_popupMsg ::div"></div>
    </div>
    <script th:src="@{/js/common.js}"></script>
    <script th:src="@{/js/loadingoverlay.min.js}"></script>
    <script th:src="@{/js/frount/_frountCommon.js}"></script>
    <script th:src="@{/js/frount/_allowGeoPosition.js}"></script>
    <script th:inline="javascript">
        var index = new Vue({
            mixins: [allowGeoPosition],
            el: "#index",
            data: {
                showData: "event",
                searchPreferSN:0,
                searchOrderSN:0,
                countryList: [],
                selectedCountry: "",
                todayOnly: false,
                mainTypeList: [],
                middleTypeList: [],
                minorTypeList: [],
                capacityList: [
                	{capacitySN:0, capacityName:'1-10人'},
                	{capacitySN:1, capacityName:'11-100人'},
                	{capacitySN:2, capacityName:'101-500人'},
                	{capacitySN:3, capacityName:'501-1000人'}
                ],
                mainID: "",
                midID: "",
                typeID: "",
                capacitySN: "",
                keyword: "",
                queryParam: {},
                loginMemberID: loginStatus.loginMemberID,
                hotspotList: [],
                lat:null,
                lng:null
            },
            computed: {
                //                 searchLocationHref: function () {
                //                     switch (this.showData) {
                //                         case "event":
                //                             return "/activity/activity-map-list"
                //                         case "place":
                //                             return "/place/place-map-list"
                //                         case "master":
                //                             return "/master/master-list"
                //                     }
                //                 }
            },
            methods: {
            	setHotspot: function(lat, lng){
            		if(lat!=null){
            			this.lat = lat
            		}
            		if(lng!=null){
            			this.lng = lng
            		}
            		console.log('center:' + lat, lng);
            		$('#usedPlace').modal('hide');
            		showSuccessTopPopup("已設定常用地點為搜尋中心");
            	},
                redirectPage: function () {
                    //                     this.setCookie();
                    //                     window.location.href = this.searchLocationHref;
                    let queryString;
                    switch (this.showData) {
                        case "event":
                        	if(this.lat==null){
                        		this.lat = this.position.lat;
                        	}
                        	
                        	if(this.lng==null){
                        		this.lng = this.position.lng;
                        	}
                            this.queryParam = {
                                showData: this.showData,
                                searchPreferSN:this.searchPreferSN,
                                searchOrderSN:this.searchOrderSN,
                                selectedCountry: this.selectedCountry,
                                todayOnly: this.todayOnly,
                                mainID: this.mainID,
                                typeID: this.typeID,
                                keyword: this.keyword,
                                lat: this.lat,
                                lng: this.lng
                            }
                            queryString = convertObjectToQueryString(this.queryParam);
                            console.log(this.queryParam);
                            setStorageItem("searchData", this.queryParam);
//                             window.location.href = '/activity/activity-map-list?' + queryString;
                            window.location.href = '/activity/activity-map-list';
                            break;
                        case "place":
                        	if(this.lat==null){
                        		this.lat = this.position.lat;
                        	}
                        	
                        	if(this.lng==null){
                        		this.lng = this.position.lng;
                        	}
                            this.queryParam = {
                                showData: this.showData,
                                searchPreferSN:this.searchPreferSN,
                                searchOrderSN:this.searchOrderSN,
                                selectedCountry: this.selectedCountry,
                                mainID: this.mainID,
                                typeID: this.typeID,
                                capacitySN: this.capacitySN,
                                keyword: this.keyword,
                                lat: this.lat,
                                lng: this.lng
                            }
                            queryString = convertObjectToQueryString(this.queryParam);
                            console.log(this.queryParam);
                            setStorageItem("searchData", this.queryParam);
//                             window.location.href = "/place/place-map-list?" + queryString;
                            window.location.href = "/place/place-map-list";
                            break;
                        case "master":
                        	if(this.lat==null){
                        		this.lat = this.position.lat;
                        	}
                        	
                        	if(this.lng==null){
                        		this.lng = this.position.lng;
                        	}
                            this.queryParam = {
                                showData: this.showData,
                                selectedCountry: this.selectedCountry,
                                mainID: this.mainID,
                                midID: this.midID,
                                typeID: this.typeID,
                                keyword: this.keyword,
                                lat: this.lat,
                                lng: this.lng
                            }
                            queryString = convertObjectToQueryString(this.queryParam);
                            console.log(this.queryParam);
                            setStorageItem("searchData", this.queryParam);
//                             window.location.href = "/master/master-list?" + queryString;
                            window.location.href = "/master/master-list";
                            break;
                    }
                },
                //                 setCookie: function () {
                //                     this.getPosition();
                //                     var cookieObj = {
                //                         showData: this.showData,
                //                         selectedCountry: this.selectedCountry,
                //                         todayOnly: this.todayOnly,
                //                         mainID: this.mainID,
                //                         midID: this.midID,
                //                         typeID: this.typeID,
                //                         capacitySN: this.capacitySN,
                //                         keyword: this.keyword,
                //                         lat: this.position.lat,
                //                         lng: this.position.lng
                //                     }
                //                     console.log(cookieObj);
                //                     setStorageItem("searchData", cookieObj);
                //                 },
                toggleShowData: function (showtype) {
                    this.showData = showtype;
                    this.clearData("showData");
                    this.getTypeList();
                },
                clearData: function (clearTo) {
                    // capacity || minor
                    this.minorTypeList = [];
                    this.typeID = "";
                    this.capacityList = [];
                    this.capacitySN = "";
                    this.middleTypeList = [];
                    this.midID = "";

                    if (clearTo == "main" || clearTo == "showData") {
                        this.mainTypeList = [];
                        this.mainID = "";
                    }
                    if (clearTo == "showData") {
                        this.keyword = "";
                    }
                },
                // 取得大分類
                getTypeList: function () {
                	$('body').LoadingOverlay('show');
                    let vm = this,
                        showData = this.showData;
                    this.clearData("main");
                    axios
                        .get('/web/' + showData + '/type')
                        .then(response => {
                            let res = response.data;
                            //                             console.log(res);
                            if (res.code == 200) {
                                vm.mainTypeList = res.data;
                            } else {
                                console.log("get user info error:" + res.errMsg);
                            }
                            $('body').LoadingOverlay('hide');
                        })
                        .catch(function (error) { // 請求失敗處理
                            console.log("get user info error:" + error);
                            $('body').LoadingOverlay('hide');
                        });
                },
                // 取得中分類
                getMiddleTypeList: function () {
                    var vm = this,
                        returnObj = {};
                    //                     this.clearData("middle");
                    vm.middleTypeList = vm.mainTypeList.find(function (item) {
                        return item.mainID == vm.mainID;
                    }).middleTypeList
                    vm.midID = "";
                    vm.typeID = "";
                },
                // 取得小分類
                getMinorTypeList: function () {
                    var vm = this;
                    //                     this.clearData("minor");
                    if (this.showData != 'master') {
                        // 只有大小分類
                        vm.minorTypeList = vm.mainTypeList.find(function (item) {
                            return item.mainID == vm.mainID;
                        }).minorTypeList
                        
                        if(this.showData == 'place'){
                        	vm.getCapacityList();
                        }
                        
                    } else {
                        // 有大中小分類
                        vm.minorTypeList = vm.middleTypeList.find(function (item) {
                            return item.midID == vm.midID;
                        }).minorTypeList
                    }
                    vm.typeID = "";
                },
                // 取得容納人數
                getCapacityList: function () {
                    var vm = this;
                    this.capacityList = [];
                    this.capacitySN = "";
                    //                     this.clearData("capacity");
                    vm.capacityList = [
                    	{capacitySN:0, capacityName:'1-10人'},
                    	{capacitySN:1, capacityName:'11-100人'},
                    	{capacitySN:2, capacityName:'101-500人'},
                    	{capacitySN:3, capacityName:'501-1000人'}
                    ];
                    return vm.capacityList;
                },
                getCountryList: function () {
                    let vm = this;
                    axios
                        .get('/web/county')
                        .then(response => {
                            let res = response.data;
                            //                             console.log(res);
                            if (res.code == 200) {
                                vm.countryList = res.data;
                            } else {
                                console.log("get user info error:" + res.errMsg);
                            }
                        })
                        .catch(function (error) { // 請求失敗處理
                            console.log("get user info error:" + error);
                        });
                },
                getMemberHotSpot: function(){
                	let vm = this;
                	if(this.loginMemberID!=null){
                        axios
                        .get('/web/hotspot/'+ vm.loginMemberID)
                        .then(response => {
                            let res = response.data;
                            //                             console.log(res);
                            if (res.code == 200) {
                                vm.hotspotList = res.data.hotspotList;
//                                 console.log(vm.hotspotList);
                            } else {
                            	vm.hotspotList = []
                                console.log("get user info error:" + res.errMsg);
                            }
                        })
                        .catch(function (error) { // 請求失敗處理
                        	vm.hotspotList = [];
                            console.log("get user info error:" + error);
                        });                		
                	}
                }
            },
            mounted: function () {
                this.getCountryList();
                this.getTypeList();
                this.getPosition();
                this.getMemberHotSpot();
            }
        })
    </script>

</body>

</html>