<!DOCTYPE html>
<html lang="en">
<div th:replace="frount/_frount_head.html ::head"></div>


<body>
    <div class="wrap member"
         id="memApply">
        <div th:replace="frount/part/_frountHeader ::header"></div>
        <!-- breadcrumb -->
        <div class="container">
            <div class="row mt-4">
                <div class="col-11 col-lg-12">
                    <div class="row">
                        <nav class="w-auto"
                             aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a class="text-center no-underline"
                                       href="/index">首頁</a></li>
                                <li class="breadcrumb-item">
                                    <a class="text-center no-underline"
                                       href="#">已申請項目</a></li>
                                <li v-bind:class="{'active': activityTitle == ''}"
                                    id="breadcrumb-current-page"
                                    class="breadcrumb-item">
                                    <a class="text-center no-underline"
                                       href="#">活動</a></li>
                                <li v-if="activityTitle != ''"
                                    id="breadcrumb-current-page"
                                    class="breadcrumb-item active">
                                    <a class="text-center no-underline"
                                       href="#">{{activityTitle}}</a></li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="frount/member/memNav ::div"></div>
        <div class="container">
            <!-- 列表 -->
            <div v-show="!showDetail"
                 class="row py-2 py-md-5">
                <!-- 小選單 -->
                <div class="col-lg-2 d-none d-lg-block  text-left my-md-5 px-0 px-md-3">
                    <ul class="member-little-nav nav nav-pills text-left flex-lg-column justify-content-around justify-content-md-between"
                        role="tablist">
                        <li class="mb-0 mb-md-5 d-inline d-lg-block">
                            <a class="member-little-nav-item active"
                               id="activity-tab"
                               data-toggle="pill"
                               data-tab-name="活動"
                               href="#activity"
                               role="tab"
                               aria-controls="activity"
                               aria-selected="true">
                                <img src="/image/banner-activity.png"
                                     alt=""
                                     width="26px">
                                <span class="vertical-middle">活動</span></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-9 col-lg-10 tab-content">
                    <!-- 活動 -->
                    <div id="activity"
                         class="row tab-pane fade my-5 active show"
                         role="tabpanel"
                         aria-labelledby="activity-tab">
                        <div class="col-11 mx-auto">
                            <div class="container-fluid px-4"
                                 style="font-family: 微軟正黑體">
                                <div class="row border-grey-bottom pb-4">
                                    <button v-on:click="apply"
                                            type="button"
                                            class="button-dark ml-auto">申請</button>
                                </div>
                                {{emptyMsg}}
                                <div v-for="item in list"
                                     class="row border-grey-bottom py-4">
                                    <h5 class="col-12 d-md-none text-accent text-sm mb-0 pl-2">{{item.name}}</h5>
                                    <div class="col-4 col-md-4 col-lg-3 p-2">
                                        <img class="w-100"
                                             v-bind:src="item.img ?? '/image/nopic.gif'">
                                    </div>
                                    <div class="col-8 col-md-5 col-lg-6 p-2">
                                        <h5 class="text-accent text-sm mb-1 d-none d-md-block">{{item.name}}</h5>
                                        <span class="d-block">申請時間: {{item.startTime}}</span>
                                        <span class="d-block">舉行時間: {{item.startTime}}</span>
                                        <span class="d-block">申請編號: {{item.eventID}}</span>
                                        <span class="d-block">申請狀態: <span v-bind:class="'tag-'+item.statusCode"
                                                  class="tag">{{item.apply}}</span></span>
                                        <!-- <button type="button"
                                                class="d-inline d-md-none button-dark mt-3 w-75">加入收藏</button> -->
                                    </div>
                                    <div class="d-none d-md-flex col-md-3 flex-column justify-content-center px-4">
                                        <button v-if="item.statusCode=='reviewed' || item.statusCode=='published'"
                                                v-on:click="getEventDetail(item.eventID, item.statusCode)"
                                                type="button"
                                                class="button-light my-2">編輯</button>
                                        <button v-if="item.cancelable"
                                                v-on:click="toggleCancelApplyModel(item.eventID)"
                                                type="button"
                                                class="button-light my-2">取消</button>
                                        <button v-if="item.statusCode=='expired' || item.statusCode=='cancled'"
                                                v-on:click="getEventDetail(item.eventID, item.statusCode)"
                                                type="button"
                                                class="button-light my-2">查看記錄</button>
                                        <button v-if="item.statusCode=='refused'"
                                                v-on:click="getEventDetail(item.eventID, item.statusCode)"
                                                type="button"
                                                class="button-light my-2">查看原因</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- 活動細節 -->
            <div v-if="showDetail"
                 class="py-5">
                <div v-show="selectedApplyStatus=='refused'"
                     class="pb-5">
                    <h5 class="border-grey-bottom mb-3 pb-2 text-sl font-weight-bold">拒絕發佈原因</h5>
                    <textarea v-model="eventData.eventInfo.refuse"
                              class="form-control resize-none h-8rem"
                              disabled>不能指涉個人用戶的特徵、種族或民族血統、宗教信仰、價值觀性、犯罪紀律、財務狀況和資訊、會員資格等作為活動目標設定條件。</textarea>
                </div>
                <div>
                    <h5 class="border-grey-bottom mb-3 pb-2 text-sl font-weight-bold">{{activityTitle}}</h5>
                    <div class="d-flex justify-content-between">
                        <label class="text-dark-grey">圖片資訊</label>
                        <form id="uploadImg">                            
                            <input v-on:change="uploadImg"
                                   name="file"
                                   id="inputImage"
                                   class="hidden"
                                   type="file"
                                   ref="imgInput"
                                   alt="大頭貼">
                            <label for="inputImage"
                                   class="button-light">新增圖片</label>
                        </form>
                    </div>
                    <div v-if="eventData.eventImgList"
                         class="position-relative">
                        <div class="row mx-2 my-3 align-items-center">
                            <div id="pic-slider-arrow-wrap-left"
                                 class="d-none d-md-block pic-slider-arrow-wrap pic-slider-arrow-wrap-left pointer">
                                <i class="fas fa-chevron-left p-2"></i>
                            </div>
                            <div class="pic-slider-wrap">
                                <div v-for="(rowNum,rowIndex) in Math.ceil(eventData.eventImgList.length/6)"
                                     v-bind:class="{'show': rowIndex==0}"
                                     class="row position-absolute px-3 pic-slider">
                                    <div v-for="(img,imgIndex) in getImgByRow(rowIndex)"
                                         class="pic-wrap col-2 p-0">
                                        <img v-bind:src="img.img"
                                             class="pic-slider-img p-1"
                                             alt="活動照片">
                                        <div v-on:click="deleteImg(img.imageID)"
                                             class="delete-button p-1 p-md-2">
                                            <img src="/image/icon_body_delete.png"
                                                 alt="delete-button"></div>
                                    </div>
                                </div>
                            </div>
                            <div id="pic-slider-arrow-wrap-right"
                                 class="d-none d-md-block pic-slider-arrow-wrap pic-slider-arrow-wrap-right pointer">
                                <i class="fas fa-chevron-right p-2"></i>
                            </div>
                        </div>
                    </div>
                    <div class="border-grey-bottom pb-4"></div>
                </div>
                <form id="uploadEvent">
                    <label class="text-dark-grey d-block mt-3 mb-0">活動名稱</label>
                    <input v-model="eventData.eventInfo.name"
                           name="name"
                           class="form-control"
                           type="text">
                    <label class="text-dark-grey d-block mt-3 mb-0">活動分類</label>
                    <div class="d-flex">
                        <select v-model="eventData.eventInfo.mainID"
                                name="mainID"
                                class="form-control my-2">
                            <option value="">請選擇大分類</option>
                            <option v-for="mainType in mainTypeList"
                                    v-bind:value="mainType.mainID">{{mainType.name}}</option>
                        </select>
                        <select v-model="eventData.eventInfo.typeID"
                                name="typeID"
                                v-bind:disabled="eventData.eventInfo.mainID==''"
                                class="form-control my-2">
                            <option value="">請選擇小分類</option>
                            <option v-for="minorType in minorTypeList"
                                    v-bind:value="minorType.typeID">{{minorType.name}}</option>
                        </select>
                    </div>
                    <label class="text-dark-grey d-block mt-3 mb-0">開始時間</label>
                    <input v-model="eventData.eventInfo.startTime"
                           name="startTime"
                           id="startDate"
                           ref="startTime"
                           type="text"
                           class="form-control search-input dateP"
                           placeholder="請選擇開始時間">
                    <label class="text-dark-grey d-block mt-3 mb-0">結束時間</label>
                    <input v-model="eventData.eventInfo.endTime"
                           name="endTime"
                           id="endDate"
                           ref="endTime"
                           type="text"
                           class="form-control search-input dateP"
                           placeholder="請選擇結束時間">
                    <label class="text-dark-grey d-block mt-3 mb-0">相關單位</label>
                    <input v-model="eventData.eventInfo.host"
                           name="host"
                           class="form-control"
                           type="text"
                           placeholder="請輸入相關單位">
                    <label class="text-dark-grey d-block mt-3 mb-0">地區</label>
                    <select v-model="eventData.eventInfo.county"
                            name="county"
                            class="form-control mr-3">
                        <option value="">請選擇地區</option>
                        <option v-for="county in countyList"
                                v-bind:value="county">{{county}}</option>
                    </select>
                    <label class="text-dark-grey d-block mt-3 mb-0">地址</label>
                    <input v-model="eventData.eventInfo.address"
                           name="address"
                           class="form-control"
                           type="text"
                           placeholder="請輸入地址">
                    <label class="text-dark-grey d-block mt-3 mb-0">場地</label>
                    <input v-model="eventData.eventInfo.place"
                           name="place"
                           class="form-control"
                           type="text"
                           placeholder="請輸入場地名稱">
                    <label class="text-dark-grey d-block mt-3 mb-0">費用</label>
                    <div class="d-flex align-items-center">
                        <input v-model="eventData.eventInfo.fee"
                               name="fee"
                               class="form-control mr-2"
                               type="text"
                               placeholder="請輸入參加費用">元</div>
                    <label class="text-dark-grey d-block mt-3 mb-0">開放狀態</label>
                    <select v-model="eventData.eventInfo.visibilitySN"
                            name="visibilitySN"
                            class="form-control mr-3">
                        <option value="">請選擇狀態</option>
                        <option v-for="status in statusList"
                                v-bind:value="status.id">{{status.name}}({{status.subName}})</option>
                    </select>
                    <label class="text-dark-grey d-block mt-3 mb-0">報名連結</label>
                    <input v-model="eventData.eventInfo.signupUrl"
                           name="signupUrl"
                           class="form-control"
                           type="text"
                           placeholder="https://">
                    <label class="text-dark-grey d-block mt-3 mb-0">直播連結</label>
                    <input v-model="eventData.eventInfo.liveUrl"
                           name="liveUrl"
                           class="form-control"
                           type="text"
                           placeholder="https://">
                    <label class="text-dark-grey d-block mt-3 mb-0">簡介</label>
                    <textarea v-model="eventData.eventInfo.intro"
                              name="intro"
                              class="form-control resize-none h-8rem"
                              placeholder="請輸入活動簡介">不能指涉個人用戶的特徵、種族或民族血統、宗教信仰、價值觀性、犯罪紀律、財務狀況和資訊、會員資格等作為活動目標設定條件。</textarea>
                </form>
                <div class="border-grey-bottom pb-4"></div>
                <label class="text-dark-grey d-block mt-3 mb-0">關鍵字</label>
                <div class="row">
                    <div class="col-9 col-lg-10">
                        <input v-model="newTag"
                               class="form-control mr-2"
                               type="text"
                               placeholder="請輸入關鍵字">
                        <div class="mt-3">
                            <span v-for="tag in eventData.eventTagList"
                                  v-on:click="clickTag($event, tag)"
                                  class="keyword-tag">#{{tag.tag}}</span>
                        </div>
                    </div>
                    <div class="col-3 col-lg-2 p-0 text-center">
                        <button v-on:click="addTag"
                                type="button"
                                class="button-light d-inline-block mt-1 px-0 px-3">&emsp;新增&emsp;</button>
                        <button v-if="IsEditable"
                                v-on:click="deleteTag"
                                type="button"
                                class="button-light d-inline-block mt-3 px-0 px-3">&emsp;刪除&emsp;</button>
                    </div>
                </div>
                <label class="text-dark-grey d-block mt-3 mb-0">相關達人</label>
                <div class="row">
                    <div class="col-9 col-lg-10">
                        <div id="search-master-wrap"
                             class="position-relative">
                            <input v-model="masterKeyword"
                                   id="masterKeyword"
                                   class="form-control mr-2"
                                   type="text"
                                   placeholder="請輸入達人名稱"
                                   data-toggle="dropdown">
                            <div v-bind:class="{'hidden': masterSearchList.length==0}"
                                 id="search-master-item-wrap"
                                 class="dropdown-menu w-100 search-result-list-wrap"
                                 aria-labelledby="masterKeyword">
                                <div v-for="master in masterSearchList"
                                     class="master-tag d-block">
                                    <div v-on:click="addMaster(master)"
                                         class="dropdown-item">
                                        <div class="img-wrap rounded-circle">
                                            <img class="rounded-circle mr-1 pointer-events-none img-cover"
                                                 v-bind:src="master.img ?? '/image/nopic.gif'">
                                        </div>
                                        <span class="m-0 pointer-events-none">{{master.publicName}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mt-3">
                            <div v-for="master in eventData.eventRecommendList"
                                 v-on:click="clickMaster($event, master)"
                                 class="master-tag mr-2 mb-2">
                                <div class="img-wrap rounded-circle">
                                    <img class="rounded-circle mr-1 pointer-events-none img-cover"
                                         v-bind:src="master.img ?? '/image/nopic.gif'">
                                </div>
                                <span class="master-tag-content m-0 pointer-events-none">{{master.masterName}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-3 col-lg-2 p-0 text-center">
                        <button v-on:click="searchMaster"
                                type="button"
                                class="button-light d-inline-block mt-1 px-0 px-3">&emsp;搜尋&emsp;</button>
                        <button v-on:click="deleteMaster"
                                v-if="IsEditable"
                                type="button"
                                class="button-light d-inline-block mt-3 px-0 px-3">確認刪除</button>
                    </div>
                </div>
                <div class="border-grey-bottom pb-4"></div>
                <div class="text-right pt-3">
                    <button v-on:click="toggleModal('cancelEdit')"
                            type="button"
                            class="button-light d-inline-block mt-1">&emsp;取消&emsp;</button>
                    <button v-on:click="uploadEventDetail"
                            type="button"
                            class="button-dark d-inline-block mt-3 ml-3">{{selectedApplyStatus=='refused'?'重新申請':'確認編輯'}}</button>
                </div>
            </div>
        </div>

        <!-- modal -->
        <div class="modal fade"
             id="cancelApply"
             tabindex="-1"
             role="dialog"
             aria-labelledby="cancelApplyLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered px-5"
                 role="document">
                <div class="modal-content mx-5 rounded-28px">
                    <div class="modal-header mt-4">
                        <h4 class="modal-title"
                            id="cancelApplyLabel">確認取消申請此活動？</h4>
                    </div>
                    <div class="modal-body px-5 text-center mb-5">
                        <div class="w-75 mx-auto mt-4 d-flex flex-row">
                            <button type="button" data-dismiss="modal"
                                    class="button-light d-inline-block mt-3 mx-auto">不取消</button>
                            <button v-on:click="cancelApply" type="button"
                                    class="button-dark d-inline-block mt-3 mx-auto">確認取消</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade"
             id="cancelEdit"
             tabindex="-1"
             role="dialog"
             aria-labelledby="cancelEditLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered px-5"
                 role="document">
                <div class="modal-content mx-5 rounded-28px">
                    <div class="modal-header mt-4">
                        <h4 class="modal-title"
                            id="cancelEditLabel">確認取消編輯？</h4>
                    </div>
                    <div class="modal-body px-5 text-center mb-5">
                        <div class="w-75 mx-auto mt-4 d-flex flex-row">
                            <button v-on:click="toggleModal('cancelEdit')"
                                    type="button"
                                    class="button-light d-inline-block mt-3 mx-auto">不取消</button>
                            <button v-on:click="cancelEdit"
                                    type="button"
                                    class="button-dark d-inline-block mt-3 mx-auto">確認取消</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="frount/part/_frountFooter ::footer"></div>
        <div th:replace="frount/part/_allowGeoPosition.html ::div"></div>
        <div th:replace="frount/part/_popupNotice ::div"></div>
        <div th:replace="part/_popupMsg ::div"></div>
    </div>

    <script th:src="@{/js/common.js}"></script>
    <script th:src="@{/js/frount/_frountCommon.js}"></script>
    <script th:src="@{/js/lib/bootstrap-datetimepicker.min.js}"></script>
    <script th:src="@{/js/frount/_allowGeoPosition.js}"></script>
    <script th:src="@{/js/loadingoverlay.min.js}"></script>
    <script th:inline="javascript">
        var memApply = new Vue({
            mixins: [allowGeoPosition],
            el: "#memApply",
            data: {
                showDetail: false,
                showDetailMode: "",
                mID: [[${ mID }]],
                list: [],
                selectedEventID: "",
                selectedApplyStatus: "",
                eventData: {
                    eventInfo: {
                        mainID: "",
                        typeID: "",
                        visibilitySN: ""
                    },
                    eventRecommendList: []
                },
                mainTypeList: [],
                minorTypeList: [],
                statusList: [
                    { id: 0, name: "歡迎參加", subName: "不限資格、不限費用" },
                    { id: 1, name: "非請勿入", subName: "限制資格、不限費用" },
                    { id: 2, name: "需先繳費", subName: "不限資格、限制費用" },
                    { id: 3, name: "需先報名", subName: "限制資格、限制費用" },
                    { id: 4, name: "不開放" }
                ],
                newTag: "",
                selectedTag: [],
                masterKeyword: "",
                masterSearchList: "",
                selectedMaster: []
            },
            watch: {
                "eventData.eventInfo.mainID": function () {
                    this.getMinorTypeList();
                }
            },
            computed: {
                emptyMsg: function () {
                    return this.list.length == 0 ? "查無符合條件之分類" : ""
                },
                IsEditable: function () {
                    var mode = this.selectedApplyStatus;
                    return mode == "reviewed" || mode == "published" || mode == "refused" || mode == "apply"
                },
                activityTitle: function () {
                    var act = "";
                    switch (this.selectedApplyStatus) {
                        case "apply":
                            act = "填寫活動發佈資訊"
                            break;
                        case "edit":
                        case "showReason":
                            act = "編輯活動發佈資訊"
                            break;
                        case "showHistory":
                            act = "查看活動發佈資訊"
                            break;
                        default:
                            act = ""
                            break;
                    }
                    return act
                }
            },
            methods: {
                uploadImg: function () {
                    $('body').LoadingOverlay('show');
                    let vm = this;
                    let form = document.getElementById('uploadImg');
                    let fd = new FormData(form);
                    let input = this.$refs.imgInput;
                    let reader = new FileReader();
                    fd.append("file", input.files[0]);

                    if (this.selectedApplyStatus == "apply") {
                        e.preventDefault();
                        let input = this.$refs.fileInput;
                        /*$('#inputImage').attr('src', '');

                        if (input && input.files) {
                            let filesAmt = input.files.length;
                            if (filesAmt > 10) {
                                filesAmt = 10;
                                // showErrorMsg("照片上傳以10張為限");
                                input.setCustomValidity("照片上傳以10張為限");
                                input.nextElementSibling.innerText = input.validationMessage;
                                input.classList.add('is-invalid');
                                input.classList.remove('is-valid');
                            } else {
                                input.setCustomValidity("");
                                input.nextElementSibling.innerText = input.validationMessage;
                                input.classList.remove('is-invalid');
                                input.classList.add('is-valid');
                            }
                            for (i = 0; i < filesAmt; i++) {
                                let img = document.getElementById('img' + (i + 1));
                                var reader = new FileReader();
                                reader.onload = function (e) {
                                    img.src = e.target.result
                                    // this.headImgSrc = e.target.result;
                                }
                                reader.readAsDataURL(input.files[i]);
                            }
                        }*/
                        $('body').LoadingOverlay('hide');
                    } else {   
                    	if (input.files[0]) {
                            axios
                                .post('/web/member/event/image/item/' + vm.selectedEventID, fd, { //send ajax
                                    headers: {
                                        'Content-Type': 'multipart/form-data'
                                    }
                                })
                                .then(response => {
                                    let res = response.data;
                                    if (res.code == 201) {
                                        $('body').LoadingOverlay('hide');
                                        showSuccessPopup("上傳成功");
                                        vm.getEventDetail(vm.selectedEventID, vm.selectedApplyStatus);
                                    } else {
                                        $('body').LoadingOverlay('hide');
                                        console.log("get user info error1:" + res.errMsg);
                                        showErrorMsg(res.errMsg);
                                    }
                                })
                                .catch(function (error) { // 請求失敗處理
                                    $('body').LoadingOverlay('hide');
                                    console.log("get user info error2:" + error);
                                    showErrorMsg(error);
                                });
                        };
                    }
                },
                deleteImg: function (imageID) {
                    $('body').LoadingOverlay('show');
                    let vm = this;
                    let fd = new FormData();
                    fd.append("imageID", imageID);
                    fd.append("memberID", vm.mID);
                    axios
                        .delete('/web/member/event/image/item/' + imageID, fd)
                        .then(response => {
                            let res = response.data;
                            if (res.code == 204) {
                                showSuccessMsg("刪除成功！");
                                vm.eventData.eventImgList.splice(imgIndex, 1);
                            } else {
                                console.log("get user info error3:" + res.errMsg);
                            }
                            $('body').LoadingOverlay('hide');
                        })
                        .catch(function (error) { // 請求失敗處理
                            console.log("get user info error4:" + error);
                            $('body').LoadingOverlay('hide');
                        });
                },
                getImgByRow: function (row) {
                    return this.eventData.eventImgList.filter(function (img, index) {
                        return index >= row * 6 && index < (row * 6 + 6)
                    })
                },
                getApplyStatus: function (applyTxt) {
                    switch (applyTxt) {
                        case "審核中":
                            return "reviewed"
                            break;
                        case "已過期":
                            return "expired"
                            break;
                        case "已取消":
                            return "cancled"
                            break;
                        case "已發佈":
                            return "published"
                            break;
                        case "已拒絕":
                            return "refused"
                            break;
                    }
                },
                getList: function () {
                    let vm = this;
                    this.list = [];
                    vm.list = [];
                    axios
                        .get('/web/member/event/apply/' + vm.mID)
                        .then(response => {
                            let res = response.data;
                            console.log(res);
                            if (res.code == 200) {
                                res.data.forEach(function (item, index) {
                                    res.data[index].statusCode = vm.getApplyStatus(item.apply)
                                });
                                vm.list = res.data;
                            } else {
                                console.log("get user info error5:" + res.errMsg);
                            }
                        })
                        .catch(function (error) { // 請求失敗處理
                            console.log("get user info error6:" + error);
                        });
                },
                toggleModal: function (id) {
                    $("#" + id).modal("toggle");
                },
                toggleShowDetail: function () {
                    let vm = this;
                    // window.location.href = "#memApply";
                    this.showDetail = !this.showDetail;
                    this.$nextTick(function () {
                        let dateInputs = vm.$el.querySelectorAll('.dateP');
                        $(dateInputs).datetimepicker({
                            format: "yyyy-mm-dd hh:ii:ss",
                            language: 'zh-TW',
                            todayHighlight: true,
                        }).on('change', function () {
                            $('.datepicker').hide();
                        });

                        // 大網圖片左右slider
                        $("#pic-slider-arrow-wrap-right").click(function () {
                            if ($(".pic-slider").length > 1) {
                                $(".pic-slider.show").animate({
                                    left: "-100%",
                                    right: "100%"
                                }, 1000);
                                $(".pic-slider:not(.show)").css("left", "100%").css("right", "-100%").animate({
                                    left: "0px",
                                    right: "0px"
                                }, 1000);
                                $(".pic-slider").toggleClass("show");
                            }
                        })

                        $("#pic-slider-arrow-wrap-left").click(function () {
                            if ($(".pic-slider").length > 1) {
                                $(".pic-slider.show").animate({
                                    left: "100%",
                                    right: "-100%"
                                }, 1000);
                                $(".pic-slider:not(.show)").css("left", "-100%").css("right", "100%").animate({
                                    left: "0px",
                                    right: "0px"
                                }, 1000);
                                $(".pic-slider").toggleClass("show");
                            }
                        })

                        $(".pic-wrap").hover(function () {
                            $(this).children(".delete-button").toggleClass("show")
                        }, function () {
                            $(this).children(".delete-button").toggleClass("show")
                        })
                    })
                },
                apply: function () {
                    this.selectedApplyStatus = "apply";
                    this.toggleShowDetail();
                },
                uploadEventDetail: function () {
                    $('body').LoadingOverlay('show');
                    let vm = this;
                    let api;
                    let form = document.getElementById('uploadEvent');
                    let fd = new FormData(form);
                    fd.append("memberID", vm.mID);

                    let masterIDList = vm.eventData.eventRecommendList.map(function (master) {
                        return master.masterID
                    })
                    fd.append("masterIDList", masterIDList);

                    let tagList = vm.eventData.eventTagList.map(function (master) {
                        return master.tag
                    })
                    fd.append("tagList", tagList);

                    if (this.selectedApplyStatus == "apply") {
                        api = "/web/member/event";
                    } else {
                        api = "/web/member/event/info/" + vm.selectedEventID;
                        fd.append("eventID", vm.selectedEventID);
                    }

                    // for (var [key, value] of fd.entries()) {
                    //     console.log(key, value);
                    // }

                    axios
                        .post(api, fd, { //send ajax
                            headers: {
                                'Content-Type': 'multipart/form-data'
                            }
                        })
                        .then(response => {
                            let res = response.data;
                            if (res.code == 201) {
                                $('body').LoadingOverlay('hide');
                                showSuccessPopup("上傳成功");
                                vm.toggleShowDetail();
                            } else {
                                $('body').LoadingOverlay('hide');
                                console.log("get user info error7:" + res.errMsg);
                                showErrorMsg(res.errMsg);
                            }
                        })
                        .catch(function (error) { // 請求失敗處理
                            $('body').LoadingOverlay('hide');
                            console.log("get user info error8:" + error);
                            showErrorMsg(error);
                        });
                },
                getEventDetail: function (eventID, statusCode) {
                    let vm = this;
                    this.selectedEventID = eventID;
                    this.selectedApplyStatus = statusCode;
                    axios
                        .get('/web/event/info/' + vm.selectedEventID, {
                            params: {
                                selectedEventID: vm.eventID,
                                selectedApplyStatus: vm.statusCode
                            }
                        })
                        .then(response => {
                            let res = response.data;
                            console.log(res);
                            if (res.code == 200) {
                                vm.eventData = res.data;
                                vm.toggleShowDetail();
                                Vue.nextTick(function () {
                                    $.getScript("/js/frount/_frountCommon.js");
                                })
                            } else {
                                console.log("get user info error9:" + res.errMsg);
                            }
                        })
                        .catch(function (error) { // 請求失敗處理
                            console.log("get user info error10:" + error);
                        });
                },
                toggleCancelApplyModel: function (eventID) {
                    this.selectedEventID = eventID;
                    $("#cancelApply").modal("show");
                },
                cancelApply: function () {
                    let vm = this;
                    let fd = new FormData();
                    fd.append('memberID', [[${mID}]]);
                    axios
                        .put('/web/member/event/cancel/' + vm.selectedEventID, fd)
                        .then(response => {
                            let res = response.data;
                            if (res.code == 204) {
                                vm.getList();
                            } else {
                                console.log("get user info error:" + res.errMsg);
                            }
                        })
                        .catch(function (error) { // 請求失敗處理
                            console.log("get user info error:" + error);
                        });
                    $("#cancelApply").modal("hide");
                },
                addTag: function () {
                    let vm = this,
                        hasAdded = this.eventData.eventTagList.findIndex(function (hasAdd) {
                            return hasAdd.tag == vm.newTag
                        })

                    if (hasAdded == -1) {
                        this.eventData.eventTagList.push({ "tag": this.newTag });
                    }
                },
                deleteTag: function () {
                    let vm = this;
                    if (this.selectedTag && this.selectedTag.length > 0) {
                        this.selectedTag.forEach(function (tagItem) {
                            vm.eventData.eventTagList.splice(vm.eventData.eventTagList.indexOf(tagItem), 1);
                            vm.selectedTag = [];
                            $(".keyword-tag.chosen").removeClass("chosen");
                        })
                    }
                },
                clickTag: function (e, tag) {
                    var evt = $(e.target),
                        hasChosen = evt.hasClass("chosen");
                    // 若可編輯
                    if (this.IsEditable) {
                        evt.toggleClass("chosen");
                        if (hasChosen) {
                            this.selectedTag.splice(vm.selectedTag.indexOf(tag), 1);
                        } else {
                            this.selectedTag.push(tag);
                        }
                        console.log(this.selectedTag)
                    }
                },
                searchMaster: function () {
                    let vm = this;
                    if (this.masterKeyword != "") {
                        this.getPosition(function () {
                            axios
                                .get('/web/member/search/simple/master', {
                                    params: {
                                        name: vm.masterKeyword
                                    }
                                })
                                .then(response => {
                                    let res = response.data;
                                    console.log(res);
                                    if (res.code == 200) {
                                        vm.masterSearchList = res.data;
                                        vm.$nextTick(function () {
                                            $('#search-master-item-wrap').dropdown();
                                            $('#search-master-wrap').addClass("show");
                                            $('#search-master-item-wrap').addClass("show");
                                        })
                                    } else {
                                        console.log("get user info error13:" + res.errMsg);
                                    }
                                })
                                .catch(function (error) { // 請求失敗處理
                                    console.log("get user info error14:" + error);
                                });
                        })
                    }
                },
                addMaster: function (master) {
                    let hasAdded = this.eventData.eventRecommendList.findIndex(function (hasAdd) {
                        return hasAdd.masterID == master.masterID
                    })

                    if (hasAdded == -1) {
                        this.eventData.eventRecommendList.push(
                            {
                                "img": master.img,
                                "masterID": master.masterID,
                                "masterName": master.publicName
                            }
                        );
                    }
                },
                deleteMaster: function () {
                    let vm = this;
                    if (this.selectedMaster && this.selectedMaster.length > 0) {
                        this.selectedMaster.forEach(function (tagItem) {
                            vm.eventData.eventRecommendList.pop(tagItem);
                        })
                    }
                },
                clickMaster: function (e, master) {
                    var evt = $(e.target),
                        hasChosen = evt.hasClass("chosen"),
                        masterObj = {
                            "img": master.img,
                            "masterID": master.masterID,
                            "masterName": master.publicName
                        };
                    // 若可編輯
                    if (this.IsEditable) {
                        evt.toggleClass("chosen");
                        if (hasChosen) {
                            this.selectedMaster.pop(masterObj);
                        } else {
                            this.selectedMaster.push(masterObj);
                        }
                        console.log(this.selectedMaster)
                    }
                },
                cancelEdit: function () {
                    this.toggleModal('cancelEdit');
                    this.toggleShowDetail();
                },
                getCountyList: function () {
                    let vm = this;
                    axios
                        .get('/web/county')
                        .then(response => {
                            let res = response.data;
                            //                             console.log(res);
                            if (res.code == 200) {
                                vm.countyList = res.data;
                            } else {
                                console.log("get user info error15:" + res.errMsg);
                            }
                        })
                        .catch(function (error) { // 請求失敗處理
                            console.log("get user info error16:" + error);
                        });
                },
                // 取得大分類
                getTypeList: function () {
                    $('body').LoadingOverlay('show');
                    let vm = this,
                        showData = this.showData;
                    this.mainTypeList = [];
                    this.eventData.eventInfo.mainID = "";
                    this.eventData.eventInfo.typeID = "";
                    axios
                        .get('/web/event/type')
                        .then(response => {
                            let res = response.data;
                            if (res.code == 200) {
                                vm.mainTypeList = res.data;
                            } else {
                                console.log("get user info error17:" + res.errMsg);
                            }
                            $('body').LoadingOverlay('hide');
                        })
                        .catch(function (error) { // 請求失敗處理
                            console.log("get user info error18:" + error);
                            $('body').LoadingOverlay('hide');
                        });
                },
                // 取得小分類
                getMinorTypeList: function () {
                    var vm = this,
                        mainID = vm.eventData.eventInfo.mainID;
                    this.minorTypeList = [];
                    this.eventData.eventInfo.typeID = "";
                    if (this.mainTypeList && mainID) {
                        vm.minorTypeList = vm.mainTypeList.find(function (item) {
                            return item.mainID == mainID;
                        }).minorTypeList
                    }
                },
            },
            mounted: function () {
                this.getCountyList();
                this.getTypeList();
                this.getMinorTypeList();
                this.getList();
            }
        })
    </script>

</body>

</html>