<!DOCTYPE html>
<html lang="en">
<div th:replace="frount/_frount_head.html ::head"></div>


<body>
    <div id="memInfo"
         class="wrap member">
        <div th:replace="frount/part/_frountHeader ::header"></div>
        <!-- breadcrumb -->
        <div class="container">
            <div class="row mt-4">
                <div class="col-11 col-lg-12">
                    <div class="row">
                        <nav class="w-auto"
                             aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a class="text-center no-underline"
                                       href="/index">首頁</a></li>
                                <li class="breadcrumb-item">
                                    <a class="text-center no-underline"
                                       href="#">個人資訊</a></li>
                                <li id="breadcrumb-current-page"
                                    class="breadcrumb-item active">
                                    <a class="text-center no-underline"
                                       href="#">帳號資訊</a></li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="frount/member/memNav ::div"></div>
        <div class="container">
            <div class="row py-5 py-md-5">
                <div class="col-md-3 col-lg-2 text-left my-md-5 px-0 px-md-3">
                    <ul class="member-little-nav nav nav-pills text-left justify-content-around  justify-content-md-between"
                        role="tablist">
                        <li class="mb-0 mb-md-5">
                            <a class="member-little-nav-item"
                               id="edit-account-tab"
                               data-toggle="pill"
                               data-tab-name="編輯帳號資訊"
                               href="#edit-account"
                               role="tab"
                               aria-controls="edit-account"
                               aria-selected="true">
                                <img src="/image/icon_tab_edit.png"
                                     alt=""
                                     width="26px">
                                <span class="vertical-middle">編輯帳號資訊</span></a>
                        </li>
                        <li class="mb-0 mb-md-5" v-if="memInfo.accounttype=='Email'">
                            <a class="member-little-nav-item"
                               id="change-password-tab"
                               data-toggle="pill"
                               data-tab-name="變更密碼"
                               href="#change-password"
                               role="tab"
                               aria-controls="change-password"
                               aria-selected="true">
                                <img src="/image/icon_tab_psw.png"
                                     alt=""
                                     width="26px">
                                <span class="vertical-middle">變更密碼</span></a>
                        </li>
                        <li class="mb-0 mb-md-5">
                            <a class="member-little-nav-item"
                               id="used-place-tab"
                               data-toggle="pill"
                               data-tab-name="常用地點"
                               href="#used-place"
                               role="tab"
                               aria-controls="used-place"
                               aria-selected="true">
                                <img src="/image/icon_tab_spot.png"
                                     alt=""
                                     width="26px">
                                <span class="vertical-middle">常用地點</span></a>
                        </li>
                    </ul>
                </div>

                <div class="col-md-9 col-lg-10 tab-content">
                    <div id="default-tab"
                         class="row tab-pane fade show my-5 active">
                        <div class="col-md-10 col-lg-8 mx-auto px-4">
                            <h5 class="font-weight-bold mb-4">帳號資訊</h5>
                            <div class="row pb-3">
                                <div class="col-5 col-lg-4 text-grey">帳號(Email)</div>
                                <div class="col-7 col-lg-8">{{memInfo.account}}</div>
                            </div>
                            <div class="row pb-3">
                                <div class="col-5 col-lg-4 text-grey">暱稱(用戶名稱)</div>
                                <div class="col-7 col-lg-8">{{memInfo.publicName}}</div>
                            </div>
                        </div>
                    </div>
                    <div id="edit-account"
                         class="row tab-pane fade my-5"
                         role="tabpanel"
                         aria-labelledby="edit-account-tab">
                        <form id="editAccountForm"
                              class="login-wrap mx-auto needs-validation"
                              method="PUT">
                            <div class="col-md-10 col-lg-8 mx-auto px-4">
                                <div class="row pb-3">
                                    <div class="col-12 col-md-4 text-grey my-auto">帳號</div>
                                    <div class="col-12 col-md-8">
                                        <input v-model="memInfo.account"
                                               name="account"
                                               type="text"
                                               class="form-control"
                                               disabled
                                               value="12345"></div>
                                </div>
                                <div class="row pb-3">
                                    <div class="col-12 col-md-4 text-grey my-auto">暱稱</div>
                                    <div class="col-12 col-md-8">
                                        <input v-model="memberInfo.publicName"
                                               name="publicName"
                                               type="text"
                                               class="form-control"></div>
                                </div>
                                <div class="row pb-3">
                                    <div class="col-12 col-md-4 text-grey my-auto">真實姓氏</div>
                                    <div class="col-12 col-md-8">
                                        <input v-model="memberInfo.lastName"
                                               name="lastName"
                                               type="text"
                                               class="form-control"></div>
                                </div>
                                <div class="row pb-3">
                                    <div class="col-12 col-md-4 text-grey my-auto">真實名字</div>
                                    <div class="col-12 col-md-8">
                                        <input v-model="memberInfo.firstName"
                                               name="firstName"
                                               type="text"
                                               class="form-control"></div>
                                </div>
                                <div class="row pb-3">
                                    <div class="col-12 col-md-4 text-grey my-auto">電話</div>
                                    <div class="col-12 col-md-8">
                                        <input v-model="memberInfo.phone"
                                               name="phone"
                                               type="tel"
                                               class="form-control"
                                               placeholder="請輸入你的電話"></div>
                                </div>
                                <div class="row pb-3">
                                    <div class="col-12 col-md-4 text-grey my-auto">手機號碼</div>
                                    <div class="col-12 col-md-8">
                                        <input v-model="memberInfo.cell"
                                               name="cell"
                                               type="tel"
                                               class="form-control"></div>
                                </div>
                                <div class="row pb-3">
                                    <div class="col-12 col-md-4 text-grey my-auto">地址</div>
                                    <div class="col-12 col-md-8">
                                        <select v-model="memberInfo.county"
                                                name="county"
                                                class="form-control">
                                            <option value=""
                                                    disabled>請選擇</option>
                                            <option v-for="country in countryList"
                                                    v-bind:value="country">{{country}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row pb-3">
                                    <div class="col-12 col-lg-8 offset-lg-4">
                                        <input v-model="memberInfo.address1"
                                               name="address1"
                                               type="text"
                                               class="form-control"></div>
                                </div>
                                <div class="row pb-3">
                                    <div class="col-12 col-lg-8 offset-lg-4">
                                        <input v-model="memberInfo.address2"
                                               name="address2"
                                               type="text"
                                               class="form-control"></div>
                                </div>
                                <div class="row py-3 text-right pr-3">
                                    <span v-on:click="location.href='/member/member-information/'+mID"
                                          class="rounded-10px border-dark bg-white px-4 py-2 mx-3 pointer ml-auto">&emsp;取消&emsp;</span>
                                    <span v-on:click="updateMemInfo"
                                          class="rounded-10px bg-dark text-white px-4 py-2 pointer">確認儲存</span>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div id="change-password" v-if="memInfo.accounttype=='Email'"
                         class="row tab-pane fade my-5">
                        <form id="changePasswordForm"
                              class="login-wrap mx-auto needs-validation"
                              method="PUT">
                            <div class="col-md-10 col-lg-8 mx-auto px-4">
                                <input v-model="mID"
                                       name="memberID"
                                       class="form-control hidden"
                                       type="text">
                                <div class="row pb-3">
                                    <div class="col-12 col-lg-4 text-grey my-auto">帳號</div>
                                    <div class="col-12 col-lg-8">
                                        <div class="d-flex align-items-center position-relative">
                                            <input v-model="memInfo.account"
                                                   data-field="account"
                                                   class="form-control"
                                                   type="text"
                                                   disabled>
                                            <small data-field="account-alert"
                                                   class="text-danger ml-2"
                                                   style="opacity: 0">*</small>
                                        </div>
                                        <small data-field="account-alert"
                                               class="text-danger d-block text-xs ml-2 pl-1"
                                               style="opacity: 0">此為必填欄位！</small>
                                    </div>
                                </div>
                                <div class="row pb-3 pwd">
                                    <div class="col-12 col-lg-4 text-grey my-auto">舊密碼</div>
                                    <div class="col-12 col-lg-8">
                                        <div class="d-flex align-items-center position-relative">
                                            <input data-field="oldPassword"
                                                   name="originPassword"
                                                   class="form-control"
                                                   type="password"
                                                   placeholder="請輸入你的舊密碼">
                                            <img class="position-absolute pointer r-0 mr-4 show_password_icon"
                                                 src="/image/icon_input_hide.png"
                                                 alt="show password">
                                            <small data-field="oldPassword-alert"
                                                   class="text-danger ml-2"
                                                   style="opacity: 0">*</small>
                                        </div>
                                        <small data-field="oldPassword-alert"
                                               class="text-danger d-block text-xs ml-2 pl-1"
                                               style="opacity: 0">此為必填欄位！</small>
                                    </div>
                                </div>
                                <div class="row pb-3 pwd">
                                    <div class="col-12 col-lg-4 text-grey my-auto">新密碼</div>
                                    <div class="col-12 col-lg-8">
                                        <div class="d-flex align-items-center position-relative">
                                            <input data-field="password"
                                                   name="updatePaswword"
                                                   class="form-control"
                                                   type="password"
                                                   placeholder="請輸入你的新密碼">
                                            <img class="position-absolute pointer r-0 mr-4 show_password_icon"
                                                 src="/image/icon_input_hide.png"
                                                 alt="show password">
                                            <small data-field="password-alert"
                                                   class="text-danger ml-2"
                                                   style="opacity: 0">*</small>
                                        </div>
                                        <small data-field="password-alert"
                                               class="text-danger d-block text-xs ml-2 pl-1"
                                               style="opacity: 0">此為必填欄位！</small>
                                    </div>
                                </div>
                                <div class="row pb-3 pwd">
                                    <div class="col-12 col-lg-4 text-grey my-auto">確認新密碼</div>
                                    <div class="col-12 col-lg-8">
                                        <div class="d-flex align-items-center position-relative">
                                            <input data-field="passwordCheck"
                                                   name="verfiedPasswrod"
                                                   class="form-control"
                                                   type="password"
                                                   placeholder="請再次輸入你的新密碼">
                                            <img class="position-absolute pointer r-0 mr-4 show_password_icon"
                                                 src="/image/icon_input_hide.png"
                                                 alt="show password">
                                            <small data-field="passwordCheck-alert"
                                                   class="text-danger ml-2"
                                                   style="opacity: 0">*</small>
                                        </div>
                                        <small data-field="passwordCheck-alert"
                                               class="text-danger d-block text-xs ml-2 pl-1"
                                               style="opacity: 0">此為必填欄位！</small>
                                    </div>
                                </div>
                                <div class="row py-3 text-right pr-3">
                                    <span v-on:click="location.href='/member/member-information/'+mID"
                                          class="rounded-10px border-dark bg-white px-4 py-2 mx-3 pointer ml-auto">&emsp;取消&emsp;</span>
                                    <span v-on:click="updatePassword"
                                          class="rounded-10px bg-dark text-white px-4 py-2 pointer">確認儲存</span>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div id="used-place"
                         class="row tab-pane fade">
                        <form id="usedPlaceForm"
                              class="login-wrap mx-auto needs-validation"
                              method="PUT">
                            <div class="col-md-10 col-lg-10 mx-auto my-5 mt-md-3">
                                <div class="row mb-4">
                                    <span class="rounded-10px bg-dark text-white px-4 py-2 pointer ml-auto"
                                          data-toggle="modal"
                                          data-target="#editModal">新增地點</span>
                                </div>
                                <div class="row">
                                    <div v-for="place in usedPlaceList"
                                         class="col-12 px-3 py-1 px-md-4 py-md-3 place-item">
                                        <div class="row">
                                            <div class="col-8 py-3 py-lg-0">
                                                <h5>{{place.name}}</h5>
                                                <span class="d-block text-grey">{{place.county}}<br
                                                        class="d-block d-lg-none">{{place.address1}}{{place.address2}}</span>
                                            </div>
                                            <div class="col-4 text-right">
                                                <div v-on:click="editPlace(place.hotspotID)"
                                                     class="edit-button p-1 p-md-2"
                                                     data-toggle="modal"
                                                     data-target="#editModal">
                                                    <img src="/image/icon_body_edit.png"
                                                         alt="edit-button"></div>
                                                <div v-on:click="selectedHotspotID = place.hotspotID"
                                                     class="delete-button p-1 p-md-2"
                                                     data-toggle="modal"
                                                     data-target="#deleteModal">
                                                    <img src="/image/icon_body_delete.png"
                                                         alt="delete-button"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>

            </div>
        </div>
        <!-- modal -->
        <div id="editModal"
             ref="editModal"
             class="modal fade px-5"
             tabindex="-1"
             role="dialog"
             aria-hidden="true"
             data-backdrop="static">
            <div class="modal-dialog modal-dialog-centered"
                 role="document">
                <div class="modal-content pop-up">
                    <div class="modal-body pt-4 pb-0 mt-2">
                        <form id="usedPlaceEditForm"
                              class="login-wrap mx-auto needs-validation"
                              method="PUT">
                            <h5 class="text-center mb-4">編輯常用地點</h5>
                            <div class="col-10 text-left mx-auto">
                                <input v-if="selectedHotspotID!=''"
                                       v-model="selectedHotspotID"
                                       name="hotspotID"
                                       type="text"
                                       class="form-control hidden">
                                <input v-if="selectedHotspotID==''"
                                       v-model="mID"
                                       name="memberID"
                                       type="text"
                                       class="form-control hidden">
                                <div class="row pb-3">
                                    <div class="col-3 text-grey my-auto">地點名稱</div>
                                    <div class="col-9 d-flex align-items-center">
                                        <input v-model="placeInfo.name"
                                               name="name"
                                               type="text"
                                               class="form-control"
                                               data-field="name">
                                        <small data-field="name-alert"
                                               class="text-danger ml-2"
                                               style="opacity: 0">*</small>
                                    </div>
                                </div>
                                <div class="row pb-3">
                                    <div class="col-3 text-grey my-auto">地區</div>
                                    <div class="col-9 d-flex align-items-center">
                                        <select v-model="placeInfo.county"
                                                name="county"
                                                class="form-control"
                                                data-field="county">
                                            <option value=""
                                                    disabled>請選擇</option>
                                            <option v-for="country in countryList"
                                                    v-bind:value="country">{{country}}</option>
                                        </select>
                                        <small data-field="county-alert"
                                               class="text-danger ml-2"
                                               style="opacity: 0">*</small>
                                    </div>
                                </div>
                                <div class="row pb-3">
                                    <div class="col-3 text-grey my-auto">地址</div>
                                    <div class="col-9 d-flex align-items-center">
                                        <input v-model="placeInfo.address1"
                                               name="address1"
                                               type="text"
                                               class="form-control"
                                               data-field="address1">
                                        <small data-field="address1-alert"
                                               class="text-danger ml-2"
                                               style="opacity: 0">*</small>
                                    </div>
                                </div>
                                <div class="row pb-3">
                                    <div class="col-9 offset-3 d-flex align-items-center">
                                        <input v-model="placeInfo.address2"
                                               name="address2"
                                               type="text"
                                               class="form-control"
                                               data-field="address2">
                                        <small data-field="address2-alert"
                                               class="text-danger ml-2"
                                               style="opacity: 0">*</small>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer justify-content-end pr-5 mb-4 border-0">
                        <div class="row pb-3 pr-4 mr-3">
                            <span v-on:click="cancelEdit"
                                  class="rounded-10px border-dark bg-white px-4 py-2 mx-3 pointer ml-auto">&emsp;取消&emsp;</span>
                            <span v-on:click="updateUsedPlaceEdit"
                                  class="rounded-10px bg-dark text-white px-4 py-2 pointer">確認儲存</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="deleteModal"
             ref="deleteModal"
             class="modal fade px-5"
             tabindex="-1"
             role="dialog"
             aria-hidden="true"
             data-backdrop="static">
            <div class="modal-dialog modal-dialog-centered"
                 role="document">
                <div class="modal-content pop-up">
                    <div class="modal-body text-center p-5 mt-2">
                        <h5>確認刪除此常用地點？</h5>
                    </div>
                    <div class="modal-footer justify-content-center p-0 mb-3 border-0">
                        <div class="row py-3 text-right pr-3">
                            <span v-on:click="cancelDelete"
                                  class="rounded-10px border-dark bg-white px-4 py-2 mx-3 pointer ml-auto">&emsp;取消&emsp;</span>
                            <span v-on:click="updateDeletePlace"
                                  class="rounded-10px bg-dark text-white px-4 py-2 pointer">確認刪除</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="frount/part/_frountFooter ::footer"></div>
        <div th:replace="frount/part/_popupNotice ::div"></div>
        <div th:replace="part/_popupMsg ::div"></div>
    </div>
    <script th:src="@{/js/common.js}"></script>
    <script th:inline="javascript">
        var memInfo = new Vue({
            el: "#memInfo",
            data: {
                memInfo: {
                    county: ""
                },
                memberInfo:{},
                countryList: [],
                usedPlaceList: [],
                placeInfo: {
                    county: ""
                },
                selectedHotspotID: "",
                mID: [[${ mID }]],
                accountType:'',
            },
            methods: {
                changeTab: function (tab) {
                    $(".member-little-nav-item").removeClass("show active");
                    $("#" + tab + "-tab").addClass('show active');
                    $(".tab-pane").removeClass("show active");
                    $("#" + tab).addClass('show active');
                },
                editPlace: function (hotspotID) {
                    this.placeInfo = {
                        county: ""
                    };
                    this.selectedHotspotID = hotspotID;
                    this.getHotspotInfo(function () {
                        $("#editModal").modal("show");
                    });
                },
                updateDeletePlace: function () {
                    let vm = this;
                    if (vm.selectedHotspotID != '') {
                        axios
                            .delete("/web/hotspot/info/" + vm.selectedHotspotID)
                            .then(response => {
                                let res = response.data;
                                if (res.code == 204) {
                                    showSuccessMsg("刪除成功！");
                                    $("#deleteModal").modal("hide");
                                    vm.getUsedPlaceList();
                                } else {
                                    console.log("get user info error:" + res.errMsg);
                                    showErrorMsg(res.errMsg);
                                }
                            })
                            .catch(function (error) { // 請求失敗處理
                                console.log("get user info error:" + error);
                                showErrorMsg(error);
                            });
                    }
                },
                cancelEdit: function () {
                    this.placeInfo = {
                        county: ""
                    };
                    this.selectedHotspotID = "";
                    $("#editModal").modal("hide");
                },
                cancelDelete: function () {
                    this.placeInfo = {
                        county: ""
                    };
                    this.selectedHotspotID = "";
                    $("#deleteModal").modal("hide");
                },
                updateAxios: function (formID, api, callback) {
                    let vm = this;
                    let form = $("#" + formID)[0];
                    let inputs = $("#" + formID + " .form-control");
                    let fd = new FormData(form);
                    // form data
//                     for (var [key, value] of fd.entries()) {
//                         console.log(key, value);
//                     }
//                     console.log(inputs)
                    if (form.checkValidity() && validate(inputs)) {
                        axios
                            .put(api + vm.mID, fd)
                            .then(response => {
                                let res = response.data;
                                if (res.code == 204) {
                                    showSuccessMsg("更新成功！");
                                    vm.changeTab("default-tab");
                                    if (typeof callback == "function") {
                                        callback();
                                    }
                                } else {
                                    console.log("get user info error:" + res.errMsg);
                                    showErrorMsg(res.errMsg);
                                }
                            })
                            .catch(function (error) { // 請求失敗處理
                                console.log("get user info error:" + error);
                                showErrorMsg(error);
                            });
                    }
                },
                updatePassword: function () {
                    this.updateAxios("changePasswordForm", "/web/member/password/", function(){
                    	$("#changePasswordForm .pwd input").val('');
                    	setTimeout(()=>{
                    		location.reload();	
                    	}, 1500);
                    });
                },
                updateMemInfo: function () {
                    this.updateAxios("editAccountForm", "/web/member/detail/", function(){
                    	setTimeout(()=>{
                    		location.reload();	
                    	}, 1500);                    	
                    });
                },
                updateUsedPlaceEdit: function () {
                    let vm = this;
                    if (this.selectedHotspotID != '') {
                        // 編輯
	                    let form = $("#" + 'usedPlaceEditForm')[0];
	                    let inputs = $("#" + 'usedPlaceEditForm' + " .form-control");
	                    let fd = new FormData(form);
	                    // form data
// 	                    for (var [key, value] of fd.entries()) {
// 	                        console.log(key, value);
// 	                    }
// 	                    console.log(inputs)
	                    if (form.checkValidity() && validate(inputs)) {
	                        axios
	                            .put('/web/hotspot/info/' + vm.selectedHotspotID, fd)
	                            .then(response => {
	                                let res = response.data;
	                                if (res.code == 204) {
	                                	$("#editModal").modal("hide");
	                                    showSuccessMsg("更新成功！");
	                                    vm.changeTab("default-tab");
	                                    vm.placeInfo = {
                                            county: ""
                                        };
                                        vm.selectedHotspotID = "";
                                        vm.getUsedPlaceList();
	                                } else {
	                                	$("#editModal").modal("hide");
	                                    console.log("get user info error:" + res.errMsg);
	                                    showErrorMsg(res.errMsg);
	                                }
	                            })
	                            .catch(function (error) { // 請求失敗處理
	                            	$("#editModal").modal("hide");
	                                console.log("get user info error:" + error);
	                                showErrorMsg(error);
	                            });
	                    }                        
//                         this.updateAxios("usedPlaceEditForm", "/web/hotspot/info/", function () {
//                             vm.placeInfo = {
//                                 county: ""
//                             };
//                             vm.selectedHotspotID = "";
//                             vm.getUsedPlaceList();
//                         });

                    } else {
                        // 新增
                        let form = $("#usedPlaceEditForm")[0];
                        let inputs = $("#usedPlaceEditForm .form-control");
                        let fd = new FormData(form);

                        if (form.checkValidity() && validate(inputs)) {
                            axios
                                .post("/web/hotspot", fd)
                                .then(response => {
                                    let res = response.data;
                                    if (res.code == 201) {
                                        showSuccessMsg("新增成功！");
                                        $("#editModal").modal("hide");
                                        vm.getUsedPlaceList();
                                    } else {
                                    	$("#editModal").modal("hide");
                                        console.log("get user info error:" + res.errMsg);
                                        showErrorMsg(res.errMsg);
                                    }
                                })
                                .catch(function (error) { // 請求失敗處理
                                	$("#editModal").modal("hide");
                                    console.log("get user info error:" + error);
                                    showErrorMsg(error);
                                });
                        }
                    }
                },
                getMemberFullInfo: function(){
                    let vm = this;
                    axios
                        .get('/web/member/detail/' + vm.mID)
                        .then(response => {
                            let res = response.data;
//                             console.log(res);
                            if (res.code == 200) {
                                vm.memberInfo = res.data;
                            } else {
                                console.log("get user info error:" + res.errMsg);
                                showErrorMsg(res.errMsg);
                                $("#errorPopUp").on("hidden.bs.modal", function () {
                                    location.href = "/index"
                                })
                            }
                        })
                        .catch(function (error) { // 請求失敗處理
                            console.log("get user info error:" + error);
                            showErrorMsg(error);
                            $("#errorPopUp").on("hidden.bs.modal", function () {
                                location.href = "/index"
                            })
                        });                	
                },
                getMemInfo: function () {
                    let vm = this;
                    axios
                        .get('/web/member/simple/' + vm.mID)
                        .then(response => {
                            let res = response.data;
//                             console.log(res);
                            if (res.code == 200) {
                                vm.memInfo = res.data;
                            } else {
                                console.log("get user info error:" + res.errMsg);
                                showErrorMsg(res.errMsg);
                                $("#errorPopUp").on("hidden.bs.modal", function () {
                                    location.href = "/index"
                                })
                            }
                        })
                        .catch(function (error) { // 請求失敗處理
                            console.log("get user info error:" + error);
                            showErrorMsg(error);
                            $("#errorPopUp").on("hidden.bs.modal", function () {
                                location.href = "/index"
                            })
                        });
                },
                getCountryList: function () {
                    let vm = this;
                    axios
                        .get('/web/county')
                        .then(response => {
                            let res = response.data;
//                             console.log(res);
                            if (res.code == 200) {
                                vm.countryList = res.data;
                            } else {
                                console.log("get user info error:" + res.errMsg);
                            }
                        })
                        .catch(function (error) { // 請求失敗處理
                            console.log("get user info error:" + error);
                        });
                },
                getUsedPlaceList: function () {
                    let vm = this;
                    axios
                        .get('/web/hotspot/' + vm.mID)
                        .then(response => {
                            let res = response.data;
//                             console.log(res);
                            if (res.code == 200) {
                                vm.usedPlaceList = res.data.hotspotList;
                            } else {
                                console.log("get user info error:" + res.errMsg);
                            }
                        })
                        .catch(function (error) { // 請求失敗處理
                            console.log("get user info error:" + error);
                        });
                },
                getHotspotInfo: function (callback) {
                    let vm = this,
                        hotspotID = this.selectedHotspotID;
                    axios
                        .get('/web/hotspot/info/' + hotspotID)
                        .then(response => {
                            let res = response.data;
//                             console.log(res);
                            if (res.code == 200) {
                                vm.placeInfo = res.data;
                            } else {
                                console.log("get user info error:" + res.errMsg);
                            }
                        })
                        .catch(function (error) { // 請求失敗處理
                            console.log("get user info error:" + error);
                        });
                }
            },
            mounted: function () {
                this.getMemInfo();
                this.getMemberFullInfo();
                // this.memberID = location.signInData.memberID;
                this.getCountryList();
                this.getUsedPlaceList();
                $.getScript("/js/frount/_frountCommon.js");
            }
        })
    </script>

</body>

</html>