<div class="container-md p-0">
    <nav>
        <div class="nav nav-tabs pt-md-3 text-center"
             id="nav-tab"
             role="tablist">
            <a class="nav-item nav-link ml-md-3 h5 col"
               id="nav-collect-tab"
               data-active-page="member-information"
               v-bind:href="'/member/member-information/'+mID"
               aria-selected="true">
                <img src="/image/icon_tab_personal info_grey.png"
                     alt=""
                     width="20px"> 個人資訊</a>
            <a class="nav-item nav-link h5 col"
               id="nav-click-tab"
               data-active-page="member-favorites"
               v-bind:href="'/member/member-favorites/'+mID"
               aria-selected="false">
                <img src="/image/bookmark-grey.png"
                     alt=""
                     width="20px"> 收藏清單</a>
            <a class="nav-item nav-link h5 col"
               id="nav-click-tab"
               data-active-page="member-apply"
               v-bind:href="'/member/member-apply/'+mID"
               aria-selected="false">
                <img src="/image/icon_tab_apply item_grey.png"
                     alt=""
                     width="20px"> 已申請項目</a>
            <a class="nav-item nav-link mr-3 h5 col"
               id="nav-click-tab"
               data-active-page="member-edit-history"
               v-bind:href="'/member/member-edit-history/'+mID"
               aria-selected="false">
                <img src="/image/icon_tab_edit record_grey.png"
                     alt=""
                     width="20px"> 編輯記錄</a>
        </div>
    </nav>
</div>