<!DOCTYPE html>
<html lang="en">
<div th:replace="admin/_admin_head ::head"></div>

<body>
    <div class="wrap admin">
        <div class="wrap index admin">
            <div th:replace="admin/part/_backstageHeader ::header"></div>
            <div class="header-space"></div>
            <div class="d-flex h-100">
                <div th:replace="admin/part/_backstageNav ::nav"></div>
                <div class="admin-nav-space"></div>
                <main id="data-wrap" class="main-session w-100 px-4">
                    <h1 class="h3 mt-5 mb-3 text-accent">{{ cateLevel[0]??''}}大分類中的小分類</h1>
                    <!-- breadcrumb -->
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><span class="text-accent-dark op-6">分類管理</span></li>
                            <li class="breadcrumb-item"><a th:href="@{/admin/cate/place/cate-list}" class="text-accent">場所分類</a></li>
                            <li class="breadcrumb-item active" aria-current="page">{{ cateLevel[0]??''}}大分類中的小分類</li>
                        </ol>
                    </nav>
                    <div >
                        <!-- 查詢條件 -->
                        <div class="d-flex align-items-end justify-content-between">
                            <div class="form-inline mr-3">
                                <div class="form-group mb-0">
                                    <label for="feature" class="font-weight-bold text-dark-grey mr-2">搜尋分類</label>
                                    <div>
                                        <input @change="renewDataRow()" v-model="getDataParm.fuzzyFilter"
                                            class="form-control search-input" placeholder="請輸入場所分類名稱">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- data-row -->
                        <table class="table text-center my-3 border">
                            <thead class="bg-accent text-light border-0">
                                <tr>
                                    <th scope="col" class="border-0">
                                        <div @click="changeOrder" id="orderBtn"
                                            class="pointer d-flex align-items-center">編號<span class="ml-2"><i
                                                    class="gg-arrows-exchange-alt-v"></i></span>
                                        </div>
                                    </th>
                                    <th scope="col" class="border-0">分類名稱</th>
                                    <th scope="col" class="border-0">資料總數量</th>
                                    <th scope="col" class="border-0" width="80px"></th>
                                </tr>
                            </thead>
                            <tbody ref="listWrap" class="border-bg-color2 d-none">
                                <tr v-if="limit.read" v-for="(row,index) in showData">
                                    <td>{{row.typeID}}</td>
                                    <td>{{row.name}}</td>
                                    <td>{{row.totalQty ? numberWithCommas(row.totalQty) : 0}}</td>
                                    <td>
                                        <a class="btn btn-accent" :href="'/admin/cate/place/s/place-list/'+row.typeID">查看所有場所</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- page nav -->
                        <div ref="pagination" v-bind:class="{ 'd-none': !showPages }"
                            class="pagination-wrap simple-pagination light-theme"></div>
                        <!-- empty msg -->
                        <div v-if="emptyData" class="empty-msg letter-spacing-s">{{emptyMsg}}</div>
                    </div>
                </main>
            </div>
            <!-- success & error Msg -->
            <div th:replace="part/_popupMsg ::div"></div>

        </div>
        <script th:src="@{/js/common.js}"></script>
        <script th:inline="javascript">
            adminShowNavCurrent($('.cate-place'));
            const getDataListUrl = "/admin/category/place/main/typelist/" + [[${cID}]];

            var dataTable = new Vue({
                el: '#data-wrap',
                data: {
                    limit: {
                        read: checkLimit([], "1"),
                        edit: checkLimit([], "2"),
                        delete: checkLimit([], "3")
                    },
                    dataList: [], //回傳資料
                    page: {
                        dataCount: 0,
                        current: 1
                    },
                    initSet: { // 初始查詢設定
                        begin: 1,
                        end: 20,
                        order: "ASC"
                    },
                    getDataParm:{
//                         search: "",
                        fuzzyFilter: "",
//                         date: "",
                    },
                    emptyMsg: "查無符合條件之分類",
                    cateLevel: [] //[0]大分類,[1]中分類,[2]小分類
                },
                computed: {
                    emptyData: function () {
                        return this.dataList.length == 0;
                    },
                    showPages: function () {
                        return this.page.dataCount > this.initSet.end
                    },
                    showData:function(){
                        let begin = (this.page.current-1)*this.initSet.end;
                        let end = (this.page.current)*this.initSet.end;
                        
                        return this.dataList.slice(begin,end);
                    }
                },
                created: function () { //call ajax
                    this.renewDataRow();
                },
                mounted: function () {
                    this.$refs.listWrap.classList.remove('d-none');
                    let pageWrap = this.$refs.pagination;
                    let self = this;
                    $(pageWrap).pagination({
                        items: 0,
                        itemsOnPage: this.initSet.end,
                        cssStyle: 'light-theme',
                        hrefTextPrefix: "#",
                        onPageClick: function (pageNumber) {
                            self.page.current = pageNumber;
                            self.getDataList();
                        }
                    });
                },
                methods: {
                    getDataList: function () { //get admin account list data
                        return axios.get(getDataListUrl, {params:this.getDataParm});
                    },
                    dataListCallBack: function (res) {
//                     	console.log(res);
                    	this.dataList = [...res.data.data.placeTypeList];
                    	this.cateLevel = [res.data.data.mainTypeName];
//                         if(this.initSet.order=="DESC"){
//                             this.dataList = [...res.data.data.eventMainTypeList].reverse();
//                         }else{
//                             this.dataList = [...res.data.data.eventMainTypeList]
//                         }
//                         console.log(this.dataList);
                        this.page.dataCount = this.dataList.length;
                        let pageWrap = this.$refs.pagination;
                        $(pageWrap).pagination('drawPage', 1);
                        $(pageWrap).pagination('updateItems', this.page.dataCount);
                    },
                    renewDataRow: function () { //renew admin account list data
                        this.initSet.begin = 1;
                        this.page.current=1;
                        this.getDataList().then((res) => {
                            this.dataListCallBack(res);
                        }).catch(error => {
                            console.error(error);
                        });
                    },
                    computeSn(i) {
                        return getItemNum(i, this.initSet.order, this.initSet.end, this.page.current, this.page.dataCount);
                    },
                    changeOrder: function () {
                        this.initSet.order = (this.initSet.order == "DESC") ? "ASC" : "DESC";
                        this.dataList.reverse();
                    }
                }
            });

        </script>
<!--         <script th:src="@{/js/admin/_cateDataVueScript.js}"></script> -->


</body>

</html>