<!DOCTYPE html>
<html lang="en">
<div th:replace="admin/_admin_head ::head"></div>

<body>
    <div class="wrap admin">
        <div class="wrap index admin">
            <div th:replace="admin/part/_backstageHeader ::header"></div>
            <div class="header-space"></div>
            <div class="d-flex h-100">
                <div th:replace="admin/part/_backstageNav ::nav"></div>
                <div class="admin-nav-space"></div>
                <main class="main-session w-100 px-4">
                    <h1 class="h3 mt-5 mb-3 text-accent">場所管理</h1>
                    <!-- breadcrumb -->
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><span class="text-accent-dark op-6">內容管理</span></li>
                            <li class="breadcrumb-item active" aria-current="page">場所管理</li>
                        </ol>
                    </nav>
                    <div id="data-wrap">
                        <div class="d-flex mb-3">
                            <div class="ml-auto">
                                <a href="https://atenorestorage.s3-ap-northeast-1.amazonaws.com/Templates/Place/PlaceBatchIncrease.xlsx" class="text-accent mr-3 fz-ms">批次上架檔案範本下載</a>

                                <button v-if="limit.edit" @click="showUploadModal"
                                    class="btn-accent btn rounded no-underline d-inline-flex align-items-center ml-auto px-3"><span
                                        class="mr-3"><i class="gg-play-list-add"></i></span>批次新增</button>
                                <a v-if="batchUpdateFileUrl!='#'" :href="batchUpdateFileUrl" class="text-accent mr-3 fz-ms">批次更新檔案下載(請於24小時內下載)</a>                        
                                <button v-if="batchUpdateFileUrl!='#'" @click="batchUpdateUploadModal"
                                    class="btn-accent btn rounded no-underline d-inline-flex align-items-center ml-auto px-3"><span
                                        class="mr-3"><i class="gg-play-list-add"></i></span>批次更新</button>								                                        
                                <!-- 新增Btn -->
                                <a v-if="limit.edit" th:href="@{/admin/content/place-list/new}" id="newBtn"
                                    class="btn-accent btn rounded no-underline d-inline-flex align-items-center ml-auto px-3"><span
                                        class="mr-2"><i class="gg-math-plus"></i></span>新增場所</a>
                            </div>
                        </div>
                        <!-- upload file popup -->
                        <div ref="uploadModal" class="modal fade bd-example-modal-sm px-5 input-modal" tabindex="-1"
                            role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
                                <div class="modal-content pop-up">
                                    <div class="modal-body text-center p-4">
                                        <p class="my-3 font-weight-bold letter-spacing-s">選擇批次新增Excel檔案</p>
                                        <input ref="fileInput" type="file"  accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" class="form-control">
                                    </div>
                                    <p ref="uploadError" class="text-danger text-center small"></p>
                                    <div class="modal-footer justify-content-center p-0 mb-3 border-0">
                                        <button type="button" class="btn btn-danger-s m-2 px-4 cancelBtn"
                                            data-dismiss="modal">取消</button>
                                        <button @click="uploadFile" type="button"
                                            class="submitBtn btn btn-accent m-2 px-4">確定</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- batch update upload file popup -->
                        <div ref="batchUpdateUploadModal" class="modal fade bd-example-modal-sm px-5 input-modal" tabindex="-1"
                            role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
                                <div class="modal-content pop-up">
                                    <div class="modal-body text-center p-4">
                                        <p class="my-3 font-weight-bold letter-spacing-s">選擇批次更新Excel檔案</p>
                                        <input ref="fileInputUpdate" type="file"  accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" class="form-control">
                                    </div>
                                    <p ref="uploadErrorUpdate" class="text-danger text-center small"></p>
                                    <div class="modal-footer justify-content-center p-0 mb-3 border-0">
                                        <button type="button" class="btn btn-danger-s m-2 px-4 cancelBtn"
                                            data-dismiss="modal">取消</button>
                                        <button @click="batchUpdateUploadFile" type="button"
                                            class="submitBtn btn btn-accent m-2 px-4">確定</button>
                                    </div>
                                </div>
                            </div>
                        </div> 
                        <!-- 查詢條件 -->
                        <div class="row mx-0 bg-accent-dark text-light py-2 px-3">搜尋條件</div>
                        <div class="border p-3 d-flex">
                            <div>
                                <div class="form-inline mr-3 mb-2">
                                    <div class="form-group">
                                        <label class="font-weight-bold text-dark-grey mr-2">場所名稱</label>
                                        <input v-model="getDataParm.fuzzyFilter" type="text"
                                            class="form-control search-input" placeholder="請輸入查詢字">
                                    </div>
                                </div>
                                <div class="form-inline mr-3 mb-2">
                                    <div class="form-group">
                                        <label class="font-weight-bold text-dark-grey mr-2">場所地區</label>
                                        <select id="" required v-model="getDataParm.county"
                                            class="form-control check-input">
                                            <option value="">--請選擇查詢地區--</option>
                                            <option v-for="c in countyList" :value="c">{{c}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-inline mr-3 mb-1">
                                    <div class="form-group">
                                        <label class="font-weight-bold text-dark-grey mr-2">場所類型</label>
                                        <select id="" required v-model="getDataParm.mainTypePreferArg"
                                            class="form-control check-input">
                                            <option value="" selected>所有類型</option>
                                            <option v-for="c in selList" :value="c.id">{{c.name}}</option>
                                        </select>
                                    </div>
                                </div>

                            </div>
                            <div class="mt-auto ml-2">
                                <button @click="goSearch" class=" btn btn-accent letter-spacing-s m-1">搜尋</button>
                                <button @click="resetSearch" class="btn btn-danger-s letter-spacing-s m-1">重設</button>
                            </div>
                        </div>
                        <!-- data-row -->
                        <table class="table text-center my-3 border">
                            <thead class="bg-accent text-light border-0">
                                <tr>
                                    <th scope="col" class="border-0">
                                        <div @click="changeOrder" id="orderBtn"
                                            class="pointer d-flex align-items-center">編號<span class="ml-2"><i
                                                    class="gg-arrows-exchange-alt-v"></i></span>
                                        </div>
                                    </th>
                                    <th scope="col" class="border-0">發佈人帳號</th>
                                    <th scope="col" class="border-0">場所名稱</th>
                                    <th scope="col" class="border-0">類型</th>
                                    <th scope="col" class="border-0">聯絡人</th>
                                    <th scope="col" class="border-0">聯絡電話</th>
                                    <th v-if="limit.edit" scope="col" class="border-0" width="80px"></th>
                                    <th v-if="limit.edit" scope="col" class="border-0" width="80px"></th>
                                    <th v-if="limit.delete" scope="col" class="border-0" width="80px"></th>
                                </tr>
                            </thead>
                            <tbody ref="listWrap" class="border-bg-color2 d-none">
                                <tr v-if="limit.read" v-for="(row,index) in showData">
                                    <td>{{row.placeID}}</td>
                                    <td>{{row.memberAccount ?? '後台新增'}}</td>
                                    <td>{{row.name}}</td>
                                    <td>{{row.mainID==29 ? '場地':'場所' }}</td>
                                    <td>{{row.liaison}}</td>
                                    <td>{{row.phone}}</td>
                                    <td v-if="limit.edit">
                                        <a class="btn btn-accent"
                                            :href="'/admin/content/place/check-history/'+row.placeID">查閱編輯紀錄</a>
                                    </td>
                                    <td v-if="limit.edit">
                                        <a class="btn btn-accent"
                                            :href="'/admin/content/place-list/edit/'+row.placeID">編輯</a>
                                    </td>
                                    <td v-if="limit.delete">
                                        <button @click="clickDelete" class="btn btn-danger" :data-a.prop="row.placeID"
                                            :data-t.prop="row.name">刪除</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <!-- page nav -->
                        <div ref="pagination" v-bind:class="{ 'd-none': !showPages }"
                            class="pagination-wrap simple-pagination light-theme"></div>
                        <!-- empty msg -->
                        <div v-if="emptyData" class="empty-msg letter-spacing-s">{{emptyMsg}}</div>
                    </div>
                </main>
            </div>
            <!-- success & error Msg -->
            <div th:replace="part/_popupMsg ::div"></div>

        </div>
        <script th:src="@{/js/common.js}"></script>
        <script th:src="@{/js/loadingoverlay.min.js}"></script>
        <script th:inline="javascript">
            adminShowNavCurrent($('.content-place'));

            var dataTable = new Vue({
                el: '#data-wrap',
                data: {
                    limit: {
                        read: checkLimit([], "1"),
                        edit: checkLimit([], "2"),
                        delete: checkLimit([], "3")
                    },
                    countyList: [],
                    selList: [{id:0,name:'場所'}, {id:1, name:'場地'}], //查詢選單項目
                    dataList: [], //回傳資料
                    page: {
                        dataCount: 0,
                        current: 1
                    },
                    initSet: { // 初始查詢設定
                        begin: 1,
                        end: 20,
                        order: "DESC"
                    },
                    getDataParm: {
                    	fuzzyFilter: "",
                        county: "",
                        mainTypePreferArg:"",
                    },
                    manageInfo: {
                        account: null,
                    },
                    batchUpdateFileUrl:"#",
                    manageUrl: "",
                    emptyMsg: "查無符合條件之場所"
                },
                computed: {
                    emptyData: function () {
                        return this.dataList.length == 0;
                    },
                    showPages: function () {
                        return this.page.dataCount > this.initSet.end
                    },
                    showData: function () {
                        let begin = (this.page.current - 1) * this.initSet.end;
                        let end = (this.page.current) * this.initSet.end;

                        return this.dataList.slice(begin, end);
                    }
                },
                created: function () { //call ajax
                    this.getCounty();
                    this.getBatchUpdateFileUrl();
                    this.renewDataRow();
                    if(localStorage.getItem("batchUpdateFileUrl")!=null){
                        validateLocalStoreItem("batchUpdateFileUrl", function(){
    						location.reload();                    	
                        });                    	
                    }
                },
                mounted: function () {
                    this.$refs.listWrap.classList.remove('d-none');
                    let pageWrap = this.$refs.pagination;

                    let self = this;
                    $(pageWrap).pagination({
                        items: 0,
                        itemsOnPage: this.initSet.end,
                        cssStyle: 'light-theme',
                        hrefTextPrefix: "#",
                        onPageClick: function (pageNumber) {
                            self.page.current = pageNumber;
                            self.getDataList();
                        }
                    });
                    
                },
                methods: {
                	getBatchUpdateFileUrl:function(){
                    	if(localStorage.getItem("batchUpdateFileUrl")===null){
                    		this.batchUpdateFileUrl = "#";
                    	}else{
                    		this.batchUpdateFileUrl = JSON.parse(localStorage.getItem("batchUpdateFileUrl")).value;
                    	}
                    },
                    getCounty: function () {
                        axios.get('/fixedData/taiwan_county')
                            .then(response => {
                                this.countyList = [...response.data];
                            })
                            .catch(error => { // 請求失敗處理
                                console.log("get user info error:" + error);
                            });
                    },
                    getDataList: function () { //get place list data
                        return axios.get('/admin/place', {params:this.getDataParm});
                    },
                    dataListCallBack: function (response) {
                    	let res = response.data;
//                     	console.log(res);
                    	if(res.code==200){
                    		this.dataList = [...res.data.placeList];
                            this.page.dataCount = this.dataList.length;
                            let pageWrap = this.$refs.pagination;
                            $(pageWrap).pagination('drawPage', 1);
                            $(pageWrap).pagination('updateItems', this.page.dataCount);
                    	}else{
                    		this.dataList = [];
                    	}
                    },
                    renewDataRow: function () { //renew list data
                        this.initSet.begin = 1;
                        this.page.current = 1;
                        this.getDataList().then((res) => {
                            this.dataListCallBack(res);
                        }).catch(error => {
                            console.error(error);
                        });
                    },
                    goSearch: function () {
                        this.renewDataRow();
                    },
                    resetSearch: function () {
                        this.getDataParm.fuzzyFilter = "";
                        this.getDataParm.county = "";
                        this.getDataParm.mainTypePreferArg = "";
                        this.renewDataRow();
                    },
                    computeSn(i) {
                        return getItemNum(i, this.initSet.order, this.initSet.end, this.page.current, this.page.dataCount);
                    },
                    isNotOver: function (status) {
                        return status == "排程中";
                    },
                    changeOrder: function () {
                        this.initSet.order = (this.initSet.order == "DESC") ? "ASC" : "DESC";
                        this.dataList.reverse();
                    },
                    clickDelete: function () { //刪除場所點選
                        this.manageInfo.account = event.target.dataA;
                        this.manageUrl = "/admin/place/" + event.target.dataA;
                        showConfirmMsg("確定要刪除此場地?<p class='mt-3 mb-0 text-accent'>" + event.target.dataT + "</p>");
                    },
                    showUploadModal: function (e) {
                        e.preventDefault();
                        let modal = this.$refs.uploadModal;
                        let input = this.$refs.fileInput;
                        let errorMsg = this.$refs.uploadError;

                        errorMsg.innerText = "";
                        input.classList.remove('is-valid');
                        input.classList.remove('is-inValid');
                        $(modal).modal('show');
                    },
                    batchUpdateUploadModal: function (e) {
                        e.preventDefault();
                        let modal = this.$refs.batchUpdateUploadModal;
                        let input = this.$refs.fileInputUpdate;
                        let errorMsg = this.$refs.uploadErrorUpdate;

                        errorMsg.innerText = "";
                        input.classList.remove('is-valid');
                        input.classList.remove('is-inValid');
                        $(modal).modal('show');
                    },
                    uploadFile: function (e) {
                        e.preventDefault();
//                         console.log('uploadFile');
						$('body').LoadingOverlay('show');
                        let input = this.$refs.fileInput;
                        let btn = e.target;
                        let modal = this.$refs.uploadModal;
                        let errorMsg = this.$refs.uploadError;

                        errorMsg.innerText = "";
                        input.classList.remove('is-valid');
                        input.classList.remove('is-inValid');
                        btn.setAttribute("disabled", true);

                        if (input.files.length>0) {
                            input.classList.add('is-valid');
                            input.classList.remove('is-invalid');

                            let formData = new FormData();
                            formData.append("file", input.files[0]);
                            axios.post('/admin/place/batch/create', formData, {
                                headers: {
                                    'Content-Type': 'multipart/form-data'
                                }
                            }).then(function (response) { //success
                                let res = response.data;
//                                 console.log(res);
                                if (res.code==201) {
                                    btn.removeAttribute("disabled");
                                    $(modal).modal('hide');
                                    $('body').LoadingOverlay('hide');
                                    showSuccessMsg("批次新增成功");
                                    //TODO:renew data list
                                    if(localStorage.getItem("batchUpdateFileUrl")!=null){
                                    	localStorage.removeItem("batchUpdateFileUrl");
                                    }
                                    setLocalStoreItem("batchUpdateFileUrl", res.data.batchUpdateUrl, 86400000);
                                    window.setTimeout(() => location.reload(), 2000);
                                } else {
                                    errorMsg.innerText = res.errMsg;
                                    btn.removeAttribute("disabled");
                                    $('body').LoadingOverlay('hide');
                                }
                            }).catch(function (error) { //error
                                console.error(error);
                                errorMsg.innerText = '發生系統錯誤，未送出資料';
                                btn.removeAttribute("disabled");
                                $('body').LoadingOverlay('hide');
                            })

                        } else {
                            input.classList.remove('is-valid');
                            input.classList.add('is-invalid');
                            btn.removeAttribute("disabled");
                            $('body').LoadingOverlay('hide');
                        }
                    },
                    batchUpdateUploadFile: function (e) {
                        e.preventDefault();
//                         console.log('uploadFile');
						$('body').LoadingOverlay('show');
                        let input = this.$refs.fileInputUpdate;
                        let btn = e.target;
                        let modal = this.$refs.batchUpdateUploadModal;
                        let errorMsg = this.$refs.uploadErrorUpdate;

                        errorMsg.innerText = "";
                        input.classList.remove('is-valid');
                        input.classList.remove('is-inValid');
                        btn.setAttribute("disabled", true);

                        if (input.files.length>0) {
                            input.classList.add('is-valid');
                            input.classList.remove('is-invalid');

                            let formData = new FormData();
                            formData.append("file", input.files[0]);
                            axios.post('/admin/place/batch/update', formData, {
                                headers: {
                                    'Content-Type': 'multipart/form-data'
                                }
                            }).then(function (response) { //success
                                let res = response.data;
                                if (res.code==201) {
                                    btn.removeAttribute("disabled");
                                    $(modal).modal('hide');
                                    $('body').LoadingOverlay('hide');
                                    showSuccessMsg("批次更新成功");
                                    //TODO:renew data list
                                    if(localStorage.getItem("batchUpdateFileUrl")!=null){
                                    	localStorage.removeItem("batchUpdateFileUrl");
                                    }
                                    window.setTimeout(() => location.reload(), 2000);
                                } else {
                                    errorMsg.innerText = res.errMsg;
                                    btn.removeAttribute("disabled");
                                    $('body').LoadingOverlay('hide');
                                }
                            }).catch(function (error) { //error
                                console.error(error);
                                errorMsg.innerText = '發生系統錯誤，未送出資料';
                                btn.removeAttribute("disabled");
                                $('body').LoadingOverlay('hide');
                            })

                        } else {
                            input.classList.remove('is-valid');
                            input.classList.add('is-invalid');
                            btn.removeAttribute("disabled");
                            $('body').LoadingOverlay('hide');
                        }
                    }, 
                    checkStatusValid: function () {
                        let input = this.$refs.reasonInput;
                        if (input.checkValidity()) {
                            input.classList.add('is-valid');
                            input.classList.remove('is-invalid');
                            this.manageAdmin();
                        } else {
                            input.classList.add('is-invalid');
                            input.classList.remove('is-valid');
                        }
                    },
                    manageAdmin: function () {  //send manage ajax 
                    	$('body').LoadingOverlay('show');
                        axios.delete(this.manageUrl) //send ajax
                            .then(function (response) { //success
                                let res = response.data;
//                                 console.log(res);
                                if (res.code==204) {
                                    showSuccessMsg("刪除成功");
                                    window.setTimeout(() => location.reload(), 2000);
                                } else {
                                    showErrorMsg(res.errMsg);
                                }
                                $('body').LoadingOverlay('hide');
                            })
                            .catch(function (error) { //error
                            	$('body').LoadingOverlay('hide');
                                console.log(error);
                                showErrorMsg('發生系統錯誤，未送出資料');
                            });
                        $('.confirm-modal').modal('hide');
                    },
                    resetManage: function () {
                        setNull(this.manageInfo);
                        this.manageUrl = null;
                    }

                }
            });

            $('.confirm-modal').on('hidden.bs.modal', function (e) {
                dataTable.resetManage();
            });

            $('#confirmBtn').click(function () {
                dataTable.manageAdmin();
            })

        </script>

</body>

</html>