<!DOCTYPE html>
<html lang="en">
<div th:replace="admin/_admin_head ::head"></div>

<body>
    <div class="wrap admin">
        <div class="wrap index admin">
            <div th:replace="admin/part/_backstageHeader ::header"></div>
            <div class="header-space"></div>
            <div class="d-flex h-100">
                <div th:replace="admin/part/_backstageNav ::nav"></div>
                <div class="admin-nav-space"></div>
                <main id="data-wrap" class="main-session w-100 px-4">
                    <h1 class="h3 mt-5 mb-3 text-accent">{{placeInfo.name}}</h1>
                    <!-- breadcrumb -->
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><span class="text-accent-dark op-6">分類管理</span></li>
                            <li class="breadcrumb-item"><a th:href="@{/admin/cate/place/cate-list}"
                                    class="text-accent">活動分類</a></li>
                            <li class="breadcrumb-item"><a :href="'/admin/cate/place/place-list/'+placeInfo.mainID"
                                    class="text-accent">{{placeInfo.mainTypeName}}大分類</a></li>
                            <li class="breadcrumb-item"><a :href="'/admin/cate/place/place-list/'+placeInfo.typeID"
                                    class="text-accent">{{placeInfo.typeName}}小分類</a></li>
                            <li class="breadcrumb-item active" aria-current="page">場所詳情</li>
                        </ol>
                    </nav>
                    <!-- 場所資訊 -->
                    <div>
                        <div class="row mx-0 bg-accent-dark op-8 text-light py-2 px-3">場所資訊</div>
                        <div class="border">
                            <div class="container p-5 mx-auto">
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text bg-trans border-0 text-accent">場地編號</div>
                                    </div>
                                    <div class="form-control text-left bg-trans border-0">{{placeInfo.placeID}}</div>
                                </div>
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text bg-trans border-0 text-accent">版本編號</div>
                                    </div>
                                    <div class="form-control text-left bg-trans border-0">{{placeInfo.editID}}</div>
                                </div>                                  
                                <div class="d-flex mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text bg-trans border-0 text-accent">場地名稱</div>
                                    </div>
                                    <div class="form-control h-100 text-left bg-trans border-0">{{placeInfo.name}}</div>
                                </div>
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text bg-trans border-0 text-accent">場地區域</div>
                                    </div>
                                    <div class="form-control text-left bg-trans border-0">{{placeInfo.county}}</div>
                                </div>
                                <div class="d-flex mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text bg-trans border-0 text-accent">場地分類</div>
                                    </div>
                                    <div class="form-control h-100 text-left bg-trans border-0">{{placeInfo.mainTypeName}}
                                        - {{placeInfo.typeName}}</div>
                                </div>
                                <div v-if="placeInfo.mainID==29" class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text bg-trans border-0 text-accent">容納人數</div>
                                    </div>
                                    <div class="form-control text-left bg-trans border-0">
                                        {{placeInfo.maxName}}</div>
                                </div>
                                <div v-if="placeInfo.mainID==29" class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text bg-trans border-0 text-accent">場地面積</div>
                                    </div>
                                    <div class="form-control text-left bg-trans border-0">
                                        {{numberWithCommas(placeInfo.area)}}坪</div>
                                </div>
                                <div v-if="placeInfo.mainID==29" class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text bg-trans border-0 text-accent">管理單位</div>
                                    </div>
                                    <div class="form-control text-left bg-trans border-0">
                                        {{placeInfo.unit}}</div>
                                </div>                                                                 
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text bg-trans border-0 text-accent">場地地址</div>
                                    </div>
                                    <div class="form-control text-left bg-trans border-0">
                                        {{placeInfo.county+placeInfo.address}}</div>
                                </div>
                                <div class="d-flex mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text bg-trans border-0 text-accent">聯絡人員</div>
                                    </div>
                                    <div class="form-control h-100 text-left bg-trans border-0">
                                        <div v-for="c in placeInfo.liaison">
                                            {{c.name}} - {{c.phone}}
                                        </div>    
                                    </div>
                                </div>
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text bg-trans border-0 text-accent">電子郵件</div>
                                    </div>
                                    <div class="form-control text-left bg-trans border-0">
                                        {{placeInfo.mail}}</div>
                                </div>
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text bg-trans border-0 text-accent">官方網站</div>
                                    </div>
                                    <div class="form-control text-left bg-trans border-0 text-accent">
                                        <a :href="placeInfo.website" target="_blank">{{placeInfo.website}}</a>
                                    </div>
                                </div>
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text bg-trans border-0 text-accent">官方Facebook</div>
                                    </div>
                                    <div class="form-control text-left bg-trans border-0 text-accent">
                                        <a :href="placeInfo.facebook" target="_blank">{{placeInfo.facebook}}</a>
                                    </div>
                                </div>
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text bg-trans border-0 text-accent">服務項目</div>
                                    </div>
                                    <div class="form-control h-100 text-left bg-trans border-0">{{placeInfo.service}}
                                    </div>
                                </div>                                
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text bg-trans border-0 text-accent">場地簡介</div>
                                    </div>
                                    <div class="form-control h-100 text-left bg-trans border-0">{{placeInfo.intro}}
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="row mx-0 bg-accent-dark op-8 text-light py-2 px-3">場所關鍵字</div>
                        <div class="border">
                            <div class="container p-5 mx-auto">
<!--                                 <div class="mb-4"> -->
<!--                                     <p class="text-accent mb-1">達人推薦</p> -->
<!--                                     <div class="tag-wrap d-flex flex-wrap"> -->
<!--                                         <div class="keyword-tag" v-for="rm in placeInfo.recommendMaster"> -->
<!--                                             {{rm.masterID}}:{{rm.publicName}}</div> -->
<!--                                     </div> -->
<!--                                 </div> -->
                                <div class="">
<!--                                     <p class="text-accent mb-1 ">關鍵字</p> -->
                                    <div class="tag-wrap d-flex flex-wrap">
                                        <div class="keyword-tag" v-for="t in placeTagList">{{t.tag}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mx-0 bg-accent-dark op-8 text-light py-2 px-3">場所圖片</div>
                        <div class="border">
                            <div class="container p-5 mx-auto">
                                <div class="d-flex flex-wrap">
                                    <figure class="square-photo m-2 position-relative"
                                        v-for="(img,i) in placeImgList">
                                        <img :src="img.img" alt="" class="img-cover">
                                        <figcaption v-if="img.isMain==1"
                                            class="position-absolute bg-dark w-100 op-6 text-white small main-cap letter-spacing-s text-center">
                                            主圖片</figcaption>
                                    </figure>
                                </div>
                            </div>
                        </div>
                        <div class="text-center my-4">
                            <button @click="backPage" class=" btn btn-accent letter-spacing-s m-1">返回上一頁</button>
                        </div>
                    </div>
                </main>
            </div>
            <!-- success & error Msg -->
            <div th:replace="part/_popupMsg ::div"></div>

        </div>
        <script th:src="@{/js/common.js}"></script>
        <script th:inline="javascript">
            adminShowNavCurrent($('.content-place'));

            var dataTable = new Vue({
                el: '#data-wrap',
                data: {
                    limit: {
                        read: checkLimit([], "1"),
                        edit: checkLimit([], "2"),
                        delete: checkLimit([], "3")
                    },
                    placeInfo: {},
                    placeImgList:[],
                    placeTagList:[],
                    cateLevel: [//[0]大分類,([1]中分類,)[2]小分類
                    ]
                },
                computed: {
                },
                created: function () { //call ajax
                    this.getInfo();
                },
                mounted: function () {

                },
                methods: {
                    getInfo: function () {
                        // get account info
                        let self = this;
                        axios
                            .get('/admin/place/edit/' + [[${ editID }]])
                            .then(response => {
                                let res = response.data;
                                console.log(res);
                                if(res.code==200){
                                	this.placeInfo = res.data.placeInfo;
                                	this.placeImgList = res.data.placeImgList;
                                	this.placeTagList = res.data.placeTagList;
                                }else {
                                    console.log("get user info error:" + res.errMsg);
                                }
                            })
                            .catch(function (error) { // 請求失敗處理
                                console.log("get user info error:" + error);
                            });
                    },
                    backPage:function(e){
                        e.preventDefault();
                        window.history.back();
                    }
                }
            });

        </script>


</body>

</html>