<!DOCTYPE html>
<html lang="en">
<div th:replace="admin/_admin_head ::head"></div>

<body>
    <div class="wrap admin">
        <div class="wrap index admin">
            <div th:replace="admin/part/_backstageHeader ::header"></div>
            <div class="header-space"></div>
            <div class="d-flex h-100">
                <div th:replace="admin/part/_backstageNav ::nav"></div>
                <div class="admin-nav-space"></div>
                <main class="main-session w-100 px-4">
                    <h1 class="h3 mt-5 mb-3 text-accent">場所編輯紀錄</h1>
                    <!-- breadcrumb -->
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><span class="text-accent-dark op-6">內容管理</span></li>
                            <li class="breadcrumb-item"><a th:href="@{/admin/content/place-list}" class="text-accent-dark">場所列表</a></li>
                            <li class="breadcrumb-item active" aria-current="page">場所編輯紀錄</li>
                        </ol>
                    </nav>
                    <div id="data-wrap">
                        
                        <!-- 查詢條件 -->
                        <div class="row mx-0 bg-accent-dark text-light py-2 px-3">搜尋條件</div>
                        <div class="border p-3 d-flex">
                            <div>
                                <div class="form-inline mr-3 mb-2">
                                    <div class="form-group">
                                        <label class="font-weight-bold text-dark-grey mr-2">編輯用戶</label>
                                        <input v-model="getDataParm.account" type="text"
                                            class="form-control search-input" placeholder="請輸入查詢字">
                                    </div>
                                </div>
                                <div class="form-inline mr-3 mb-1">
                                    <div class="form-group">
                                        <label class="font-weight-bold text-dark-grey mr-2">編輯日期</label>
                                        <div class="input-group">
                                            <input id="startDate" ref="startTime" type="text"
                                                class="form-control search-input dateP" placeholder="yyyy-mm-dd">
                                            <div class="input-group-append">
                                                <span class="input-group-text">-</span>
                                            </div>
                                            <input id="stopDate" ref="endTime" type="text"
                                                class="form-control search-input dateP" placeholder="yyyy-mm-dd">
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="mt-auto ml-2">
                                <button @click="goSearch" class=" btn btn-accent letter-spacing-s m-1">搜尋</button>
                                <button @click="resetSearch" class="btn btn-danger-s letter-spacing-s m-1">重設</button>
                            </div>
                        </div>
                        <!-- data-row -->
                        <table class="table text-center my-3 border">
                            <thead class="bg-accent text-light border-0">
                                <tr>
                                    <th scope="col" class="border-0">編輯時間</th>
                                    <th scope="col" class="border-0">版本編號</th>
                                    <th scope="col" class="border-0">編輯者帳號</th>
                                    <th scope="col" class="border-0">狀態</th>
                                    <th scope="col" class="border-0" width="80px"></th>
                                    <th scope="col" class="border-0" width="80px"></th>
                                    <th scope="col" class="border-0" width="80px"></th>
                                </tr>
                            </thead>
                            <tbody ref="listWrap" class="border-bg-color2 d-none">
                                <tr v-if="limit.read" v-for="(row,index) in showData">
                                    <td>{{row.insertTime ? sliceToMin(row.insertTime,'-'): '-'}}</td>
                                    <td>{{row.editID}}</td>
                                    <td>{{row.account ?? '後台新增'}}</td>
                                    <td :class="{'text-accent': row.inUsed == true}">{{row.inUsed==true? '應用中':'被覆蓋' }}</td>
                                    <td v-if="limit.edit">
                                        <button v-if="row.inUsed !== true" @click="clickChangeVersion" class="btn btn-accent" :data-a.prop="row.editID"
                                            :data-t.prop="row.editID">應用</button>
                                    </td>
                                    <td v-if="limit.edit">
                                        <a class="btn btn-accent"
                                            :href="'/admin/content/place/check-history/version/'+row.editID">查看</a>
                                    </td>
                                    <td v-if="limit.delete">
                                        <button v-if="row.inUsed !== true" @click="clickDelete" class="btn btn-danger" :data-a.prop="row.editID"
                                            :data-t.prop="row.editID">刪除</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <!-- page nav -->
                        <div ref="pagination" v-bind:class="{ 'd-none': !showPages }"
                            class="pagination-wrap simple-pagination light-theme"></div>
                        <!-- empty msg -->
                        <div v-if="emptyData" class="empty-msg letter-spacing-s">{{emptyMsg}}</div>
                        
					    <!-- 確認 -->
					    <!-- 彈出式確認視窗 -->
					    <!-- Set edit version in use pop up -->
			            <div ref="editSetUsePopUp" class="modal fade bd-example-modal-sm px-5 input-modal" tabindex="-1"
			                role="dialog" aria-hidden="true">
			                <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
			                    <div class="modal-content pop-up">
			                        <div class="modal-body text-center p-4">
			                            <p class="my-3 font-weight-bold letter-spacing-s">確定要改用此版本?</p>
			                        </div>
			                        <div class="modal-footer justify-content-center p-0 mb-3 border-0">
			                            <button type="button" class="btn btn-danger-s m-2 px-4 cancelBtn"
			                                data-dismiss="modal">取消</button>
			                            <button @click="setEditInUse" type="button"
			                                class="submitBtn btn btn-accent m-2 px-4">確定</button>
			                        </div>
			                    </div>
			                </div>
			            </div>  		    
						<!-- Delete edit version pop up -->
			            <div ref="deletePopUp" class="modal fade bd-example-modal-sm px-5 input-modal" tabindex="-1"
			                role="dialog" aria-hidden="true">
			                <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
			                    <div class="modal-content pop-up">
			                        <div class="modal-body text-center p-4">
			                            <p class="my-3 font-weight-bold letter-spacing-s">確定要刪除此版本?</p>
			                        </div>
			                        <div class="modal-footer justify-content-center p-0 mb-3 border-0">
			                            <button type="button" class="btn btn-danger-s m-2 px-4 cancelBtn"
			                                data-dismiss="modal">取消</button>
			                            <button @click="deleteEditVersion" type="button"
			                                class="submitBtn btn btn-accent m-2 px-4">確定</button>
			                        </div>
			                    </div>
			                </div>
			            </div>                          
                        
                    </div>
                </main>
            </div>
            <!-- success & error Msg -->
            <div th:replace="part/_popupMsg ::div"></div>

        </div>
        <script th:src="@{/js/common.js}"></script>
        <script th:src="@{/js/loadingoverlay.min.js}"></script>
        <script th:inline="javascript">
            adminShowNavCurrent($('.content-place'));

            var dataTable = new Vue({
                el: '#data-wrap',
                data: {
                    limit: {
                        read: checkLimit([], "1"),
                        edit: checkLimit([], "2"),
                        delete: checkLimit([], "3")
                    },
                    selList: [], //查詢選單項目
                    dataList: [], //回傳資料
                    page: {
                        dataCount: 0,
                        current: 1
                    },
                    initSet: { // 初始查詢設定
                        begin: 1,
                        end: 20,
                        order: "DESC"
                    },
                    getDataParm: {
                        account: "",
                        startTime: "",
                        endTime: ""
                    },
                    manageInfo: {
                        account: null,
                    },
                    manageUrl: "",
                    emptyMsg: "查無符合條件之編輯紀錄"
                },
                computed: {
                    emptyData: function () {
                        return this.dataList.length == 0;
                    },
                    showPages: function () {
                        return this.page.dataCount > this.initSet.end
                    },
                    showData: function () {
                        let begin = (this.page.current - 1) * this.initSet.end;
                        let end = (this.page.current) * this.initSet.end;

                        return this.dataList.slice(begin, end);
                    }
                },
                created: function () { //call ajax
                    this.getTypes();
                    this.renewDataRow();
                },
                mounted: function () {
                    this.$refs.listWrap.classList.remove('d-none');
                    let pageWrap = this.$refs.pagination;
                    let dateInputs = this.$el.querySelectorAll('.dateP');

                    let self = this;
                    $(pageWrap).pagination({
                        items: 0,
                        itemsOnPage: this.initSet.end,
                        cssStyle: 'light-theme',
                        hrefTextPrefix: "#",
                        onPageClick: function (pageNumber) {
                            self.page.current = pageNumber;
                            self.getDataList();
                        }
                    });
                    $(dateInputs).datepicker({
                        format: "yyyy-mm-dd",
                        language: 'zh-TW',
                        todayHighlight: true,
                    });
                },
                methods: {
                    getTypes: function () {
                        axios.get('/fixedData/type_category')
                            .then(response => {
                                this.selList = [...response.data];
                            })
                            .catch(error => { // 請求失敗處理
                                console.log("get type info error:" + error);
                            });
                    },
                    getDataList: function () { //get admin account list data
                        return axios.get('/admin/place/editlist/' + [[${pID}]], {params:this.getDataParm});
                    },
                    dataListCallBack: function (response) {
                    	let res = response.data;
                    	if(res.code==200){
                    		this.dataList = res.data.placeEditList;
                            this.page.dataCount = this.dataList.length;
                            let pageWrap = this.$refs.pagination;
                            $(pageWrap).pagination('drawPage', 1);
                            $(pageWrap).pagination('updateItems', this.page.dataCount);
                    	}else{
                    		this.dataList = [];
                    	}

                    },
                    renewDataRow: function () { //renew list data
                        this.initSet.begin = 1;
                        this.page.current=1;
                        this.getDataList().then((res) => {
                            this.dataListCallBack(res);
                        }).catch(error => {
                            console.error(error);
                        });
                    },
                    goSearch: function () {
                    	if(this.$refs.startTime.value){
                    		this.getDataParm.startTime = this.$refs.startTime.value + " 00:00:00";	
                   		}
	                   	if(this.$refs.endTime.value){
	                   		this.getDataParm.endTime = this.$refs.endTime.value + " 23:59:59";	
	                   	}
                        this.renewDataRow();
                    },
                    resetSearch: function () {
                        $(this.$refs.startTime).val("").datepicker("update");
                        $(this.$refs.endTime).val("").datepicker("update");

                        this.getDataParm.startTime = "";
                        this.getDataParm.endTime = "";
                        this.getDataParm.account = "";
                        this.renewDataRow();
                    },
                    computeSn(i) {
                        return getItemNum(i, this.initSet.order, this.initSet.end, this.page.current, this.page.dataCount);
                    },
                    isNotOver: function (status) {
                        return status == "排程中";
                    },
                    changeOrder: function () {
                        this.initSet.order = (this.initSet.order == "DESC") ? "ASC" : "DESC";
                        this.dataList.reverse();
                    },
                    clickDelete: function () { //刪除管理者點選
                        this.manageInfo.editID = event.target.dataA;
                        this.manageUrl = "/admin/place/edit/" + this.manageInfo.editID;
                    	let modal = this.$refs.deletePopUp;
                    	errorMsg.innerText = "";
                        $(modal).modal('show');
//                         this.showDeleteModal("確定要刪除此版本?<p class='mt-3 mb-0 text-accent'>" + event.target.dataT + "</p>");
                    },
                    clickChangeVersion: function(){
                        this.manageInfo.editID = event.target.dataA;
                        this.manageUrl = "/admin/place/edit/" + event.target.dataA;
                    	let modal = this.$refs.editSetUsePopUp;
                    	errorMsg.innerText = "";
                        $(modal).modal('show');
//                         this.showSetInUseModal("確定要改用此版本?<p class='mt-3 mb-0 text-accent'>" + event.target.dataT + "</p>");
                    },
                    setEditInUse: function(e){
                    	e.preventDefault();
                    	let modal = this.$refs.editSetUsePopUp;
                    	$(modal).modal('hide');
                    	$('body').LoadingOverlay('show');
                        axios.put(this.manageUrl) //send ajax
                        .then(function (response) { //success
                            let res = response.data;
                            console.log(res);
                            if (res.code==204) {
                            	$('body').LoadingOverlay('hide');
                                showSuccessMsg("版本應用成功");
                                this.manageUrl = "";
                                window.setTimeout(() => location.reload(), 2000);
                            } else {
                            	$('body').LoadingOverlay('hide');
                                showErrorMsg(res.errMsg);
                            }
                        })
                        .catch(function (error) { //error
                            console.log(error);
                            $('body').LoadingOverlay('hide');
                            showErrorMsg('發生系統錯誤，未送出資料');
                        });                    	
                    	
                    },
                    deleteEditVersion: function(e){
                    	e.preventDefault();
                    	let modal = this.$refs.deletePopUp;
                    	$(modal).modal('hide');
                    	$('body').LoadingOverlay('show');
                        axios.delete(this.manageUrl) //send ajax
                        .then(function (response) { //success
                            let res = response.data;
                            console.log(res);
                            if (res.code==204) {
                            	$('body').LoadingOverlay('hide');
                                showSuccessMsg("版本刪除成功");
                                this.manageUrl = "";
                                window.setTimeout(() => location.reload(), 2000);
                            } else {
                            	$('body').LoadingOverlay('hide');
                                showErrorMsg(res.errMsg);
                            }
                        })
                        .catch(function (error) { //error
                            console.log(error);
                            $('body').LoadingOverlay('hide');
                            showErrorMsg('發生系統錯誤，未送出資料');
                        });                    	
                    	
                    },
                    showUploadModal: function (e) {
                        e.preventDefault();
                        let modal = this.$refs.uploadModal;
                        let input = this.$refs.fileInput;
                        let errorMsg = this.$refs.uploadError;

                        errorMsg.innerText = "";
                        input.classList.remove('is-valid');
                        input.classList.remove('is-inValid');
                        $(modal).modal('show');
                    },
                    uploadFile: function (e) {
                        e.preventDefault();
                        console.log('uploadFile');
                        let input = this.$refs.fileInput;
                        let btn = e.target;
                        let modal = this.$refs.uploadModal;
                        let errorMsg = this.$refs.uploadError;

                        errorMsg.innerText = "";
                        input.classList.remove('is-valid');
                        input.classList.remove('is-inValid');
                        btn.setAttribute("disabled", true);

                        if (input.files.length>0) {
                            input.classList.add('is-valid');
                            input.classList.remove('is-invalid');

                            let formData = new FormData();
                            formData.append("file", input.files[0]);
                            axios.post('/', formData, {
                                headers: {
                                    'Content-Type': 'multipart/form-data'
                                }
                            }).then(function (response) { //success
                                let res = response.data;
                                console.log(res);
                                if (res.success) {
                                    btn.removeAttribute("disabled");
                                    $(modal).modal('hide');
                                    showSuccessMsg(res.msg);
                                    //TODO:renew data list
                                } else {
                                    errorMsg.innerText = res.msg;
                                    btn.removeAttribute("disabled");
                                }
                            }).catch(function (error) { //error
                                console.error(error);
                                errorMsg.innerText = '發生系統錯誤，未送出資料';
                                btn.removeAttribute("disabled");
                            })

                        } else {
                            input.classList.remove('is-valid');
                            input.classList.add('is-invalid');
                            btn.removeAttribute("disabled");
                        }
                    },
                    checkStatusValid: function () {
                        let input = this.$refs.reasonInput;
                        if (input.checkValidity()) {
                            input.classList.add('is-valid');
                            input.classList.remove('is-invalid');
                            this.manageAdmin();
                        } else {
                            input.classList.add('is-invalid');
                            input.classList.remove('is-valid');
                        }
                    },
                    manageAdmin: function () {  //send manage ajax                      
                        axios.post(this.manageUrl, this.manageInfo) //send ajax
                            .then(function (response) { //success
                                let res = response.data;
                                console.log(res);
                                if (res.success) {
                                    showSuccessMsg(res.msg);
                                    window.setTimeout(() => location.reload, 2000);
                                } else {
                                    showErrorMsg(res.msg);
                                }
                            })
                            .catch(function (error) { //error
                                console.log(error);
                                showErrorMsg('發生系統錯誤，未送出資料');
                            });
                        $('.confirm-modal').modal('hide');
                    },
                    resetManage: function () {
                        setNull(this.manageInfo);
                        this.manageUrl = null;
                    }

                }
            });

            $('.confirm-modal').on('hidden.bs.modal', function (e) {
                dataTable.resetManage();
            });

            $('#confirmBtn').click(function () {
                dataTable.manageAdmin();
            })

            $("#startDate").change(function () {
                let pushDate = $(this).val();
                $('#stopDate').datepicker('setStartDate', pushDate);
            });

            $("#stopDate").change(function () {
                let endDate = $(this).val();
                $('#startDate').datepicker('setEndDate', endDate);
            });

        </script>

</body>

</html>