<!DOCTYPE html>
<html lang="en">
<div th:replace="admin/_admin_head ::head"></div>

<body>
    <div class="wrap admin">
        <div class="wrap index admin">
            <div th:replace="admin/part/_backstageHeader ::header"></div>
            <div class="header-space"></div>
            <div class="d-flex h-100">
                <div th:replace="admin/part/_backstageNav ::nav"></div>
                <div class="admin-nav-space"></div>
                <main class="main-session w-100 px-4">
                    <h1 class="h3 mt-5 mb-3 text-accent">編輯場所</h1>
                    <!-- breadcrumb -->
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><span class="text-accent-dark op-6">內容管理</span></li>
                            <li class="breadcrumb-item"><a th:href="@{/admin/content/place-list}"
                                    class="text-accent">場所列表</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">編輯場所</li>
                        </ol>
                    </nav>
                    <form id="dataForm" class="needs-validation mt-3 pt-2" novalidate method="POST">

                        <div class="row mx-0 bg-accent-dark op-8 text-light py-2 px-3">場所資訊</div>
                        <div class="border">
                            <div class="login-wrap my-4 mx-auto">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text bg-grey">場所編號</div>
                                    </div>
                                    <div class="form-control text-left bg-grey">{{placeInfo.placeID}}</div>
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text bg-white">場所名稱<span
                                                class="text-danger-s ml-1">*</span>
                                        </div>
                                    </div>
                                    <input type="text" name="name" required v-model="placeInfo.name"
                                        class="check-input form-control rounded-right" placeholder="請輸入場所名稱">
                                    <div ref="confirmMsg" class="invalid-feedback text-right"></div>
                                </div>
                                
                                
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text bg-white">場所分類<span
                                                class="text-danger-s ml-1">*</span>
                                        </div>
                                    </div>
                                    <select name="mainID" id="" v-model="cate.mainID" required
                                        class="form-control check-input">
                                        <option value="" disabled>--請選擇大分類--</option>
                                        <option v-for="c in cateList" :value="c.mainID">{{c.name}}</option>
                                    </select>
                                    <select name="typeID" id="" v-model="cate.typeID" required
                                        class="form-control rounded-right check-input">
                                        <option value="" disabled>--請選擇小分類--</option>
                                        <option v-for="c in subCateList" :value="c.typeID">{{c.name}}</option>
                                    </select>
                                    <div ref="confirmMsg" class="invalid-feedback text-right"></div>
                                </div>                                

<!--                                 <div class="input-group mb-3"> -->
<!--                                     <div class="input-group-prepend"> -->
<!--                                         <div class="input-group-text bg-white">場所區域<span -->
<!--                                                 class="text-danger-s ml-1">*</span> -->
<!--                                         </div> -->
<!--                                     </div> -->
<!--                                     <select name="county" id="" required v-model="county" -->
<!--                                         class="form-control check-input"> -->
<!--                                         <option value="">--請選擇區域--</option> -->
<!--                                         <option v-for="c in countyList" :value="c">{{c}}</option> -->
<!--                                     </select> -->
<!--                                     <div ref="confirmMsg" class="invalid-feedback text-right"></div> -->
<!--                                 </div> -->
                                
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text bg-white">場所區域<span
                                                class="text-danger-s ml-1">*</span>
                                        </div>
                                    </div>
                                    <select name="county" v-model="placeInfo.county" id=""  required class="form-control check-input">
                                        <option value="">--請選擇區域--</option>
                                        <option v-for="c in countyList" :value="c">{{c}}</option>
                                    </select>
                                    <div ref="confirmMsg" class="invalid-feedback text-right"></div>
                                </div>                                

                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text bg-white">場所地址<span
                                                class="text-danger-s ml-1">*</span>
                                        </div>
                                    </div>
                                    <input type="text" name="address" class="form-control rounded-right" v-model="placeInfo.address"
                                        placeholder="請輸入地址">
                                    <div ref="confirmMsg" class="invalid-feedback text-right"></div>
                                </div>
<!--                                 <div class="input-group mb-2"> -->
<!--                                     <div class="input-group-prepend"> -->
<!--                                         <div class="input-group-text bg-white">聯絡電話</div> -->
<!--                                     </div> -->
<!--                                     <input ref="phoneInput" type="text" class="check-input form-control" -->
<!--                                         placeholder="請輸入聯絡電話"> -->
<!--                                     <div class="input-group-append"> -->
<!--                                         <button class="input-group-text btn btn-accent" @click="addPhone">加入</button> -->
<!--                                     </div> -->
<!--                                 </div> -->
<!--                                 <div class="tag-wrap d-flex flex-wrap  mb-3"> -->
<!--                                     <tag-item v-for="t in contacts" v-bind:tag="t" @send-delete-tag="deletePhone"> -->
<!--                                     </tag-item> -->
<!--                                 </div> -->

                                <div v-if="cate.mainID==29" class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text bg-white">最大容納人數<span
                                                class="text-danger-s ml-1">*</span>
                                        </div>
                                    </div>
									<select name="max" id="" v-model="cate.capacitySN" required
										class="form-control check-input">
										<option value="">--請選擇最大容納人數--</option>
										<option v-for="(c, index) in capacityList" :value="index">{{c}}</option>
									</select>
                                    <div ref="confirmMsg" class="invalid-feedback text-right"></div>
                                </div>                                

                                <div v-if="cate.mainID==29" class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text bg-white">場地面積(坪)<span
                                                class="text-danger-s ml-1">*</span>
                                        </div>
                                    </div>
                                    <input type="number" name="area" v-model="placeInfo.area" min="0" class="form-control rounded-right" placeholder="請輸入場地面積">
                                    <div ref="confirmMsg" class="invalid-feedback text-right"></div>
                                </div>   

                                <div v-if="cate.mainID==29" class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text bg-white">管理單位<span
                                                class="text-danger-s ml-1">*</span>
                                        </div>
                                    </div>
                                    <input type="text" name="unit" v-model="placeInfo.unit" class="form-control rounded-right" placeholder="請輸入管理單位">
                                    <div ref="confirmMsg" class="invalid-feedback text-right"></div>
                                </div>  

                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text bg-white">聯絡電話</div>
                                    </div>
                                    <input ref="liaisonInput" type="text" class="check-input form-control"
                                        placeholder="請輸入聯絡人">
                                    <input ref="phoneInput" type="text" class="check-input form-control"
                                        placeholder="請輸入聯絡電話">                                        
                                    <div class="input-group-append">
                                        <button class="input-group-text btn btn-accent" @click="addPhone">加入</button>
                                    </div>
                                    <div ref="confirmMsg" class="invalid-feedback text-right"></div>
                                </div>
                                <div class="tag-wrap d-flex flex-wrap  mb-3">
                                    <phone-item v-for="t in contacts" v-bind:tag="t" @send-delete-tag="deletePhone">
                                    </phone-item>
                                </div> 

                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text bg-white">電子郵件</div>
                                    </div>
                                    <input type="email" name="mail" class="check-input form-control rounded-right"
                                        placeholder="請輸入聯絡信箱" v-model="placeInfo.mail">
                                    <div ref="confirmMsg" class="invalid-feedback text-right"></div>
                                </div>
                                <div class="input-group mb-1">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text bg-white">官方網站</div>
                                    </div>
                                    <input type="url" name="website" v-model="placeLink.hp"
                                        class="check-input form-control rounded-right" placeholder="https://">
                                    <div ref="confirmMsg" class="invalid-feedback text-right"></div>
                                </div>
                                <p class="text-right text-accent"><a :href="placeLink.hp" :title="placeLink.hp"
                                        target="_blank">查看連結</a></p>
                                <div class="input-group mb-1">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text bg-white">官方Facebook</div>
                                    </div>
                                    <input type="url" name="facebook" v-model="placeLink.fb"
                                        class="check-input form-control rounded-right" placeholder="https://">
                                    <div ref="confirmMsg" class="invalid-feedback text-right"></div>
                                </div>
                                <p class="text-right text-accent"><a :href="placeLink.fb" :title="placeLink.fb"
                                        target="_blank">查看連結</a></p>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text bg-white">服務項目</div>
                                    </div>
                                    <input type="text" name="service" class="check-input form-control rounded-right"
                                        placeholder="請輸入服務項目" v-model="placeInfo.service">
                                    <div ref="confirmMsg" class="invalid-feedback text-right"></div>
                                </div>
                                <div class="input-group mb-1">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text bg-white">場所簡介</div>
                                    </div>
                                    <textarea name="intro" id="" cols="30" rows="10" v-model="placeInfo.intro"
                                        class="form-control no-resize rounded-right" placeholder="請輸入場所簡介"></textarea>
                                    <div ref="confirmMsg" class="invalid-feedback text-right"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row mx-0 bg-accent-dark op-8 text-light py-2 px-3">場所關鍵字</div>
                        <div class="border">
                            <div class="login-wrap my-4 mx-auto">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text bg-white">關鍵字</div>
                                    </div>
                                    <input type="text" ref="tagInput" class="form-control" placeholder="請輸入關鍵字">
                                    <div class="input-group-append">
                                        <button class="input-group-text btn btn-accent" @click="addTag">加入</button>
                                    </div>
                                </div>
                                <div class="tag-wrap d-flex flex-wrap">
                                    <tag-item v-for="t in tags" v-bind:tag="t" @send-delete-tag="deleteTag"></tag-item>
                                </div>
                            </div>
                        </div>

                        <div class="row mx-0 bg-accent-dark op-8 text-light py-2 px-3">場所照片</div>
                        <div class="border p-3">
                            <div class="d-flex flex-wrap">
                                <div v-for="i in 10" class="mx-auto text-center">
                                    <figure class="square-photo border bg-grey mx-auto my-4 position-relative">
                                        <img v-if="i <= imgUrl.length" :id="imgUrl[i-1].imageID" :src="imgUrl[i-1].img" alt="" class="img-cover">
                                        <img v-if="i > imgUrl.length" :id="'img'+ (i-1)" src="" alt="" class="img-cover img-preview-wrap">
                                        <figcaption v-if="i <= imgUrl.length && imgUrl[i-1].isMain"
                                            class="position-absolute bg-dark w-100 op-6 text-white small main-cap letter-spacing-s text-center"> 主圖片</figcaption>
                                    </figure>
                                    <button v-if="i <= imgUrl.length && !imgUrl[i-1].isMain" @click="setMain(i)" type="button" class="btn btn-accent m-1">設定</button>
                                    <button v-if="i <= imgUrl.length && !imgUrl[i-1].isMain" @click="deleteImg(i)" type="button"
                                        class="btn btn-outline-danger m-1">刪除</button>
<!--                                     <button v-if="!imgUrl[i-1]" @click="addImg" class="btn btn-accent m-1">新增</button> -->
                                </div>
                            </div>
                            <div class="form-inline my-4">
                                <div class="input-group mx-auto">
                                    <div class="input-group-prepend" id="basic-addon1">
                                        <div class="input-group-text bg-white">新增照片</div>
                                    </div>
                                    <input ref="fileInput"  multiple @change="previewImg" type="file"
                                        accept="image/*" class="form-control rounded-right check-input">
                                    <div ref="confirmMsg" class="invalid-feedback text-right"></div>
                                </div>
                            </div>                             
<!--                             upload img popup -->
<!--                             <div ref="uploadModal" class="modal fade bd-example-modal-sm px-5 input-modal" tabindex="-1" -->
<!--                                 role="dialog" aria-hidden="true"> -->
<!--                                 <div class="modal-dialog modal-dialog-centered modal-sm" role="document"> -->
<!--                                     <div class="modal-content pop-up"> -->
<!--                                         <div class="modal-body text-center p-4"> -->
<!--                                             <p class="my-3 font-weight-bold letter-spacing-s">上傳圖片</p> -->
<!--                                             <input ref="fileInput" type="file" accept="image/*" class="form-control"> -->
<!--                                         </div> -->
<!--                                         <p ref="uploadError" class="text-danger text-center small"></p> -->
<!--                                         <div class="modal-footer justify-content-center p-0 mb-3 border-0"> -->
<!--                                             <button type="button" class="btn btn-danger-s m-2 px-4 cancelBtn" -->
<!--                                                 data-dismiss="modal">取消</button> -->
<!--                                             <button @click="uploadImg" type="button" -->
<!--                                                 class="submitBtn btn btn-accent m-2 px-4">確定</button> -->
<!--                                         </div> -->
<!--                                     </div> -->
<!--                                 </div> -->
<!--                             </div> -->
                        </div>
                        
                        <div class="text-center pt-3 mb-5">
                            <a th:href="@{/admin/content/place-list}"
                                class="btn btn-danger-s letter-spacing-s m-1">取消</a>
                            <button ref="submitBtn" @click="checkValid"
                                class=" btn btn-bg-accent letter-spacing-s m-1">確認編輯</button>
                        </div>                        
                        
                        
                    </form>
                </main>
            </div>
            <!-- success & error Msg -->
            <div th:replace="part/_popupMsg ::div"></div>

        </div>
        <script th:src="@{/js/common.js}"></script>
        <script th:src="@{/js/loadingoverlay.min.js}"></script>
        <script th:inline="javascript">
            adminShowNavCurrent($('.content-place'));
            
            Vue.component('phone-item', {
                props: ['tag'],
                template: `<div class="keyword-tag position-relative">
                	聯絡人：{{tag.name}}&nbsp;&nbsp;&nbsp;電話：{{tag.phone}}
                        <button @click="delTag" :tag.prop="tag" class="delete-tag-btn no-focus bg-danger border-0 rounded-circle text-white p-0 font-weight-bold">-</button>
                    </div>`,
                methods: {
                    delTag: function (e) {
                        e.preventDefault();
                        let btn = e.target
                        this.$emit("send-delete-tag", e.target.tag);
                    }
                }
            })            

            Vue.component('tag-item', {
                props: ['tag'],
                template: `<div class="keyword-tag position-relative">
                        {{tag.tag}}
                        <button @click="delTag" :tag.prop="tag" class="delete-tag-btn no-focus bg-danger border-0 rounded-circle text-white p-0 font-weight-bold">-</button>
                    </div>`,
                methods: {
                    delTag: function (e) {
                        e.preventDefault();
                        let btn = e.target
                        this.$emit("send-delete-tag", e.target.tag);
                    }
                }
            });

            var dataForm = new Vue({
                el: '#dataForm',
                component: {},
                data: {
                    selList: [], //查詢選單項目
                    countyList: [],
                    cateList: [],
                    capacityList: [],
                    tags: [],
                    contacts: [],
                    imgUrl: [],
                    cate: {
                        mainID: "",
                        typeID: ""
                    },
                    placeInfo: {},
                    placeLink: {
                        hp: "",
                        fb: ""
                    },
                    selectedMainID:"",
                    setMainImageID: null,
                    imgCount: 0,
                },
                computed: {
                    subCateList: function () {
                        let mainCate = this.cateList.find(el => el.mainID == this.cate.mainID);
                        if (mainCate) {
//                             console.log(mainCate);
                            return mainCate.minorTypeList;
                        }
                        return [];
                    }
                },
                created: function () {
                	this.getPlaceCategoryList();
                    this.getCounty();
                    this.getCapacity();
                },
                mounted: function () {
                    formSetSubmitting();
                    this.getInfo();
                },
                methods: {
                	getPlaceCategoryList: function(){
                        axios.get('/web/place/type')
                        .then(response => {
//                         	console.log(response);
                            this.cateList = [...response.data.data];
                        })
                        .catch(error => { // 請求失敗處理
                            console.log("get user info error:" + error);
                        });                		
                	},
                    getCounty: function () {
                        axios.get('/fixedData/taiwan_county')
                            .then(response => {
                                this.countyList = [...response.data];
                            })
                            .catch(error => { // 請求失敗處理
                                console.log("get user info error:" + error);
                            });
                    },
                    getCapacity: function () {
                    	axios.get('/web/capacity')
                        .then(response => {
                            this.capacityList = [...response.data];
                        })
                        .catch(error => { // 請求失敗處理
                            console.log("get user info error:" + error);
                        }); 
                    },
                    previewImg: function (e) {
                        e.preventDefault();
                        let input = this.$refs.fileInput;
                        this.imgCount = this.imgUrl.length;
                        $('.img-preview-wrap').attr('src', '');

                        if (input && input.files) {
                            let filesAmt = input.files.length;
                            if (filesAmt > 10) {
                                filesAmt = 10;
                                // showErrorMsg("照片上傳以10張為限");
                                input.setCustomValidity("照片上傳以10張為限");
                                input.nextElementSibling.innerText = input.validationMessage;
                                input.classList.add('is-invalid');
                                input.classList.remove('is-valid');
                            } else {
                                input.setCustomValidity("");
                                input.nextElementSibling.innerText = input.validationMessage;
                                input.classList.remove('is-invalid');
                                input.classList.add('is-valid');
                            }
                            for (i = 0; i < filesAmt; i++) {
//                             	console.log('img' + (this.imgCount));
                                let img = document.getElementById('img' + (this.imgCount));
//                                 console.log(img);
                                var reader = new FileReader();
                                reader.onload = function (e) {
                                    img.src = e.target.result
                                    // this.headImgSrc = e.target.result;
                                }
                                reader.readAsDataURL(input.files[i]);
                                this.imgCount++;
                            }
                        }
                    },
                    setMain: function(index){
                    	[...this.imgUrl].forEach(img => {
                    		img.isMain = false;
                    	})
                    	this.imgUrl[index-1].isMain = true;
                 	},                    
                    getInfo: function () {
                        // get ad info
                        let self = this;
                        axios
                            .get('/admin/place/'+ [[${ pID }]])
                            .then(response => {
                                let res = response.data;
//                                 console.log(res);
                                if (res.code==200) {
                                    self.placeInfo = res.data.placeInfo;
                                    self.cate.mainID = res.data.placeInfo.mainID;
                                    self.cate.typeID = res.data.placeInfo.typeID;
                                    self.cate.capacitySN = res.data.placeInfo.max;
                                    self.tags = res.data.placeTagList;
                                    self.contacts = res.data.placeInfo.liaison;
                                    self.imgUrl = res.data.placeImgList;
                                    self.imgCount = res.data.placeImgList.length;
                                    self.placeLink.hp = res.data.placeInfo.website;
                                    self.placeLink.fb = res.data.placeInfo.facebook;
                                    // set datepicker val
                                } else {
                                    console.log("get ad info error:" + res.message);
                                }
                            })
                            .catch(function (error) { // 請求失敗處理
                                console.log("get ad info error:" + error);
                            });
                    },
                    checkOverToday: function (date) {
                        const today = new Date();
                        let checkDate = new Date(date);
                        return checkDate >= today;
                    },
                    deleteImg: function (index) {
                        this.imgUrl.splice(index-1,1);
                        console.log(this.imgUrl);
                    },
                    editImg: function (e) {
                        e.preventDefault();
                        this.showUploadModal();
                    },
                    addImg: function (e) {
                        e.preventDefault();
                        this.showUploadModal();
                    },
                    showUploadModal: function () {

                        let modal = this.$refs.uploadModal;
                        let input = this.$refs.fileInput;
                        let errorMsg = this.$refs.uploadError;

                        errorMsg.innerText = "";
                        input.classList.remove('is-valid');
                        input.classList.remove('is-inValid');
                        $(modal).modal('show');
                    },
                    uploadImg: function (e) {
                        let input = this.$refs.fileInput;
                        let btn = e.target;
                        let modal = this.$refs.uploadModal;
                        let errorMsg = this.$refs.uploadError;

                        errorMsg.innerText = "";
                        input.classList.remove('is-valid');
                        input.classList.remove('is-inValid');
                        btn.setAttribute("disabled", true);

                        if (input.files.length > 0) {
                            input.classList.add('is-valid');
                            input.classList.remove('is-invalid');
                            // TODO:send upload ajax and get new img url>>update this.headImgSrc
                            let formData = new FormData();
                            formData.append("image", input.files[0]);
                            formData.append('sn', [[${ pID }]]);
                            axios.post('/', formData, {
                                headers: {
                                    'Content-Type': 'multipart/form-data'
                                }
                            }).then(function (response) { //success
                                let res = response.data;
                                console.log(res);
                                if (res.success) {
                                    btn.removeAttribute("disabled");
                                    $(modal).modal('hide');
                                    showSuccessMsg(res.msg);
                                    this.headImgSrc = res.imgUrl;
                                    errorMsg.innerText = "";
                                } else {
                                    errorMsg.innerText = res.msg;
                                    btn.removeAttribute("disabled");
                                }
                            }).catch(function (error) { //error
                                console.error(error);
                                errorMsg.innerText = '發生系統錯誤，未送出資料';
                                btn.removeAttribute("disabled");
                            })

                        } else {
                            input.classList.remove('is-valid');
                            input.classList.add('is-invalid');
                            btn.removeAttribute("disabled");
                        }
                    },
                    addTagFunc: function (newTag, tagArr, input,str) {
                        if (newTag) {
                            if (tagArr.indexOf(newTag) < 0) { //檢查重複
                                tagArr.push(newTag);
                                input.value = "";
                            } else {
                                showErrorMsg('請勿重複輸入同樣的'+str);
                            }
                        }
                    },
                    deleteTagFunc: function (tagName, arr) {
                        const index = arr.indexOf(tagName);
                        if (index > -1) {
                            arr.splice(index, 1);
                        }
                    },
                    addTag: function (e) {
                        e.preventDefault();
                        let tagArr = this.tags;
                        let input = this.$refs.tagInput
                        let newTag = input.value;
                        if (newTag) {
                        	let check = true;
                        	tagArr.forEach(function(v){ //檢查重複
                        		if(v.tag.indexOf(newTag)>=0){
                        			showErrorMsg('請勿重複輸入同樣的tag');
                        			check = false;
                        			return null;
                        		}	
                        	});
                        	if(check){
                            	tagArr.push({tag:newTag});
                                input.value = "";                        		
                        	}
                        }
                    },
                    deleteTag: function (tagName) {
                        const index = this.tags.indexOf(tagName);
                        if (index > -1) {
                            this.tags.splice(index, 1);
                        }
                    },
                    addPhoneFunc: function (newTag, tagArr, inputs,str) {
                        if (newTag) {
                        	// 檢查重複
                        	let check = false;
                        	[...tagArr].forEach(tag => {
                        		if(tag.name == newTag.name && tag.phone == newTag.phone){
                        			check = true;
                        			return null;
                        		}
                        	})
                        	if(check){
                        		showErrorMsg('請勿重複輸入同樣的'+str);                         		
                        	}else{
                                tagArr.push(newTag);
                                [...inputs].forEach(input=>{
                                	input.value = "";
                                })
//                                 console.log(tagArr);   
                        	}
                        }
                    },
                    deletePhoneFunc: function (tagName, arr) {
                        const index = arr.indexOf(tagName);
                        if (index > -1) {
                            arr.splice(index, 1);
                        }
                    },
                    addPhone: function (e) {
                        e.preventDefault();
                        let input = this.$refs.phoneInput
                        let liaison = this.$refs.liaisonInput;
                    	if(input.value.length==0 || liaison.value.length==0){
                    		showErrorMsg('聯絡人與電話不能空白加入');
                    		return null;
                    	}
                        let newTag = {name:liaison.value, phone:input.value};
                        this.addPhoneFunc(newTag, this.contacts, [input, liaison],"電話");
                    },
                    deletePhone: function (tagName) {
                        this.deletePhoneFunc(tagName, this.contacts);
                    },
                    checkValid: function (e) {
                        e.preventDefault();
                        let btn = this.$refs.submitBtn;
                        let form = this.$el;
                        let inputs = form.querySelectorAll('.check-input');
                        if (!form.submitting) {
                            form.submitting = true;
                            btn.setAttribute("disabled", true);
                            form.classList.add('was-validated');
                            console.log(form.checkValidity());
                            if (form.checkValidity()) {
                                this.sendAjax();
                            } else {
                                for (var item of inputs) {
                                    item.nextElementSibling.innerText = item.validationMessage;
                                }
                                form.submitting = false;
                                btn.removeAttribute("disabled");
                            }
                        } else {
                            return false;
                        };
                    },
                    sendAjax: function () {
                    	$('body').LoadingOverlay('show');
                        let form = this.$el;
                        let btn = this.$refs.submitBtn;
                        let fd = new FormData(form); //form data
//                         fd.append('tags', JSON.stringify(this.tags));
//                         fd.append('mastersR', JSON.stringify(this.mastersR));
//                         fd.append('phones', JSON.stringify(this.contacts));
                        let imgFiles = this.$refs.fileInput.files;
                        [...imgFiles].forEach(file => {
                            fd.append("files", file)
                        });
                        
                        let tagList = [];
                        [...this.tags].forEach(tag=>{
                        	tagList.push(tag.tag);
                        })
                        
                        fd.append('tagList', tagList);
                        let index = 0;
                        [...this.contacts].forEach(contact => {
                        	fd.append('placeLiaisonList['+ index + '].name', contact.name);	
                        	fd.append('placeLiaisonList['+ index + '].phone', contact.phone);
                        	index++;
                        });
                        
                        let mainImageID=null;
                        let imageIDList = [];
                        [...this.imgUrl].forEach(image =>{
                        	console.log(image.isMain);
                        	if(image.isMain){
                        		mainImageID = image.imageID
                        		fd.append('mainImageID', mainImageID);
                        	}
                        	imageIDList.push(image.imageID);
                        });
                        fd.append('imageIDList', imageIDList);

//                      	for (var [key, value] of fd.entries()) { 
//                   	  		console.log(key, value);
//                   		}

                        axios.put('/admin/place/' + [[${pID}]], fd, { //send ajax
                            headers: {
                                'Content-Type': 'multipart/form-data'
                            }
                        })
                        .then(function (response) { //success
                            console.log(response);
                            if (response.data.code==204) {
                                showSuccessMsg("更新成功");
                                window.setTimeout(() => location.href = "/admin/content/place-list", 2000);
                            } else {
                                showErrorMsg(response.data.errMsg);
                                form.submitting = false;
                                btn.removeAttribute("disabled");
                            }
                            $('body').LoadingOverlay('hide');
                        })
                        .catch(function (error) { //error
                        	$('body').LoadingOverlay('hide');
                            console.error(error);
                            showErrorMsg('發生系統錯誤，未送出資料');
                            form.submitting = false;
                            btn.removeAttribute("disabled");
                        });
                    }
                }
            })

            $('.input-modal').on('hidden.bs.modal', function (e) {
                $('.input-modal').find('input').val("");
            });



        </script>

</body>

</html>
