<!DOCTYPE html>
<html lang="en">
<div th:replace="admin/_admin_head ::head"></div>

<body>
    <div class="wrap admin">
        <div class="wrap index admin">
            <div th:replace="admin/part/_backstageHeader ::header"></div>
            <div class="header-space"></div>
            <div class="d-flex h-100">
                <div th:replace="admin/part/_backstageNav ::nav"></div>
                <div class="admin-nav-space"></div>
                <main class="main-session w-100 px-4">
                    <h1 class="h3 mt-5 mb-3 text-accent">新增場所</h1>
                    <!-- breadcrumb -->
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><span class="text-accent-dark op-6">內容管理</span></li>
                            <li class="breadcrumb-item"><a th:href="@{/admin/content/place-list}"
                                    class="text-accent">場所列表</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">新增場所</li>
                        </ol>
                    </nav>
                    <form id="dataForm" class="needs-validation mt-3 pt-2" novalidate method="POST">

                        <div class="row mx-0 bg-accent-dark op-8 text-light py-2 px-3">場所資訊</div>
                        <div class="border">
                            <div class="login-wrap my-4 mx-auto">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text bg-grey">場所編號</div>
                                    </div>
                                    <div class="form-control text-left bg-grey">-</div>
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text bg-white">場所名稱<span
                                                class="text-danger-s ml-1">*</span>
                                        </div>
                                    </div>
                                    <input type="text" name="name" required 
                                        class="check-input form-control rounded-right" placeholder="請輸入場所名稱">
                                    <div ref="confirmMsg" class="invalid-feedback text-right"></div>
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text bg-white">場所分類<span
                                                class="text-danger-s ml-1">*</span>
                                        </div>
                                    </div>
                                    <select name="mainID" id="" v-model="cate.mainID" required
                                        class="form-control check-input">
                                        <option value="" disabled>--請選擇大分類--</option>
                                        <option v-for="c in cateList" :value="c.mainID">{{c.name}}</option>
                                    </select>
                                    <select name="typeID" id="" v-model="cate.typeID" required
                                        class="form-control rounded-right check-input">
                                        <option value="" disabled>--請選擇小分類--</option>
                                        <option v-for="c in subCateList" :value="c.typeID">{{c.name}}</option>
                                    </select>
                                    <div ref="confirmMsg" class="invalid-feedback text-right"></div>
                                </div>

                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text bg-white">場所區域<span
                                                class="text-danger-s ml-1">*</span>
                                        </div>
                                    </div>
                                    <select name="county" id="" required class="form-control check-input">
                                        <option value="">--請選擇區域--</option>
                                        <option v-for="c in countyList" :value="c">{{c}}</option>
                                    </select>
                                    <div ref="confirmMsg" class="invalid-feedback text-right"></div>
                                </div>

                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text bg-white">場所地址<span
                                                class="text-danger-s ml-1">*</span>
                                        </div>
                                    </div>
                                    <input type="text" name="address" class="form-control rounded-right" placeholder="請輸入地址(排除縣市)">
                                    <div ref="confirmMsg" class="invalid-feedback text-right"></div>
                                </div>
                                
                                <div v-if="cate.mainID==29" class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text bg-white">最大容納人數<span
                                                class="text-danger-s ml-1">*</span>
                                        </div>
                                    </div>
									<select name="max" id="" required class="form-control check-input">
										<option value="">--請選擇最大容納人數--</option>
										<option v-for="(c, index) in capacityList" :value="index">{{c}}</option>
									</select>
                                    <div ref="confirmMsg" class="invalid-feedback text-right"></div>
                                </div>                                

                                <div v-if="cate.mainID==29" class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text bg-white">場地面積(坪)<span
                                                class="text-danger-s ml-1">*</span>
                                        </div>
                                    </div>
                                    <input type="number" name="area" min="0" class="form-control rounded-right" placeholder="請輸入場地面積">
                                    <div ref="confirmMsg" class="invalid-feedback text-right"></div>
                                </div>   

                                <div v-if="cate.mainID==29" class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text bg-white">管理單位<span
                                                class="text-danger-s ml-1">*</span>
                                        </div>
                                    </div>
                                    <input type="text" name="unit" class="form-control rounded-right" placeholder="請輸入管理單位">
                                    <div ref="confirmMsg" class="invalid-feedback text-right"></div>
                                </div>  
                                
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text bg-white">聯絡電話</div>
                                    </div>
                                    <input ref="liaisonInput" type="text" class="check-input form-control"
                                        placeholder="請輸入聯絡人">
                                    <input ref="phoneInput" type="text" class="check-input form-control"
                                        placeholder="請輸入聯絡電話">                                        
                                    <div class="input-group-append">
                                        <button class="input-group-text btn btn-accent" @click="addPhone">加入</button>
                                    </div>
                                    <div ref="confirmMsg" class="invalid-feedback text-right"></div>
                                </div>
                                <div class="tag-wrap d-flex flex-wrap  mb-3">
                                    <phone-item v-for="t in contacts" v-bind:tag="t" @send-delete-tag="deletePhone">
                                    </phone-item>
                                </div> 
<!--                                 <div class="tag-wrap d-flex flex-wrap  mb-3"> -->
<!--                                     <tag-item v-for="t in contacts" v-bind:tag="t" @send-delete-tag="deletePhone"> -->
<!--                                     </tag-item> -->
<!--                                 </div> -->
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text bg-white">電子郵件</div>
                                    </div>
                                    <input type="email" name="mail" class="check-input form-control rounded-right"
                                        placeholder="請輸入聯絡信箱">
                                    <div ref="confirmMsg" class="invalid-feedback text-right"></div>
                                </div>
                                <div class="input-group mb-1">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text bg-white">官方網站</div>
                                    </div>
                                    <input type="url" name="website" v-model="placeLink.hp" 
                                        class="check-input form-control rounded-right" placeholder="https://">
                                    <div ref="confirmMsg" class="invalid-feedback text-right"></div>
                                </div>
                                <p class="text-right text-accent"><a :href="placeLink.hp" :title="placeLink.hp"
                                        target="_blank">查看連結</a></p>
                                <div class="input-group mb-1">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text bg-white">官方Facebook</div>
                                    </div>
                                    <input type="url" name="facebook" v-model="placeLink.fb" 
                                        class="check-input form-control rounded-right" placeholder="https://">
                                    <div ref="confirmMsg" class="invalid-feedback text-right"></div>
                                </div>
                                <p class="text-right text-accent"><a :href="placeLink.fb" :title="placeLink.fb"
                                        target="_blank">查看連結</a></p>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text bg-white">服務項目</div>
                                    </div>
                                    <input type="text" name="service" class="check-input form-control rounded-right"
                                        placeholder="請輸入服務項目">
                                    <div ref="confirmMsg" class="invalid-feedback text-right"></div>
                                </div>
                                <div class="input-group mb-1">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text bg-white">場所簡介</div>
                                    </div>
                                    <textarea name="intro" id="" cols="30" rows="10"
                                        class="form-control no-resize rounded-right" placeholder="請輸入場所簡介"></textarea>
                                    <div ref="confirmMsg" class="invalid-feedback text-right"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row mx-0 bg-accent-dark op-8 text-light py-2 px-3">場所關鍵字</div>
                        <div class="border">
<!--                             <div class="login-wrap my-4 mx-auto"> -->
<!--                                 <div class="input-group mb-3"> -->
<!--                                     <div class="input-group-prepend"> -->
<!--                                         <div class="input-group-text bg-white">推薦達人</div> -->
<!--                                     </div> -->
<!--                                     <input type="text" ref="masterRInput" class="form-control" placeholder="請輸入達人ID"> -->
<!--                                     <div class="input-group-append"> -->
<!--                                         <button class="input-group-text btn btn-accent" @click="addMasterR">加入</button> -->
<!--                                     </div> -->
<!--                                 </div> -->
<!--                                 <div class="tag-wrap d-flex flex-wrap"> -->
<!--                                     <master-item v-for="m in mastersR" v-bind:master="m" -->
<!--                                         @send-delete-master="deleteMasterR"></master-item> -->
<!--                                 </div> -->
<!--                             </div> -->
                            <div class="login-wrap my-4 mx-auto">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text bg-white">關鍵字</div>
                                    </div>
                                    <input type="text" ref="tagInput" class="form-control" placeholder="請輸入關鍵字">
                                    <div class="input-group-append">
                                        <button class="input-group-text btn btn-accent" @click="addTag">加入</button>
                                    </div>
                                </div>
                                <div class="tag-wrap d-flex flex-wrap">
                                    <tag-item v-for="t in tags" v-bind:tag="t" @send-delete-tag="deleteTag"></tag-item>
                                </div>
                            </div>
                        </div>
                        <div class="row mx-0 bg-accent-dark op-8 text-light py-2 px-3">上傳照片</div>
                        <div class="border">
                            <div class="d-flex flex-wrap">
                                <figure v-for="i in 10" class="square-photo border bg-grey mx-auto my-4 position-relative">
                                    <img :id="'img'+i" src="" alt="" class="img-cover img-preview-wrap">
                                    <figcaption v-if="i==1" class="position-absolute bg-dark w-100 op-6 text-white small main-cap letter-spacing-s text-center">主圖片</figcaption>
                                </figure>
                            </div>
                            <div class="form-inline mb-4">
                                <div class="input-group mx-auto">
                                    <div class="input-group-prepend" id="basic-addon1">
                                        <div class="input-group-text bg-white">選擇照片<span
                                                class="text-danger-s ml-1">*</span></div>
                                    </div>
                                    <input ref="fileInput" required multiple @change="previewImg" type="file"
                                        accept="image/*" class="form-control rounded-right check-input">
                                    <div ref="confirmMsg" class="invalid-feedback text-right"></div>
                                </div>
                            </div>
                        </div>
                        <div class="text-center pt-3 mb-5">
                            <a th:href="@{/admin/content/place-list}"
                                class="btn btn-danger-s letter-spacing-s m-1">取消</a>
                            <button ref="submitBtn" @click="checkValid"
                                class=" btn btn-bg-accent letter-spacing-s m-1">新增場所</button>
                        </div>
                    </form>
                </main>
            </div>
            <!-- success & error Msg -->
            <div th:replace="part/_popupMsg ::div"></div>

        </div>
        <script th:src="@{/js/common.js}"></script>
        <script th:src="@{/js/loadingoverlay.min.js}"></script>
        <script th:inline="javascript">
            adminShowNavCurrent($('.content-place'));

            Vue.component('phone-item', {
                props: ['tag'],
                template: `<div class="keyword-tag position-relative">
                	聯絡人：{{tag.name}}&nbsp;&nbsp;&nbsp;電話：{{tag.phone}}
                        <button @click="delTag" :tag.prop="tag" class="delete-tag-btn no-focus bg-danger border-0 rounded-circle text-white p-0 font-weight-bold">-</button>
                    </div>`,
                methods: {
                    delTag: function (e) {
                        e.preventDefault();
                        let btn = e.target
                        this.$emit("send-delete-tag", e.target.tag);
                    }
                }
            })
            
            Vue.component('tag-item', {
                props: ['tag'],
                template: `<div class="keyword-tag position-relative">
                        {{tag}}
                        <button @click="delTag" :tag.prop="tag" class="delete-tag-btn no-focus bg-danger border-0 rounded-circle text-white p-0 font-weight-bold">-</button>
                    </div>`,
                methods: {
                    delTag: function (e) {
                        e.preventDefault();
                        let btn = e.target
                        this.$emit("send-delete-tag", e.target.tag);
                    }
                }
            })

            var dataForm = new Vue({
                el: '#dataForm',
                component: {},
                data: {
                    selList: [], //查詢選單項目
                    countyList: [],
                    cateList: [],
                    capacityList: [],
                    tags: [],
                    contacts: [],
                    cate: {
                        mainID: "",
                        typeID: ""
                    },
                    placeLink: {
                        hp: "",
                        fb: ""
                    },
                    selectedMainID:""
                },
                computed: {
                    subCateList: function () {
                        let mainCate = this.cateList.find(el => el.mainID == this.cate.mainID);
                        if (mainCate) {
//                             console.log(mainCate);
                            return mainCate.minorTypeList;
                        }
                        return [];
                    }
                },
                created: function () {
                    this.getPlaceCategoryList();
                    this.getCounty();
                    this.getCapacity();
                },
                mounted: function () {
                    formSetSubmitting();
                },
                methods: {
                	getPlaceCategoryList: function(){
                        axios.get('/web/place/type')
                        .then(response => {
                        	console.log(response);
                            this.cateList = [...response.data.data];
                        })
                        .catch(error => { // 請求失敗處理
                            console.log("get user info error:" + error);
                        });                		
                	},
                    getCounty: function () {
                        axios.get('/fixedData/taiwan_county')
                            .then(response => {
                                this.countyList = [...response.data];
                            })
                            .catch(error => { // 請求失敗處理
                                console.log("get user info error:" + error);
                            });
                    },
                    getCapacity: function () {
                    	axios.get('/web/capacity')
                        .then(response => {
                            this.capacityList = [...response.data];
                        })
                        .catch(error => { // 請求失敗處理
                            console.log("get user info error:" + error);
                        }); 
                    },
                    previewImg: function (e) {
                        e.preventDefault();
                        let input = this.$refs.fileInput;
                        $('.img-preview-wrap').attr('src', '');

                        if (input && input.files) {
                            let filesAmt = input.files.length;
                            if (filesAmt > 10) {
                                filesAmt = 10;
                                // showErrorMsg("照片上傳以10張為限");
                                input.setCustomValidity("照片上傳以10張為限");
                                input.nextElementSibling.innerText = input.validationMessage;
                                input.classList.add('is-invalid');
                                input.classList.remove('is-valid');
                            } else {
                                input.setCustomValidity("");
                                input.nextElementSibling.innerText = input.validationMessage;
                                input.classList.remove('is-invalid');
                                input.classList.add('is-valid');
                            }
                            for (i = 0; i < filesAmt; i++) {
                                let img = document.getElementById('img' + (i + 1));
                                var reader = new FileReader();
                                reader.onload = function (e) {
                                    img.src = e.target.result
                                    // this.headImgSrc = e.target.result;
                                }
                                reader.readAsDataURL(input.files[i]);
                            }
                        }
                    },
                    addTagFunc: function (newTag, tagArr, input,str) {
                        if (newTag) {
                            if (tagArr.indexOf(newTag) < 0) { //檢查重複
                                tagArr.push(newTag);
                                input.value = "";
                            } else {
                                showErrorMsg('請勿重複輸入同樣的'+str);
                            }
                        }
                    },
                    deleteTagFunc: function (tagName, arr) {
                        const index = arr.indexOf(tagName);
                        if (index > -1) {
                            arr.splice(index, 1);
                        }
                    },
                    addTag: function (e) {
                        e.preventDefault();
                        let input = this.$refs.tagInput
                        let newTag = input.value;
                        this.addTagFunc(newTag, this.tags, input,"tag");
                    },
                    deleteTag: function (tagName) {
                        this.deleteTagFunc(tagName, this.tags);
                    },
                    addPhoneFunc: function (newTag, tagArr, inputs,str) {
                        if (newTag) {
                        	// 檢查重複
                        	let check = false;
                        	[...tagArr].forEach(tag => {
                        		if(tag.name == newTag.name && tag.phone == newTag.phone){
                        			check = true;
                        			return null;
                        		}
                        	})
                        	if(check){
                        		showErrorMsg('請勿重複輸入同樣的'+str);                         		
                        	}else{
                                tagArr.push(newTag);
                                [...inputs].forEach(input=>{
                                	input.value = "";
                                })
//                                 console.log(tagArr);   
                        	}
                        }
                    },
                    deletePhoneFunc: function (tagName, arr) {
                        const index = arr.indexOf(tagName);
                        if (index > -1) {
                            arr.splice(index, 1);
                        }
                    },
                    addPhone: function (e) {
                        e.preventDefault();
                        let input = this.$refs.phoneInput
                        let liaison = this.$refs.liaisonInput;
                    	if(input.value.length==0 || liaison.value.length==0){
                    		showErrorMsg('聯絡人與電話不能空白加入');
                    		return null;
                    	}
                        let newTag = {name:liaison.value, phone:input.value};
                        this.addPhoneFunc(newTag, this.contacts, [input, liaison],"電話");
                    },
                    deletePhone: function (tagName) {
                        this.deletePhoneFunc(tagName, this.contacts);
                    },
//                     addMaster: function (e) {
//                         e.preventDefault();
//                         let input = this.$refs.masterInput;
//                         this.addMasterFunc(this.masters, input);
//                     },
//                     addMasterR: function (e) {
//                         e.preventDefault();
//                         let input = this.$refs.masterRInput;
//                         this.addMasterFunc(this.mastersR, input);
//                     },
//                     addMasterFunc: function (masterArr, input) {

//                         let newTag = {};
//                         newTag.id = input.value;

//                         if (newTag.id) {
//                             if (masterArr.findIndex(el => el.id === newTag.id) === -1) { //檢查重複
//                                 // TODO: call ajax and get master name
//                                 newTag.name = "翁小小"; //set master name
//                                 masterArr.push(newTag);
//                                 input.value = "";
//                             } else {
//                                 showErrorMsg('請勿重複輸入同樣的達人編號');
//                             }
//                         }
//                     },
//                     deleteMaster: function (tagID) {
//                         this.deleteMasterFunc(tagID, this.masters);
//                     },
//                     deleteMasterR: function (tagID) {
//                         this.deleteMasterFunc(tagID, this.mastersR);
//                     },
//                     deleteMasterFunc: function (id, arr) {
//                         const index = arr.findIndex(el => el.id == id);
//                         if (index > -1) {
//                             arr.splice(index, 1);
//                         }
//                     },
                    checkValid: function (e) {
                        e.preventDefault();
                        let btn = this.$refs.submitBtn;
                        let form = this.$el;
                        let inputs = form.querySelectorAll('.check-input');
                        if (!form.submitting) {
                            form.submitting = true;
                            btn.setAttribute("disabled", true);
                            form.classList.add('was-validated');
                            console.log(form.checkValidity());
                            if (form.checkValidity()) {
                                this.sendAjax();
                            } else {
                                for (var item of inputs) {
                                    item.nextElementSibling.innerText = item.validationMessage;
                                }
                                form.submitting = false;
                                btn.removeAttribute("disabled");
                            }
                        } else {
                            return false;
                        };
                    },
                    sendAjax: function () {
                    	$('body').LoadingOverlay('show');
                        let form = this.$el;
                        let btn = this.$refs.submitBtn;
                        let fd = new FormData(form); //form data
                        let imgFiles = this.$refs.fileInput.files;
                        [...imgFiles].forEach(file => {
                            fd.append("files", file)
                        });
                        fd.append('tagList', this.tags);
                        let index = 0;
                        [...this.contacts].forEach(contact => {
                        	fd.append('placeLiaisonList['+ index + '].name', contact.name);	
                        	fd.append('placeLiaisonList['+ index + '].phone', contact.phone);
                        	index++;
                        })
                        
//                         for (var [key, value] of fd.entries()) { 
//                         	  console.log(key, value);
//                         }
                        
                        axios.post('/admin/place', fd, { //send ajax
                            headers: {
                                'Content-Type': 'multipart/form-data'
                            }
                        })
                        .then(function (response) { //success
//                             console.log(response);
                        	$('body').LoadingOverlay('hide');
                            if (response.data.code==201) {
                                showSuccessMsg("新增成功");
                                window.setTimeout(() => location.href = "/admin/content/place-list", 2000);
                            } else {
                                showErrorMsg(response.data.errMsg);
                                form.submitting = false;
                                btn.removeAttribute("disabled");
                            }
                        })
                        .catch(function (error) { //error
                        	$('body').LoadingOverlay('hide');
                            console.error(error);
                            showErrorMsg('發生系統錯誤，未送出資料');
                            form.submitting = false;
                            btn.removeAttribute("disabled");
                        });
                    }
                }
            })

            $('.input-modal').on('hidden.bs.modal', function (e) {
                $('.input-modal').find('input').val("");
            });

        </script>
</body>

</html>
