<!DOCTYPE html>
<html lang="en">
<div th:replace="admin/_admin_head ::head"></div>

<body>
    <div class="wrap admin">
        <div class="wrap index admin">
            <div th:replace="admin/part/_backstageHeader ::header"></div>
            <div class="header-space"></div>
            <div class="d-flex h-100">
                <div th:replace="admin/part/_backstageNav ::nav"></div>
                <div class="admin-nav-space"></div>
                <main id="data-wrap" class="main-session w-100 px-4">
                    <h1 class="h3 mt-5 mb-3 text-accent">{{masterInfo.publicName}}</h1>
                    <!-- breadcrumb -->
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><span class="text-accent-dark op-6">分類管理</span></li>
                            <li class="breadcrumb-item"><a th:href="@{/admin/cate/master/cate-list}"
                                    class="text-accent">達人分類</a></li>
                            <li class="breadcrumb-item"><a :href="'/admin/cate/master/master-list/'+masterInfo.mainID"
                                    class="text-accent">{{masterInfo.mainTypeName}}大分類</a></li>
                            <li class="breadcrumb-item"><a :href="'/admin/cate/master/m/master-list/'+masterInfo.middleID"
                                    class="text-accent">{{masterInfo.middleTypeName}}中分類</a></li>
                            <li class="breadcrumb-item"><a :href="'/admin/cate/master/s/master-list/'+masterInfo.typeID"
                                    class="text-accent">{{masterInfo.typeName}}小分類</a></li>
                            <li class="breadcrumb-item active" aria-current="page">達人詳情</li>
                        </ol>
                    </nav>
                    <!-- 達人資訊 -->
                    <div>
                        <div class="row mx-0 bg-accent-dark op-8 text-light py-2 px-3">達人資訊</div>
                        <div class="border d-flex p-5 ">
                            <figure class="head-photo user mx-auto rounded-circle bg-grey">
                                <img :src="masterInfo.img" alt="" class="img-cover">
                            </figure>
                            <div class="container mx-auto pl-5">
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text bg-trans border-0 text-accent">達人編號</div>
                                    </div>
                                    <div class="form-control text-left bg-trans border-0">{{masterInfo.masterID}}</div>
                                </div>
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text bg-trans border-0 text-accent">版本編號</div>
                                    </div>
                                    <div class="form-control text-left bg-trans border-0">{{masterInfo.editID}}</div>
                                </div>                                
                                <div class="d-flex mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text bg-trans border-0 text-accent">達人姓名</div>
                                    </div>
                                    <div class="form-control h-100 text-left bg-trans border-0">{{masterInfo.lastName}}{{masterInfo.firstName}}</div>
                                </div>
                                <div class="d-flex mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text bg-trans border-0 text-accent">達人專長</div>
                                    </div>
                                    <div class="form-control h-100 text-left bg-trans border-0">{{masterInfo.mainTypeName}} - {{masterInfo.middleTypeName}}
                                        - {{masterInfo.typeName}}</div>
                                </div>
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text bg-trans border-0 text-accent">電子郵件</div>
                                    </div>
                                    <div class="form-control text-left bg-trans border-0">
                                        {{masterInfo.mail}}</div>
                                </div>
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text bg-trans border-0 text-accent">聯絡電話</div>
                                    </div>
                                    <div class="form-control text-left bg-trans border-0">
                                        {{masterInfo.phone}}</div>
                                </div>
<!--                                 <div class="input-group mb-2"> -->
<!--                                     <div class="input-group-prepend"> -->
<!--                                         <div class="input-group-text bg-trans border-0 text-accent">聯絡手機</div> -->
<!--                                     </div> -->
<!--                                     <div class="form-control text-left bg-trans border-0"> -->
<!--                                         {{masterInfo.cell}}</div> -->
<!--                                 </div> -->

                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text bg-trans border-0 text-accent">聯絡地址</div>
                                    </div>
                                    <div class="form-control text-left bg-trans border-0">
                                        {{masterInfo.county}}{{masterInfo.address}}</div>
                                </div>
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text bg-trans border-0 text-accent">個人網站</div>
                                    </div>
                                    <div class="form-control text-left bg-trans border-0 text-accent">
                                        <a :href="masterInfo.website" target="_blank">{{masterInfo.website}}</a>
                                    </div>
                                </div>
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text bg-trans border-0 text-accent mr-4">LineID</div>
                                    </div>
                                    <div class="form-control text-left bg-trans border-0">
                                        {{masterInfo.lineID}}</div>
                                </div>
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text bg-trans border-0 text-accent">Facebook</div>
                                    </div>
                                    <div class="form-control text-left bg-trans border-0">
                                        {{masterInfo.facebook}}</div>
                                </div>
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text bg-trans border-0 text-accent">工作單位</div>
                                    </div>
                                    <div class="form-control text-left bg-trans border-0">
                                        {{masterInfo.company}}</div>
                                </div>
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text bg-trans border-0 text-accent">在世狀況</div>
                                    </div>
                                    <div class="form-control text-left bg-trans border-0">
                                        {{masterInfo.alive==1 ? '是':'否' }}</div>
                                </div>
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text bg-trans border-0 text-accent">達人簡介</div>
                                    </div>
                                    <div class="form-control h-100 text-left bg-trans border-0">{{masterInfo.intro}}
                                    </div>
                                </div>
                                <div v-if="masterInfo.legend" class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text bg-trans border-0 text-accent">封神事蹟</div>
                                    </div>
                                    <div class="form-control h-100 text-left bg-trans border-0">{{masterInfo.legend}}
                                    </div>
                                </div>
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text bg-trans border-0 text-accent">版本編輯</div>
                                    </div>
                                    <div class="form-control h-100 text-left bg-trans border-0">{{masterInfo.account? masterInfo.account : '後台編輯' }}
                                    </div>
                                </div>                                
                                
                            </div>


                        </div>
                        <div class="row mx-0 bg-accent-dark op-8 text-light py-2 px-3">達人Tag（對應前台的專家專長）</div>
                        <div class="border">
                            <div class="container p-5 mx-auto">
                                <div class="">
                                    <p class="text-accent mb-1 ">關鍵字</p>
                                    <div class="tag-wrap d-flex flex-wrap">
                                        <div class="keyword-tag" v-for="t in masterTag">{{t.tag}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="text-center my-4">
                            <button @click="backPage" class=" btn btn-accent letter-spacing-s m-1">返回上一頁</button>
                        </div>
                    </div>
                </main>
            </div>
            <!-- success & error Msg -->
            <div th:replace="part/_popupMsg ::div"></div>

        </div>
        <script th:src="@{/js/common.js}"></script>
        <script th:inline="javascript">
            adminShowNavCurrent($('.content-master'));

            var dataTable = new Vue({
                el: '#data-wrap',
                data: {
                    limit: {
                        read: checkLimit([], "1"),
                        edit: checkLimit([], "2"),
                        delete: checkLimit([], "3")
                    },
                    masterInfo: {},
                    masterTag:[],
                    cateLevel: [//[0]大分類,([1]中分類,)[2]小分類
       
                    ]
                },
                computed: {
                },
                created: function () { //call ajax
                    this.getInfo();
                },
                mounted: function () {

                },
                methods: {
                    getInfo: function () {
                        // get account info
                        let self = this;
                        axios
                            .get('/admin/master/edit/' + [[${ editID }]] )
                            .then(response => {
                                let res = response.data
                                console.log(res);
                                if (res.code==200) {
                                    this.masterInfo = res.data.masterEdit;
                                    this.masterTag = res.data.tagEditList;
                                    this.cateLevel= [//[0]大分類,([1]中分類,)[2]小分類
                                        { id: this.masterInfo.mainID, name: this.masterInfo.mainTypeName },
                                        { id: this.masterInfo.middleID, name: this.masterInfo.middleTypeName },
                                        { id: this.masterInfo.typeID, name: this.masterInfo.typeName }
                                    ]
                                    
                                } else {
                                    console.log("get user info error:" + res.errMsg);
                                }
                            })
                            .catch(function (error) { // 請求失敗處理
                                console.log("get user info error:" + error);
                            });
                    },
                    backPage:function(e){
                        e.preventDefault();
                        window.history.back();
                    }
                }
            });

        </script>


</body>

</html>