<!DOCTYPE html>
<html lang="en">
<div th:replace="admin/_admin_head ::head"></div>

<body>
    <div class="wrap admin">
        <div class="wrap index admin">
            <div th:replace="admin/part/_backstageHeader ::header"></div>
            <div class="header-space"></div>
            <div class="d-flex h-100">
                <div th:replace="admin/part/_backstageNav ::nav"></div>
                <div class="admin-nav-space"></div>
                <main class="main-session w-100 px-4">
                    <h1 class="h3 mt-5 mb-3 text-accent">新增達人</h1>
                    <!-- breadcrumb -->
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><span class="text-accent-dark op-6">內容管理</span></li>
                            <li class="breadcrumb-item"><a th:href="@{/admin/content/master-list}"
                                    class="text-accent">達人列表</a></li>
                            <li class="breadcrumb-item active" aria-current="page">新增達人</li>
                        </ol>
                    </nav>
                    <form id="dataForm" class="needs-validation mt-3 pt-2" novalidate method="POST">

                        <div class="row mx-0 bg-accent-dark op-8 text-light py-2 px-3">上傳照片</div>
                        <div class="border">
                            <figure class="head-photo user border bg-grey rounded-circle mx-auto my-4">
                                <img ref="headImg" src="" alt="" class="img-cover">
                            </figure>
                            <div class="form-inline mb-4">
                                <div class="input-group mx-auto">
                                    <div class="input-group-prepend" id="basic-addon1">
                                        <div class="input-group-text bg-white">選擇照片</div>
                                    </div>
                                    <input ref="fileInput" name="file" @change="previewImg" type="file"
                                        accept="image/*" class="form-control rounded-right">
                                    <div ref="confirmMsg" class="invalid-feedback text-right"></div>
                                </div>
                            </div>
                        </div>


                        <div class="row mx-0 bg-accent-dark op-8 text-light py-2 px-3">達人資訊</div>
                        <div class="border">
                            <div class="login-wrap my-4 mx-auto">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend" id="basic-addon1">
                                        <div class="input-group-text bg-grey">達人編號</div>
                                    </div>
                                    <div class="form-control text-left bg-grey">-</div>
                                </div>

                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text bg-white">真實姓名<span
                                                class="text-danger-s ml-1">*</span>
                                        </div>
                                    </div>
                                    <input type="text" name="lastName" required class="check-input form-control"
                                        placeholder="姓氏">
                                    <input type="text" name="firstName" required
                                        class="check-input form-control rounded-right" placeholder="名字">
                                    <div ref="confirmMsg" class="invalid-feedback text-right"></div>
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text bg-white">公開名稱<span
                                                class="text-danger-s ml-1">*</span>
                                        </div>
                                    </div>
                                    <input type="text" name="publicName" required
                                        class="check-input form-control rounded-right" placeholder="請輸入公開名稱">
                                    <div ref="confirmMsg" class="invalid-feedback text-right"></div>
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text bg-white">達人分類<span
                                                class="text-danger-s ml-1">*</span>
                                        </div>
                                    </div>
                                    <select name="mainID" id="" v-model="cate.mainID" required
                                        class="form-control check-input">
                                        <option value="" disabled>--大分類--</option>
                                        <option v-for="c in cateList" :value="c.mainID">{{c.name}}</option>
                                    </select>
                                    <select name="midID" id="" v-model="cate.midID" required
                                        class="form-control check-input">
                                        <option value="" disabled>--中分類--</option>
                                        <option v-for="c in subCateList" :value="c.midID">{{c.name}}</option>
                                    </select>
                                    <select name="typeID" id="" v-model="cate.typeID" required
                                        class="form-control rounded-right check-input">
                                        <option value="" disabled>--小分類--</option>
                                        <option v-for="c in subSubCateList" :value="c.typeID">{{c.name}}</option>
                                    </select>
                                    <div ref="confirmMsg" class="invalid-feedback text-right"></div>
                                </div>

                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text bg-white">在世狀況<span
                                                class="text-danger-s ml-1">*</span>
                                        </div>
                                    </div>
                                    <select name="alive" id="" required class="form-control check-input">
                                        <option value="">--請選擇存/歿--</option>
                                        <option v-for="c in aliveList" :value="c.value">{{c.name}}</option>
                                    </select>
                                    <div ref="confirmMsg" class="invalid-feedback text-right"></div>
                                </div>
                                <div>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text bg-white">聯絡信箱
                                            </div>
                                        </div>
                                        <input type="email" name="mail"
                                            class="check-input form-control rounded-right" placeholder="請輸入信箱">
                                        <div ref="confirmMsg" class="invalid-feedback text-right"></div>
                                    </div>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text bg-white">聯絡電話</div>
                                        </div>
                                        <input type="text" name="phone"
                                            class="check-input form-control rounded-right" placeholder="請輸入電話號碼">
                                        <div ref="confirmMsg" class="invalid-feedback text-right"></div>
                                    </div>
	                                <div class="input-group mb-3">
	                                    <div class="input-group-prepend">
	                                        <div class="input-group-text bg-white">所在縣市<span
	                                                class="text-danger-s ml-1">*</span>
	                                        </div>
	                                    </div>
	                                    <select name="county" id="" required
	                                        class=" form-control check-input">
	                                        <option value="">-縣市-</option>
	                                        <option v-for="c in countyList" :value="c">{{c}}</option>
	                                    </select>                                    
	                                </div>                                    
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text bg-white">聯絡地址<span
	                                                class="text-danger-s ml-1">*</span>
	                                        </div>
                                        </div>
                                        <input type="text" name="address" class="check-input form-control rounded-right"
                                            placeholder="請輸入地址(排除縣市)">
                                        <div ref="confirmMsg" class="invalid-feedback text-right"></div>
                                    </div>
                                    <div class="input-group mb-1">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text bg-white">官方網站</div>
                                        </div>
                                        <input type="url" name="website" v-model="masterLink.hp"
                                            class="check-input form-control rounded-right" placeholder="https://">
                                        <div ref="confirmMsg" class="invalid-feedback text-right"></div>
                                    </div>
                                    <p class="text-right text-accent"><a :href="masterLink.hp" :title="masterLink.hp"
                                            target="_blank">查看連結</a></p>
                                    <div class="input-group mb-1">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text bg-white">Facebook</div>
                                        </div>
                                        <input type="url" name="facebook" v-model="masterLink.fb"
                                            class="check-input form-control rounded-right" placeholder="https://">
                                        <div ref="confirmMsg" class="invalid-feedback text-right"></div>
                                    </div>
                                    <p class="text-right text-accent"><a :href="masterLink.fb" :title="masterLink.fb"
                                            target="_blank">查看連結</a></p>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text bg-white">LineID</div>
                                        </div>
                                        <input type="text" name="lineID" class="check-input form-control rounded-right"
                                            placeholder="請輸入LineID">
                                        <div ref="confirmMsg" class="invalid-feedback text-right"></div>
                                    </div>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text bg-white">工作單位</div>
                                        </div>
                                        <input type="text" name="company" class="check-input form-control rounded-right"
                                            placeholder="請輸入工作單位">
                                        <div ref="confirmMsg" class="invalid-feedback text-right"></div>
                                    </div>
                                </div>
                                <div class="input-group mb-1">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text bg-white">達人簡介</div>
                                    </div>
                                    <textarea name="intro" id="" cols="30" rows="10"
                                        class="form-control no-resize rounded-right" placeholder="請輸入達人簡介"></textarea>
                                    <div ref="confirmMsg" class="invalid-feedback text-right"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row mx-0 bg-accent-dark op-8 text-light py-2 px-3">專家專長(達人關鍵字)</div>
                        <div class="border">
                            <div class="login-wrap my-4 mx-auto">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text bg-white">關鍵字</div>
                                    </div>
                                    <input type="text" ref="tagInput" class="form-control" placeholder="請輸入關鍵字">
                                    <div class="input-group-append">
                                        <button class="input-group-text btn btn-accent" @click="addTag">新增</button>
                                    </div>
                                </div>
                                <div class="tag-wrap d-flex flex-wrap">
                                    <tag-item v-for="t in tags" v-bind:tag="t" @send-delete-tag="deleteTag"></tag-item>
                                </div>
                            </div>
                        </div>
                        <div class="text-center pt-3 mb-5">
                            <a th:href="@{/admin/content/master-list}"
                                class="btn btn-danger-s letter-spacing-s m-1">取消</a>
                            <button ref="submitBtn" @click="checkValid"
                                class=" btn btn-bg-accent letter-spacing-s m-1">新增達人</button>
                        </div>
                    </form>
                </main>
            </div>
            <!-- success & error Msg -->
            <div th:replace="part/_popupMsg ::div"></div>

        </div>
        <script th:src="@{/js/common.js}"></script>
        <script th:src="@{/js/loadingoverlay.min.js}"></script>
        <script th:inline="javascript">
            adminShowNavCurrent($('.content-master'));

            Vue.component('tag-item', {
                props: ['tag'],
                template: `<div class="keyword-tag position-relative">
                        {{tag}}
                        <button @click="delTag" :tag.prop="tag" class="delete-tag-btn no-focus bg-danger border-0 rounded-circle text-white p-0 font-weight-bold">-</button>
                    </div>`,
                methods: {
                    delTag: function (e) {
                        e.preventDefault();
                        let btn = e.target
                        this.$emit("send-delete-tag", e.target.tag);
                    }
                }
            })

            var dataForm = new Vue({
                el: '#dataForm',
                data: {
                    countyList: [],
                    cateList: [],
                    aliveList: [{name:"存", value:true}, {name:"歿", value:false}],
                    headImgSrc: "",
                    tags: [],
                    events: [],
                    masterLink: {
                        hp: '',
                        fb: ''
                    },
                    cate: {
                        mainID: "",
                        midID: "",
                        typeID: ""
                    }
                },
                computed: {
                    subCateList: function () {
                        let mainCate = this.cateList.find(el => el.mainID == this.cate.mainID);
                        if (mainCate) {
                            return mainCate.middleTypeList;
                        }
                        return [];
                    },
                    subSubCateList: function () {
                        let subCate = this.subCateList.find(el => el.midID == this.cate.midID);
                        if (subCate) {
                            return subCate.minorTypeList;
                        }
                        return [];
                    }
                },
                created: function () {
                    this.getMasterCategoryList();
                    this.getCounty();
                },
                mounted: function () {
                    formSetSubmitting();
                },
                methods: {
                    getCounty: function () {
                        axios.get('/fixedData/taiwan_county')
                            .then(response => {
                                this.countyList = [...response.data];
                            })
                            .catch(error => { // 請求失敗處理
                                console.log("get user info error:" + error);
                            });
                    },
                    getMasterCategoryList: function(){
                        axios.get('/web/master/type')
                        .then(response => {
                        	if(response.data.code==200){
                        		this.cateList = [...response.data.data];	
                        	}
                        })
                        .catch(error => { // 請求失敗處理
                            console.log("get user info error:" + error);
                        });                    	
                    },
                    previewImg: function (e) {
                        e.preventDefault();
                        let input = this.$refs.fileInput;
                        let headImg = this.$refs.headImg;

                        if (input && input.files[0]) {
                            let reader = new FileReader();
                            reader.onload = function (e) {
                                headImg.src = e.target.result
                                // this.headImgSrc = e.target.result;
                            }
                            reader.readAsDataURL(input.files[0]);
                        }
                    },
                    addTag: function (e) {
                        e.preventDefault();
                        let tagArr = this.tags;
                        let input = this.$refs.tagInput
                        let newTag = input.value;
                        if (newTag) {
                            if (tagArr.indexOf(newTag) < 0) { //檢查重複
                                this.tags.push(newTag);
                                input.value = "";
                            } else {
                                showErrorMsg('請勿重複輸入同樣的tag');
                            }

                        }
                    },
                    deleteTag: function (tagName) {
                        const index = this.tags.indexOf(tagName);
                        if (index > -1) {
                            this.tags.splice(index, 1);
                        }
                    },
                    checkValid: function (e) {
                        e.preventDefault();
                        let btn = this.$refs.submitBtn;
                        let form = this.$el;
                        let inputs = form.querySelectorAll('.check-input');
                        if (!form.submitting) {
                            form.submitting = true;
                            btn.setAttribute("disabled", true);
                            form.classList.add('was-validated');
//                             console.log(form.checkValidity());
                            if (form.checkValidity()) {
                                this.sendAjax();
                            } else {
                                for (var item of inputs) {
                                    item.nextElementSibling.innerText = item.validationMessage;
                                }
                                form.submitting = false;
                                btn.removeAttribute("disabled");
                            }
                        } else {
                            return false;
                        };
                    },
                    sendAjax: function () {
                    	$('body').LoadingOverlay('show');
                        let form = this.$el;
                        let btn = this.$refs.submitBtn;
                        let fd = new FormData(form); //form data
                        let input = this.$refs.fileInput;
                        fd.append('tagList', this.tags);
                        fd.append("files", input.files[0]);

// 	                     for (var [key, value] of fd.entries()) { 
// 	                  	  console.log(key, value);
// 	                  	}
                        
                        axios.post('/admin/master', fd, { //send ajax
                            headers: {
                                'Content-Type': 'multipart/form-data'
                            }
                        })
                            .then(function (response) { //success
                            	$('body').LoadingOverlay('hide');
//                                 console.log(response);
                                if (response.data.code==201) {
                                    showSuccessMsg("新增成功");
                                    window.setTimeout(() => location.href = "/admin/content/master-list", 2000);
                                } else {
                                    showErrorMsg(response.data.errMsg);
                                    form.submitting = false;
                                    btn.removeAttribute("disabled");
                                }
                            })
                            .catch(function (error) { //error
                            	$('body').LoadingOverlay('hide');
                                console.error(error);
                                showErrorMsg('發生系統錯誤，未送出資料');
                                form.submitting = false;
                                btn.removeAttribute("disabled");
                            });
                    }
                }
            })

            $('.input-modal').on('hidden.bs.modal', function (e) {
                $('.input-modal').find('input').val("");
            });

        </script>

</body>

</html>