<!DOCTYPE html>
<html lang="en">
<div th:replace="frount/_frount_head.html ::head"></div>


<body>
    <div v-cloak
         v-if="hasLoaded"
         id="eventDetail" 
         class="wrap activity-detail">
        <div th:replace="frount/part/_frountHeader ::header"></div>
        <!-- breadcrumb -->
        <div class="container">
            <div class="row">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a class="text-center no-underline"
                               href="/index">首頁</a></li>
                        <li class="breadcrumb-item">
                            <a class="text-center no-underline"
                               href="/place/place-map-list">活動</a></li>
                        <li class="breadcrumb-item active"
                            aria-current="page">
                            <a class="text-center no-underline"
                               href="#">{{eventInfo.typeName}}</a></li>
                    </ol>
                </nav>
            </div>
        </div>
        <!-- 小網slider -->
        <div id="mobileSlider"
             class="d-block d-md-none carousel slide"
             data-ride="carousel"
             data-interval="2000">
            <ol class="carousel-indicators">
                <li data-target="#mobileSlider"
                    data-slide-to="0"
                    class="active"></li>
                <li data-target="#mobileSlider"
                    data-slide-to="1"></li>
                <li data-target="#mobileSlider"
                    data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div v-for="img in eventImgList"
                     v-bind:class="{'active': img.isMain}"
                     class="carousel-item">
                    <img v-bind:src="img.img"
                         class="d-block w-100"
                         alt="活動照片">
                </div>
            </div>
            <a class="carousel-control-prev"
               href="#mobileSlider"
               role="button"
               data-slide="prev">
                <span class="carousel-control-prev-icon"
                      aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next"
               href="#mobileSlider"
               role="button"
               data-slide="next">
                <span class="carousel-control-next-icon"
                      aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <div class="container">
            <div class="row">
                <!-- 大網左側 -->
                <div class="d-none d-md-block col-md-5 col-lg-5 p-md-2">
                    <div class="place-pic-wrap position-relative">
                        <div class="big-pic">
                            <img v-bind:src="mainImg().img"
                                 id="big-pic"
                                 class=" detail-bigpic-img"
                                 alt="活動照片"
                                 height="auto">
                        </div>
                        <div class="row mx-2 my-3 align-items-center">
                            <div id="pic-slider-arrow-wrap-left"
                                 class="d-none d-md-block pic-slider-arrow-wrap pic-slider-arrow-wrap-left pointer">
                                <i class="fas fa-chevron-left p-2"></i>
                            </div>
                            <div class="pic-slider-wrap">
                                <div v-for="(rowNum,rowIndex) in Math.ceil(eventImgList.length/6)"
                                     v-bind:class="{'show': rowIndex==0}"
                                     class="row position-absolute px-3 pic-slider">
                                    <img v-for="img in getImgByRow(0)"
                                         v-bind:src="img.img"
                                         v-bind:class="{'hover': img.isMain}"
                                         class="pic-slider-img col-2 p-1"
                                         alt="活動照片">
                                </div>
                            </div>
                            <div id="pic-slider-arrow-wrap-right"
                                 class="d-none d-md-block pic-slider-arrow-wrap pic-slider-arrow-wrap-right pointer">
                                <i class="fas fa-chevron-right p-2"></i>
                            </div>
                        </div>
                    </div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-3 col-md-3 p-0 my-2">
                                <span class="information-title p-0">關鍵字：</span>
                            </div>
                            <div class="col-9 col-md-9 p-0">
                                <span v-for="tag in eventTagList"
                                      class="place-hashtag text-ms">#{{tag.tag}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 大網右側 -->
                <div class="col-12 col-md-7 col-lg-7 p-2 pl-md-5 pr-0">
                	<div class="h3 d-inline-block align-middle font-weight-bold">{{eventInfo.name}} <span v-if="afterToday(eventInfo.startTime)" class="d-inline-block align-middle status-tag bg-yellow px-2 py-1 h6">今天以後</span></div>
                    <div class="my-3">
                        <span class="blue-tag text-accent pr-3"><img class="mr-1 d-inline"
                                 src="/image/eye.png"
                                 alt="點閱次數">點閱次數: {{eventInfo.click?? 0}}</span>
                        <span class="blue-tag text-accent"><img class="mr-1 d-inline"
                                 src="/image/bookmark-white.png"
                                 alt="收藏人數">收藏人數: {{eventInfo.follow ?? 0}}</span>
                    </div>

                    <div class="row my-3 col-12">
                    	<div class="information-title2 inline-block col-lg-2 col-4">開始時間：</div>
                    	<div class="information-text inline-block col-8">{{eventInfo.startTime}}</div>                    	
                    </div>
                    
                    <div class="row my-3 col-12">
                    	<div class="information-title2 inline-block col-lg-2 col-4">結束時間：</div>
                    	<div class="information-text inline-block col-8">{{eventInfo.endTime}}</div>                    	
                    </div> 

                    <div class="row my-3 col-12">
                    	<div class="information-title2 inline-block col-lg-2 col-4">相關單位</div>
                    	<div class="information-text inline-block col-8">{{eventInfo.host ?? '-'}}</div>
                    </div>

                    <div class="row my-3 col-12">
                    	<div class="information-title2 inline-block col-lg-2 col-4">地&emsp;&emsp;區：</div>
                    	<div class="information-text inline-block col-8">{{eventInfo.county ?? '-'}}</div>                    	
                    </div>

                    <div class="row my-3 col-12">
                    	<div class="information-title2 inline-block col-lg-2 col-4">地&emsp;&emsp;址：</div>
                    	<div class="information-text inline-block col-8">{{eventInfo.address ?? '-'}}</div>                    	
                    </div>
                    
                    <div class="row my-3 col-12" >
                    	<div class="information-title2 inline-block col-lg-2 col-4">場&emsp;&emsp;地：</div>
                    	<div class="information-text inline-block col-8">{{eventInfo.place ?? '-'}}</div>                    	
                    </div>
                    
                    <div class="row my-3 col-12">
                    	<div class="information-title2 inline-block col-lg-2 col-4">費&emsp;&emsp;用：</div>
                    	<div class="information-text inline-block col-8">{{eventInfo.fee ?? '免費'}}</div>                    	
                    </div>
                    
                    <div class="row my-3 col-12">
                    	<div class="information-title2 inline-block col-lg-2 col-4">開放狀態：</div>
                    	<div class="information-text inline-block col-8">{{status ?? '-'}}<span class="text-muted" style="font-size:14px">&emsp;{{statusDescription ?? ''}}</span></div>
                    </div>                    

                    <div class="row my-3 col-12" v-if="eventInfo.signupUrl">
                    	<div class="information-title2 inline-block col-lg-2 col-4">報名連結：</div>
                    	<div class="information-text inline-block col-8">
                            <a v-bind:href="eventInfo.signupUrl"
                               class="d-inline-block black-button text-white no-underline">點擊這裡</a>                    	
                    	</div>                    	
                    </div>
                    
                    <div class="row my-3 col-12" v-if="eventInfo.liveUrl">
                    	<div class="information-title2 inline-block col-lg-2 col-4">活動直播：</div>
                    	<div class="information-text inline-block col-8">
                            <a v-bind:href="eventInfo.liveUrl"
                               class="d-inline-block black-button text-white no-underline">點擊這裡</a>                    	
                    	</div>                    	
                    </div>
                    
                    <a class="add-to-favorite-button col-10 col-lg-8 no-underline mb-3 offset-1 offset-lg-2 mt-3"
                       href="#" @click="followMaster" v-if="eventInfo.isFollowed==false">
                        <img class="mr-1 d-inline"
                             src="/image/bookmark-accent-hollow.png"
                             alt="加入收藏"
                             width="15px">加入收藏</a>
                    <a class="add-to-favorite-button col-10 col-lg-8 no-underline mb-3 offset-1 offset-lg-2 mt-3"
                       href="#" @click="disFollowMaster" v-if="eventInfo.isFollowed==true">
                        <img class="mr-1 d-inline"
                             src="/image/bookmark-accent-hollow.png"
                             alt="取消收藏"
                             width="15px">取消收藏</a>                             
                </div>

            </div>
        </div>
        <!-- 小網關鍵字、簡介 -->
        <div class="container mb-5">
            <div class="row place-block px-2 d-block d-md-none">
                <div class="place-title"></div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-2 p-0 my-2">
                            <span class="information-title">關鍵字：</span>
                        </div>
                        <div class="col-10 p-0">
                            <span v-for="tag in eventTagList"
                                  class="place-hashtag text-ms">#{{tag.tag}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row place-block px-2">
                <span class="information-title">簡&emsp;&emsp;介</span>
                <div class="d-none d-md-block place-title"></div>
                <p v-html="eventInfo.intro"
                   class="detail-article space-preline show"></p>
                <div class="detail-article-readmore d-none">
                </div>
            </div>
            <div class="row activity-block px-2">
                <span class="information-title">相關達人</span>
                <div class="d-none d-md-block activity-title"></div>
                <div class="activity-master w-50" v-if="eventRecommendList.length>0">
                    <div v-for="master in eventRecommendList" class="row">
                        <img class="rounded-circle inline-block mr-2 col-lg-2 px-0 col-4"
                             v-bind:src="master.img ?? '/image/nopic.gif'"
                             v-bind:alt="master.masterName">
                        <a class="col-lg-8 mb-0 my-auto d-inline-block col-7" v-bind:href="'/master/master-detail/'+master.masterID">{{master.masterName}}</a>
                    </div>
                </div>
            </div>            
        </div>
        <!-- <div class="popupNotice">
            <i class="fas fa-check mr-2"></i>已取消收藏此活動
        </div> -->
        <div th:replace="frount/part/_frountFooter ::footer"></div>
        <div th:replace="frount/part/_allowGeoPosition.html ::div"></div>
        <div th:replace="frount/part/_popupNotice ::div"></div>
        <div th:replace="part/_popupMsg ::div"></div>
    </div>    
    
    <script th:src="@{/js/common.js}"></script>
    <script th:src="@{/js/frount/_allowGeoPosition.js}"></script>
    <script th:src="@{/js/loadingoverlay.min.js}"></script>
    <script th:src="@{/js/frount/_frountCommon.js}"></script>
    <script th:inline="javascript">
    
	    var eventDetail = new Vue({
	        mixins: [allowGeoPosition],
	        el: "#eventDetail",
	        data: {
	            hasLoaded: false,
	            eventID: [[${eventID}]],
	            eventImgList: [],
	            eventInfo: {},
	            eventTagList: [],
	            eventRecommendList: [],
                statusList: [
                	{id:0, name:"歡迎參加", subName:"不限資格、不限費用"},
                	{id:1, name:"非請勿入", subName:"限制資格、不限費用"},
                	{id:2, name:"需先繳費", subName:"不限資格、限制費用"},
                	{id:3, name:"需先報名", subName:"限制資格、限制費用"},
                	{id:4, name:"不開放"}
					 ],
				status:"",
				statusDescription: ""
	        },
	        methods: {
	            mainImg: function () {
	                if (this.eventImgList && this.eventImgList.length > 0) {
	                    return this.eventImgList.find(function (img) {
	                        return img.isMain
	                    })
	                } else {
	                    return {}
	                }
	            },
	            getImgByRow: function (row) {
	                return this.eventImgList.filter(function (img, index) {
	                    return index >= row * 6 && index < (row * 6 + 6)
	                })
	            },
	            getEventInfo: function () {
                	let memberID = null;
                	if(JSON.parse(localStorage.getItem("memberID"))!=null){
                		memberID = JSON.parse(localStorage.getItem("memberID")).value;	
                	}
	                let vm = this;
	                axios
	                    .get('/web/event/info/' + vm.eventID, {params:{'memberID': memberID}})
	                    .then(response => {
	                        let res = response.data;
// 	                        console.log(res);
	                        if (res.code == 200) {
	                            vm.eventImgList = res.data.eventImgList;
	                            vm.eventInfo = res.data.eventInfo;
	                            vm.eventTagList = res.data.eventTagList;
	                            vm.eventRecommendList = res.data.eventRecommendList;
	                            vm.status = vm.statusList[res.data.eventInfo.visibilitySN].name;
	                            vm.statusDescription = vm.statusList[res.data.eventInfo.visibilitySN].subName;
	                            vm.hasLoaded = true;
	                            Vue.nextTick(function () {
	                                $.getScript("/js/frount/_frountCommon.js",
	                                    $(".list-article").each(function () {
	                                        if ($(this).height() > 240) {
	                                            $(this).removeClass("show");
	                                            $(".list-article-readmore").removeClass("d-none").addClass("show");
	                                        };
	                                    })
	                                );
	                            })
	                        } else {
	                            console.log("get user info error:" + res.errMsg);
	                        }
	                    })
	                    .catch(function (error) { // 請求失敗處理
	                        console.log("get user info error:" + error);
	                    });
	            },
	            afterToday: function(eventStartTime){
// 	            	let time = ((new Date(eventStartTime).getTime()-new Date().getTime()))> (24*60*60*1000);
	            	let time =  new Date().getTime() >= new Date(eventStartTime).getTime();  
// 	            	console.log(time);
	            	return time;
	            },
                getRecommendMaster: function () {
                    let vm = this;
                    axios
                        .get('/web/event/recommend/' + vm.eventID)
                        .then(response => {
                            let res = response.data;
//                             console.log(res);
                            if (res.code == 200) {
                                vm.eventRecommendList = res.data;
                            } else {
                                console.log("get user info error:" + res.errMsg);
                            }
                        })
                        .catch(function (error) { // 請求失敗處理
                            console.log("get user info error:" + error);
                        });
                },
                followMaster: function(){
                	$('body').LoadingOverlay('show');
                	let memberID = null;
                	if(JSON.parse(localStorage.getItem("memberID"))!=null){
                		memberID = JSON.parse(localStorage.getItem("memberID")).value;	
                	}else{
                		$('body').LoadingOverlay('hide');
                    	showSuccessTopPopup("請先登入！");
                    	window.setTimeout(() => location.href='/index', 1500);
                    	return null;
                	}
                    let vm = this;
                    let fd = new FormData();
                    fd.append('memberID', memberID);
                    fd.append('eventID', [[${eventID}]]);
                    axios
                        .post('/web/event/follow', fd)
                        .then(response => {
                        	$('body').LoadingOverlay('hide');
                            let res = response.data;
//                             console.log(res);
                            if (res.code == 204) {
//                                 console.log(res);
                            	showSuccessTopPopup("已成功收藏！");
                            	window.setTimeout(() => location.reload(), 1500);
                            } else {
                                console.log("get user info error:" + res.errMsg);
                            }
                        })
                        .catch(function (error) { // 請求失敗處理
                        	$('body').LoadingOverlay('hide');
                            console.log("get user info error:" + error);
                        });                	
                },
                disFollowMaster: function(){
                	$('body').LoadingOverlay('show');
			        let memberID = JSON.parse(localStorage.getItem("memberID")).value;
                    let vm = this;
                    let param = {
                   		'memberID': memberID,
                   		'eventID': [[${eventID}]]
                    }
                    axios
                        .delete('/web/event/follow', {params: param})
                        .then(response => {
                        	$('body').LoadingOverlay('hide');
                            let res = response.data;
                            console.log(res);
                            if (res.code == 204) {
//                                 console.log(res);
                            	showSuccessTopPopup("已取消收藏！");
                            	window.setTimeout(() => location.reload(), 1500);
                            } else {
                                console.log("get user info error:" + res.errMsg);
                            }
                        })
                        .catch(function (error) { // 請求失敗處理
                        	$('body').LoadingOverlay('hide');
                            console.log("get user info error:" + error);
                        });                	
                }                
	        },
	        mounted: function () {
	        	$('body').LoadingOverlay('show');
	            this.getEventInfo();
	            this.getRecommendMaster();
	            $.getScript("/js/frount/_frountCommon.js");
	            $('body').LoadingOverlay('hide');
	        }
	    })
    
    </script>

</body>

</html>