<!DOCTYPE html>
<html lang="en">
<div th:replace="frount/_frount_head.html ::head"></div>
<script>
    // var map;
    // function initMap() {
    //     map = new google.maps.Map(document.getElementById("map"), {
    //         center: { lat: 25.0639368, lng: 121.5471534 },
    //         zoom: 15,
    //         disableDefaultUI: true
    //     });
    // }

</script>

<body>
    <div id="activityMapList"
         class="wrap map overflow-hidden">
        <div th:replace="frount/part/_frountHeader ::header"></div>
        <div class="container-fluid">
            <div class="row">
                <!-- activity-list -->
                <div class="activity-list col-12 col-md-5 col-lg-3 z-index-2 bg-white position-absolute">
                    <div class="mobile-scrollup-bar-wrap d-block d-md-none">
                        <div class="mobile-scrollup-bar horizontal-align-center"></div>
                    </div>
                    <a v-for="act in activityList"
                       v-bind:href="'/activity/activity-detail/'+act.eventID"
                       class="row no-underline activity-item">
                        <div class="col-4 p-2">
                            <img class="w-100"
                                 v-bind:src="(act.coverImage && act.coverImage.img) ??'/image/nopic.gif'"
                                 alt="">
                            <span class="d-block text-grey mt-1">{{act.distance}}公里</span>
                        </div>
                        <div class="col-8 p-2 text-ms">
                            <h5 class="text-accent text-sl mb-1">{{act.name}}</h5>
                            <span class="d-block">開始時間: {{act.startTime}}</span>
                            <span class="d-block">結束時間: {{act.endTime}}</span>
                            <span class="d-block">舉辦單位: {{act.host}}</span>
                            <span class="d-block">地址: {{act.county}}{{act.address}}</span>
                        </div>
                    </a>
                    <!-- empty msg -->
                    <div v-if="activityList.length==0"
                         class="empty-msg letter-spacing-s mx-5">{{emptyMsg}}</div>
                </div>
                <!-- search, breadcrumb -->
                <div class="col-12 col-md-6 col-lg-9 offset-md-6 offset-lg-3 z-index-2 position-absolute">
                    <div class="row">
                        <!-- breadcrumb -->
                        <div class="row pl-4">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item">
                                        <a class="text-center no-underline"
                                           href="/index">首頁</a></li>
                                    <li class="breadcrumb-item active">
                                        <a class="text-center no-underline"
                                           href="#">活動</a></li>
                                </ol>
                            </nav>
                            <div id="pin-button"
                                 class="btn-bg-accent pointer text-white"
                                 data-toggle="modal"
                                 data-target="#usedPlace">
                                <i class="fas fa-thumbtack position-relative mr-2"></i></div>
                        </div>
                        <!-- 搜尋 -->
                        <div class="col-12 col-md-11 col-lg-8 mt-3 mx-0 mx-lg-auto">
                            <div class="container bg-accent rounded-10px py-2 text-right text-white">
                                <div class="text-left mt-2">
                                    <label class="d-inline-block mr-2"><input v-model="todayOnly"
                                               value="true"
                                               type="radio">今天發生</label>
                                    <label class="d-inline-block"><input v-model="todayOnly"
                                               value="false"
                                               type="radio">今天以後</label>
                                    <button class="btn d-inline d-lg-none text-white" type="button" data-toggle="collapse" data-target="#searchBar" 
                                    	aria-expanded="false" aria-controls="searchBar" @click="visible = !visible">
                                    	<i class="fa fa-chevron-down" :class="visible ? 'd-none' : 'd-inline'"></i>
                                    	<i class="fa fa-chevron-up" :class="visible ? 'd-inline' : 'd-none'"></i>
                                    </button>
                                </div>
                                <div class="container-fluid collapse show" id="searchBar" v-model="visible">
                                    <div class="row">
                                        <select v-model="searchOrderSN"
                                                class="form-control my-2 col-12 col-lg-4">
                                            <option value="">請選擇搜尋喜好</option>
                                            <option v-for="order in searchOrderList"
                                                    v-bind:value="order.searchOrderSN">
                                                {{order.searchOrderName}}</option>
                                        </select>
                                        <select v-model="mainID"
                                                v-on:change="getMinorTypeList()"
                                                class="form-control my-2 col-12 col-md col-lg">
                                            <option value="">請選擇大分類</option>
                                            <option v-for="category in catrgoryList"
                                                    v-bind:value="category.mainID">
                                                {{category.name}}</option>
                                        </select>
                                        <select v-model="typeID"
                                                v-bind:disabled="mainID==''"
                                                class="form-control my-2 col-12 col-md col-lg">
                                            <option value="">請選擇小分類</option>
                                            <option v-for="type in minorTypeList"
                                                    v-bind:value="type.typeID">
                                                {{type.name}}</option>
                                        </select>
                                    </div>
                                    <div class="p-0 mt-2">
                                        <label class="float-left mr-2">
                                            <input v-model="showNew"
                                                   v-on:change="setSearchPrefer()"
                                                   class="mr-1"
                                                   type="checkbox">顯示最新活動</label>
                                        <label class="float-left">
                                            <input v-model="showHot"
                                                   v-on:change="setSearchPrefer()"
                                                   class="mr-1"
                                                   type="checkbox">顯示熱門活動</label>
                                        <a v-on:click="getActivityList"
                                           class="text-white underline d-inline-block"
                                           href="#">搜尋</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="map"></div>
            <div class="position-button-wrap">
                <!-- 搜尋附近 -->
                <div v-on:click="searchNear"
                     class="position-button"
                     id="searchNear">
                    <img src="/image/icon_map_location.png"
                         alt="">
                </div>
                <!-- 定位到目前位置 -->
                <div v-on:click="locationPlace"
                     class="position-button">
                    <img src="/image/icon_map_nearby.png"
                         alt="">
                </div>
            </div>
        </div>
        <div class="modal fade"
             id="usedPlace"
             tabindex="-1"
             role="dialog"
             aria-labelledby="usedPlaceLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered"
                 role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"
                            id="usedPlaceLabel">選擇你的常用地點</h5>
                        <button type="button"
                                class="close"
                                data-dismiss="modal"
                                aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body p-0">
                        <ul class="w-100 p-0">
                            <li v-for="hotspot in hotspotList">
                                <div @click="setHotspot(hotspot.lat, hotspot.lng)">
                                    <span class="usedPlaceTitle">{{hotspot.name}}</span>
                    				<span class="usedPlaceAddress">{{hotspot.county}}{{hotspot.address1}}{{hotspot.address2}}</span>
                                </div>

                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="frount/part/_frountFooter ::footer"></div>
        <div th:replace="frount/part/_allowGeoPosition.html ::div"></div>
        <div th:replace="frount/part/_popupNotice ::div"></div>
        <div th:replace="part/_popupMsg ::div"></div>
    </div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBUFoIyPlYvHLfQt7ajnfK0wZmb7vdZAQ4"></script>
    <script th:src="@{/js/common.js}"></script>
    <script th:src="@{/js/loadingoverlay.min.js}"></script>
    <script th:src="@{/js/frount/_frountCommon.js}"></script>
    <script th:src="@{/js/frount/_allowGeoPosition.js}"></script>

    <script th:inline="javascript">

        let map = null;

        var activityMapList = new Vue({
            mixins: [allowGeoPosition],
            el: "#activityMapList",
            data: {
                selectedCountry: "",
                searchPreferList: [],
                catrgoryList: [],
                minorTypeList: [],
                activityList: [],
                todayOnly: false,
                mainID: "",
                typeID: "",
                showHot: false,
                showNew: false,
                searchPreferSN: 0,
                searchOrderSN: 0,
                searchOrderList: [],
                hotspotList: [],
                centerLat: null,
                centerLng: null,
                loginMemberID: loginStatus.loginMemberID,
                emptyMsg: '查無資料',
                visible: true
            },
            computed: {
                searchPreferName: function () {
                    var showNew = this.showNew,
                        showHot = this.showHot,
                        name = "";

                    if (!showHot && !showNew) {
                        name = "全部";
                    } else if (!showHot && showNew) {
                        name = "最新";
                    } else if (showHot && !showNew) {
                        name = "熱門";
                    } else if (showHot && showNew) {
                        name = "最新與熱門";
                    }

                    this.searchPreferSN = this.searchPreferList.find(function (item) {
                        return item.searchPreferName == name;
                    }).searchPreferSN;

                    return name
                }
            },
            methods: {
                setHotspot: function (lat, lng) {
                    if (lat != null && lng != null) {
                        this.position.lat = lat
                        this.position.lng = lng
                    } else {
                        //             			console.log('無座標或座標不正確');
                        return null;
                    }
                    const marker = new google.maps.Marker({
                        position: { lat: lat, lng: lng },
                        map,
                        icon: '/image/icon_map_user.png'
                    });
                    //             		console.log('center:' + lat, lng);
                    $('#usedPlace').modal('hide');
                    showSuccessTopPopup("已設定常用地點為搜尋中心");
                },
                isManual: function () {
                    return !document.activeElement == 'BODY'
                },
                initGoogleMap: function (lat, lng) {
                    //                 	console.log('intiMap:' + this.position.lat, this.position.lng);
                    //                 	console.log('intiMap:' + lat, lng);
                    let initPlace
                    if (lat != null && lng != null) {
                        initPlace = { lat: parseFloat(lat), lng: parseFloat(lng) };
                    } else {
                        initPlace = { lat: 25.0639368, lng: 121.5471534 };
                    }
                    map = new google.maps.Map(document.getElementById("map"), {
                        center: initPlace,
                        zoom: 15,
                        disableDefaultUI: true
                    });
                    const marker = new google.maps.Marker({
                        position: initPlace,
                        map,
                        icon: '/image/icon_map_user.png'
                    });
                },
                setActivityToMap: function () {
                    this.activityList.forEach(function (act) {
                        let img = act.coverImage.img ? act.coverImage.img : "/image/nopic.gif";
                        var contentString =
                            '<div class="container-fluid font-weight-normal" style="font-family: 微軟正黑體">' +
                            '    <div class="row">' +
                            '        <div class="col-4 p-2">' +
                            '            <img class="w-100 d-block"  src="' + img + '" alt="">' +
                            '            <span class="d-block text-grey mt-1">' + act.distance + '公尺</span>' +
                            '        </div>' +
                            '        <div class="col-8 p-2">' +
                            '            <h5 class="text-accent text-sm mb-1">' + act.name + '</h5>' +
                            '            <span class="d-block">開始時間: ' + act.startTime + '</span>' +
                            '            <span class="d-block">結束時間: ' + act.endTime + '</span>' +
                            '            <span class="d-block">舉辦單位: ' + act.host + '</span>' +
                            '            <span class="d-block">地址: ' + act.county + act.address + '</span>' +
                            '        </div>' +
                            '    </div>' +
                            '</div>';

                        var infowindow = new google.maps.InfoWindow({
                            content: contentString
                        });
                        if (place.lat && place.lng) {
                            var marker = new google.maps.Marker(
                                {
                                    position: { lat: act.lat, lng: act.lng },
                                    map: map,
                                    icon: '/image/icon_map_ballon.png'
                                });
                            marker.addListener("click", function () {
                                infowindow.open(map, marker);
                            });
                        }
                    })
                },
                getNowMapPosition: function () {
                    this.position = { lat: map.getCenter().lat(), lng: map.getCenter().lng() };
                },
                // 搜尋附近
                searchNear: function () {
                    this.getNowMapPosition();
                    this.getActivityList();
                },
                getActivityList: function () {
                    let vm = this;

                    if (String(this.searchOrderSN) != "") {
                        if (map) {
                            //                         	console.log('map here');
                            this.getNowMapPosition();
                        }
                        var self = this,
                            sendData =
                                "lat=" + this.position.lat +
                                "&lng=" + this.position.lng +
                                "&searchPreferArg.searchOrderSN=" + this.searchOrderSN +
                                "&searchPreferArg.searchPreferSN=" + this.searchPreferSN +
                                "&todayOnly=" + this.todayOnly;

                        if (this.selectedCountry != '') {
                            sendData += "&county=" + this.selectedCountry;
                        }

                        if (this.mainID != '') {
                            sendData += "&mainID=" + this.mainID;
                        }
                        if (this.typeID != '') {
                            sendData += "&typeID=" + this.typeID;
                        }
                        axios
                            .get('/web/event/list?' + sendData)
                            .then(response => {
                                let res = response.data;
                                if (res.code == 200) {
                                    vm.activityList = res.data;
                                    vm.centerLat = parseFloat(vm.activityList[0].lat);
                                    vm.centerLng = parseFloat(vm.activityList[0].lng);
                                    //                                     console.log(vm.centerLat, vm.centerLng);
                                    setTimeout(function () {
                                        vm.setActivityToMap();
                                    }, 1000)


                                } else {
                                    console.log("get user info error:" + res.errMsg);
                                }
                            })
                            .catch(function (error) { // 請求失敗處理
                                console.log("get user info error:" + error);
                            });
                    } else {
                        showErrorMsg("請選擇搜尋喜好");
                    }
                },
                imageLoadError(e) {
                    e.target.src = '/image/nopic.gif';
                },
                clearMinorType: function () {
                    this.typeID = "";
                    this.minorTypeList = [];
                },
                getMinorTypeList: function () {
                    var self = this,
                        returnObj = {};
                    this.clearMinorType();
                    self.minorTypeList = self.catrgoryList.find(function (item) {
                        return item.mainID == self.mainID;
                    }).minorTypeList
                },
                clearSearchPrefer: function () {
                    this.searchOrderSN = "";
                    this.searchOrderList = [];
                },
                setSearchPrefer: function () {
                    var self = this,
                        perferOb = {};

                    this.clearSearchPrefer();
                    perferObj = self.searchPreferList.find(function (item) {
                        return item.searchPreferName == self.searchPreferName;
                    })
                    this.searchPreferSN = perferObj.searchPreferSN;
                    this.searchOrderList = perferObj.searchOrderList;
                },
                getSearchPrefer: function () {
                    let self = this;
                    axios
                        .get('/web/event/search/prefer')
                        .then(response => {
                            let res = response.data;
                            if (res.code == 200) {
                                self.searchPreferList = res.data;
                                self.setSearchPrefer();
                            } else {
                                console.log("get user info error:" + res.errMsg);
                            }
                        })
                        .catch(function (error) { // 請求失敗處理
                            console.log("get user info error:" + error);
                        });
                },
                getCatrgoryList: function () {
                    $('body').LoadingOverlay('show');
                    let self = this;
                    axios
                        .get('/web/event/type')
                        .then(response => {
                            let res = response.data;
                            if (res.code == 200) {
                                self.catrgoryList = res.data;
                            } else {
                                console.log("get user info error:" + res.errMsg);
                            }
                            $('body').LoadingOverlay('hide');
                        })
                        .catch(function (error) { // 請求失敗處理
                            console.log("get user info error:" + error);
                            $('body').LoadingOverlay('hide');
                        });
                },
                getMemberHotSpot: function () {
                    let vm = this;
                    if (this.loginMemberID != null) {
                        axios
                            .get('/web/hotspot/' + vm.loginMemberID)
                            .then(response => {
                                let res = response.data;
                                //                             console.log(res);
                                if (res.code == 200) {
                                    vm.hotspotList = res.data.hotspotList;
                                    //                                 console.log(vm.hotspotList);
                                } else {
                                    vm.hotspotList = []
                                    console.log("get user info error:" + res.errMsg);
                                }
                            })
                            .catch(function (error) { // 請求失敗處理
                                vm.hotspotList = [];
                                console.log("get user info error:" + error);
                            });
                    }
                },
                initMap: function () {
                    var vm = this;
                    if (this.position.lat && this.position.lng) {
                        if (map) {
                            map.setCenter({ lat: parseFloat(vm.position.lat), lng: parseFloat(vm.position.lng) })
                        }
                    } else {
                        map = new google.maps.Map(document.getElementById("map"), {
                            center: { lat: 25.0639368, lng: 121.5471534 },
                            zoom: 15,
                            disableDefaultUI: true
                        });
                        this.getPosition(this.initMap);
                    }
                }
            },
            mounted: function () {
                var vm = this;
                this.getCatrgoryList();
                this.getSearchPrefer();
                this.getMemberHotSpot();
                this.initMap();
                var searchData = getStorageItem("searchData");
                //                 console.log(searchData);
                let centerLat = null;
                let centerLng = null;
                if (searchData && searchData.showData == 'event') {
                    setStorageItem("searchData", {});
                    this.selectedCountry = searchData.selectedCountry || "";
                    this.todayOnly = searchData.todayOnly || "";
                    this.mainID = searchData.mainID || "";
                    this.typeID = searchData.typeID || "";
                    this.position.lat = searchData.lat || null;
                    this.position.lng = searchData.lng || null;
                    this.searchPreferSN = searchData.searchPreferSN,
                        this.searchOrderSN = searchData.searchOrderSN,
                        this.showHot = true;
                    this.showNew = true;
                    //                     console.log('現在位置' + vm.position.lat, vm.position.lng);
                    vm.initGoogleMap(vm.position.lat, vm.position.lng);
                    vm.getActivityList();
                    setTimeout(function () {
                        centerLat = vm.centerLat;
                        centerLng = vm.centerLng;
                        //                        	console.log('中心緯度：' + vm.centerLat, '||中心經度：' + vm.centerLng);
                        if (centerLat != null && centerLng != null) {
                            map.setCenter({ lat: centerLat, lng: centerLng });
                        } else {
                            map.setCenter({ lat: parseFloat(vm.position.lat), lng: parseFloat(vm.position.lng) })
                        }
                    }, 1000)
                }
                
            }
        })
        $(document).ready(function () {
            $(".mobile-scrollup-bar-wrap").click(function () {
                if ($(".activity-list").attr("style")) {
                    var mt = ($(".activity-list").attr("style").split(": ")[1] == "100%;") ? "0" : "100%";
                } else {
                    var mt = "0";
                }
                $(".activity-list").animate({
                    "margin-top": mt
                }, 600
                );

            })
        });
    </script>
</body>

</html>