<!DOCTYPE html>
<html lang="en">
<div th:replace="frount/_frount_head.html ::head"></div>


<body>
    <div id="placeList"
         class="wrap place-list list">
        <div th:replace="frount/part/_frountHeader ::header"></div>
        <div class="container-fluid p-0 mb-5 m-lg-0">
            <!-- 小網搜尋 -->
            <div class="d-block d-lg-none search mobile-search px-4 py-2">
                <div class="p-2 px-4 p-lg-4 my-lg-2">
                    <h5 class="m-0">快速搜尋</h5>
                    <div class="d-flex justify-content-between my-3">
                        <button type="button"
                                class="btn-accent"
                                @click="getMemberHotSpot">
<!--                                 data-toggle="modal" -->
<!--                                 data-target="#usedPlace"> -->
                            <i class="fas fa-thumbtack position-relative fa-xs"></i>常用地點</button>
                        <button @click="searchCurrentNearBy"
                                type="button"
                                class="btn-accent">
                            <i class="fas fa-map-marker-alt"></i>搜尋附近</button>
                    </div>
                </div>
                <div class="p-2 px-4 p-lg-4 my-lg-2">
                    <div class="mobile-search-hr mb-3"></div>
                    <h5 class="m-0">篩選</h5>
                    <select v-model="selectedCounty"
                            class="form-control my-2">
                        <option value="">請選擇縣市</option>
                        <option v-for="country in countyList"
                                v-bind:value="country">{{country}}</option>
                    </select>
                    <div class="search-input-wrap position-relative">
                        <input v-model="fuzzyFilter"
                               class="form-control my-2 w-100 search-input"
                               type="text"
                               placeholder="請輸入地址(不含縣市)">
                    </div>                    
                    <select v-model="mainID"
                            v-on:change="getMinorTypeList"
                            class="form-control my-2">
                        <option value="">請選擇大分類</option>
                        <option v-for="mainType in mainTypeList"
                                v-bind:value="mainType.mainID">{{mainType.name}}</option>
                    </select>
                    <select v-model="typeID"
                            v-bind:diabled="mainID==''"
                            class="form-control my-2">
                        <option value="">請選擇小分類</option>
                        <option v-for="minorType in minorTypeList"
                                v-bind:value="minorType.typeID">{{minorType.name}}</option>
                    </select>
                    <h5 class="m-0">排序</h5>
                    <div class="d-flex d-lg-block flex-column text-white mt-3">
                        <label v-for="order in searchOrderList">
                            <input v-model="searchOrderSN"
                                   v-bind:value="order.searchOrderSN"
                                   type="radio">{{order.searchOrderName}}</label>
                    </div>                    
                    <button v-on:click="getPlaceList()"
                            type="button"
                            class="btn-accent bg-accent mt-3 w-100">
                        <i class="fas fa-map-marker-alt"></i>搜尋</button>                    
                </div>
<!--                 <div class="p-2 px-4 p-lg-4 my-lg-2"> -->
<!--                     <div class="mobile-search-hr mb-3"></div> -->
<!--                     <h5 class="m-0">排序</h5> -->
<!--                     <div class="d-flex d-lg-block flex-column text-white mt-3"> -->
<!--                         <label v-for="order in searchOrderList"> -->
<!--                             <input v-model="searchOrderSN" -->
<!--                                    v-bind:value="order.searchOrderSN" -->
<!--                                    type="radio">{{order.searchOrderName}}</label> -->
<!--                     </div> -->
<!--                 </div> -->
            </div>
            <div class="container p-1 p-lg-3">
                <!-- 回地圖 -->
                <div class="d-none d-lg-block row">
                    <div class="backButton backButton-hover">
                        <a class="no-underline"
                           href="/place/place-map-list">
                            <i class="fas fa-chevron-left"></i>
                            <span>回地圖</span>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <!-- 大網左 -->
                    <div class="d-none d-lg-block col-lg-3 p-0 mt-5">
                        <div class="search p-2 px-4 p-lg-4 my-lg-2">
                            <h5>快速搜尋</h5>
                            <div class="d-flex justify-content-between my-3">
                                <button type="button"
                                        class="btn-accent"
                                        @click=getMemberHotSpot>
<!--                                         data-toggle="modal" -->
<!--                                         data-target="#usedPlace"> -->
                                    <i class="fas fa-thumbtack position-relative fa-xs"></i>常用地點</button>
                                <button @click="searchCurrentNearBy"
                                        type="button"
                                        class="btn-accent no-underline">
                                    <i class="fas fa-map-marker-alt"></i>搜尋附近</button>
                            </div>
                        </div>
                        <div class="search p-2 px-4 p-lg-4 my-lg-2">
                            <h5>篩選</h5>
                            <select v-model="selectedCounty"
                                    class="form-control my-2">
                                <option value="">請選擇縣市</option>
                                <option v-for="country in countyList"
                                        v-bind:value="country">{{country}}</option>
                            </select>
                            <div class="search-input-wrap position-relative">
                                <input v-model="fuzzyFilter"
                                       class="form-control my-2 w-100 search-input"
                                       type="text"
                                       placeholder="請輸入地址(不含縣市)">
                            </div>                            
                            <select v-model="mainID"
                                    v-on:change="getMinorTypeList"
                                    class="form-control my-2">
                                <option value="">請選擇大分類</option>
                                <option v-for="mainType in mainTypeList"
                                        v-bind:value="mainType.mainID">{{mainType.name}}</option>
                            </select>
                            <select v-model="typeID"
                            		v-bind:disabled="mainID==''"
                                    class="form-control my-2">
                                <option value="">請選擇小分類</option>
                                <option v-for="minorType in minorTypeList"
                                        v-bind:value="minorType.typeID">{{minorType.name}}</option>
                            </select>
                            <h5>排序</h5>
                            <div class="d-flex d-lg-block text-white mt-3">
                                <label class="d-block"
                                       v-for="order in searchOrderList">
                                    <input v-model="searchOrderSN"
                                           v-bind:value="order.searchOrderSN"
                                           type="radio">{{order.searchOrderName}}</label>
                            </div>                            
                            <button v-on:click="getPlaceList()"
                                    type="button"
                                    class="btn-accent bg-accent mt-3 w-100">
                                <i class="fas fa-map-marker-alt"></i>搜尋</button>                            
                        </div>
<!--                         <div class="search p-2 px-4 p-lg-4 my-lg-2"> -->
<!--                             <h5>排序</h5> -->
<!--                             <div class="d-flex d-lg-block text-white mt-3"> -->
<!--                                 <label class="d-block" -->
<!--                                        v-for="order in searchOrderList"> -->
<!--                                     <input v-model="searchOrderSN" -->
<!--                                            v-bind:value="order.searchOrderSN" -->
<!--                                            type="radio">{{order.searchOrderName}}</label> -->
<!--                             </div> -->
<!--                         </div> -->
                    </div>
                    <!-- 大網右 -->
                    <div class="col-12 col-lg-9">
                        <div class="container-fluid">
                            <h4 class="list-title">
                                <img class="mr-2"
                                     src="/image/hot-icon.png"
                                     alt="熱門場所"
                                     width="25px">熱門場所
                            </h4>
				            <!-- empty msg -->
				            <div v-if="emptyData" class="empty-msg letter-spacing-s">{{emptyMsg}}</div>                               
                            <div class="row">
                                <template v-for="(place,actIndex) in placeList">
                                    <div v-bind:class="[actIndex==0?'d-none':'d-block']"
                                         class="list-item-hr d-md-none mb-3"></div>
                                    <a v-bind:href="'/place/place-detail/'+place.placeID"
                                       class="list-item col-12 col-md-4 mb-2 mb-lg-5 no-underline">
                                        <div class="row">
                                            <div class="col-5 col-md-12 px-2">
                                                <div class="list-img-wrap">
                                                    <img class="w-100"
                                                         :src="place.img ?  place.img : '/image/nopic.gif'" @error="imageLoadError"
                                                         v-bind:alt="place.name">
                                                </div>
                                                <small
                                                       class="d-none d-md-block float-right text-grey">{{place.distance}}公尺</small>
                                            </div>
                                            <div class="col-7 col-md-12 p-2">
                                                <span class="list-item-title green-title h5">{{place.name}}</span>
                                                <small
                                                       class="d-block d-md-none text-grey mb-2">{{place.distance}}公尺</small>
                                                <span class="list-information-title h6 font-weight-bold">地址:<span
                                                          class="list-information-text-3">{{place.county}}{{place.address}}</span></span>
                                                <!-- <span class="list-information-title h6 font-weight-bold">簡介:<span
                                                          class="list-information-text-3">{{place.intro.substring(0,50)}}
                                                          <span v-if="place.intro.length>=50">...</span>
                                                          </span>
                                               </span> -->
                                                <span class="list-information-title">簡介:<span
                                                          class="list-information-text-2-line-height">{{place.intro}}</span></span>
                                            </div>
                                        </div>
                                    </a>
                                </template>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
	        <div class="modal fade"
	             id="usedPlace"
	             tabindex="-1"
	             role="dialog"
	             aria-labelledby="usedPlaceLabel"
	             aria-hidden="true">
	            <div class="modal-dialog modal-dialog-centered"
	                 role="document">
	                <div class="modal-content">
	                    <div class="modal-header">
	                        <h5 class="modal-title"
	                            id="usedPlaceLabel">選擇你的常用地點</h5>
	                        <button type="button"
	                                class="close"
	                                data-dismiss="modal"
	                                aria-label="Close">
	                            <span aria-hidden="true">&times;</span>
	                        </button>
	                    </div>
	                    <div class="modal-body p-0">
	                    	<div class="w-100 pb-5 pt-3" v-if="loginMemberID==null">
	                    		<div class="h5 mb-3 text-center">會員限定。請先登入！</div>
				                <button  onclick="location.href='/login'"
				                        class="d-block text-center m-auto btn btn-dark">登入/註冊</button>	                    		
	                    	</div>	                    
	                    	<ul class="w-100 p-0" v-if="loginMemberID!=null">
	                    		<li v-for="hotspot in hotspotList">
	                    			<div @click="searchHotspotNearBy(hotspot.lat, hotspot.lng)">
	                    				<span class="usedPlaceTitle">{{hotspot.name}}</span>
	                    				<span class="usedPlaceAddress">{{hotspot.county}}{{hotspot.address1}}{{hotspot.address2}}</span>
	                    			</div>
	                    		
	                    		</li>
	                    	</ul>
	                    </div>
	                </div>
	            </div>
	        </div>            
            
            <div th:replace="frount/part/_frountFooter ::footer"></div>
            <div th:replace="frount/part/_popupNotice ::div"></div>
            <div th:replace="part/_popupMsg ::div"></div>
            <div th:replace="frount/part/_allowGeoPosition.html ::div"></div>
        </div>
      </div>
        <script th:src="@{/js/common.js}"></script>
        <script th:src="@{/js/frount/_frountCommon.js}"></script>
        <script th:src="@{/js/frount/_allowGeoPosition.js}"></script>
        <script th:inline="javascript">
            var placeList = new Vue({
                mixins: [allowGeoPosition],
                el: "#placeList",
                data: {
                    countyList: [],
                    selectedCounty: "",
                    searchPreferList: [],
                    mainTypeList: [],
                    minorTypeList: [],
                    placeList: [],
                    mainID: "",
                    typeID: "",
                    searchPreferSN: 0,
                    searchOrderSN: "",
                    searchOrderList: [],
                    fuzzyFilter: "",
                    loginMemberID: loginStatus.loginMemberID,
                    hotspotList: [],
                    emptyMsg: "查無符合條件之場所",
                },
                methods: {
                	searchCurrentNearBy: function(){
                		let vm = this;
                		this.getPosition(function () {
                			vm.lat = vm.position.lat;
                			vm.lng = vm.position.lng;
                			console.log(vm.lat, vm.lng);
                			vm.getPlaceNearByList();
                		});
                	},
                	searchHotspotNearBy: function(lat, lng){
                		if(lat!=null){
                			this.lat = lat
                		}
                		if(lng!=null){
                			this.lng = lng
                		}
                		$('#usedPlace').modal('hide');
//                 		console.log(this.lat, this.lng);
                		this.getPlaceNearByList();
                	},                	
                    filterMainImg: function (imgArr) {
                        return imgArr.find(function (item) {
                            return item.isMain
                        }).img
                    },
                    imageLoadError (e) {
                        e.target.src = '/image/nopic.gif';
                    },
                    getPlaceNearByList: function(){
                		let sendData = {
                				'searchPreferArg.searchPreferSN':1,
                				'searchPreferArg.searchOrderSN':0,
                				lat:this.lat,
                				lng:this.lng
                		}
//                 		console.log(sendData);
                		let vm = this;
                        axios
                        .get('/web/place/nearby', {params:sendData})
                        .then(response => {
                            let res = response.data;
                            console.log(res);
                            if (res.code == 200) {
                                vm.placeList = res.data;
                            } else {
                            	vm.placeList = [];
//                         		showSuccessPopup("您選擇的地點附近沒有熱門場所");
								vm.emptyMsg = "您選擇的位置附近無熱門場所，頁面即將重新整理";
								window.setTimeout(() => location.reload(), 3000);
                                console.log("get user info error:" + res.errMsg);
                            }
                        })
                        .catch(function (error) { // 請求失敗處理
                            console.log("get user info error:" + error);
                        });	
                    },
                    getPlaceList: function () {
                        if (String(this.searchOrderSN) != "") {
                            var vm = this;
                            this.getPosition(function () {
                                sendData =
                                    "searchPreferArg.searchOrderSN=" + vm.searchOrderSN +
                                    "&searchPreferArg.searchPreferSN=" + vm.searchPreferSN +
                                    "&lat=" + vm.position.lat +
                                    "&lng=" + vm.position.lng;
                                if(vm.fuzzyFilter!=''){
                                	sendData += "&fuzzyFilter=" + vm.fuzzyFilter;
                                }
                                if(vm.selectedCounty!=''){
                                	sendData += "&county=" + vm.selectedCounty;
                                }
                                if (vm.mainID != '') {
                                    sendData += "&mainID=" + vm.mainID;
                                }
                                if (vm.typeID != '') {
                                    sendData += "&typeID=" + vm.typeID;
                                }
//                                 console.log(sendData);
                                axios
                                    .get('/web/place/list?' + sendData)
                                    .then(response => {
                                        let res = response.data;
//                                         console.log(res);
                                        if (res.code == 200) {
                                            vm.placeList = res.data;
                                        } else {
                                        	vm.placeList = [];
                                            console.log("get user info error:" + res.errMsg);
                                        }
                                    })
                                    .catch(function (error) { // 請求失敗處理
                                        console.log("get user info error:" + error);
                                    });
                            })
                        } else {
                            showErrorMsg("請選擇排序喜好");
                        }
                    },
                    getPlaceListInit: function(){
                    	var vm = this;
                    	this.getPosition(function(){
                        	let queryParams = {
                        			'searchPreferArg.searchOrderSN' :vm.searchOrderSN, 
                        			'searchPreferArg.searchPreferSN' : vm.searchPreferSN,
                        			lat : vm.position.lat,
                        			lng: vm.position.lng};
                        	console.log(queryParams);
                            axios
                            .get('/web/place/list' , {params: queryParams})
                            .then(response => {
                                let res = response.data;
                                console.log(res);
                                if (res.code == 200) {
                                    vm.placeList = res.data;
                                } else {
                                    console.log("get user info error:" + res.errMsg);
                                }
                            })
                            .catch(function (error) { // 請求失敗處理
                                console.log("get user info error:" + error);
                            });
                    	});
                    },
                    clearMinorType: function () {
                        this.typeID = "";
                        this.minorTypeList = [];
                    },
                    getMinorTypeList: function () {
                        var vm = this,
                            returnObj = {};
//                         this.clearMinorType();
                        vm.minorTypeList = vm.mainTypeList.find(function (item) {
                            return item.mainID == vm.mainID;
                        }).minorTypeList
                        vm.typeID = "";
                    },
                    setSearchPrefer: function () {
                        var vm = this,
                            perferOb = {};

                        perferObj = vm.searchPreferList.find(function (item) {
                            return item.searchPreferName == "熱門";
                        })
                        this.searchPreferSN = perferObj.searchPreferSN;
                        this.searchOrderList = perferObj.searchOrderList;
                    },
                    getSearchPrefer: function () {
                        let vm = this;
                        axios
                            .get('/web/place/search/prefer')
                            .then(response => {
                                let res = response.data;
//                                 console.log(res);
                                if (res.code == 200) {
                                    vm.searchPreferList = res.data;
                                    vm.setSearchPrefer();
                                } else {
                                    console.log("get user info error:" + res.errMsg);
                                }
                            })
                            .catch(function (error) { // 請求失敗處理
                                console.log("get user info error:" + error);
                            });
                    },
                    getCategoryList: function () {
                        let vm = this;
                        axios
                            .get('/web/place/type')
                            .then(response => {
                                let res = response.data;
//                                 console.log(res);
                                if (res.code == 200) {
                                    vm.mainTypeList = res.data;
                                } else {
                                    console.log("get user info error:" + res.errMsg);
                                }
                            })
                            .catch(function (error) { // 請求失敗處理
                                console.log("get user info error:" + error);
                            });
                    },
                    getCountyList: function () {
                        let vm = this;
                        axios
                            .get('/web/county')
                            .then(response => {
                                let res = response.data;
//                                 console.log(res);
                                if (res.code == 200) {
                                    vm.countyList = res.data;
                                } else {
                                    console.log("get user info error:" + res.errMsg);
                                }
                            })
                            .catch(function (error) { // 請求失敗處理
                                console.log("get user info error:" + error);
                            });
                    },
                    getMemberHotSpot: function(){
                    	let vm = this;
                    	if(this.loginMemberID!=null){
                            axios
                            .get('/web/hotspot/'+ vm.loginMemberID)
                            .then(response => {
                                let res = response.data;
                                //                             console.log(res);
                                if (res.code == 200) {
                                    vm.hotspotList = res.data.hotspotList;
//                                     console.log(vm.hotspotList);
                                } else {
                                	vm.hotspotList = []
                                    console.log("get user info error:" + res.errMsg);
                                }
                            })
                            .catch(function (error) { // 請求失敗處理
                            	vm.hotspotList = [];
                                console.log("get user info error:" + error);
                            });                		
                            $('#usedPlace').modal('show');
                    	}else{
                    		 $('#usedPlace').modal('show');
                    	}
                    }                    
                },
                mounted: function () {
                    this.getCountyList();
                    this.getCategoryList();
                    this.getSearchPrefer();
                	this.searchOrderSN = 1;
                	this.searchPreferSN = 1;
                	this.getPlaceListInit();
                },
                computed: {
                    emptyData: function () {
                        return this.placeList.length == 0;
                    }
                }                
            })
        </script>

</body>

</html>