<!DOCTYPE html>
<html lang="en">
<div th:replace="frount/_frount_head.html ::head"></div>


<body>
    <div v-cloak
         v-if="hasLoaded"
         id="placeDetail"
         class="wrap place-detail">
        <div th:replace="frount/part/_frountHeader ::header"></div>
        <!-- breadcrumb -->
        <div class="container">
            <div class="row">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a class="text-center no-underline"
                               href="/index">首頁</a></li>
                        <li class="breadcrumb-item">
                            <a class="text-center no-underline"
                               href="/place/place-map-list">場所</a></li>
                        <li class="breadcrumb-item active"
                            aria-current="page">
                            <a class="text-center no-underline"
                               href="#">{{placeInfo.typeName}}</a></li>
                    </ol>
                </nav>
            </div>
        </div>
        <!-- 小網slider -->
        <div id="mobileSlider"
             class="d-block d-md-none carousel slide"
             data-ride="carousel"
             data-interval="2000">
            <ol class="carousel-indicators" v-if="placeImgList.length>0">
                <li data-target="#mobileSlider"
                    data-slide-to="0"
                    class="active"></li>
                <li data-target="#mobileSlider"
                    data-slide-to="1"></li>
                <li data-target="#mobileSlider"
                    data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" v-if="placeImgList.length>0">
                <div v-for="img in placeImgList"
                     v-bind:class="{'active': img.isMain}"
                     class="carousel-item">
                    <img v-bind:src="img.img"
                         class="d-block w-100"
                         alt="活動照片">
                </div>
            </div>
            <div class="carousel-inner" v-if="placeImgList.length==0">
                 <img src="/image/nopic.gif"
                      class="d-block w-100"
                      alt="活動照片">
            </div>            
            <a class="carousel-control-prev"
               href="#mobileSlider"
               role="button"
               data-slide="prev" v-if="placeImgList.length>0">
                <span class="carousel-control-prev-icon"
                      aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next"
               href="#mobileSlider"
               role="button"
               data-slide="next" v-if="placeImgList.length>0">
                <span class="carousel-control-next-icon"
                      aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <div class="container">
            <div class="row">
                <!-- 大網左側 -->
                <div class="d-none d-md-block col-md-5 col-lg-5 p-md-2">
                    <div class="place-pic-wrap position-relative">
                        <div class="big-pic" v-if="placeImgList.length>0">
                            <img v-bind:src="mainImg().img"
                                 id="big-pic"
                                 class="detail-bigpic-img"
                                 alt="活動照片"
                                 height="auto">
                        </div>
                        <div class="big-pic" v-if="placeImgList.length==0">
                            <img src="/image/nopic.gif"
                                 class="detail-bigpic-img"
                                 alt="活動照片"
                                 height="auto">
                        </div>                        
                        <div class="row mx-2 my-3 align-items-center" v-if="placeImgList.length>0">
                            <div id="pic-slider-arrow-wrap-left"
                                 class="d-none d-md-block pic-slider-arrow-wrap pic-slider-arrow-wrap-left pointer">
                                <i class="fas fa-chevron-left p-2"></i>
                            </div>
                            <div class="pic-slider-wrap">
                                <div v-for="(rowNum,rowIndex) in Math.ceil(placeImgList.length/6)"
                                     v-bind:class="{'show': rowIndex==0}"
                                     class="row position-absolute px-3 pic-slider">
                                    <img v-for="img in getImgByRow(0)"
                                         v-bind:src="img.img"
                                         v-bind:class="{'hover': img.isMain}"
                                         class="pic-slider-img col-2 p-1"
                                         alt="活動照片">
                                </div>
                            </div>
                            <div id="pic-slider-arrow-wrap-right"
                                 class="d-none d-md-block pic-slider-arrow-wrap pic-slider-arrow-wrap-right pointer">
                                <i class="fas fa-chevron-right p-2"></i>
                            </div>
                        </div>
                    </div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-3 col-md-3 p-0 my-2">
                                <span class="information-title p-0">關鍵字：</span>
                            </div>
                            <div class="col-9 col-md-9 p-0">
                                <span v-for="tag in placeTagList"
                                      class="place-hashtag text-ms">#{{tag.tag}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 大網右側 -->
                <div class="col-12 col-md-7 col-lg-7 p-2 pl-md-5 pr-0">
                	<div class="h3 font-weight-bold">{{placeInfo.name}}</div>
                    <div class="my-3">
                        <span class="blue-tag text-accent pr-3"><img class="mr-1 d-inline"
                                 src="/image/eye.png"
                                 alt="點閱次數">點閱次數: {{placeInfo.click}}</span>
                        <span class="blue-tag text-accent"><img class="mr-1 d-inline"
                                 src="/image/bookmark-white.png"
                                 alt="收藏人數">收藏人數: {{placeInfo.follow}}</span>
                    </div>

                    <div class="row my-3 col-12" v-if="placeInfo.max">
                    	<div class="information-title2 inline-block col-lg-2 col-4">容納人數：</div>
                    	<div class="information-text inline-block col-8">{{placeInfo.max}}</div>                    	
                    </div>
                    
                    <div class="row my-3 col-12" v-if="placeInfo.area">
                    	<div class="information-title2 inline-block col-lg-2 col-4">面&emsp;&emsp;積：</div>
                    	<div class="information-text inline-block col-8">{{placeInfo.area}}</div>                    	
                    </div> 

                    <div class="row my-3 col-12" v-if="placeInfo.liaison">
                    	<div class="information-title2 inline-block col-lg-2 col-4">聯絡人<br/>及電話：</div>
                    	<div class="information-text inline-block col-8">
                    		<div v-for="l in placeInfo.liaison">
                    			<div v-if="l.isMain=='1'" class="text-primary my-1">{{l.name}}&emsp;{{l.phone}}</div>
                    			<div v-if="l.isMain=='0'" class="my-1">{{l.name}}&emsp;{{l.phone}}</div>
                    		</div>
                    	</div>
                    </div>

                    <div class="row my-3 col-12" v-if="placeInfo.address && placeInfo.county">
                    	<div class="information-title2 inline-block col-lg-2 col-4">地&emsp;&emsp;址：</div>
                    	<div class="information-text inline-block col-8">{{placeInfo.county}}{{placeInfo.address}}</div>                    	
                    </div>
                    
                    <div class="row my-3 col-12" v-if="placeInfo.unit">
                    	<div class="information-title2 inline-block col-lg-2 col-4">管理單位：</div>
                    	<div class="information-text inline-block col-8">{{placeInfo.unit}}</div>                    	
                    </div>
                    
                    <div class="row my-3 col-12" v-if="placeInfo.email">
                    	<div class="information-title2 inline-block col-lg-2 col-4">電子郵件：</div>
                    	<div class="information-text inline-block col-8">{{placeInfo.email}}</div>                    	
                    </div>
                    
                    <div class="row my-3 col-12" v-if="placeInfo.website">
                    	<div class="information-title2 inline-block col-lg-2 col-4">連結網站：</div>
                    	<div class="information-text inline-block col-8">
                            <a v-bind:href="placeInfo.website"
                               class="d-inline-block black-button text-white no-underline">點擊這裡</a>                    	
                    	</div>                    	
                    </div>
                    
                    <div class="row my-3 col-12" v-if="placeInfo.facebook">
                    	<div class="information-title2 inline-block col-lg-2 col-4">Facebook：</div>
                    	<div class="information-text inline-block col-8">
                            <a v-bind:href="placeInfo.facebook"
                               type="_blank"
                               rel="noreferrer"
                               class="text-accent">{{placeInfo.facebook}}</a>
                    	</div>                    	
                    </div>                                                                                
                   	                    	                    	                    	                    	                    	
                    <div class="row my-3 col-12">
                    	<div class="information-title2 inline-block col-lg-2 col-4">服務項目：</div>
                    	<div class="information-text inline-block col-8">{{placeInfo.service==''?'-':placeInfo.service}}</div>                    	
                    </div>
                    
                    <a class="add-to-favorite-button col-12 col-md-10 col-lg-8 no-underline mb-3 offset-md-1 offset-lg-2"
                       href="#" @click="followPlace" v-if="placeInfo.isFollowed==false">
                        <img class="mr-1 d-inline"
                             src="/image/bookmark-accent-hollow.png"
                             alt="加入收藏"
                             width="15px">加入收藏</a>
                    <a class="add-to-favorite-button col-12 col-md-10 col-lg-8 no-underline mb-3 offset-md-1 offset-lg-2"
                       href="#" @click="disFollowPlace" v-if="placeInfo.isFollowed==true">
                        <img class="mr-1 d-inline"
                             src="/image/bookmark-accent-hollow.png"
                             alt="取消收藏"
                             width="15px">取消收藏</a>   
                </div>

            </div>
        </div>
        <!-- 小網關鍵字、簡介 -->
        <div class="container mb-5">
            <div class="row place-block px-2 d-block d-md-none">
                <div class="place-title"></div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-2 p-0 my-2">
                            <span class="information-title">關鍵字：</span>
                        </div>
                        <div class="col-10 p-0">
                            <span v-for="tag in placeTagList"
                                  class="place-hashtag text-ms">#{{tag.tag}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row place-block px-2">
                <span class="information-title">簡&emsp;&emsp;介</span>
                <div class="d-none d-md-block place-title"></div>
                <p v-html="placeInfo.intro"
                   class="detail-article space-preline show"></p>
                <div class="detail-article-readmore d-none">
                </div>
            </div>
        </div>
        
        <div th:replace="frount/part/_frountFooter ::footer"></div>
        <div th:replace="frount/part/_allowGeoPosition.html ::div"></div>
        <div th:replace="frount/part/_popupNotice ::div"></div>        
        <div th:replace="part/_popupMsg ::div"></div>
    </div>
    
    <script th:src="@{/js/common.js}"></script>
    <script th:src="@{/js/frount/_allowGeoPosition.js}"></script>
    <script th:src="@{/js/loadingoverlay.min.js}"></script>    
    <script th:inline="javascript">
        var placeDetail = new Vue({
            mixins: [allowGeoPosition],
            el: "#placeDetail",
            data: {
                hasLoaded: false,
                placeID: [[${placeID}]],
                placeImgList: [],
                placeInfo: {},
                placeTagList: []
            },
            methods: {
                mainImg: function () {
                    if (this.placeImgList && this.placeImgList.length > 0) {
                        return this.placeImgList.find(function (img) {
                            return img.isMain
                        })
                    } else {
                        return {}
                    }
                },
                getImgByRow: function (row) {
                    return this.placeImgList.filter(function (img, index) {
                        return index >= row * 6 && index < (row * 6 + 6)
                    })
                },
                getPlaceInfo: function () {
                	$('body').LoadingOverlay('show');
                	let memberID = null;
                	if(JSON.parse(localStorage.getItem("memberID"))!=null){
                		memberID = JSON.parse(localStorage.getItem("memberID")).value;	
                	}
                	let vm = this;
                    axios
                        .get('/web/place/info/' + vm.placeID, {params:{'memberID': memberID}})
                        .then(response => {
                            let res = response.data;
//                             console.log(res);
                            if (res.code == 200) {
                                vm.placeImgList = res.data.placeImgList;
                                vm.placeInfo = res.data.placeInfo;
                                vm.placeTagList = res.data.placeTagList;
                                vm.hasLoaded = true;
                                Vue.nextTick(function () {
                                    $.getScript("/js/frount/_frountCommon.js",
                                        $(".list-article").each(function () {
                                            if ($(this).height() > 240) {
                                                $(this).removeClass("show");
                                                $(".list-article-readmore").removeClass("d-none").addClass("show");
                                            };
                                        })
                                    );
                                })
                            } else {
                                console.log("get user info error:" + res.errMsg);
                            }
                        })
                        .catch(function (error) { // 請求失敗處理
                            console.log("get user info error:" + error);
                        });
                    $('body').LoadingOverlay('hide');
                },
                followPlace: function(){
                	$('body').LoadingOverlay('show');
                	let memberID = null;
                	if(JSON.parse(localStorage.getItem("memberID"))!=null){
                		memberID = JSON.parse(localStorage.getItem("memberID")).value;	
                	}else{
                		$('body').LoadingOverlay('hide');
                    	showSuccessTopPopup("請先登入！");
                    	window.setTimeout(() => location.href='/index', 1500);
                    	return null;
                	}
                    let vm = this;
                    let fd = new FormData();
                    fd.append('memberID', memberID);
                    fd.append('placeID', [[${placeID}]]);
                    axios
                        .post('/web/place/follow', fd)
                        .then(response => {
                        	$('body').LoadingOverlay('hide');
                            let res = response.data;
//                             console.log(res);
                            if (res.code == 204) {
//                                 console.log(res);
                            	showSuccessTopPopup("已成功收藏！");
                            	window.setTimeout(() => location.reload(), 1500);
                            } else {
                                console.log("get user info error:" + res.errMsg);
                            }
                        })
                        .catch(function (error) { // 請求失敗處理
                        	$('body').LoadingOverlay('hide');
                            console.log("get user info error:" + error);
                        });                	
                },
                disFollowPlace: function(){
                	$('body').LoadingOverlay('show');
			        let memberID = JSON.parse(localStorage.getItem("memberID")).value;
                    let vm = this;
                    let param = {
                   		'memberID': memberID,
                   		'placeID': [[${placeID}]]
                    }
                    axios
                        .delete('/web/place/follow', {params: param})
                        .then(response => {
                        	$('body').LoadingOverlay('hide');
                            let res = response.data;
                            console.log(res);
                            if (res.code == 204) {
//                                 console.log(res);
                            	showSuccessTopPopup("已取消收藏！");
                            	window.setTimeout(() => location.reload(), 1500);
                            } else {
                                console.log("get user info error:" + res.errMsg);
                            }
                        })
                        .catch(function (error) { // 請求失敗處理
                        	$('body').LoadingOverlay('hide');
                            console.log("get user info error:" + error);
                        });                	
                }                
            },
            mounted: function () {
                this.getPlaceInfo();
                $.getScript("/js/frount/_frountCommon.js");
            }
        })
        
    </script>

</body>

</html>